th.title_tab {
	background-color: #3498db;
	color: white;
	font-size : 100%;
    text-align : center;
}


#tab_t > th, td {
    text-align: left;
    padding: 8px;
}

.trr:nth-child(even){background-color: #f2f2f2}

table > th {
    background-color: #4CAF50;
    color: white;
}

#tab_t {
	margin-top : 15px;
	width : 95%;
	margin-left : 2.5%;
	margin-right : 2.5%;
	margin-bottom : 10px;
}

#tab_to > th, td {
    text-align: left;
    padding: 8px;
}



#tab_to {
	margin-top : 15px;
	width : 95%;
	margin-left : 2.5%;
	margin-right : 2.5%;
	margin-bottom : 10px;
}

.panel-body {
	margin : auto;
}

#mod {
	margin-left : 2.5%;
	width : 95%;
}

#exclu_type {
	width : 100%;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#excludiv{ 
    /**margin-left : 22.5%;**/
}

#cmdbdiv{ 
    /**width : 95%;
    margin-left : 2.5%;**/
}

#ticket_hide{
	clip: rect(0 0 0 0)!important; 
	width: 1px!important;
	height: 1px!important;
	position: absolute!important;
	border: 0!important;
}

#server {
	width : 200px;
}

#error {
	width : 95%;
	margin-left : 2.5%;
}

#submit{
    width : 100px;
}

#oneretail_submit{
    width : 100px;
}

#resp {
	max-width : 400px;
	width : 90%;
}

#panel_exclu {
    height : 100%;
}

.specific:hover{
    cursor : pointer;
    background-color : #C5EFF7;
}

.specific {
    text-decoration: underline;
    color : #2980b9;
}

.totalcase {
    width : 40%;
}

.swal{
    width : 800px;
}

div.swalo {
    width : 900px;
    height : 675px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    left : 39%;
}

@media screen and (min-width: 1600px) and (max-width: 1700px){
    #resp{
		width : 300px;
	}
}

@media screen and (min-width: 1701px) and (max-width: 1900px){
    #resp{
		width : 350px;
	}
}

@media screen and (max-width: 1599px){
    #resp{
		width : 250px;
	}
}

@media screen and (min-width: 1400px) and (max-width: 1600px){
    #server{
		width : 175px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1400px){
    #server{
		width : 140px;
	}
}
