/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 0px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-brand {
  //font-weight: 600;
  font-size: 40px; 
  color: #328CC1 !important;
  text-shadow: 1px 1px #0c4924;
  font-family: 'Plaster', cursive;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.loader-container {
    padding: 4px 50%;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #5c5c5c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    display: none;
    z-index: 9999;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.center-header {
    text-align: center;
    font-weight: bold;
    color: #5b5b5b;
    text-transform: uppercase;
    padding: 1%;
    font-size: 1.5em;
}

.default-wrapper-height {
	height: 100vh;
}

/* Left Nav Bar */
#leftsidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    //top: 55px;
    left: -250px;
    /* top layer */
    z-index: 9999;
    /* don't forget to add all the previously mentioned styles here too */
    color: #5c5c5c;
    transition: all 0.3s;
}

#leftsidebar.active {
    left: 0;
}

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
}

#leftsidebar #dismiss {
    //width: 35px;
    //height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
    float: right;
}

#leftsidebar a[data-toggle="collapse"] {
    position: relative;
}

#leftsidebar a[aria-expanded="false"]::before, #leftsidebar a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#leftsidebar a[aria-expanded="true"]::before {
    content: '\e260';
}

@media (max-width: 768px) {
    #leftsidebar {
        margin-left: -250px;
    }
    #leftsidebar.active {
        margin-left: 0;
    }
}

#leftsidebar p {
   // font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

#leftsidebar a, #leftsidebar a:hover, #leftsidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


#leftsidebar .sidebar-header {
    padding: 20px;
}

#leftsidebar ul.components {
    padding: 20px 0;
}

#leftsidebar ul p {
    color: #5c5c5c;
    padding: 10px;
}

#leftsidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: #5c5c5c
}

#leftsidebar ul li.active > a, #leftsidebar a[aria-expanded="true"] {
    background: #efefef;
}
#leftsidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

#leftsidebar ul ul ul a {
    padding-left: 50px !important;
}

#leftsidebarCollapse {
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
    color: #5c5c5c;
    position: fixed;
    z-index: 9997;
}

#leftsidebar .nav-third-level {
    padding-left: 10%;
}

/* Public Home Page */

#hygie-home {
    color: #5c5c5c;
}

#welcome-message {
    text-align: right;
    font-size: 2em;
    margin-bottom: 5%;
    //background-color: #0277bd;
    background: linear-gradient(90deg, white, #0277bd);
    color: white;
    padding: 2%;
    left: 1%;
}

#welcome-world-clocks {
    margin-bottom: 5%;
}

.world-clock {
    text-align: center;
    /*margin-bottom: 20%;*/
}

.world-time {
    font-size: 2.5em;
}

.world-date {
    font-size: 1.2em;
}

.weather-widget-container {
    padding: 0 18%;
}

#welcome-local-datetime {
    font-size: 0.8em;
}

#welcome-note {
    font-family: "Lucida Handwriting",cursive;
    font-size: 1.5em;
    display: inline-block;
    transform: rotate(-30deg);
    text-align: center;
    padding: 4%;
}

#welcome-note-arrow {
    display: inline-block;
    position: absolute;
    transform: rotate(-30deg);
    left: 22%;
    bottom: 75%;
}

#welcome-note-arrow img {
    width: 50%;
}

#welcome-news #home-latest-news {
    padding: 10%;
}

#welcome-news {
    border: 2px dashed #5c5c5c;
}

/* Login Page */
.login-note {
    font-style: italic;
    font-size: 0.9em;
}

/* Classic Dashboard */
#accordion .panel-heading {
    font-size: 0.9em;
}

#accordion .fa-arrows {
    color: rgba(0, 0, 0, 0.125);
}

.card-loader .loader {
    border: 15px solid #f3f3f3;
    border-top: 15px solid #5c5c5c;
    width: 100px;
    height: 100px;
}

.card-loader {
    padding: 5px 50%;
}


/* Dashboard Trends */
#team_trend td, #team_trend th {
	text-align: center;
	font-size: 1.4em;
}

#team_trend h4 {
	font-weight: bold;
}

.team-trend-positive {
    cursor:pointer;
    float: right;
    height: 21px;
    width: 21px;
    background: url('../img/trend_positive.png') no-repeat center center;
    background-size: contain;
}

.team-trend-negative {
	cursor:pointer;
    float: right;
    height: 21px;
    width: 21px;
    background: url('../img/trend_negative.png') no-repeat center center;
    background-size: contain;
}

.team-trend-neutral {
	cursor:pointer;
    float: right;
    height: 21px;
    width: 21px;
    background: url('../img/trend_neutral.png') no-repeat center center;
    background-size: contain;
}

#team_trend .modal-title {
	text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

#team_trend .modal-body h3 {
	text-align: center;
	background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-color: #1fc8db;
    padding: 1%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#trends-table-day, #trends-table-week, #trends-table-month {
	letter-spacing: 1px;
	font-weight: bold;
}

#team_trend .date-separator-color {
	color: #1fc8db;
}

#team_trend .glyphicon-arrow-down, #team_trend td:nth-child(2) {
	color: #db3d3d;	
}

#team_trend .glyphicon-arrow-up, #team_trend td:nth-child(3) {
	color: #1c961c;	
}

#team_trend .glyphicon-sort, #team_trend td:nth-child(4) {
	color: #2572ed;	
}

#team_trend td:first-child {
	width: 50%;
}

#team_trend .negative_trend {
	color: #db3d3d !important;	
}

#team_trend .positive_trend {
	color: #1c961c !important;	
}


/* Forms */

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}


.form-register {
  width: 50%;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}

.fa-sub {
  padding-left:8px;
}

.fa-btn {
  padding-left: 6px;
  padding-right: 6px !important;
}

/* tool tip overide */
.tdfield{
    width: 6vw;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* top nav */
.top-right {
    padding-top:20px;
}

div.tolltip-inner {
    max-width: 350px;
}

/* modal style overide*/
.modal-body-desc {
    white-space:pre-wrap;
    overflow-y: auto;
}
.modal-body-note {
    overflow-y: auto;
}


.modal-dialog{
    overflow-y: initial !important
}

@media screen and (min-width: 768px) {
    .note-modal, .description-modal, .resolution-modal{
        width: 70%; /* either % (e.g. 60%) or px (400px) */
    }
    .detail-modal{
        width: 100%;
    }
}

.table_overflow {
   overflow-x: auto;
}

.table-fix{
   padding-left:25px;
   padding-right:25px;
}

.page-header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.dataTables_filter{
    text-align:right;
}
div.dataTables_length {
    float: left;
}

div.dataTables_info {
    float: left;
}

div.dataTables_paginate {
    float: right;
}
div.dataTables_paginate ul {
    margin: 0px;
}
div.DTTT {
    float: left;
    margin-right: 50px;
}


.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 20px;
    display:none;
}

#notes-table thead {
    background-color: #d9edf7;
}

.row_unassigned {
    background-color: #FFFCE3 !important;
}

.cell_text_font_oosla{
    color: #d9534f !important;
    font-weight: bold;
}

.cell_text_font_insla{
    color: #5cb85c !important;
    font-weight: bold;
}

.section-header {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.section-header > span {
    position: relative;
    display: inline-block;
}

.section-header > span:before,
.section-header > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: black;
}

.section-header > span:before {
    right: 100%;
    margin-right: 15px;
}

.section-header > span:after {
    left: 100%;
    margin-left: 15px;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}

.team-ticket-dropdown {
    width: 120px;
}

.team-ticket-dropdown-btn {
    padding: 0;
}

/* Tickets Module */

.canvasjs-chart-credit {
    display: none !important;
}

.donutchart-widget {
    height: 300px; 
    width:100%;
}

.nobacklog-widget {
    width: 100%; 
    height: 280px; 
    text-align:center;
}

.card-header a {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    text-align: left;
}

.card-header .glyphicon-triangle-bottom, .card-header .glyphicon-triangle-top {
    float: right;
}

/* Security Module */
.security-note p, .security-note li {
	font-size: 13px;
}

/* Discrepancy Summary Table */
#discrepancy-summary-table {
    width: 50%;
    margin-left: 25%;
}

#discrepancy-summary-table th, #discrepancy-summary-table td {
    text-align: center;
}

#summary-wks-list-modal #summary-wks-list {
    overflow-x: auto;
    margin: 2% 0;
}
#summary-wks-list-modal .modal-body {
    height: 400px !important;
}

#summary-wks-list-modal #summary-wks-list td {
    padding: 2%;
}

/* Discrepancy Table */
#discrepancy-table .addcomment {
	vertical-align: top;
	padding: 1% 2%;
    font-size: 1.2em;
}

/* RCA Report Word Export Template CSS */

.rca-chart {
    width: 100%; 
    height: 300px
}

#rca-report-word-export {
	display: none;
}

/* RCA Action Form Table */
#edit-rca-action-table td:nth-child(1){
    width: 9%;
}
#edit-rca-action-table td:nth-child(2){
    width: 48%;
}
#edit-rca-action-table td:nth-child(2) textarea{
    width: 100%;
}
#edit-rca-action-table td:nth-child(3), #edit-rca-action-table td:nth-child(4){
    width: 20%;
}
#edit-rca-action-table td:nth-child(5){
    width: 1%;
	padding: 1% 2%;
}

/* Reporting Esurvey */

#selected-date-range-label{
    text-align: center;
    padding: 2% 0;
    text-transform: uppercase;
    color: #5b5b5b;
    font-weight: bold;
    letter-spacing: 1px;
}

#satisfaction-rate-zone-worldmap {
    height: 80vh;
}

#satisfaction-zone-table {
    display: none;
    //position: absolute;
    width: 100%;
    font-weight: bold;
    margin-top: 1%;
}

#satisfaction-zone-table td, #satisfaction-zone-table th {
    text-align: center;
    text-transform: uppercase;
}
#satisfaction-zone-table td:first-child {
    letter-spacing: 0.2em;
}

#satisfaction-zone-table th {
    letter-spacing: 0.2em;
}

#satisfaction_rate .country-graph-container{
    padding: 0 3%;
}

#satisfaction_rate .country-graph-content{
    border: 1px #e8e8e8 solid;
    border-radius: 0 0 5px 5px;
    //height: 90vh;
    min-height: 30vh;
    height: auto;
}

#satisfaction_rate .country-graph{
    width: 100%;
    //height: 90vh;
    min-height: 30vh;
    height: auto;
}

#satisfaction_rate .no-data-div {
    text-align: center;
    padding: 20%;
    font-size: 2em;
    color: #bb0000;
    text-transform: uppercase;
}

#satisfaction_rate .country-graph-header{
    background-color: #e8e8e8;
    border-radius: 5px 5px 0 0;
    padding: 3%;
    font-weight: bold;
    font-size: initial;
    color: #5b5b5b;
}

#satisfaction_rate .country-graph-content .amcharts-main-div{
    width: 70% !important;
}

#satisfaction_by_zone .no-data-div-zone {
    position: absolute;
    margin: 23% 40%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: white;
    color: #5b5b5b;
    text-transform: uppercase;
    z-index: 1000;
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    padding: 1%;
}

#esurvey-date-selector .form-group {
    margin: 0;
}

#esurvey-date-selector label {
    margin: 1% 0;
}

#esurvey-date-selector select#date-dropdown {
    width: 48% !important;
}

#esurvey-date-selector #submit-date {
    margin-left: 2%;
}

#esurvey-details-modal .modal-dialog {
    width: 100%;
}

#esurvey-details-modal .modal-footer {
    margin-top: 3%;
}

#esurvey-details-modal .table {
    width: 100% !important;
}

#esurvey-details-modal .dataTables_scrollBody thead tr {
    visibility: collapse;
}

#satisfaction_by_supportgroup .subgroup-container {
    margin: 2% 0;
}

#satisfaction_by_supportgroup .subgroup-chart {
    height: 220px;
    width: 100%;
}

#satisfaction_by_supportgroup .subgroup-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

#satisfaction_by_supportgroup .subgroup-survey-count {
    text-align: center;
    text-transform: uppercase;
}

#satisfaction_by_supportgroup .card {
    margin: 1% 0;
}

#satisfaction_by_supportgroup .card-header a {
    color: #5b5b5b;
    font-weight: bold;
    font-size: 1.3em;
}

#satisfaction_by_supportgroup .no-data-div-supportgroup {
    color: #bb0000;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}

.customtooltip {
    position: relative;
    display: inline-block;
    float: right;
    color: #277736;
}

.customtooltip .customtooltiptext {
    visibility: hidden;
    width: 246px;
    background-color: #5b5b5b;
    color: #fff;
    border-radius: 6px;
    padding: 8px;

    /* Position the tooltip */
    position: absolute;
    z-index: 100;
    right: -3px;
    top: 23px;
}

.customtooltip:hover .customtooltiptext {
    visibility: visible;
}


/* Reporting Top - 10 */
#topten-header {
    margin: 1% 0;
    color: #5b5b5b;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}
.topten-content{
    color: #5b5b5b;
    font-size: 1.0em;
}

.topten-table td:nth-child(9) {
    width: 5%;
    vertical-align: middle;
}

.topten-table td:nth-child(8) {
    width: 10%;
}

.topten-table td:nth-child(2), .topten-table td:nth-child(6), .topten-table td:nth-child(7) {
    width: 20%;
}

.topten-table td:nth-child(5) .form-control, .topten-table td:nth-child(6) .form-control, .topten-table td:nth-child(7) .form-control {
    width: 100% !important;
}

.topten-table td:nth-child(1), .topten-table td:nth-child(2), .topten-table td:nth-child(3), .topten-table td:nth-child(4){
	text-align: center;
}

.topten-chart {
    height: 150px;
}

#topten-current-month {
	margin-bottom: 20px;
	text-align: center;
}

.topten-table th {
    text-align: center;
}

.topten-table .form-control[disabled] {
    cursor: default !important;
}

#merged-table{
    display: none;
}

#merged-table_wrapper {
    float: right !important;
}

#merged-table_wrapper div.dt-buttons {
    position: relative;
    top: -5px;
}

/* ticket search reporting */
#groups_by_closedgroup_form {
//    display: none;
}

#groups_by_assignedgroup_form {
//    display: none;
}

#ticket-search-filters {
    margin-bottom: 2%;
    padding: 0 3%;
}

#ticket-search-filters label {
    font-weight: normal;
    vertical-align: middle;
}

#ticket-search-filters h4 {
    font-weight: bold;
}

#sla_selection button{
	width: 200px;
}

#reporting-ticket-search-stats-panel .well {
	text-align: center;
}

#reporting-ticket-search-bar-chart, #reporting-ticket-search-pie-chart {
	height: 300px;
	width: 100%;
}

.filter-block {
    margin-bottom: 1%;
}

@media (min-width: 768px)
.form-group {
    display: block;
}

.font-normal {
    font-weight: normal;
    font-size: 0.8em;
}

.mandatory-filter {
    color: #e20000;
}

#openticket-search-date-selector, #closeticket-search-date-selector {
    display: block;
    padding-bottom: 1%;
}

#openticket-date-selector label, #closeticket-date-selector label {
    width: 175px;
}

.filter-block p {
    text-align: center;
}



/** Hyper Vision - One Retail **/
#oneretail-map iframe{
    width: 100%;
    height: 1300px;
}

/** Custom Dashboard **/
#custom-dashboard .widget .panel {
    margin-bottom: 0 !important;
}

#custom-dashboard-filters-note {
    text-align: center;
    font-style: italic;
}

#custom-dashboard-filter-error-message {
    text-align: center;
    font-style: italic;
    color: #e20000;
    display: none;
}

.multiselect-error {
    color: #e20000 !important;
    border-color: #e20000 !important;
}

/** Patch Follow up & Management **/
#patch-followup-filters, #patch-management-filters {
    text-align: center;
    color: #5b5b5b;
}

#patch-followup-filters .dropdown, #patch-management-filters .dropdown {
    display: inline-block;
    margin: 0 1%;
}

#wks-patch-followup, #srv-patch-followup, #patch-management, #patch-management-delete {
    display: none;
}

#patch-management h5 {
    text-align: center;
    font-weight: bold;
}

#patch-management .tag-center {
    text-align: center
}

#patch-management {
    margin-top: 2%;
}

#patch-management thead td {
    text-align: center;
}

#patch-management #mandatory-fields {
    margin-bottom: 20px;
}

#patch-management .list-mode-raw {
    display: none;
}

.list-mode-raw p {
    font-style: italic;
}

#patch-management .panel-heading .btn-group {
	float: right;
}

/* Reporting Ticket Stats */
#reporting-ticket-stats-filters .form-group {
	text-align: center;
}

#reporting-ticket-stats-content .stats-chart {
	height: 400px;
}

#reporting-ticket-stats-content #incoming-stats, #reporting-ticket-stats-content #outgoing-stats {
	text-align: center;
}

#reporting-ticket-stats-content #incoming-stats h3, #reporting-ticket-stats-content #outgoing-stats h3 {
	font-weight: bold;
    margin: 1% 0 10%;
}

#reporting-ticket-stats-content #incoming-stats p, #reporting-ticket-stats-content #outgoing-stats p {
	text-transform: uppercase;
}

#reporting-ticket-stats-content .panel {
	padding: 2%;
}

#reporting-ticket-stats-content #incoming-content, #reporting-ticket-stats-content #outgoing-content, #reporting-ticket-stats-content #nodata-content {
	display: none;
}

#reporting-ticket-stats-content #nodata-content .center-header {
    font-size: 3em;
    letter-spacing: 3px;
}


/* Reporting Ticket Analysis */
#ticket-analysis #ticket-analysis-header h3 {
	text-align: center;
	color: #5b5b5b;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
}

#ticket-analysis .tab-pane {
	padding: 2% 0 !important;
}

#ticket-analysis .form-group {
    text-align: center;
}

#ticket-analysis #ticket-analysis-total-tickets {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 1% 0;
    color: #5b5b5b;
}

#ticket-analysis #escalation-count-header, #ticket-analysis #callback-ratio-header {
	font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 2% 0;
    color: #5b5b5b;
}

#ticket-analysis #escalation-group-chart, #ticket-analysis #bouncing-group-chart {
	width: 100%; 
	height: 300px;
}

#ticket-analysis .ticket-analysis-nodata{
    text-align: center; 
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 2% 0;
    color: #5b5b5b;
}

#ticket-analysis .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    font-weight: bold;
}

.ticket-analysis-tooltip {
    position: relative;
    display: inline-block;
    float: center;
}

.ticket-analysis-tooltip .ticket-analysis-tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: #5b5b5b;
    color: #fff;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    white-space: nowrap;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
}

#ticket-analysis #escalation-count-header .ticket-analysis-tooltip .ticket-analysis-tooltip-text {
    margin-left: -350px;
}

#ticket-analysis #callback-ratio-header .ticket-analysis-tooltip .ticket-analysis-tooltip-text {
    margin-left: -82%;
}

.ticket-analysis-tooltip:hover .ticket-analysis-tooltip-text {
    visibility: visible;
}

#ticket-analysis .ticket-analysis-breakdown-table-count{
	float: right; 
}

#ticket-analysis .hidden-merged-table {
    display: none;
}

#ticket-analysis #reopen-merged-table_wrapper, #ticket-analysis #callback-merged-table_wrapper {
    float: right !important;
}

#ticket-analysis #reopen-merged-table_wrapper div.dt-buttons, #ticket-analysis #callback-merged-table_wrapper div.dt-buttons {
    position: relative;
    top: -5px;
}

#ticket-analysis .callback-msg {
    padding-top: 10px;
    font-style: italic;
    color: red;
}


/** Query Management **/
#query-management-filters {
    text-align: center;
    color: #5b5b5b;
}

#query-management-filters .dropdown {
    display: inline-block;
    margin: 0 1%;
}

#query-management, #query-management-delete {
    display: none;
}

#query-management h5 {
    text-align: center;
    font-weight: bold;
}

#query-management .tag-center {
    text-align: center
}

#query-management {
    margin-top: 2%;
}

#query-management #mandatory-fields {
    margin-bottom: 20px;
}

#query-management textarea#query-text {
    font-family: Courier New;
}

#query-management .bootstrap-tagsinput {
    width: 100%
}

#query-management #query-allowedaccess {
    width: 100% !important;
}

/** Content Management **/
#content-management-filters {
    text-align: center;
    color: #5b5b5b;
}

#content-management-filters .dropdown {
    display: inline-block;
    margin: 0 1%;
}

#content-management, #content-management-delete {
    display: none;
}

#content-management h5 {
    text-align: center;
    font-weight: bold;
}

#content-management .tag-center {
    text-align: center
}

#content-management {
    margin-top: 2%;
}

#content-management #mandatory-fields {
    margin-bottom: 20px;
}

#content-management textarea#content-text {
    font-family: Courier New;
}

#content-management .bootstrap-tagsinput {
    width: 100%
}

#content-management #content-allowedaccess {
    width: 100% !important;
}

/** Adjust table width for tickets **/
.adjust-width-description, .adjust-width-resolution {
    width:6vw !important;
}

.adjust-width-location, .adjust-width-category{
    width:8vw !important;
}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


#particles-js{
  width: 100%;
  height: 100%;
  background-color:#ffffff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#login-page.container-text{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
    color: #5c5c5c;
    max-width: 90%;
    padding: 2em 3em;
}

#login-page .login-panel {
    margin: 0 65px;
}

#login-page .panel-body {
    padding: 25px 50px;
}

#login-page .form-group {
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.2em;
}

#login-page .login-note {
    font-size: 1.1em;
    padding-bottom: 10px;
}

#login-page .form-group label {
    margin-bottom: 5px;
}

/** Reporting Integration View **/
#integration-view-content .tab-pane {
    margin-top: 25px;
}

#integration-view-stats {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    color: #5c5c5c;
    letter-spacing: 1px;
    margin: 2% 0;
}

#integration-view-header {
	text-align: center;
	color: #5c5c5c;
	letter-spacing:  1px;
}

#integration-view-header h3 {
	font-weight: 600;
}

/** Control Plan **/

#control-plan-category, #control-plan-domain, #control-plan-businessflag {
	color: #5c5c5c;
}

/** not for highcharts 
#control-plan-category .category-block, #control-plan-domain .domain-block, #control-plan-businessflag .businessflag-block {
    border: 1px solid #acacac;
    border-radius: 5px;
    margin: 2%;
    padding: 5% 10%;
    border-left: 10px solid;
	height: 150px;
}
*/
/** for highcharts */
#control-plan-category .category-block, #control-plan-domain .domain-block, #control-plan-businessflag .businessflag-block {
    margin-bottom: 5%;
}


#control-plan-category a.category-click, #control-plan-domain a.domain-click, #control-plan-businessflag a.businessflag-click {
    color: inherit;
}

#control-plan-category a.category-click:hover, #control-plan-domain a.domain-click:hover, #control-plan-businessflag a.businessflag-click:hover {
    cursor: pointer;
	text-decoration: none;
}

#control-plan-category a.category-click:hover .category-block, #control-plan-domain a.domain-click:hover .domain-block, #control-plan-businessflag a.businessflag-click:hover .businessflag-block {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#control-plan-breakdown {
	display: none;
}

#control-plan-breakdown a.btn.btn-link:hover {
    text-decoration: none;
    color: #5b5b5b;
}

#control-plan-breakdown .control-status-label-btn {
	float: right;
    margin: 0 10%;
}

#control-plan-breakdown .control-status-label {
	font-weight: bold;
}

#control-plan-breakdown .glyphicon-chevron-left {
	float: left;
}

#control-plan-breakdown .glyphicon-chevron-left:hover {
	cursor: pointer;
}

#control-plan-breakdown #breakdown-category-header {
	margin: 3% 0;
}

#control-plan-breakdown #accordion {
	margin-bottom: 3%;
}

#control-plan-breakdown .card {
	margin-bottom: 1%;
	border-left: 10px solid;
}

#control-plan-modal {
    color: #5c5c5c;
}

#control-plan-modal #modal-control-name {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

#control-plan-modal .modal-body ul {
	text-align: center;
	list-style: none;
	padding: 0;
}

#control-plan-modal .modal-body h4.cp-admin-validation {
	text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 7%;
	border-bottom: 2px solid #c6c6c6;
    padding: 2%;
    border-radius: 50px;
	font-weight: 700;
	font-size: 1.2em;
}

#control-plan-modal .modal-body h4.cp-cert-validation {
	text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2%;
	border-bottom: 2px solid #c6c6c6;
    padding: 1%;
    border-radius: 50px;
	font-weight: 700;
	font-size: 1.2em;
}

#control-plan-modal #validated-accounts ul, #control-plan-modal #current-active-accounts ul {
	min-height: 20vh;
	max-height: 60vh;
	overflow: auto;
}

#control-plan-modal #missing-accounts ul, #control-plan-modal #extra-accounts ul, #control-plan-modal #last-5-logs-list ul {
	min-height: 12vh;
	max-height: 15vh;
	overflow: auto;
}

#current-time-header {
    text-align: right;
}

#control-plan-gauge {
    height: 300px;
}

#control-plan-management-header .add-control {
    float: right;
}

.control-plan-businessflag-label {
    font-size: inherit;
    margin: 5px;
    font-weight: inherit;
}

.breadcrumb {
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #fff;
    margin: 1% 0 2% 0;
    text-align: center;
}

.deactivate-breadcrumb {
    color: inherit;
    text-decoration: inherit;
    pointer-events: none;
}

.deactivate-breadcrumb:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: auto;
}

.background-gradient-blue {
	background: rgba(50,140,193,0.3);
}

.background-gradient-amber {
	background: rgba(225,100,0,0.3);
}

.background-gradient-red {
	background: rgba(255,0,0,0.3);
}

.background-gradient-purple {
	background: rgba(64,0,160,0.3);
}

.background-gradient-green {
    background: rgba(0,173,104,0.3);
}

