{% extends 'layout.html' %}
{% load static %}

{% block css %}
    {% load assets %}
    {% assets "css_login" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        <link rel="stylesheet" media="screen" href="{% static 'css/particulestyle.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'css/style.css' %}">
    {% endassets %}
{% endblock %}

{% block body %}
<!-- particles.js container -->
<div id="particles-js"></div>
<div id="login-page" class="container container-text">
    <div class="row rowsignup justify-content-center">
        <div class="col-md-6 col-md-offset-3">
            <center>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <p class="login-note">Please login with your AD account</p> 
                        <form method="POST" action="">
                            {% csrf_token %}
                            {% load addclass %}
                            <fieldset>
                                <div class="form-group">
                                    {{ form.username.label_tag }}: {{ form.username|addclass:'form-control' }}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label_tag }}: {{ form.password|addclass:'form-control' }}
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                {% if request.GET.next %}
                                    <input type="hidden" name="next" value="{{request.GET.next}}">
                                {% endif %}
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                            </fieldset>
                        </form>
                        
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <div style="padding-top:10px;"></div>
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    </div>
                </div>
            <center>
        </div>
    </div>
</div>    
{% assets "js_login" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script src="{% static 'js/particles.js' %}"></script>
<script src="{% static 'js/apparticule.js' %}"></script>

<!-- stats.js -->

<script src="{% static 'js/lib/stats.js' %}"></script>
<script>
    local_zone = moment.tz.guess();

    update = function() {

        if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
            count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
        }
        requestAnimationFrame(update);
    };
    requestAnimationFrame(update);
   
</script>
{% endblock %}


