<!-- Templates used in Control Plan -->
{% verbatim %}

<script id="control-plan-category-block-template" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="category-click" onclick="categoryClick(this)" category-id="{{id}}" category-name="{{name}}">
			<div id="{{id}}" class="category-block">
                <div id="control-plan-gauge-{{id}}" class="control-plan-gauge"></div>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-category-block-template-old" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="category-click" onclick="categoryClick(this)" category-id="{{id}}" category-name="{{name}}">
			<div id="{{id}}" class="category-block">
				<h4>{{name}}</h4>
				<h5>{{ok_count}}/{{total_count}}</h5>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-domain-block-template" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="domain-click" onclick="domainClick(this)" domain-id="{{id}}" domain-name="{{name}}" category-name="{{category}}">
			<div id="{{id}}" class="domain-block">
				<div id="control-plan-gauge-{{id}}" class="control-plan-gauge"></div>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-domain-block-template-old" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="domain-click" onclick="domainClick(this)" domain-id="{{id}}" domain-name="{{name}}" category-name="{{category}}">
			<div id="{{id}}" class="domain-block">
				<h4>{{name}}</h4>
				<h5>{{ok_count}}/{{total_count}}</h5>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-businessflag-block-template" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="businessflag-click" onclick="blockClick(this)" businessflag-name="{{name}}">
			<div id="{{id}}" class="businessflag-block">
				<div id="control-plan-gauge-{{id}}" class="control-plan-gauge"></div>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-businessflag-block-template-old" type="text/x-handlebars-template">
	<div class="col-lg-3">
		<a class="businessflag-click" onclick="blockClick(this)" businessflag-name="{{name}}">
			<div id="{{id}}" class="businessflag-block">
				<h4>{{name}}</h4>
				<h5>{{ok_count}}/{{total_count}}</h5>
			</div>
		</a>
	</div>
</script>

<script id="control-plan-breakdown-card-template" type="text/x-handlebars-template">
	<div class="card" id="{{id}}-card">
		<div class="card-header" role="tab" id="{{id}}-card-header">
            <h5 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" href="#{{id}}-card-content" aria-expanded="false" aria-controls="{{id}}-card-content">
                    <span>{{control_id}} - {{name}}</span>
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
					<button type="button" class="btn btn-{{button-color-class}} control-status-label-btn" onclick="{{onclickFunction}}" control-id={{control_id}} mode="{{mode}}" businessflag-name="{{current_business_flag}}" domain-name="{{domain}}" category-name="{{category}}">
						<span class="control-status-label">{{status}}</span>
					</button>
                </a>
            </h5>
        </div>
        <div id="{{id}}-card-content" class="collapse" role="tabpanel" aria-labelledby="{{id}}-card-header" data-parent="#accordion">
            <div class="card-body">
                <p>Category: {{category}}</p>
                <p>Domain: {{domain}}</p>
                <p>Business Flag: 
                {{#each flag_list}}
                    <span class="label label-info control-plan-businessflag-label">{{this}}</span>
                {{/each}}
                </p>
                <p>Description: {{description}}</p>
				<p>Frequency: {{frequency}}</p>
				<p>Validated List Last Updated: {{lastUpdated}}</p>
            </div>
        </div>
	</div>
</script>

<script id="control-plan-admin-validation-template" type="text/x-handlebars-template">
	<div class="row">
		<div class="col-lg-4 {{offset_class}}">
			<h4 class="text-center background-gradient-blue cp-admin-validation">Validated Accounts</h4>
			<div id="validated-accounts">
				<ul></ul>
			</div>
		</div>
		<div class="col-lg-4">
			<h4 class="text-center background-gradient-blue cp-admin-validation">Current Active Accounts</h4>
			<div id="current-active-accounts">
				<ul></ul>
			</div>
		</div>
		<div class="{{extra_class}} {{offset_class}}">
			<div class="col-lg-12">
				<h4 class="text-center background-gradient-amber cp-admin-validation">Missing Accounts</h4>
				<div id="missing-accounts">
					<ul></ul>
				</div>
			</div>
			<div class="col-lg-12">
				<h4 class="text-center background-gradient-red cp-admin-validation">Extra Accounts</h4>
				<div id="extra-accounts">
					<ul></ul>
				</div>
			</div>
			<div class="col-lg-12">
				<h4 class="text-center background-gradient-purple cp-admin-validation">Last 5 Logs</h4>
				<div id="last-5-logs-list">
					<table width="100%">
						<thead>
							<tr>
								<th>Creation Date</th>
								<th>CN</th>
								<th>Action</th>
							</tr>
						<thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="control-plan-cert-validation-template" type="text/x-handlebars-template">
	<div class="row">
        {{#if unknownList}}
		<div class="col-lg-12">
			<h4 class="text-center background-gradient-red cp-cert-validation">Certificates: Unknown</h4>
			<div class="table-responsive">
				<table id="certs-unknownList" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Check Date</th>
                            <th>URL</th>
                            <th>Status</th>
                        </tr>
                    <thead>
                    <tbody>
                        {{#each unknownList}}
                        <tr>
                            <td>{{this.check_date}}</td>
                            <td>{{this.url}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
			</div>
		</div>
        {{/if}}
        {{#if lt100List}}
		<div class="col-lg-12">
			<h4 class="text-center background-gradient-red cp-cert-validation">Certificates: Expiring in less than 100 days</h4>
			<div class="table-responsive">
				<table id="certs-lt100List" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Check Date</th>
                            <th>URL</th>
                            <th>Cert Name</th>
                            <th>Exp Date</th>
                            <th>Exp Days</th>
                            <th>Cert Serial No.</th>
                            <th>Cert Effective Date</th>
                            <th>Cert Issuer</th>
                            <th>Status</th>
                        </tr>
                    <thead>
                    <tbody>
                        {{#each lt100List}}
                        <tr>
                            <td>{{this.check_date}}</td>
                            <td>{{this.url}}</td>
                            <td>{{this.cert_name}}</td>
                            <td>{{this.expiration_date}}</td>
                            <td>{{this.expiration_in_days}}</td>
                            <td>{{this.cert_serial_number}}</td>
                            <td>{{this.cert_effective_date}}</td>
                            <td>{{this.cert_issuer}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
			</div>
		</div>
        {{/if}}
        {{#if lt250List}}
        <div class="col-lg-12">
			<h4 class="text-center background-gradient-green cp-cert-validation">Certificates: Expiring in less than 250 days</h4>
			<div class="table-responsive">
				<table id="certs-lt250List" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Check Date</th>
                            <th>URL</th>
                            <th>Cert Name</th>
                            <th>Exp Date</th>
                            <th>Exp Days</th>
                            <th>Cert Serial No.</th>
                            <th>Cert Effective Date</th>
                            <th>Cert Issuer</th>
                            <th>Status</th>
                        </tr>
                    <thead>
                    <tbody>
                        {{#each lt250List}}
                        <tr>
                            <td>{{this.check_date}}</td>
                            <td>{{this.url}}</td>
                            <td>{{this.cert_name}}</td>
                            <td>{{this.expiration_date}}</td>
                            <td>{{this.expiration_in_days}}</td>
                            <td>{{this.cert_serial_number}}</td>
                            <td>{{this.cert_effective_date}}</td>
                            <td>{{this.cert_issuer}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
			</div>
		</div>
        {{/if}}
        {{#if gt250List}}
        <div class="col-lg-12">
			<h4 class="text-center background-gradient-green cp-cert-validation">Certificates: Expiring in more than 250 days</h4>
			<div class="table-responsive">
				<table id="certs-gt250List" class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Check Date</th>
                            <th>URL</th>
                            <th>Cert Name</th>
                            <th>Exp Date</th>
                            <th>Exp Days</th>
                            <th>Cert Serial No.</th>
                            <th>Cert Effective Date</th>
                            <th>Cert Issuer</th>
                            <th>Status</th>
                        </tr>
                    <thead>
                    <tbody>
                        {{#each gt250List}}
                        <tr>
                            <td>{{this.check_date}}</td>
                            <td>{{this.url}}</td>
                            <td>{{this.cert_name}}</td>
                            <td>{{this.expiration_date}}</td>
                            <td>{{this.expiration_in_days}}</td>
                            <td>{{this.cert_serial_number}}</td>
                            <td>{{this.cert_effective_date}}</td>
                            <td>{{this.cert_issuer}}</td>
                            <td>{{this.status}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
			</div>
		</div>
        {{/if}}
	</div>
</script>

{% endverbatim %}