<!-- Templates used in home and team page -->
{% verbatim %}
<script id="accordion-card-template-old" type="text/x-handlebars-template">
    <li class="card" draggable="true" role="option" aria-grabbed="false">
        <div class="card-header" id="{{card_header_id}}">
            <h5 class="mb-0">
                <a class="btn btn-link" data-toggle="collapse" href="#{{card_content_id}}" aria-expanded="true" aria-controls="{{card_content_id}}">
                    <i class="fa fa-arrows fa-fw"></i>
                    {{card_header}}
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
            </h5>
        </div>
        <div id="{{card_content_id}}" class="collapse in" aria-labelledby="{{card_header_id}}" data-parent="#accordion">
            <div class="card-body"></div>
        </div>
    </li>
</script>

<script id="accordion-card-template" type="text/x-handlebars-template">
    <li class="card" draggable="true" role="option" aria-grabbed="false">
        <div class="card-header" id="{{card_header_id}}">
            <h5 class="mb-0">
                <a class="btn btn-link {{collapse_card_class}}" data-toggle="collapse" href="#{{card_content_id}}" aria-expanded="{{card_state}}" aria-controls="{{card_content_id}}">
                    <i class="fa fa-arrows fa-fw"></i>
                    {{card_header}}
                    <span class="glyphicon glyphicon-triangle-{{card_arrow}}" aria-hidden="true"></span>
                </a>
            </h5>
        </div>
        <div id="{{card_content_id}}" class="collapse {{show_card_class}}" aria-labelledby="{{card_header_id}}" data-parent="#accordion">
            <div class="card-body">
                <div class="card-loader row">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    </li>
</script>

<script id="accordion-proximity-card-template" type="text/x-handlebars-template">
    <li class="card" draggable="true" role="option" aria-grabbed="false">
        <div class="card-header" id="{{card_header_id}}">
            <h5 class="mb-0">
                <a class="btn btn-link {{collapse_card_class}}" data-toggle="collapse" href="#{{card_content_id}}" aria-expanded="{{card_state}}" aria-controls="{{card_content_id}}">
                    <i class="fa fa-arrows fa-fw"></i>
                    {{card_header}}
                    <span class="glyphicon glyphicon-triangle-{{card_arrow}}" aria-hidden="true"></span>
                </a>
            </h5>
        </div>
        <div id="{{card_content_id}}" class="collapse {{show_card_class}}" aria-labelledby="{{card_header_id}}" data-parent="#accordion">
            <ul class="card-body list-unstyled"></ul>
        </div>
    </li>
</script>

<script id="opentickets-team-panel-template" type="text/x-handlebars-template">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-{{panel_color}}">
                <div class="panel-heading">
                    <i class="fa {{panel_icon}} fa-fw"></i> {{panel_header}}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-lg-12">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="opentickets-table-head-template" type="text/x-handlebars-template">
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped" id="table-{{team_name}}">
            <thead>
                <tr>
                    <th>Ticket#</th>
                    <th>PrbID</th>
                    <th>Criticality</th>
                    <th>Type</th>
                    <th>Open Date</th>
                    <th>Due Date</th>
                    <th>Time Remaining/<br>Expired</th>
                    <th>Duration@Group</th>
                    <th>Open By</th>
                    {{#if showGroup}}
                    <th>Group</th>
                    {{/if}}
                    {{#if showTeam}}
                    <th>Team</th>
                    {{/if}}
                    <th class="adjust-width-location">Location</th>
                    <th>Taken By</th>
                    <th>Category</th>
                    <th class="adjust-width-description">Description</th>
                    {{#if showUpdated}}
                    <th>Updated (24h)</th>
                    {{/if}}
                    <th>Client</th>
                    <th class="noExport">Note</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="opentickets-table-body-template" type="text/x-handlebars-template">
    {{#if taken_by}}
    <tr>
    {{else}}
    <tr class="row_unassigned">   
    {{/if}}
        <td>
        {{#if itsm_url}}
            <div class="btn-group team-ticket-dropdown">
                <input type="button" value={{ticket_number}} class="btn" onclick="window.open('{{itsm_url}}')" />
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {{#if itsm_parent_url}}
                    <li><a target="_blank" href="{{itsm_parent_url}}">Parent</a></li>
                    {{/if}}
                    <li><a target="_blank" href="{{itsm_add_note_url}}">Add Note</a></li>
                    <li><a target="_blank" href="{{itsm_reassign_url}}">Reassign</a></li>
                    {{#if itsm_assign_to_me}}
                    <li><a target="_blank" onclick="assignToMe('{{itsm_assign_to_me}}')" href="javascript:void(0);">Assign To Me</a></li>
                    {{/if}}
                    {{#if itsm_resolve_url}}
                        {{#if itsm_assign_to_me}}
                        <li class="disabled"><a href="/" onclick="return false;">Resolve</a></li>
                        {{else}}
                        <li><a target="_blank" href="{{itsm_resolve_url}}">Resolve</a></li>
                        {{/if}}
                    {{/if}}
                    {{#if itsm_back_from_thirdparty_url}}
                        {{#if itsm_assign_to_me}}
                        <li class="disabled"><a href="/" onclick="return false;">Back From 3rd Party</a></li>
                        {{else}}
                        <li><a target="_blank" href="{{itsm_back_from_thirdparty_url}}">Back From 3rd Party</a></li>
                        {{/if}}
                    {{/if}}
                </ul>
            </div> 
        {{else}}
            {{ticket_number}}
        {{/if}}
        </td>
        {{#if problem_id}}
        <td><a target="_blank" title="Problem Status: {{problem_status}}" href="{{problem_url}}">{{problem_id}}</a></td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{criticality}}</td>
        <td>{{task_type}}</td>
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
        {{#if is_time_remaining_oosla}}
        <td class="cell_text_font_oosla">{{time_remaining}}</td>
        {{else}}
        <td class="cell_text_font_insla">{{time_remaining}}</td>
        {{/if}}
        {{#if is_duration_at_group_oosla}}
        <td class="cell_text_font_oosla">{{duration_at_group}}</td>
        {{else}}
        <td>{{duration_at_group}}</td>
        {{/if}}
        <td>{{open_by}}</td>
        {{#if showGroup}}
        <td>{{group_name}}</td>
        {{/if}}
        {{#if showTeam}}
        <td>{{raw_group_name}}</td>
        {{/if}}
        {{#if location}}
        <td>{{location}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        {{#if taken_by}}
        <td align="center">{{taken_by}}</td>
        {{else}}
        <td align="center"><i class="fa fa-exclamation-triangle" style="color:#ffbf00"></i></td>
        {{/if}}
        <td>{{category}}</td>
        <td>
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{description}}">
                 <a href="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">
                    {{#if title}}
                    {{title}}
                    <br>
                    {{/if}}
                    {{description}}
                </a>
            </div>
        </td>
        {{#if showUpdated}}
        {{#if is_sleeping_ticket}}
        <td>Yes</td>
        {{else}}
        <td>No</td>
        {{/if}}
        {{/if}}
        {{#if client}}
        <td>{{client}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>
        <button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" ticket-number="{{ticket_number}}" due-date="{{due_date}}" seq="{{sequence}}"></button>
        </td>
    </tr>
</script>

<script id="opentickets-table-ams-template" type="text/x-handlebars-template">
    
</script>

<script id="donutchart-widget-template" type="text/x-handlebars-template">
        <div class={{panel_column_class}}>
            <div class="panel panel-{{panel_color}}">
                <div class="panel-heading">
                    <i class="fa {{panel_icon}} fa-fw fa-o"></i> {{panel_header}} <span id="{{team_name}}-total" class="total_tickets"></span>
                    <span class="team-trend {{trend_class}}" data-toggle="modal" data-target="#team_trend"></span>
                </div>
                <div class="panel-body">
                    {{#if empty}}
                    <div class="alert alert-success nobacklog-widget">No Backlog</div>
                    {{else}}
                    <div id="{{team_name}}-donut-chart" class="donutchart-widget"></div>
                    {{/if}}
                    <a href="{{url}}" onclick="location.href=this.href+'?local_tz='+local_zone;return false;" class="btn btn-default btn-block">Details</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
</script>

<script id="team-donutchart-widget-template" type="text/x-handlebars-template">
        <div class={{panel_column_class}}>
            <div class="panel panel-{{panel_color}}">
                <div class="panel-heading">
                    <i class="fa {{panel_icon}} fa-fw fa-o"></i> {{panel_header}} <span id="team-total" class="total_tickets"></span>
                    <table id="merged-table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="panel-body">
                    {{#if empty}}
                    <div class="alert alert-success nobacklog-widget">No Backlog</div>
                    {{else}}
                    <div id="team-donut-chart" class="donutchart-widget"></div>
                    {{/if}}
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
</script>

<script id="team-merged-table-thead-template" type="text/x-handlebars-template">
    <tr>
        <th>{{mode}}</th>
        <th>Ticket#</th>
        <th>Problem#</th>
        <th>Criticality</th>
        <th>Type</th>
        <th>Open Date</th>
        <th>Due Date</th>
        <th>Time Remaining/<br>Expired</th>
        <th>Duration@Group</th>
        <th>Open By</th>
        <th>Group</th>
        <th class="adjust-width-location">Location</th>
        <th>Taken By</th>
        <th>Category</th>
        <th class="adjust-width-description">Description</th>
        <th>Updated (24h)</th>
        <th>Client</th>
    </tr>
</script>

<script id="team-merged-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{mode}}</td>
        <td>{{ticket_number}}</td>
        {{#if problem_id}}
        <td>{{problem_id}}</td>
        {{else}}
        <td></td>
        {{/if}}
        <td>{{criticality}}</td>
        <td>{{task_type}}</td>
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
        <td>{{time_remaining}}</td>
        <td>{{duration_at_group}}</td>
        <td>{{open_by}}</td>
        <td>{{group_name}}</td>
        {{#if location}}
        <td>{{location}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        {{#if taken_by}}
        <td align="center">{{taken_by}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{category}}</td>
        <td>
			{{#if title}}
			{{title}}  
			{{/if}}
			{{description}}
        </td>
        {{#if is_sleeping_ticket}}
        <td>Yes</td>
        {{else}}
        <td>No</td>
        {{/if}}
        {{#if client}}
        <td>{{client}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
    </tr>
</script>

<script id="reporting-ticket-search-table-tbody-template" type="text/x-handlebars-template">
    <tr class="odd gradeX">
        <td>{{ticket_number}}</td>
        {{#if problem_id}}
        <td><a target="_blank" title="Problem Status: {{problem_status}}" href="{{problem_url}}">{{problem_id}}</a></td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{criticality}}</td>
        <td>{{ticket_type}}</td>
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
        <td>{{close_date}}</td>
        <td>{{category}}</td>
        {{#if opened_group}}
        <td>{{opened_group}}</td>
        {{else}}
        <td>None</td>
        {{/if}}
        <td>{{taken_by}}</td>
        <td>{{closed_group}}</td>
        <td><div class="tdfield" data-toggle="tooltip" data-original-title="{{description}}"><a href="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">{{description}}</a></div></div></td>
        <td><div class="tdfield" data-toggle="tooltip" data-original-title="{{resolution}}"><a href="#" data-toggle="modal" data-target="#ticket_resolution" id="{{ticket_number}}" class="click_resolution">{{resolution}}</a></div></div></td>
        <td>{{sla_type}}</td>
        <td>{{resolution_category}}</td>
        {{#if zone}}
        <td>{{zone}}</td>
        {{else}}
        <td>None</td>
        {{/if}}
        <td>{{process}}</td>
        <td>{{client}}</td>
        <td>{{location}}</td>
        <td><button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" seq="{{sequence}}" value="{{ticket_number}}||{{due_date}}"></button></td>
    </tr>
</script>

<script id="ticket-search-table-tbody-template" type="text/x-handlebars-template">
    <tr class="odd gradeX">
        <td>{{ticket_number}}</td>
        {{#if problem_id}}
        <td><a target="_blank" title="Problem Status: {{problem_status}}" href="{{problem_url}}">{{problem_id}}</a></td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{criticality}}</td>
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
        {{#if close_date}}
        <td>{{close_date}}</td>
        {{else}}
        <td>None</td>
        {{/if}}
		{{#if closed_by}}
        <td>{{closed_by}}</td>
		{{else}}
		<td>{{assigned_to}}</td>
		{{/if}}
        <td>{{raw_group_name}}</td>
        <td>{{category}}</td>
        <td>
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{description}}"><a hrref="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">{{description}}</a></div>
        </td>
        <td>    
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{resolution}}"><a hrref="#" data-toggle="modal" data-target="#ticket_resolution" id="{{ticket_number}}" class="click_resolution">{{resolution}}</a></div>
        </td>
        <td class="noExport">
             <button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" seq="{{sequence}}" value="{{ticket_number}}||{{due_date}}||{{close_date}}||{{description}}"></button>
        </td>
    </tr>
</script>
{% endverbatim %}