<!-- Templates used in home and team page -->
{% verbatim %}

<script id="rca-table-head-template" type="text/x-handlebars-template">
    <tr>
        <th>RCA ID</th>
        <th>Week</th>
        <th>Zone</th>
        <th>Outage Title</th>
        <th>RCA Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Due Date</th>
        <th>Incident Start Date</th>
        <th>Incident End Date</th>
        <th>Incident Duration</th>
        <th>RCA Owner</th>
        <th>Problem ID</th>
        <th>IM</th>
        <th>Group</th>
        <th>Comments</th>
    </tr>
</script>
                            
<script id="rca-table-body-template" type="text/x-handlebars-template">
    <tr class="odd gradeX">
       <td>
       <div>
           <a href="#" data-toggle="modal" data-target="#rcaRowModal" id="{{rcaId}}-edit" class="click_rcareport">{{rcaId}}</a>
       </div>
       </td>
       <td>{{week}}</td>
       <td>{{zone}}</td>
       <td>
       <div class="" data-toggle="tooltip" title="{{outageTitle}}">
            <a href="#" data-toggle="modal" data-target="#rcaReportModal" id="{{rcaId}}" class="click_rcareport">{{outageTitle}}</a>
       </div>
       </td>
       <td>{{rcaStatus}}</td>
       <td>{{startDate}}</td>
       <td>{{endDate}}</td>
       <td id="{{rcaId}}-duedate" class="{{due_date_sla_class}}">{{dueDate}}</td>
       <td>{{incidentStartDate}}</td>
       <td>{{incidentEndDate}}</td>
       <td>{{incidentDuration}}</td>
       <td>{{rcaOwner}}</td>
       <td>{{problemId}}</td>
       <td>{{im}}</td>
       <td>{{group}}</td>
       <td>{{comments}}</td>
   </tr>
</script>


{% endverbatim %}