<!-- Templates used in reporting tab -->
{% verbatim %}

<script id="integration-view-backlog-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{ticket_number}}</td>
        {{#if problem_id}}
        <td><a target="_blank" title="Problem Status: {{problem_status}}" href="{{problem_url}}">{{problem_id}}</a></td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{criticality}}</td>
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
        <td>{{category}}</td>
        <td>{{opened_group}}</td>
        <td>{{curr_assigned_analyst}}</td>
        <td>{{curr_assigned_group_name}}</td>
        <td>
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{description}}">
                <a href="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">
                    {{description}}
                </a>
            </div>
        </td>
        <td>
            <button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes noExport" value="{{ticket_number}}||{{due_date}}" seq="{{sequence}}"></button>
        </td>
    </tr>
</script>

<script id="integration-view-yesterday-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{ticket_number}}</td>
        {{#if problem_id}}
        <td><a target="_blank" title="Problem Status: {{problem_status}}" href="{{problem_url}}">{{problem_id}}</a></td>
        {{else}}
        <td>-</td>
        {{/if}}
        <td>{{criticality}}</td>
		{{#if opened_yesterday}}
		<td>{{status}}</td>
		{{/if}}
        <td>{{open_date}}</td>
        <td>{{due_date}}</td>
		<td>{{close_date}}</td>
        <td>{{category}}</td>
        <td>{{opened_group}}</td>
        <td>{{curr_assigned_analyst}}</td>
        <td>{{curr_assigned_group_name}}</td>
        <td>
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{description}}">
                <a href="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">
                    {{description}}
                </a>
            </div>
        </td>
		<td>
            <div class="tdfield" data-toggle="tooltip" data-original-title="{{resolution}}">
                <a href="#" data-toggle="modal" data-target="#ticket_resolution" id="{{ticket_number}}" class="click_resolution">
                    {{resolution}}
                </a>
            </div>
        </td>
        <td>
            <button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes noExport" value="{{ticket_number}}||{{due_date}}" seq="{{sequence}}"></button>
        </td>
    </tr>
</script>

{% endverbatim %}