<!-- Templates used in security -->
{% verbatim %}
<script id="ostype-stats-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{type}}</td>
        <td>{{worldwide}}</td>
        <td>{{americas}}</td>
        <td>{{emea}}</td>
        <td>{{asia}}</td>
        <td>{{unspecified}}</td>
    </tr>  
</script>

<script id="ostype-build-table-thead-template" type="text/x-handlebars-template">
    <tr>
        <th>Build Version</th>
        <th>Number of Devices</th>
        <th>Percentage</th>
    </tr>  
</script>

<script id="ostype-build-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{version}}</td>
        <td>{{count}}</td>
        <td>{{percentage}}%</td>
    </tr>  
</script>

<script id="discrepancy-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{devicename}}</td>
        <td>{{ipaddress}}</td>
        <td><span class="label label-{{adindicator_class}}" id="adstatus_{{devicename}}">{{adindicator_value}}</span></td>
        <td><span class="label label-{{ldindicator_class}}" id="ldstatus_{{devicename}}">{{ldindicator_value}}</span></td>
        <td><span class="label label-{{kasindicator_class}}" id="kasstatus_{{devicename}}">{{kasindicator_value}}</span></td>
        <td><span class="label label-{{deisindicator_class}}">{{deisindicator_value}}</span></td>
        <td><input type="checkbox" id = "{{devicename}}_check_ad_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        <td><input type="checkbox" id = "{{devicename}}_check_ld_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        <td><input type="checkbox" id = "{{devicename}}_check_kas_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        {{#if comments}}
        <td><textarea id="{{devicename}}" value="{{comments}}">{{comments}}</textarea><button devicename="{{devicename}}" type="button" class="btn btn-info addcomment"><i class="fa fa-floppy-o" aria-hidden="true"></i></button></td>
        {{else}}
        <td><textarea id="{{devicename}}" value=""></textarea><button devicename="{{devicename}}" type="button" class="btn btn-info addcomment"><i class="fa fa-floppy-o" aria-hidden="true"></i></button></td>
        {{/if}}
        {{#if last_user}}
        <td>{{last_user}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        {{#if link}}
        <td><span class="label label-info" onclick="window.open('{{link}}')">{{ticket}}</span></td>
        {{else}}
            {{#if devicenameticket_check}}
            <td><span class="label label-info">Creation ...</span></td>
            {{else}}
            <td><span type="submit" id="{{devicename}}" value="Create Ticket" class="label label-info ticket_status-btn">Create</span></td>
            {{/if}}
        {{/if}}
        <td><button type="button" class="btn btn-info">Validate</button></td>
    </tr>  
</script>

<script id="exception-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{devicename}}</td>
        <td>{{ipaddress}}</td>
        <td><span class="label label-{{adindicator_class}}">{{adindicator_value}}</span></td>
        <td><span class="label label-{{ldindicator_class}}">{{ldindicator_value}}</span></td>
        <td><span class="label label-{{kasindicator_class}}">{{kasindicator_value}}</span></td>
        <td><span class="label label-{{deisindicator_class}}">{{deisindicator_value}}</span></td>
        <td><input type="checkbox" id = "{{devicename}}_check_ad_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        <td><input type="checkbox" id = "{{devicename}}_check_ld_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        <td><input type="checkbox" id = "{{devicename}}_check_kas_exc" class="editor-active" {{adindicator_checkbox}}/></td>
        {{#if commenthistory}}
        <td>{{commenthistory}}</td>
        {{else}}
        <td>-</td>
        {{/if}}
        {{#if comments}}
        <td><textarea id="{{devicename}}" value="{{comments}}">{{comments}}</textarea></td>
        {{else}}
        <td><textarea id="{{devicename}}" value=""></textarea></td>
        {{/if}}
        <td><button type="button" class="btn btn-info">Validate</button></td>
    </tr>  
</script>


{% endverbatim %}
