<!-- Templates used in ticket analysis page -->
{% verbatim %}
<script id="ticket-analysis-table-thead-template" type="text/x-handlebars-template">
    <tr>
        <th>Ticket#</th>
        <th>Criticality</th>
        <th>Type</th>
        <th>Open Date</th>
        <th>Category</th>
        {{#if show_from_group}}
        <th>From Group</th>
        {{/if}}
        {{#if show_to_group}}
        <th>To Group</th>
        {{/if}}
        <th>Opened By</th>
        <th>Assigned To/Closed By</th>
        <th>Closed Group</th>
        <th>Description</th>
        {{#if show_counter}}
        <th>Counter</th>
        {{/if}}
        <th class="noExport">Notes</th>
    </tr>
</script>

<script id="ticket-analysis-table-tbody-template" type="text/x-handlebars-template">
    <tr>
        <td>{{ticket_number}}</td>
        <td>{{criticality}}</td>
        <td>{{ticket_type}}</td>
        <td>{{open_date}}</td>
        <td>{{category}}</td>
        {{#if from_group}}
        <td>{{from_group}}</td>
        {{/if}}
        {{#if to_group}}
        <td>{{to_group}}</td>
        {{/if}}
        <td>{{open_by}}</td>
        {{#if taken_by}}
        <td>{{taken_by}}</td>
        {{else}}
        <td>None</td>
        {{/if}}
        {{#if closed_group}}
        <td>{{closed_group}}</td>
        {{else}}
        <td>None</td>
        {{/if}}
        <td>
            <div class="tdfield" data-toggle="tooltip" title="{{description}}">
                <a href="#" data-toggle="modal" data-target="#ticket_description" id="{{ticket_number}}" class="click_description">
                    {{description}}
                </a>
            </div>
        </td>
        {{#if counter}}
        <td>{{counter}}</td>
        {{/if}}
        <td><button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" value="{{ticket_number}}||{{due_date}}" seq="{{sequence}}"></button></td>
    </tr>
</script>

<script id="ticket-analysis-merged-table-template" type="text/x-handlebars-template">
<div class="col-lg-12">
    <table id="{{ticket_analysis_type}}-merged-table" class="hidden-merged-table">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
</script>

<script id="ticket-analysis-breakdown-table-template" type="text/x-handlebars-template">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>{{table_title}}</span>
                <span class="ticket-analysis-breakdown-table-count">Total Tickets : {{team_data_length}}</span> 
            </div>
            <div class="panel-body">
                <table id="{{table_id}}-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>    
    </div>
</script>

{% endverbatim %}