
{% extends "layout.html" %}

{% block css %}
{% load assets %}
{% assets "css_close" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>
.tab-pane {

    padding: 15px;
}
.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */
    
    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
</style>

{% endblock %}

{% block content %}

<div id="page-content-wrapper" {% if not closed_list.closed_data %}class="default-wrapper-height"{% endif %}>

            <!-- /.row -->
            <div class="row">
                <div id="ticket-search-filters" class="col-lg-12">
                                           
                            <form method="POST" action="{% url 'hygie_portal:closed_tickets' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
                            {% csrf_token %}
								
                                <div class="filter-block col-lg-4">
                                    <!-- Check box for closed or opened tickets -->
                                    <h4 id="ticket-status-header">Select at least one ticket status</h4>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-open" id="check-tickets-open" name="open_check_tickets" {% if open_checkbox %}checked{% endif %}>
                                            <label class="form-check-label" for="opentickets">Open</label>
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-close" id="check-tickets-close" name="close_check_tickets" {% if close_checkbox %}checked{% endif %}>
                                            <label class="form-check-label" for="closetickets">Closed</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="filter-block col-lg-4">
                                    <h4 id="date-range-header">Select at least one date range</h4>
                                    <div class="">
                                        <!-- date range selection -->
                                        <div class="form-group" id="openticket-search-date-selector">
                                            <div id="openticket-date-selector">
                                                <label>Open Ticket Date Range </label>
                                                {% if form.data.open_search_date != None %}
                                                <input type="text" id="openticket-daterangepicker" name="open_search_date" class="form-control" value="{{form.data.open_search_date}}" data-bind="daterangepicker: dateRange" readonly/>
                                                {% else %}
                                                <input type="text" id="openticket-daterangepicker" name="open_search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- date range selection -->
                                        <div class="form-group" id="closeticket-search-date-selector">
                                            <div id="closeticket-date-selector">
                                                <label>Closed Ticket Date Range</label>
                                                {% if form.data.close_search_date != None %}
                                                <input type="text" id="closeticket-daterangepicker" name="close_search_date" class="form-control" value="{{form.data.close_search_date}}" data-bind="daterangepicker: dateRange" readonly/>
                                                {% else %}
                                                <input type="text" id="closeticket-daterangepicker" name="close_search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="filter-block col-lg-4">
                                    <h4 id="bounce-status-header">Optional Filter(s)</h4>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-bounce" id="check-bounce" name="bounce_check">
                                            <label class="form-check-label" for="bouncetickets">View Bouncing Tickets Only</label>
                                        </div>
                                    </div>
                                </div>
                                -->
                                <div class="filter-block col-lg-12">
                                    <h4 id="filter-header">Select at least one filter</h4>
                                    <!-- Open Group filter -->
                                    <!-- <div class="form-group col-lg-3 col-md-3 col-sm-12">-->
                                    
                                    <div class="form-group form-inline">
                                        <p>Open Groups</p>
                                        <select name="groups_by_opengroup" id="groups_by_opengroup" multiple="multiple">
                                            <option value="-1" {% if -1 in open_selected_grp %}selected{% endif %}>OTHERS</option>
                                        {% for group, grouplist in my_config.TEAMS.items|dictsort:0 %}
                                            {% load replace %}
                                            <optgroup value="{% if group == 'SERVICE_DESK' %}{{'SERVICE DESK'}}{% else %}{{group|replace}}{% endif %}" label="{% if group == 'SERVICE_DESK' %}{{'SERVICE DESK'}}{% else %}{{group|replace}}{% endif %}"> 
                                            {% for t in grouplist %}
                                            {% if t.team|length != 0 %}
                                                <option value="{{ t.id }}" {% if t.id in open_selected_grp %}selected{% endif %}>{{ t.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <!-- Assigned Group filter -->
                                    <div class="form-group form-inline" id="groups_by_assignedgroup_form">
                                        <p>Assigned Groups</p>
                                        <select name="groups_by_assignedgroup"  id="groups_by_assignedgroup" multiple="multiple">
                                        {% for group, grouplist in my_config.TEAMS.items|dictsort:0 %}
                                            <optgroup label="{% if group == 'SERVICE_DESK' %}{{'SERVICE DESK'}}{% else %}{{group|replace}}{% endif %}">
                                            {% for t in grouplist %}
                                            {% if t.team|length != 0 %}
                                                <option value="{{ t.id }}" {% if t.id in assigned_selected_grp %}selected{% endif %}>{{ t.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        </select>
                                    </div>		
                                    
                                    <!-- Close Group filter -->
                                    <div class="form-group form-inline" id="groups_by_closedgroup_form">
                                        <p>Close Groups</p>
                                        <select name="groups_by_closedgroup"  id="groups_by_closedgroup" multiple="multiple">
                                            <option value="-1" {% if -1 in closed_selected_grp %}selected{% endif %}>OTHERS</option>
                                        {% for group, grouplist in my_config.TEAMS.items|dictsort:0 %}
                                            <optgroup value="{% if group == 'SERVICE_DESK' %}{{'SERVICE DESK'}}{% else %}{{group|replace}}{% endif %}" label="{% if group == 'SERVICE_DESK' %}{{'SERVICE DESK'}}{% else %}{{group|replace}}{% endif %}">
                                            {% for t in grouplist %}
                                            {% if t.team|length != 0 %}
                                                <option value="{{ t.id }}" {% if t.id in closed_selected_grp %}selected{% endif %}>{{ t.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        </select>
                                    </div>
                                    
                                    <!-- Application fliter -->	
                                    <div class="form-group form-inline">
                                        <p>Applications</p>
                                        <select name="groups_by_applications"  id="groups_by_applications" multiple="multiple">
                                            {% for app in applications %}
                                            <option value="{{app}}"{% if app in applications_selected_grp %}selected{% endif %}>{{app}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

									<!-- Application fliter -->	
                                    <div class="form-group form-inline dropdown" id="sla_selection_form">
                                        <p>SLA</p>
										<select name="sla_selection" id="sla_selection" class="form-control">
                                            <option value="allsla"{% if not sla_selection or sla_selection == 'allsla' %}selected{% endif %}>All SLA</option>
											<option value="isla"{% if sla_selection == 'isla' %}selected{% endif %}>Within SLA</option>
											<option value="oosla"{% if sla_selection == 'oosla' %}selected{% endif %}>Out of SLA</option>
                                        </select>
                                    </div>		
									
                                </div>
                                <div class="filter-block col-lg-12">
                                    <button type="submit" class="btn btn-primary" id="submit" disabled='disabled'>Search</button>
                                    <!--<input type="button" class="btn btn-primary" onclick="resetForm()" value="Reset form">-->
                                </div>
                            </div>
                            </form>                 
                
			
                <!-- /.col-xs-12 -->
            
            </div>
			<!-- /.row -->
			{% if closed_list.closed_data %}
				<div class="row">
                    {% if open_checkbox and close_checkbox %}
                    <div class="col-lg-4">
                        <div class="panel panel-info">
							<div class="panel-heading">
								Total Tickets
							</div>
                            <div class="panel-body"> 
                                <div id="reporting-ticket-search-pie-chart"></div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div id="reporting-ticket-search-stats-panel" class={% if open_checkbox and close_checkbox %}"col-lg-8"{% else %}"col-lg-12"{% endif %}>
                        <div class="panel panel-info">
							<div class="panel-heading">
								Stats ( Maximum Numbers: 5000 )
							</div>
							<div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div id="reporting-ticket-search-bar-chart"></div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
							</div>
						</div>
				   </div>
				   <div class="col-lg-12">
						<div class="panel panel-info">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-2">
                                        {% load add %}
										<div class="well well-sm">No. of Tickets: {{ closed_list.closed_tickets_count|add:closed_list.open_tickets_count }}</div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">SLA 1: {{closed_list.SLA1_P}} % ({{ closed_list.SLA1 }})</div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">SLA 2: {{closed_list.SLA2_P}} % ({{ closed_list.SLA2 }})</div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">OoSLA: {{closed_list.OSLA_P}} % ({{ closed_list.OSLA }})</div>
									</div>
									<div class="col-md-2"></div>
								</div>
								{% if not closed_list.OSLA_DATA %}
								<div class="row">
									<div class="col-md-1"></div>
									<div class="col-md-2">
										<div class="well well-sm">Total OoSLA time: {{closed_list.OSLA_DATA.latetime_total }} </div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">Median OoSLA time: {{closed_list.OSLA_DATA.latetime_med }} </div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">Ave. OoSLA time: {{closed_list.OSLA_DATA.latetime_ave }} </div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">Min OoSLA time: #{{closed_list.OSLA_DATA.latetime_min.ticket_no }} - {{closed_list.OSLA_DATA.latetime_min.val }} </div>
									</div>
									<div class="col-md-2">
										<div class="well well-sm">Max OoSLA time: #{{closed_list.OSLA_DATA.latetime_max.ticket_no }} - {{closed_list.OSLA_DATA.latetime_max.val }} </div>
									</div>
									<div class="col-md-1"></div>
								</div>
								{% endif %}
							</div>
						</div>
				   </div>
				</div>
				<!-- /.row -->

				<div class="row">
					<div class="col-lg-12">
					<div style="margin-top:10px"></div>
                        <div class="table-responsive">
						 <table width="100%" class="table table-striped table-bordered table-hover" id="closed-ticket-table">
							<thead>
								<tr>
									<th>Ticket</th>
                                    <th>PrbId</th>
									<th>Criticality</th>
									<th>Type</th>
									<th>Open Date</th>
									<th>Due Date</th>
									<th>Close Date</th>
									<th class="adjust-width-category">Category</th>
									<th>Opened Group</th>
									<th>Assigned To/Closed By</th>
									<th>Assigned/Closed Group Raw</th>
                                    <th>Assigned/Closed Group</th>
                                    <th class="adjust-width-location">Location</th>                                    
									<th class="adjust-width-description">Description</th>
									<th class="adjust-width-resolution">Resolution</th>
									<th>SLA</th>
									<th>Resolution Category</th>
									<th>Zone</th>
									<th>Process</th>
									<th>Client</th>
                                    <!--<th>Bounce Count</th>-->
									<th>Notes</th>
								</tr>
							</thead>
						 <tbody>
							{% for t in closed_list.closed_data %}
								<tr class="odd gradeX">
                                    <td><input type="button" value={{t.ticket_number}} class="btn reporting-ticket-dropdown" onclick="window.open('{{t.itsm_url}}')" /></td>
                                    {% if t.problem_id %}</td>
                                    <td><a target="_blank" title="Problem Status: {{t.problem_status}}" href="{{t.problem_url}}">{{t.problem_id}}</a></td>
                                    {% else %}
                                    <td>-</td>
                                    {% endif %}
									<td>{{t.criticality}}</td>
									<td>{{t.ticket_type}}</td>
									<td>{{t.open_date}}</td>
									<td>{{t.due_date}}</td>
									<td>{{t.close_date}}</td>
									<td>{{t.category}}</td>
									<td>{{t.opened_group}}</td>
                                    {% if t.status == 'C' %}
									<td>{{t.taken_by}}</td>
									<td>{{t.closed_group_raw}}</td>
                                    <td>{{t.closed_group}}</td>
                                    {% else %}
									<td>{{t.curr_assigned_analyst}}</td>
									<td>{{t.curr_assigned_group}}</td>
                                    <td>{{t.curr_assigned_group_name}}</td>
                                    {% endif %}
                                    <td>{{t.location}}</td>                                    
									<td><div class="tdfield" data-toggle="tooltip" title="{{t.description}}"><a href="#" data-toggle="modal" data-target="#ticket_description" id="{{t.ticket_number}}" class="click_description">{{t.description}}</a></div></td>
									<td><div class="tdfield" data-toggle="tooltip" title="{{t.resolution}}"><a href="#" data-toggle="modal" data-target="#ticket_resolution" id="{{t.ticket_number}}" class="click_resolution">{{t.resolution}}</a></div></td>
									<td>{{t.sla_type}}</td>
									<td>{{t.resolution_category}}</td>
									<td>{{t.zone}}</td>
									<td>{{t.process}}</td>
									<td>{{t.client}}</td>
                                    <!-- TODO FOR BOUNCE <td>t[17]</td>-->
									<td><button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" value="{{t.ticket_number}}||{{t.due_date}}" seq="{{t.sequence}}"></button></td>
								</tr>
							{% endfor %}
						  </tbody>
						 </table>
                        </div>
					</div>
				</div>
				
				<!-- /.row -->
				
			{% endif %}
            
            {% if closed_list.closed_tickets_count == 0 and closed_list.open_tickets_count == 0 %}
				<div class="row">
					<div class="col-lg-12" id="no-tickets">
						<div class="alert alert-warning"> No Tickets Found.</div>
					</div>
				</div>
				<!-- /.row -->
			{% endif %}
            
		</div>

        <!-- /#page-wrapper -->

{% if closed_list %}

    {% include 'popup_description.html' %}

    {% include 'popup_resolution.html' %}

    {% include 'popup_note.html' %}

{% endif %}

{% endblock %}

{% block js %}

{% assets "js_close" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if closed_list.closed_data  %}
{% assets "js_datatable" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endif %}

<!--<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script> -->

<script type="text/javascript">

var exportFileName = "";

console.log({{closed_list|safe}});

$(document).ready(function() {
    /*
    if($("#check-tickets-open:checked").length > 0){
		$('#groups_by_assignedgroup_form').show();
    } else {
		$('#groups_by_assignedgroup_form').hide();
    }
    
    if($("#check-tickets-close:checked").length > 0){
		$('#groups_by_closedgroup_form').show();
        $('#closeticket-search-date-selector').show();
    } else {
		$('#groups_by_closedgroup_form').hide();
        $('#closeticket-search-date-selector').hide();
    }
    */
	
    
    if($("#check-tickets-open:checked").length == 0){
        $('#groups_by_assignedgroup_form').toggle();
    }
    if($("#check-tickets-close:checked").length == 0){
		$('#groups_by_closedgroup_form').toggle();
        $('#closeticket-search-date-selector').toggle();
		$('#sla_selection_form').toggle();
    } 
    
    

    //initialize daterangepicker
    $("#openticket-daterangepicker").daterangepicker({
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
       // minDate: [moment().subtract(59, 'days'), 'inclusive'],
        maxDate: [moment(), 'inclusive'],
		prev_month: moment().subtract(1, 'month'),
        periods: ['day'],
        orientation: 'right',
        ranges:{
            'Today' : [moment(), moment()],
            'Yesterday' : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
			'Past Week' : [moment().utc().subtract(7, 'days').startOf('week').add(1, 'days'), moment().utc().subtract(7, 'days').endOf('week').add(1, 'days')],
			'Last 30 days' : [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
			'Past Month' : [(moment().utc().subtract(1, 'month').startOf('month')), (moment().utc().subtract(1, 'month').endOf('month'))],
			'Current Month' : [moment().utc().startOf('month'), moment().utc().endOf('month')],
            'Custom Range' : 'custom'
        },
        locale: { cancelButtonTitle: 'Clear' },
        callback: function(startDate, endDate, range){
		    var title = startDate.format('DD/MM/YYYY') + ' - ' + endDate.format('DD/MM/YYYY');
            $(this).val(title);
            enableSearchButton();
        }
    });
    
    $("#openticket-daterangepicker").data('daterangepicker').cancelChanges = function(){
        $("#openticket-daterangepicker").val('');
        this.close();
        enableSearchButton();
    };
    
    $("#closeticket-daterangepicker").daterangepicker({
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
       // minDate: [moment().subtract(59, 'days'), 'inclusive'],
        maxDate: [moment(), 'inclusive'],
		prev_month: moment().subtract(1, 'month'),
        periods: ['day'],
        orientation: 'right',
        ranges:{
            'Today' : [moment(), moment()],
            'Yesterday' : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
			'Past Week' : [moment().utc().subtract(7, 'days').startOf('week').add(1, 'days'), moment().utc().subtract(7, 'days').endOf('week').add(1, 'days')],
			'Last 30 days' : [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
			'Past Month' : [(moment().utc().subtract(1, 'month').startOf('month')), (moment().utc().subtract(1, 'month').endOf('month'))],
			'Current Month' : [moment().utc().startOf('month'), moment().utc().endOf('month')],
            'Custom Range' : 'custom'
        },
        locale: {
            cancelButtonTitle: 'Clear'
        },
        callback: function(startDate, endDate, range){
		    var title = startDate.format('DD/MM/YYYY') + ' - ' + endDate.format('DD/MM/YYYY');
            $(this).val(title);
            enableSearchButton();
        }
    });

    $("#closeticket-daterangepicker").data('daterangepicker').cancelChanges = function(){
        $("#closeticket-daterangepicker").val('');
        this.close();
        enableSearchButton();
    };

    // validation on change of filters
    $("#ticket-search-filters").on("change", function(){
        enableSearchButton();
    });

	
	//Application Filter
	$('#groups_by_applications').multiselect({
	    columns: 2,
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
		enableFiltering: true,
		enableCaseInsensitiveFiltering: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Applications',
        buttonWidth: '200px',
        maxHeight: 500,
        width: 500,
        buttonContainer:'<div id="groups_by_applications" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#groups_by_applications .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#groups_by_applications .caret-container').click();
            enableSearchButton();
        }
			
    });
	
	//SLA selection filter
	$('#sla_selection').multiselect({
	    nonSelectedText: 'SLA',
        buttonWidth: '200px',
        maxHeight: 500,
        width: 500,
        buttonContainer:'<div id="sla_selection" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#sla_selection .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#sla_selection .caret-container').click();
            enableSearchButton();
        },
		disabled: true	
    });
	
	//Closed group filter
	
	$('#groups_by_closedgroup').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Closed Groups',
        buttonWidth: '200px',
        maxHeight: 500,
        buttonContainer:'<div id="groups_by_closedgroup" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#groups_by_closedgroup .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#groups_by_closedgroup .caret-container').click();
            enableSearchButton();
        },
        onChange: function(option, checked, select) {
            var selectedOptions = $('#groups_by_closedgroup option:selected');
            var nonSelectedOptions = $('#groups_by_closedgroup option').filter(function() {
                return !$(this).is(':selected');
            });
            
            if(option.length == 1 && option.val() == -1 && checked){
                //disable all except others
                nonSelectedOptions.each(function() {
                    var input = $('#groups_by_closedgroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
                
                $('#groups_by_closedgroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_closedgroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
                
            }
            else if((option.length > 1 || option.val() != -1) && checked){
                // disable others
                var input = $('#groups_by_closedgroup input[value="-1"]');
                input.prop('disabled', true);
                input.parent('li').addClass('disabled');
                
                $('#groups_by_closedgroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_closedgroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
            }
            else if(!checked && (selectedOptions.length > 1 || (selectedOptions.val() != undefined && selectedOptions.val() != -1))){
                // do nothing
            }
            else{
                // Enable all checkboxes.
                $('#groups_by_closedgroup option').each(function() {
                    var input = $('#groups_by_closedgroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
                $('#groups_by_closedgroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_closedgroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
            }
            
        }
    });
    //$('#groups_by_opengroup .caret-container').click();

	$('#groups_by_opengroup').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Opened Groups',
        buttonWidth: '200px',
        maxHeight: 500,
        buttonContainer:'<div id="groups_by_opengroup" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#groups_by_opengroup .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#groups_by_opengroup .caret-container').click();
            enableSearchButton();
        },
        onChange: function(option, checked, select) {
            var selectedOptions = $('#groups_by_opengroup option:selected');
            var nonSelectedOptions = $('#groups_by_opengroup option').filter(function() {
                return !$(this).is(':selected');
            });
            
            if(option.length == 1 && option.val() == -1 && checked){
                //disable all except others
                nonSelectedOptions.each(function() {
                    var input = $('#groups_by_opengroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
                
                $('#groups_by_opengroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_opengroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', true);
                    input.parent('li').addClass('disabled');
                });
                
            }
            else if((option.length > 1 || option.val() != -1) && checked){
                // disable others
                var input = $('#groups_by_opengroup input[value="-1"]');
                input.prop('disabled', true);
                input.parent('li').addClass('disabled');
                
                $('#groups_by_opengroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_opengroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
            }
            else if(!checked && (selectedOptions.length > 1 || (selectedOptions.val() != undefined && selectedOptions.val() != -1))){
                // do nothing
            }
            else{
                // Enable all checkboxes.
                $('#groups_by_opengroup option').each(function() {
                    var input = $('#groups_by_opengroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
                $('#groups_by_opengroup .multiselect-group input').each(function() {
                    var input = $('#groups_by_opengroup input[value="' + $(this).val() + '"]');
                    input.prop('disabled', false);
                    input.parent('li').removeClass('disabled');
                });
            }
            
        }
    });
    $('#groups_by_assignedgroup').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Assigned Groups',
        buttonWidth: '200px',
        maxHeight: 500,
        buttonContainer:'<div id="groups_by_assignedgroup" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#groups_by_assignedgroup .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#groups_by_assignedgroup .caret-container').click();
            enableSearchButton();
        }
    });
    
	
    $("#groups_by_month").multiselect({
       enableClickableOptGroups: true,
       enableCollapsibleOptGroups: true,
       //includeSelectAllOption: true,
       nonSelectedText: 'Choose Groups',
       buttonWidth: '200px',
       maxHeight: 500,
       buttonContainer:'<div id="groups_by_month" class="btn-group"/>',
       onDropdownShown: function() {
          $('#groups_by_month .caret-container').click();
       },
       onDropdownHidden: function() {
          $('#groups_by_month .caret-container').click();
       }
    });
    
    enableSearchButton();
    $(".mandatory-filter").removeClass("mandatory-filter");
    

    $('ul.multiselect-container.dropdown-menu').on('click',".multiselect-item.multiselect-group",function(e){
        console.log(this);
    });

    if($( "li.multiselect-item.multiselect-group.active").length>0){
       //console.log($(this)); 
    }
/*
    {% if form.selected_month_year.data != None %}
      month_year_object.val('{{form.selected_month_year.data}}');
      month_year_object.datepicker("update");
    {% endif %}
	
	
	{% if search_by_type == 'month' %}
		{% if form.selected_month_year.data != None %}
			var selectedMonths = '{{form.selected_month_year.data}}';
			selectedMonthsArr = selectedMonths.split(",").sort(function(a, b){
                return moment(a,'MM/YYYY')-moment(b,'MM/YYYY')
            });
			exportFileName = (selectedMonthsArr.length > 2) ? selectedMonthsArr[0] + " - " + selectedMonthsArr[selectedMonthsArr.length - 1] : selectedMonths;
		{% endif %}
	{% else %}	
		{% if form.start_date.data != None %}
			exportFileName = '{{form.start_date.data}} - {{form.end_date.data}}';
		{% endif %}
	{% endif %}
	*/
//    $("#endDate").datepicker('setStartDate', date);

    // keep active accordion open
//    $('.panel-heading a').on('click',function(e){
//        if($(this).parents('.panel').children('.panel-collapse').hasClass('in')){
//            e.preventDefault();
//            e.stopPropagation();
//       }
//    });

    {% if closed_list.closed_data  %}
    
    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'});
    
    // excel & pdf export cols
    var file_col = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];
    

    var c_table = $('#closed-ticket-table').DataTable({
        "order": [[ 4, "asc" ]],		
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"row table-fix"t>ip',
        buttons: [ {extend: 'excel', title:  'Ticket Search', text: 'Excel',titleAttr: 'Excel', exportOptions: {columns:file_col,
        format : {
            header : function (mDataProp, columnIdx) {
                var htmlText = '<span>' + mDataProp + '</span>';
                var jHtmlObject = jQuery(htmlText);
                jHtmlObject.find('div').remove();
                var newHtml = jHtmlObject.text();
                //console.log('My header > ' + newHtml);
                return newHtml;
            },
			body: function ( data, row, column, node ) {
				
				if(column === 0 && $(data).hasClass("reporting-ticket-dropdown")){
					return $(data).val();
				}
                if(column === 1){
                    if(data === '-'){return ''}
					return $(data)[0].innerText;
				}
				if(column === 9){
                    var d = data.replace(/\s/g, '');
                    if($(d).hasClass("fa-exclamation-triangle")){
                        return "";
                    }
				}
                if(column === 7){
                    return data.replace(/&amp;/g, '&');
                }
				if(column === 13 || column === 14){
					return $(data).attr("data-original-title").slice(0,30000);
				}
				return data;
			}
        }
        }
		}],        
        "columnDefs": [
            {
                "targets": [ 10,16,17,18,19 ],
                "visible": false,
                "searchable": false
            }
        ],
		
        
    });

    $('#closed-ticket-table').dataTable().yadcf([
        {column_number : 7, filter_type: "multi_select", select_type: "chosen"},
    ]); 


    // ticket search click
    $(document).on("click", ".ticket_click", function () {
        c_table
        .column( 0 )
        .search( $(this).text() )
        .draw();
    });

    // ticket search click
    $(document).on("click", ".refresh_click", function () {
        c_table
        .search( '' )
        .columns().search( '' )
        .draw();
    });

    {% endif %}
    
    {% if closed_list.closed_data|length != 0 %}
		var backlog_total_closed_data = {{ closed_list.closed_tickets_count|add:closed_list.open_tickets_count }}
        var backlog_data_closed_data = [
            [{y:0, label: "OoSLA"},
            {y:{{closed_list.SLA1}}, label: "SLA"}],
            [{y:0, label: "OoSLA"},
            {y:{{closed_list.SLA2}}, label: "SLA"}],
            [{y:{{closed_list.OSLA}}, label: "OoSLA"},
            {y:0, label: "SLA"}]
        ];
        console.log(backlog_total_closed_data);
        console.log(backlog_data_closed_data);
        init_chart("reporting-ticket-search-bar-chart",  backlog_data_closed_data, backlog_total_closed_data );
    {% endif %}
    
    {% if close_checkbox and open_checkbox %}
     console.log({{closed_list.open_tickets_count}});
     console.log({{closed_list.closed_tickets_count}});
    var open_tickets_count = {{closed_list.open_tickets_count}};
    var closed_tickets_count = {{closed_list.closed_tickets_count}};
    if (open_tickets_count || closed_tickets_count) {
        init_pie_chart("reporting-ticket-search-pie-chart",open_tickets_count,closed_tickets_count)
    }
    {% endif %}
    
} );

// init chart for pie
function init_pie_chart(chartid, open_tickets_count, closed_tickets_count){
    
   
    
    var piechart = new CanvasJS.Chart(chartid,{
        animationEnabled: true,
        data: [{
            type: "pie",
            startAngle: 240,
            //yValueFormatString: "##0",
            indexLabel: "{label}: {y}",
            dataPoints: [
                {y: open_tickets_count, label: "Open Tickets"},
                {y: closed_tickets_count, label: "Close Tickets"}
            ]
        }],
        
        legend:{
            cursor:"pointer",
            itemclick:function(e) {
                if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible){
                    e.dataSeries.visible = false;
                }
                else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }
        }
    });
    piechart.render();
}

// chart init for barchart
function init_chart(chartid, backlog_data, backlog_total){
    var tot_str = " Ticket";
    if (backlog_total > 1) {
        tot_str = " Tickets";
    }
    
    var chart = new CanvasJS.Chart(chartid,{
        title: {
            text: backlog_total + tot_str
        },
        axisX:{
            gridThickness: 0,
            labelFontStyle: "normal",
            labelFontWeight: "normal",
            labelFontFamily: "Lucida Sans Unicode"
        },
        axisY2:{
            gridColor: "rgba(1,77,101,.1)"
        },
        data: [
        {        
        type: "stackedBar",
        axisYType: "secondary",
        legendText: "SLA1",
        showInLegend: "true",
        color:"green",
        dataPoints: backlog_data[0]
      },
        {        
        type: "stackedBar",
        axisYType: "secondary",
        name: "SLA2",
        showInLegend: "true",
        color:"#F5A52A",
        dataPoints: backlog_data[1]
      },
        {        
        type: "stackedBar",
        axisYType: "secondary",
        name: "OSLA",
        showInLegend: "true",
        color:"#BC5657",
        dataPoints: backlog_data[2]
      }
        ] ,
      animationEnabled: true,
      legend:{
        cursor:"pointer",
        itemclick:function(e) {
          if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible){
            e.dataSeries.visible = false;
          }
          else {
            e.dataSeries.visible = true;
          }
          chart.render();
        }
      }
    });
    chart.render();
}

{% if closed_list.closed_data %}
// onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});

// onclick resolution
$(document).on("click", ".click_resolution", function () {
     var resolution = $(this).text();
console.log(resolution);
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-resolution").html( resolution );
});

// onclick notes
$(document).on("click", ".click_notes", function () {
     var timeline_array = null;
     $('#notes-table').dataTable().fnDestroy();
     var ticket_sla = $(this).attr("value").split("||");
     var ticket_no = ticket_sla[0];
     var sla_date= ticket_sla[1];
     var ticket_seq = $(this).attr("seq")
     $(".modal-header #modal-ticket-no").text( ticket_no );
     var isClosed = ($(this).closest('tr').find('td:nth-child(6)').html() == 'None') ? 'None' : 'True';
     
     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no,
           'ticket_seq' : ticket_seq,
           'isclosed': isClosed
           
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    'async': false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        //console.log(data);
                        timeline_array = data[0];
                        $('#notes-table').DataTable({
                            data: data[1],
                            columns: [
                               { title: "Date" },
                               { title: "From User" },
                               { title: "Action" },
                               { title: "Description" }
                            ]
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    
    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            var row_data = [];
            var len = notes.length;
            console.log(notes);
            var end_time = new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19)));
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            var row_reopened = [];
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=1;
                var reopen_num = 0;
                var reopen_row_str = "Reopened";
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==4){
                        row_num--;
                    }else if(notes[i][3]==11){
                        reopen_num++;
                        row_reopened.push(row_num);
                        if(reopen_num>1){
                            reopen_row_str = reopen_row_str + "+";
                        }
                        row_data.push(['\0',reopen_row_str,new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                        //row_data.push(['Tickets Timeline', notes[i][1],new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19)))]);
                           
                    }else if(notes[i][3]!=4 && notes[i][3]!="HD_CLOSE"){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
				row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
			}
            //console.log(row_data);
            //console.log(row_reopened);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);
            var ht = 100;
            if(row_data.length == 2)
                ht = 135;
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;
            var options = {};
            if(7<time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: {
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                };
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            }

            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
                var container = document.getElementById("notes_time_line");
                var chart = new google.visualization.Timeline(container);
                setTimeout(function(){
                    chart.draw(dataTable, options);
                    mark_line("notes_time_line",'SLA');
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(obj.row == 0){
                    $('.google-visualization-tooltip').css('display', 'none');
                    mark_line('notes_time_line','SLA');
                  }
                  mark_line('notes_time_line','SLA');
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  mark_line('notes_time_line','SLA');
                })
                var str_reopened="Reopened"; 
                for(i=0;i<row_reopened.length;i++){
                    mark_line("notes_time_line",str_reopened);
                    str_reopened=str_reopened+"+";
                }
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(row_reopened.indexOf(obj.row)!=-1){
                    $('.google-visualization-tooltip').css('display', 'none');
                  }
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                       mark_line('notes_time_line', str_reopened);
                       str_reopened=str_reopened+"+";
                  }
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                      mark_line('notes_time_line',str_reopened);
                      str_reopened=str_reopened+"+";
                  }
                })
                },1);
        });
    }

});

function mark_line(div, contain){

//get the height of the timeline div
  var height;
  $('#' + div + ' rect').each(function(index){
    var x = parseFloat($(this).attr('x'));
    var y = parseFloat($(this).attr('y'));

    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
  })

  var nowWord = $('#' + div + ' text:contains('+contain+')');
  if(contain=='SLA'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
  }
  if(contain.startsWith('Reopened')){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '2px').attr('y', '0');
  }
}
{% endif %}

$('#filter-form').on('submit', function() {
    var formAction = $('#filter-form').attr('action');
    if (formAction.indexOf("local_tz") <= 0){
       $('#filter-form').attr('action', formAction + "?local_tz="+local_zone);
    }
});

$('#searchbymonth').on('submit', function() {
    var formAction = $('#searchbymonth').attr('action');
    if (formAction.indexOf("local_tz") <= 0){
       $('#searchbymonth').attr('action', formAction + "?local_tz="+local_zone);
    }
});


//closed group display based on check box
$('#check-tickets-close').change(function() {
    $('#groups_by_closedgroup_form').toggle();
    $('#closeticket-search-date-selector').toggle();
	$('#sla_selection_form').toggle();
   /*if ($(this).prop('checked')) {
        //$('.form-group').style.display = 'block';
		$('#groups_by_closedgroup_form').show();
    } else {
        //$('.form-group').style.display = 'none'
		$('#groups_by_closedgroup_form').hide();
    }*/
  
});
$('#check-tickets-open').change(function() {
    $('#groups_by_assignedgroup_form').toggle();
});


function validateForm(){
    
    var openCheckbox = ($("#check-tickets-open:checked").length > 0);
    var closeCheckbox = ($("#check-tickets-close:checked").length > 0);
    
    var validCheckbox = openCheckbox || closeCheckbox;
	
	
    var openDate = ($("#openticket-daterangepicker").val() != "");
    var closeDate = ($("#closeticket-daterangepicker").val() != "");
	var openGroupFilter = ($("#groups_by_opengroup").children().children(":selected").length > 0 || $("#groups_by_opengroup").children(":selected").length > 0);
	var assignedGroupFilter = ($("#groups_by_assignedgroup").children().children(":selected").length > 0 || $("#groups_by_applications").children(":selected").length > 0);
	var applicationFilter = ($("#groups_by_applications").children(":selected").length > 0);
	var closeGroupFilter = ($("#groups_by_closedgroup").children().children(":selected").length > 0 || $("#groups_by_closedgroup").children(":selected").length > 0);
	
	
	if(openCheckbox && !closeCheckbox){
		// only open selected
		var validDate = openDate
		var validFilter = (openGroupFilter || assignedGroupFilter || applicationFilter);
	}
	else if(!openCheckbox && closeCheckbox){
		// only closed selected
		var validDate = (openDate || closeDate);
		var validFilter = (openGroupFilter || closeGroupFilter || applicationFilter);
	}
	else{
		// open and closed selected
		var validDate = openDate;
		var validFilter = (openGroupFilter || assignedGroupFilter || applicationFilter) && (openGroupFilter || closeGroupFilter || applicationFilter);
	}
	
	if(validCheckbox){
		$("#ticket-status-header").removeClass("mandatory-filter");
	}
	else{
		$("#ticket-status-header").addClass("mandatory-filter");
	}
	
	if(validDate){
		$("#date-range-header").removeClass("mandatory-filter");
	}
	else{
		$("#date-range-header").addClass("mandatory-filter");
	}
	
	if(validFilter){
		$("#filter-header").removeClass("mandatory-filter");
	}
	else{
		$("#filter-header").addClass("mandatory-filter");
	}
   
   /*
    var validFilters = ($("#groups_by_opengroup").children().children(":selected").length > 0 || $("#groups_by_opengroup").children(":selected").length > 0 || $("#groups_by_assignedgroup").children().children(":selected").length > 0 || $("#groups_by_applications").children(":selected").length > 0 || $("#groups_by_closedgroup").children().children(":selected").length > 0 || $("#groups_by_closedgroup").children(":selected").length > 0) ? true : false;
   
    var validDate = false;
    // if open checkbox is checked, open date is mandatory
    if(openCheckbox && !closeCheckbox){
        if(openDate){
            $("#date-range-header").removeClass("mandatory-filter");
            validDate = true;
        }
        else{
            $("#date-range-header").addClass("mandatory-filter");
        }
    }
    else{
        if(openDate || closeDate){
            $("#date-range-header").removeClass("mandatory-filter");
            validDate = true;
        }
        else{
            $("#date-range-header").addClass("mandatory-filter");
        }
    }
    
    $("#ticket-status-header").removeClass("mandatory-filter");
    $("#filter-header").removeClass("mandatory-filter");
        
    if(!validCheckbox){
        $("#ticket-status-header").addClass("mandatory-filter");
    }
    
    if(!validFilters){
        $("#filter-header").addClass("mandatory-filter");
    }
    
    console.log("ticket search validation :: " + (validCheckbox && validFilters && validDate));
    */
    return (validCheckbox && validFilter && validDate);
}

function enableSearchButton(){
    var isValid = validateForm();
    if(!isValid){
        $("#submit").attr("disabled","disabled");
    }
    else{
        $("#submit").removeAttr("disabled");
    }
}

function resetForm(){
    console.log("reset form");
    $("#filter-form").reset()
}

</script>

{% endblock %}