{% extends "layout.html" %}

{% block css %}

{% load assets %}
{% assets "css_cmdb" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

{% assets "css_security" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "css_close" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}


{% endblock %}

{% block content %}
<div id="page-content-wrapper" style="height:100vh;">
    <div class="row">
        <h3 class="page-header text-center"> CMDB Report </h3>
		<div class="col-lg-12">
                <!-- tabs -->
                <ul class="nav nav-tabs" role="tablist" id="cmdb-tabs"> 
              
                    <li class="active"><a href="#cmdbdivtab" group="country" aria-controls="cmdbdivtab" data-toggle="tab" aria-expanded="false">CMDB</a></li>
                    <li class=""><a href="#oneretaildiv" group="supportgroup" aria-controls="oneretaildiv" data-toggle="tab" aria-expanded="true">ONE RETAILS</a></li>
					
                </ul> 
        </div>
		<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="cmdbdivtab">
        <div class="col-lg-7" id="cmdbdiv">
            <div class="row panel panel-success">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag fa-fw"></i> INTEGRITY 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in cmdb_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total</td>
                                            <td id="i{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase" 
                                            {% endif %}
                                            style="padding: 5px;" onclick="loadInformation(this.id)">{{val}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="row panel panel-success">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag-checkered fa-fw"></i> BACKUP
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in backup_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total</td>
                                            <td id="b{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase"
                                            {% endif %}
                                            style="padding: 5px;" onclick="loadInformation(this.id)" >{{val}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="row panel panel-success" style="margin-bottom : 1px;">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag-o fa-fw"></i> MONITORING
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in monitoring_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total </td>
                                            <td id="m{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase"
                                            {% endif %}
                                            style="padding: 5px;" onclick="loadInformation(this.id)">{{val}}  </td>
                                            
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
       </div>
       
       <div class="col-lg-5" id="excludiv">
            <div class="row panel panel-warning " id="panel_exclu">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-times-circle fa-fw"></i> EXCLUSION 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
					<br>
                    <form class="form-inline" id="exclusion" onsubmit="return false" >
					{% csrf_token %}
					
                    <div class="form-group" style="width:95%;margin-left:2.5%;">
                        <select name="exclude_type" id="exclusion_choice" size = "2" onchange="verification()" required>
                             <option value="0">No Location</option>
                             <option value="1">No CI Zone</option>
                             <option value="2">Wrong Status</option>
                             <option value="3">No CI Environement</option>
                             <option value="4">No Configuration Desc</option>
                             <option value="5">No Criticality - No Application Linked</option>
                             <option value="6">No Backup</option>
                             <option value="7">Wrong Backup AS400 Prod</option>
                             <option value="8">Wrong Backup AS400 Non Prod</option>
                             <option value="9">Wrong Backup non AS400 - Datacenter Internal (no Chic)</option>
                             <option value="10">Wrong Backup non AS400 - Datacenter External Chic</option>
                             <option value="11">Wrong Backup non AS400 - NAS & MYITStoreBox</option>
                             <option value="12">Wrong Backup non AS400 - Datacenter External SAP</option>
                             <option value="13">No Monitoring</option>
                             <option value="14">Wrong Monitoring AS400 Production</option>
                             <option value="15">Wrong Monitoring non AS400 - Datacenter Internal (no Chic)</option>
                             <option value="16">Wrong Monitoring non AS400 - Datacenter External Chic</option>
                             <option value="17">Wrong Monitoring non AS400 - NAS</option>
                             <option value="18">Wrong Monitoring non AS400 - Datacenter External SAP</option>
                        </select>
                    </div>
					
					
		        	<br>
					<br>
				    <div class="form-group" style="width:95%;margin-left:2.5%;">	
                    <input type="text" list="device-list" id="exclusion_server" name="exclude_server" class="form-control" style="display:inline-block;float:left;overflow:hidden;" required>
			        <datalist id="device-list">
					</datalist>
				    
                    <button type="submit" class="btn btn-primary" id="submit">Exclude</button>	
			        <!--<center><button id="btns" class="btn btn-primary" style="display:inline-block;min-margin-left:4px;" type="submit" onclick="addRow()">Exclude</button> </center>-->
                    </div>
					
					</form>
					
                    <br>
					<form class="form-table" id="tableForm">
						{% csrf_token %}
						<table id="tab_t">
                            <thead>
                                <tr>
                                    <th class="title_tab" style="background-color:#3498db;">Device name</th>
                                    <th class="title_tab" style="background-color:#3498db;">Exclusion Type</th> 
                                    <th class="title_tab" style="background-color:#3498db;">Enabled</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if exclude_list is not none%}
                                {% for key, value in exclude_list.items %}	
                                    <tr class="trr">
                                        <td>{{ key }}</td>
                                        {% load split %}
                                        <td>{{value.0|split:":"}}</td>
                                        <td>
                                            <center>
                                                <button type="button" id="exclusion_btn" onclick="deleteRow(this)" style="background-color:Transparent;background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;" value="{{key}}||{{value.0|split:":"}}">
                                                    <i class="fa fa-times " aria-hidden="true"></i>
                                                </button>
                                            </center>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
				       	</table>
                   </form>
                   <br><br>
                   {{test}}
                   {{res}}
                </div>
            </div>
		</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="oneretaildiv">
		<div class="col-lg-7" id="cmdbdiv">
            <div class="row panel panel-success">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag fa-fw"></i> INTEGRITY 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in oneretail_integrity_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total</td>
                                            <td id="x{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase" 
                                            {% endif %}
                                            style="padding: 5px;" onclick="oneretailloadInformation(this.id)">{{val}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="row panel panel-success">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag-checkered fa-fw"></i> BACKUP
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in oneretail_backup_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total</td>
                                            <td id="y{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase"
                                            {% endif %}
                                            style="padding: 5px;" onclick="oneretailloadInformation(this.id)" >{{val}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="row panel panel-success" style="margin-bottom : 1px;">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-flag-o fa-fw"></i> MONITORING
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
                {% for title, val in oneretail_monitoring_data.items %}
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;font-size: 12px">
                            <i class="fa fa-table fa-fw"></i> {{title}}
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">Total </td>
                                            <td id="z{{forloop.counter}}" 
                                            {% if val != 0 %}
                                                class="specific totalcase" 
                                            {% else %}
                                                class="totalcase"
                                            {% endif %}
                                            style="padding: 5px;" onclick="oneretailloadInformation(this.id)">{{val}}  </td>
                                            
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
       </div>
	   <div class="col-lg-5" id="oneretail_excludiv">
            <div class="row panel panel-warning " id="panel_exclu">
                <div class="panel-heading" style="padding: 5px;">
                     <i class="fa fa-times-circle fa-fw"></i> EXCLUSION 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding: 2px;">
					<br>
                    <form class="form-inline" id="oneretail_exclusion" onsubmit="return false" >
					{% csrf_token %}
					
                    <div class="form-group" style="width:95%;margin-left:2.5%;">
                        <select name="exclude_type" id="oneretail_exclusion_choice" size = "2" onchange="oneretail_verification()" required>
                             <option value="0">No Location</option>
                             <option value="1">No CI Zone</option>
                             <option value="2">Wrong Status</option>
                             <option value="3">No CI Environement</option>
                             <option value="4">No Configuration Desc</option>
                             <option value="5">No Criticality - No Application Linked</option>
							 <option value="6">No Configuration ID</option>
							 <option value="7">Wrong Configuration ID</option>
							 <option value="8">No Host Function</option>
							 <option value="9">Wrong CI Environment</option>
							 <option value="10">No Technical Leader</option>
							 <option value="11">No Reboot Plan</option>
                             <option value="12">No Backup</option>
                             <option value="13">Wrong Backup ID</option>
                             <option value="14">No Monitoring</option>
                             <option value="15">Wrong Monitoring </option>
                        </select>
                    </div>
					
					
		        	<br>
					<br>
				    <div class="form-group" style="width:95%;margin-left:2.5%;">	
                    <input type="text" list="oneretail_device-list" id="oneretail_exclusion_server" name="oneretail_exclude_server" class="form-control" style="display:inline-block;float:left;overflow:hidden;" required>
			        <datalist id="oneretail_device-list">
					</datalist>
				    
                    <button type="submit" class="btn btn-primary" id="oneretail_submit">Exclude</button>		
                    </div>
					
					</form>
					
                    <br>
					<form class="form-table" id="tableForm">
						{% csrf_token %}
						<table id="tab_to">
                            <thead>
                                <tr>
                                    <th class="title_tab" style="background-color:#3498db;">Device name</th>
                                    <th class="title_tab" style="background-color:#3498db;">Exclusion Type</th> 
                                    <th class="title_tab" style="background-color:#3498db;">Enabled</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if exclude_list_oneretail is not none%}
                                {% for key,value in exclude_list_oneretail.items %}
                                    <tr class="trr">
                                        <td>{{ key }}</td>
                                        <td>{{value.0|split:":"}}</td>
                                        <td>
                                            <center>
                                                <button type="button" id="exclusion_btn" onclick="deleteRow(this)" style="background-color:Transparent;background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;" value="{{key}}||{{value.0|split:":"}}">
                                                    <i class="fa fa-times " aria-hidden="true"></i>
                                                </button>
                                            </center>
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
				       	</table>
                   </form>
                   <br><br>
                   {{test}}
                   {{res}}
                </div>
            </div>
		</div>
		</div>
		</div>
        
    </div>
	
{% endblock %}

{% block js %}
    {% assets "js_close" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
	 
    {% assets "js_cmdb" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %} 
    {% assets "js_datatable" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
	
	<script>
        
        var tables;
        var excludes=[[],[],[],[]];
        var device_list = [];
		var oneretail_device_list = [];
        document.getElementById("submit").disabled = true; 
		document.getElementById("oneretail_submit").disabled = true; 
        // first, it check the select, and then the input
        function verification(){
            if (!$("#exclusion_choice option:selected").length) {
            }else{
                if ($('#exclusion_server').val() != ''){
                    document.getElementById("submit").disabled = false; 
                }   
            }       
        }
        $('#exclusion_server').bind('input', function() { 
            verification();
        });
		        // Exclusion for one retail
        function oneretail_verification(){
            if (!$("#oneretail_exclusion_choice option:selected").length) {
            }else{
                if ($('#oneretail_exclusion_server').val() != ''){
                    document.getElementById("oneretail_submit").disabled = false; 
                }   
            }       
        }
        $('#oneretail_exclusion_server').bind('input', function() { 
            oneretail_verification();
        });
        
        $(document).ready(function() {
        
            $('#excludiv').height($('#cmdbdiv').height());
            $(window).resize(function(){
                $('#excludiv').height($('#cmdbdiv').height());
            });
            
            tables = $('#tab_t').DataTable({
                "lengthMenu": [10,25]
            });
            $('#exclusion_choice').multiselect({buttonWidth: '300px', nonSelectedText: 'Choose Exclusion Type'});
            $(document).on("click", "#submit", function () {
                var res = addRow();
                if (res == true){
                    var csrftoken = "{{ csrf_token }}";
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            }
                        }
                    });
                    $.ajax({
                            url: '{% url 'hygie_portal:exclusion_json' %}',
                            data: $('#exclusion').serialize(),
                            type: 'POST',
                            async: false,
                            success: function(response) {
                                console.log(response);
                                id = "";
                                res = response[0];
                                if ( res <= 5 ){
                                    id = "i"+(res+1);
                                }else if (res <= 12){
                                    id = "b"+(res-5);
                                }else {
                                    id = "m"+(res-12);
                                }
                                if (parseInt(response[1]) == 0){
                                    $("#"+id).removeClass("specific");
                                }
                                document.getElementById(id).innerHTML = ""+response[1]+ "";
                                
                            },
                            error: function(error) {
                                console.log(error);
                            }
                    });
                }
            });
			
			//For one retail
			
			$('#oneretail_excludiv').height($('#oneretaildiv').height());
            $(window).resize(function(){
                $('#oneretail_excludiv').height($('#oneretaildiv').height());
            });
            
            tables = $('#tab_to').DataTable({
                "lengthMenu": [10,25]
            });
						
			$('#oneretail_exclusion_choice').multiselect({buttonWidth: '300px', nonSelectedText: 'Choose Exclusion Type'});
		    $(document).on("click", "#oneretail_submit", function () {
                var res = addRow_oneretail();
                if (res == true){
                    var csrftoken = "{{ csrf_token }}";
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken)
                            }
                        }
                    });
                    $.ajax({
                            url: '{% url 'hygie_portal:oneretail_exclusion_json' %}',
                            data: $('#oneretail_exclusion').serialize(),
							type: 'POST',
                            async: false,
                            success: function(response) {
                                console.log(response);
                                id = "";
                                res = response[0];
                                if ( res <= 11 ){
                                    id = "x"+(res+1);
                                }else if (res <= 13){
                                    id = "y"+(res-11);
                                }else {
                                    id = "z"+(res-13);
                                }
                                if (parseInt(response[1]) == 0){
                                    $("#"+id).removeClass("specific");
                                }
                                document.getElementById(id).innerHTML = ""+response[1]+ "";
                                
                            },
                            error: function(error) {
                                console.log(error);
								console.log(data);
                            }
                    });
                }
            });
			
        });
	  
		function addRow_oneretail(){
			var exclude_server = $('#oneretail_exclusion_server').val();
            var exclude_type = $('#oneretail_exclusion_choice').val();
            if (jQuery.inArray(exclude_server.toLowerCase(),oneretail_device_list) == -1 ){
                swal("Error", "This name does not correspond to any existing devices", "error");
                return false;
            }
            else if (exclude_server != ""){
                //var exclusion_type = {"0":"Wrong Backup non AS400 - Datacenter Internal (no Chic)","1":"Wrong Backup non AS400 - NAS & MYITStoreBox","2":"Wrong Monitoring non AS400 - Datacenter Internal (no Chic)","3":"Wrong Monitoring non AS400 - Datacenter External SAP"}
                //var exclusion_type = {"0":"No Location","1":"No CI Zone","2":"Wrong Status","3":"No CI Environement","4":"No Configuration Desc","5":"No Criticality - No Application Linked","6":"No Backup","7":"Wrong Backup AS400 Prod","8":"Wrong Backup AS400 Non Prod","9":"Wrong Backup non AS400 - Datacenter Internal (no Chic)","10":"Wrong Backup non AS400 - Datacenter External Chic","11":"Wrong Backup non AS400 - NAS & MYITStoreBox","12":"Wrong Backup non AS400 - Datacenter External SAP","13":"No Monitoring","14":"Wrong Monitoring AS400 Production","15":"Wrong Monitoring non AS400 - Datacenter Internal (no Chic)","16":"Wrong Monitoring non AS400 - Datacenter External Chic","17":"Wrong Monitoring non AS400 - NAS","18":"Wrong Monitoring non AS400 - Datacenter External SAP"};
				var exclusion_type = {"0":"No Location","1":"No CI Zone","2":"Wrong Status","3":"No CI Environement","4":"No Configuration Desc","5":"No Criticality - No Application Linked","6":"No Configuration ID","7":"Wrong Configuration ID","8":"No Host Function","9":"Wrong CI Environement","10":"No Technical Leader","11":"No Reboot Plan","12":"No Backup","13":"Wrong Backup ID","14":"No Monitoring","15":"Wrong Monitoring"};
                var input_value = exclude_server +"||" + $('#oneretail_exclusion_choice').val()
                var rowNode = tables.row.add([
                    exclude_server,
                    exclusion_type[exclude_type],
                    "<center><button type='button' id='exclusion_btn' onclick='oneretail_deleteRow(this)' style='background-color:Transparent;background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;' value="+input_value+"><i class='fa fa-times ' aria-hidden='true'></i></button></center>"
                ]).draw(false)
                .node();
                $( rowNode ).find('tr').eq(1).addClass('trr');
            }else {
                return false;
            }
            return true;
		}
		function oneretail_deleteRow(btn) {
            var answer = swal({
              title: "Are you sure?",
              text: "This exclusion will be deleted!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: false
            },
            function(){
                swal("Deleted!", "This exclusion has been deleted.", "success");
                var n1 = $(btn).val();
                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });
                $.ajax({
                        url: '{% url 'hygie_portal:oneretail_delete_json' %}',
                        data: JSON.stringify({'data':n1}),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        async: false,
                        success: function(response) {
                            console.log(response);
                            id = "";
                            res = response[0];
                            if ( res <= 11 ){
                                id = "x"+(res+1);
                            }else if (res <= 13){
                                id = "y"+(res-11);
                            }else {
                                id = "z"+(res-13); //calcul length of table
                            }      
                            document.getElementById(id).innerHTML = ""+response[1];
                            if (parseInt(response[1]) > 0){
                                 $("#"+id).addClass("specific");
                            }
                        },
                        error: function(error) {
                            console.log(error);
                        }
                });
                var row = btn.parentNode.parentNode;
                tables.row($(row).parents('tr') ).remove().draw();
                row.parentNode.removeChild(row);        
            });
		}
		
        var dataList = $('#device-list')[0];
        var input = $('#exclusion_server');

        // Create a new XMLHttpRequest.
        var request = new XMLHttpRequest();

        // Handle state changes for the request.
        request.onreadystatechange = function(response) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              // Parse the JSON
              var jsonOptions = JSON.parse(request.responseText);

              // Loop over the JSON array.
              jsonOptions.forEach(function(item) {
                // Create a new <option> element.
                var option = document.createElement('option');
                // Set the value using the item in the JSON array.
                option.value = item;
                device_list.push((item+"").toLowerCase());
                //console.log(item);
                // Add the <option> element to the <datalist>.
                dataList.appendChild(option);
              });
              // Update the placeholder text.
              input.placeholder = "Exclusion Server";
            } else {
              // An error occured :(
              input.placeholder = "Couldn't load device list options :(";
            }
          }
        };

        // Update the placeholder text.
        input.placeholder = "Loading options...";

        // Set up and make the request.
        request.open('GET', '{% url "hygie_portal:cmdb_json" %}', true);
        request.send();
//Added for cmdb
				function addRow(){
			var exclude_server = $('#exclusion_server').val();
            var exclude_type = $('#exclusion_choice').val();
            if (jQuery.inArray(exclude_server.toLowerCase(),device_list) == -1 ){
                swal("Error", "This name does not correspond to any existing devices", "error");
                return false;
            }
            else if (exclude_server != ""){
                //var exclusion_type = {"0":"Wrong Backup non AS400 - Datacenter Internal (no Chic)","1":"Wrong Backup non AS400 - NAS & MYITStoreBox","2":"Wrong Monitoring non AS400 - Datacenter Internal (no Chic)","3":"Wrong Monitoring non AS400 - Datacenter External SAP"}
                var exclusion_type = {"0":"No Location","1":"No CI Zone","2":"Wrong Status","3":"No CI Environement","4":"No Configuration Desc","5":"No Criticality - No Application Linked","6":"No Backup","7":"Wrong Backup AS400 Prod","8":"Wrong Backup AS400 Non Prod","9":"Wrong Backup non AS400 - Datacenter Internal (no Chic)","10":"Wrong Backup non AS400 - Datacenter External Chic","11":"Wrong Backup non AS400 - NAS & MYITStoreBox","12":"Wrong Backup non AS400 - Datacenter External SAP","13":"No Monitoring","14":"Wrong Monitoring AS400 Production","15":"Wrong Monitoring non AS400 - Datacenter Internal (no Chic)","16":"Wrong Monitoring non AS400 - Datacenter External Chic","17":"Wrong Monitoring non AS400 - NAS","18":"Wrong Monitoring non AS400 - Datacenter External SAP"};
                var input_value = exclude_server +"||" + $('#exclusion_choice').val()
                var rowNode = tables.row.add([
                    exclude_server,
                    exclusion_type[exclude_type],
                    "<center><button type='button' id='exclusion_btn' onclick='deleteRow(this)' style='background-color:Transparent;background-repeat:no-repeat;border:none;cursor:pointer;overflow:hidden;outline:none;' value="+input_value+"><i class='fa fa-times ' aria-hidden='true'></i></button></center>"
                ]).draw(false)
                .node();
                $( rowNode ).find('tr').eq(1).addClass('trr');
            }else {
                return false;
            }
            return true;
		}
		function deleteRow(btn) {
            var answer = swal({
              title: "Are you sure?",
              text: "This exclusion will be deleted!",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "Yes, delete it!",
              closeOnConfirm: false
            },
            function(){
                swal("Deleted!", "This exclusion has been deleted.", "success");
                var n1 = $(btn).val();
                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });
                $.ajax({
                        url: '{% url 'hygie_portal:delete_json' %}',
                        data: JSON.stringify({'data':n1}),
                        contentType: 'application/json;charset=UTF-8',
                        type: 'POST',
                        async: false,
                        success: function(response) {
                            console.log(response);
                            id = "";
                            res = response[0];
                            if ( res <= 5 ){
                                id = "i"+(res+1);
                            }else if (res <= 12){
                                id = "b"+(res-5);
                            }else {
                                id = "m"+(res-12); //calcul length of table
                            }      
                            document.getElementById(id).innerHTML = ""+response[1];
                            if (parseInt(response[1]) > 0){
                                 $("#"+id).addClass("specific");
                            }
                        },
                        error: function(error) {
                            console.log(error);
                        }
                });
                var row = btn.parentNode.parentNode;
                tables.row($(row).parents('tr') ).remove().draw();
                row.parentNode.removeChild(row);        
            });
		}
		
        var dataList = $('#device-list')[0];
        var input = $('#exclusion_server');

        // Create a new XMLHttpRequest.
        var request = new XMLHttpRequest();

        // Handle state changes for the request.
        request.onreadystatechange = function(response) {
          if (request.readyState === 4) {
            if (request.status === 200) {
              // Parse the JSON
              var jsonOptions = JSON.parse(request.responseText);

              // Loop over the JSON array.
              jsonOptions.forEach(function(item) {
                // Create a new <option> element.
                var option = document.createElement('option');
                // Set the value using the item in the JSON array.
                option.value = item;
                device_list.push((item+"").toLowerCase());
                //console.log(item);
                // Add the <option> element to the <datalist>.
                dataList.appendChild(option);
              });
              // Update the placeholder text.
              input.placeholder = "Exclusion Server";
            } else {
              // An error occured :(
              input.placeholder = "Couldn't load device list options :(";
            }
          }
        };

        // Update the placeholder text.
        input.placeholder = "Loading options...";

        // Set up and make the request.
        request.open('GET', '{% url "hygie_portal:cmdb_json" %}', true);
        request.send();
                
        function loadInformation(id_clicked){
            if ($("#"+id_clicked).hasClass("specific")){
                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });
                $.ajax({
                    url: '{% url 'hygie_portal:device_information' %}',
                    data: JSON.stringify({'data':id_clicked}),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    async: false,
                    success: function(response) {
                        var str = "";
                        var tr = "";
                        for (x in response) {
                            str = str + response[x] + "\n";
                            tr = tr + "<tr class='trr'> <td>"+response[x]+"</td> </tr>"
                        } 
                        var tab = "<table id='example' class='display' cellspacing='0' width='100%'> <thead>  <tr><th class='title_tab' style='background-color:#3498db;'>Name</th></tr> </thead> <tbody>"+ tr +"</tbody></table>";
                        
                        pos = parseInt(id_clicked.substr(1)) - 1;
                        if (id_clicked.charAt(0) == 'b'){pos = pos + 6;}
                        else if (id_clicked.charAt(0) == 'm'){ pos = pos + 13; }
                        var exclusion_type = {"0":"No Location","1":"No CI Zone","2":"Wrong Status","3":"No CI Environement","4":"No Configuration Desc","5":"No Criticality - No Application Linked","6":"No Backup","7":"Wrong Backup AS400 Prod","8":"Wrong Backup AS400 Non Prod","9":"Wrong Backup non AS400 - Datacenter Internal (no Chic)","10":"Wrong Backup non AS400 - Datacenter External Chic","11":"Wrong Backup non AS400 - NAS & MYITStoreBox","12":"Wrong Backup non AS400 - Datacenter External SAP","13":"No Monitoring","14":"Wrong Monitoring AS400 Production","15":"Wrong Monitoring non AS400 - Datacenter Internal (no Chic)","16":"Wrong Monitoring non AS400 - Datacenter External Chic","17":"Wrong Monitoring non AS400 - NAS","18":"Wrong Monitoring non AS400 - Datacenter External SAP"};
                        
                        swal({
                          title: ""+exclusion_type[""+pos],
                          text: ""+tab,
                          customClass: 'swalo',
                          html: true
                        });
                        $(document).ready(function() {                            
                            $('#example').DataTable({
                                  "lengthMenu": [10,20]
                            }); 
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        }
				//function for oneretail click details
//#############################
			
        var oneretail_dataList = $('#oneretail_device-list')[0];
        var input = $('#oneretail_exclusion_server');

        // Create a new XMLHttpRequest.
        var oneretail_request = new XMLHttpRequest();

        // Handle state changes for the oneretail_request.
        oneretail_request.onreadystatechange = function(response) {
          if (oneretail_request.readyState === 4) {
            if (oneretail_request.status === 200) {
              // Parse the JSON
              var jsonOptions = JSON.parse(oneretail_request.responseText);

              // Loop over the JSON array.
              jsonOptions.forEach(function(item) {
                // Create a new <option> element.
                var option = document.createElement('option');
                // Set the value using the item in the JSON array.
                option.value = item;
                oneretail_device_list.push((item+"").toLowerCase());
                //console.log(item);
                // Add the <option> element to the <datalist>.
                oneretail_dataList.appendChild(option);
              });
              // Update the placeholder text.
              input.placeholder = "Exclusion Server";
            } else {
              // An error occured :(
              input.placeholder = "Couldn't load device list options :(";
            }
          }
        };

        // Update the placeholder text.
        input.placeholder = "Loading options...";

        // Set up and make the request.
        oneretail_request.open('GET', '{% url "hygie_portal:oneretail_json" %}', true);
        oneretail_request.send();	
		
		function oneretailloadInformation(id_clicked){
            if ($("#"+id_clicked).hasClass("specific")){

                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });
                $.ajax({
                    url: '{% url 'hygie_portal:oneretail_device_information' %}',
                    data: JSON.stringify({'data':id_clicked}),
                    contentType: 'application/json;charset=UTF-8',
                    type: 'POST',
                    async: false,
                    success: function(response) {
                        var str = "";
                        var tr = "";
                        for (x in response) {
                            str = str + response[x] + "\n";
                            tr = tr + "<tr class='trr'> <td>"+response[x]+"</td> </tr>"
                        } 
                        var tab = "<table id='example' class='display' cellspacing='0' width='100%'> <thead>  <tr><th class='title_tab' style='background-color:#3498db;'>Name</th></tr> </thead> <tbody>"+ tr +"</tbody></table>";
                        
                        pos = parseInt(id_clicked.substr(1)) - 1;
                        if (id_clicked.charAt(0) == 'y'){pos = pos + 12;}
                        else if (id_clicked.charAt(0) == 'z'){ pos = pos + 14; }
                        var exclusion_type = {"0":"No Location","1":"No CI Zone","2":"Wrong Status","3":"No CI Environement","4":"No Configuration Desc","5":"No Criticality - No Application Linked","6":"No Configuration ID","7":"Wrong Configuration ID","8":"No Host Function","9":"Wrong CI Environement","10":"No Technical Leader","11":"No Reboot Plan","12":"No Backup","13":"Wrong Backup ID","14":"No Monitoring","15":"Wrong Monitoring"};
                        
                        swal({
                          title: ""+exclusion_type[""+pos],
                          text: ""+tab,
                          customClass: 'swalo',
                          html: true
                        });
                        $(document).ready(function() {                            
                            $('#example').DataTable({
                                  "lengthMenu": [10,20]
                            }); 
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        }
		
	</script>
	
</div>

{% endblock %}

