{% extends "layout.html" %}

{% block css %}  
    {% load assets %}
    {% assets "css_content_management" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

<style>

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
  }
}

.fa-o {
    padding-right: 3px;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 100%;
}
.scrollmargin {
    height: 80px;
    text-align: center;
}

</style>
{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="row" id="control-plan-management-header">
        <div class="col-lg-12">
            <h4 class="center-header">Control Plan Management</h4>
        </div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-default add-control"><i class="fa fa-plus fa-fw" aria-hidden="true"></i> Add Control</button>
        </div>
    </div>
    <div class="row">
        <div id="control-plan-management" class="col-lg-12">
            <div id="mandatory-fields" class="row">
                <div class="col-lg-3">
                    <label>*Control ID</label>
                    <input type="text" id="control-id" name="control_id" class="form-control" value="" />
                </div>
                <div class="col-lg-3">
                    <label>*Category</label>
                    <input type="text" id="control-category" name="control_category" class="form-control" value="" />
                </div>
                <div class="col-lg-3">
                    <label>*Domain</label>
                    <input type="text" id="control-domain" name="control_domain" class="form-control" value="" />
                </div>
                <div class="col-lg-3">
                    <label>*Business Flag</label>
                    <textarea type="text" id="control-businessflag" name="control_businessflag" class="form-control" value="" ></textarea>
                </div>
                <div class="col-lg-12">
                    <label>Last User</label>
                    <input type="text" id="control-lastuser" name="content_lastuser" class="form-control" value="" readonly/>
                </div>
                <div class="col-lg-12">
                    <label>Last Modified</label>
                    <input type="text" id="control-lastupdated" name="content_lastupdated" class="form-control" value="" readonly/>
                </div>
                <div class="col-lg-12">
                	<p><i>* These fields are mandatory</i></p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 tag-center">
                    <button type="submit" class="btn btn-default btn-primary" id="content-management-cancel" onclick="cancelForm()">Cancel</button>
                    <button type="submit" class="btn btn-default btn-primary" id="content-management-save" onclick="saveContentData()">Save</button>
                    <button type="submit" class="btn btn-default btn-primary" id="content-management-delete" onclick="deleteContent()">Delete</button>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}

{% block js %}

{% assets "js_content_management" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=nihbwjp8zrxdtcvguzk29c2i8uk9mdtylpgvr0d5rogr9pv0"></script>

<script>

    
$(document).ready(function(){

    $("#control-management-add").on("click", function(){
        // clear the form
        $("#control-list .button-value").html("Choose Content");
        $("#control-title").val("");
        $("#control-module").multiselect('clearSelection');
        $("#control-description").val("");
        $("#control-lastuser").val("");
        $("#control-lastupdated").val("");
        $("#control-allowedaccess").multiselect('clearSelection');
		tinymce.activeEditor.setContent("")
        
        
        //show form div
        $("#content-management").show();
        
        //hide delete button
        $("#content-management-delete").hide();
    });
    
    // ajax call to retrieve the data for the selected patch and device-list
    $("#content-management-edit").on('click', function(){
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'content_title': $("#content-list .button-value").html()
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url  'hygie_portal:content_edit' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                // populate data in table
                populateContentData(data['content_details']);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    
});

function populateContentData(data){
    //populate fields
    $("#content-id").val(data['id']);
    $("#content-list .button-value").val(data['title']);
    $("#content-title").val(data['title']);
    $("#content-description").val(data['description']);
    $("#content-module").multiselect('select', data['module'].split('|'));
    $("#content-lastuser").val(data['lastuser']);
    $("#content-lastupdated").val(moment.tz(data['lastupdated'], "Europe/Paris").tz(moment.tz.guess()).format("YYYY-MM-DD HH:mm:ss"));
    $("#content-allowedaccess").multiselect('select', data['allowedaccess'].split('|'));
    tinymce.activeEditor.setContent(data['contenttext'])
    
    
    //show form div and delete option
    $("#content-management").show();
    $("#content-management-delete").show();
}

function saveContentData(){
	
    var answer = swal({
            title: "Save this Content?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Save!",
            closeOnConfirm: false
    },
    function(){
    	
    	
    	var savedData = {
    	    "id" : $("#content-id").val(),
	    	"title" : $("#content-title").val(),
	        "description" : $("#content-description").val(),
            "module" : $("#content-module").val().join("|"),
	        "contenttext" : tinymce.activeEditor.getContent(),
	        "lastuser" : '{{user.username}}',
	        "allowedaccess" : $("#content-allowedaccess").val().join("|")
    	};
    	
       
        console.log(savedData);
        
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'content_settings': savedData
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:content_save' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                if(data['status'] == 'ERROR'){ swal("Error!", "There was an error in saving the content", "error"); }
                else{
                	swal(data['status'], "Content has been saved", "success");
                    // update content list dropdown
                    $("#content-management-filters ul.dropdown-menu").empty();
                    $.each(data['content_list'], function(i, content){
                        $("#content-management-filters ul.dropdown-menu").append('<li><a href="#">' + content + '</a></li>');
                    });
                    
                    $("#content-list .button-value").html(savedData["title"]);
                    $("#content-list .button-value").val(savedData["title"]);
                    $("#content-management-filters #content-management-edit").removeAttr("disabled");
                    $("#content-management-delete").show();
                }
            },
            error: function(error) {
            	swal("Error!", "There was an error in saving the content", "error");
                console.log(error);
            }
        });
    });

}

function deleteContent(){
    var answer = swal({
            title: "Delete this content?",
            text: "Please note that the deletion is permanent and cannot be reverted.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Delete!",
            closeOnConfirm: false
    },
    function(){
    
        var data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'content_title': $("#content-title").val()
        }
        
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:content_delete' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                swal("Deleted!", "The content has been deleted.", "success");
                // update campaign list dropdown
                $("#content-management-filters ul.dropdown-menu").empty();
                $.each(data['content_list'], function(i, content){
                    $("#content-management-filters ul.dropdown-menu").append('<li><a href="#">' + content + '</a></li>');
                });
                
                $("#content-list .button-value").html("Choose Content");
                $("#content-management-filters #content-management-edit").attr("disabled","disabled");
                $("#content-management").hide();
            },
            error: function(error) {
                swal("Error", "There was an error. Please contact the TSC Dev Team.", "error");
                console.log(error);
            }
        });
    });
    
}


function cancelForm(){
    //clear form
    $("#content-list .button-value").html("Choose Content");
    $("#content-title").val("");
    $("#content-description").val("");
    $("#content-module").multiselect('clearSelection');
    $("#content-lastuser").val("");
    $("#content-lastupdated").val("");
    $("#content-allowedaccess").multiselect('clearSelection');
    tinymce.activeEditor.setContent("")
    
    //hide form div
    $("#content-management").hide();
    $("#content-management-filters #content-management-edit").attr("disabled","disabled");
}

</script>
{% endblock %}
