{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_control_plan" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="row">
            <div id="current-time-header" class="col-lg-12">
				<p>Last updated: <span id="current-time"></span> <button type="button" class="btn btn-default refresh-page"><i class="fa fa-refresh fa-fw" aria-hidden="true"></i></button></p>
			</div>
			<div class="col-lg-12">
				<nav aria-label="breadcrumb">
                    <ol class="breadcrumb default-color">
                        <li class="breadcrumb-item active">
                            <a title-type="" href="#" class="deactivate-breadcrumb">Control Plan (KO)</a>
                        </li>
                    </ol>
                </nav>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="control-plan-breakdown">
					<div id="accordion" role="tablist"></div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'templatefiles/control_plan.html' %}

{% include 'popup_control_plan.html' %}

{% endblock %}

{% block js %}

{% assets "js_control_plan" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
var isFirefox = typeof InstallTrigger !== 'undefined';

var controlList = {{data|safe}};
dataList = {{data|safe}};
		
$(document).ready(function() {
    initJSHandlers();
	populateBreakdown(controlList, '')

});


</script>

{% endblock %}

