{% extends "layout.html" %}

{% block css %}   
    {% load assets %}  
    {% assets "css_public" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "css_close" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    <!-- Compiled and minified CSS
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
#custom-dashboard-materialize p.indentation-level-1 {
    padding-left: 1%;
}

#custom-dashboard-filters {
    text-align: center;
    padding-bottom: 1%;
}

#custom-dashboard {
    min-height: 800px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 0;
    margin: 0;
    position: relative;
}

#custom-dashboard .alert {
    height: auto;
    width: 100%;
    text-align: center;
}

#custom-dashboard .widget {
    border: 0px;
    position: absolute;
}

#custom-dashboard .ui-icon-gripsmall-diagonal-se {
    bottom: -54px;
    z-index: 0 !important;
}

#custom-dashboard .edit-widget-title {
    float: right;
    padding-top: 3px;
}

#custom-dashboard .widget-title {
    padding-left: 5px;
}

#custom-dashboard .editable-widget-title {
    width: 75%;
    display: inline-block;
}
</style>
{% endblock %}

{% block content %}

{% verbatim %}
<script id="widget-template" type="text/x-handlebars-template">
    <div id="{{widget}}" class="widget" groups="{{selected_team.group}}" team="{{selected_team.team}}" groupname="{{selected_team.groupname}}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw fa-o"></i>
                <span class="widget-title">{{title}}</span>
                <i class="fa fa-pencil edit-widget-title"></i>
            </div>
            <div class="panel-body">
                <div id="{{widget}}-chart"></div>
            </div>
            <div class="panel-footer">
                <a href="{{widgetdetails}}" onclick="location.href=this.href+'?local_tz='+local_zone;return false;" class="btn btn-default btn-block">Details</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</script>
{% endverbatim %}

<div id="page-content-wrapper">
    
    <div class="row" id="custom-dashboard-filters">
        <select name="groups_by_opengroup" id="groups_by_opengroup" multiple="multiple">
            <option value="-1" {% if -1 in open_selected_grp %}selected{% endif %}>OTHERS</option>
        {% for group, grouplist in my_config.TEAMS.items|dictsort:0 %}
           {% load replace %}
	       <optgroup label="{{ group|replace }}">
	           <option  teamname="{{group}}" value="{{'All '|add:group}}" {% if group in open_selected_grp %}selected{% endif %}>{{'All '|add:group|replace}}</option> 
	       {% for t in grouplist %}
	       {% if t.team|length != 0 %}
	           <option teamname="{{group}}" value="{{ t.team }}" {% if t.name in open_selected_grp %}selected{% endif %}>{{ t.name }}</option>
	       {% endif %}
	       {% endfor %}
	       </optgroup>
		{% endfor %}  
        </select> 

        <button class="btn btn-primary" id="apply-changes">Apply Changes</button>
        <button class="btn btn-primary" id="save-settings">Save Settings</button>
    </div>
    <div id="custom-dashboard-filter-error-message">
        <p>You may only select a maximum of 10 groups.</p>
    </div>
    <div class="row loader-container">
        <div class="loader"></div>
    </div>
    <div class="row" id="custom-dashboard-filters-note">
        <p>Note: Any new changes made to the selection will not be available for saving unless the change is applied first.</p>
    </div> 
    <div class="row" id="custom-dashboard">
        
    </div>
</div>

{% endblock %}

{% block js %}

{% assets "js_close" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>

<script src="/static/js/handlebars.js"></script>



<script>

var dashboardData = {{ dashboard_data|safe }};
var openSelectedGroup = {{ open_selected_grp|safe }};
var userWidgetSettings = {{ user_filters_list|safe }};

$(document).ready(function(){
    $('#groups_by_opengroup').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Opened Groups',
        buttonWidth: '200px',
        maxHeight: 500,
        buttonContainer:'<div id="groups_by_opengroup" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#groups_by_opengroup .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#groups_by_opengroup .caret-container').click();
        },
        onChange: function(option, checked){
            var selectedOptions = $('#groups_by_opengroup option:selected');
            if(selectedOptions.length > 10){
                $("#groups_by_opengroup button.multiselect").addClass("multiselect-error");
                $("#custom-dashboard-filter-error-message").show();
            }
            else{
                $("#groups_by_opengroup button.multiselect").removeClass("multiselect-error");
                $("#custom-dashboard-filter-error-message").hide();
            }
            console.log(selectedOptions);
        }
    });
    
    populateWidgets(dashboardData);
    
    $("#apply-changes").on("click", function(e){
        //setTimeout(function(){ $(".loader").show(); }, 1000);
        if($("#groups_by_opengroup option:selected").length > 10){
            $("#groups_by_opengroup button.multiselect").addClass("multiselect-error");
            $("#custom-dashboard-filter-error-message").show();
        }
        else{
            $("#groups_by_opengroup button.multiselect").removeClass("multiselect-error");
            $("#custom-dashboard-filter-error-message").hide();
            $(".loader").show();
            applyChanges();
        }    
    })
    
    $("#save-settings").on("click", function(e){    
        saveSettings();
    })
    
    $(document).on("click", ".edit-widget-title",function() {
        var titleDiv = $(this).parent().find("span");
        var divHtml = titleDiv.html(); // notice "this" instead of a specific #myDiv
        var editableText = $('<input type="text" class="form-control editable-widget-title" />');
        editableText.val(divHtml);
        titleDiv.replaceWith(editableText);
        editableText.focus();
        // setup the blur event for this new textarea
        editableText.blur(editableTextBlurred);
    });
  
});

function editableTextBlurred() {
    var html = $(this).val();
    var viewableText = $('<span class="widget-title">');
    viewableText.html(html);
    $(this).replaceWith(viewableText);
}

// chart init
function init_chart(chartid, title, dataSet){
    
    total_count = 0;
    $.each(dataSet, function(k,v){
        total_count += v["y"];
    });
    
    tot_str = (total_count > 1) ? " Tickets" : " Ticket";
    
    {% if session.view == 'sla' %}
    var chartSettings = {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        credits: {
            enabled: false
        },
        title: {
            text: ""
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    distance: 10
                },
                center: ['50%', '50%']
            }
        },
        series: [{
            name: title,
            colorByPoint: true,
            data: dataSet,
            innerSize: '60%'
        }]
    };
    {% else %}
    var chartSettings = {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        credits: {
            enabled: false
        },
        title: {
            text: ""
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y}</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.y}',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    },
                    distance: 10
                },
                center: ['50%', '50%']
            }
        },
        series: [{
            name: title,
            colorByPoint: true,
            data: dataSet,
            innerSize: '60%'
        }]
    };
    {% endif %}
    
    Highcharts.chart(chartid, chartSettings);
}

function position() {
    $( ".positionable" ).position();
}
    
function populateWidgets(widgetData){
    
    $("#custom-dashboard").empty();
    var source   = document.getElementById("widget-template").innerHTML;
    var template = Handlebars.compile(source);
    
    $.each(widgetData, function(widget, data){
        var groupname = data['groupname'];
        var widgetId = '{{request.user.username}}-' + widget.replace(/\s/g,"").replace(/[^a-zA-Z0-9]/g,'_');
        // use default widget settings
        var settings = {};
        if(userWidgetSettings[widget] == undefined){
            settings = {
                "widget" : widgetId,
                "title" : widget,
                "selected_team" : {
                    "team" : data['team'],
                    "group" : data['group'],
                    "groupname" : groupname
                },
                "chart_size" : {
                    "height" : "250px",
                    "width" : "250px",
                },
                "widget_pos" : {
                    "top" : 0,
                    "left" : 0
                }
            };
            
        }
        else{
            settings = userWidgetSettings[groupname]
            //settings['selected_team'] = JSON.parse(settings['selected_team']);
            //settings['chart_size'] = JSON.parse(settings['chart_size']);
            //settings['widget_pos'] = JSON.parse(settings['widget_pos']);
            settings['selected_team'] = settings['selected_team'];
            settings['chart_size'] = settings['chart_size'];
            settings['widget_pos'] = settings['widget_pos'];
        }
        
        var widgetHtml = template(settings);
        
        $("#custom-dashboard").append(widgetHtml);
        
        //add href for details
        
        $( "#" + widgetId + " .panel-footer a").attr("href", data['details_url'])
        
        $( "#" + widgetId ).css(settings['widget_pos']);
        $( "#" + widgetId + "-chart" ).css(settings['chart_size']);
        
        // fix size of widget if exceeds dashboard size
        if($("#" + widgetId).height() > $("#custom-dashboard").height()){
            $("#" + widgetId).height($("#custom-dashboard").height() - 2);
        } 
        if($("#" + widgetId).width() > $("#custom-dashboard").width()){
            $("#" + widgetId).width($("#custom-dashboard").width() - 2);
        }

        $( "#" + widgetId ).draggable({
            drag: position,
            containment: "parent",
            stop: function( event, ui ) {
                $(this).css("left",parseInt($(this).css("left")) / ($("#custom-dashboard").width() / 100)+"%");
                $(this).css("top",parseInt($(this).css("top")) / ($("#custom-dashboard").height() / 100)+"%");
            }
        });
        
        //$( "#" + widgetId + "-chart" ).empty();
        
        if(data['data'].length > 0){
            $( "#" + widgetId + "-chart" ).removeClass("alert alert-success")
            init_chart(widgetId + "-chart", settings["title"], data['data']);
        }
        else{
            $( "#" + widgetId + "-chart" ).addClass("alert alert-success")
            $( "#" + widgetId + "-chart" ).html("No Backlog");
        }
        
        $( "#" + widgetId + " .panel-body").resizable({
            maxHeight: $("#custom-dashboard").height() - 100,
            minHeight: 175,
            minWidth: 300,
            resize: function( event, ui ) {
                //console.log(ui);
                
                var height = ui.size.height - 30;
                var width = ui.size.width - 30;
                var chart = $( "#" + widgetId + "-chart" ).highcharts();
                $( "#" + widgetId + "-chart" ).height(height - 30);
                $( "#" + widgetId + "-chart" ).width(width - 30);
                if(chart != undefined){
                    $( "#" + widgetId + "-chart" ).hide();
                    chart.setSize(width, height);
                    $( "#" + widgetId + "-chart" ).show();
                }
            }
        });
    });
    
    $(".loader").hide();
    
    //$("#custom-dashboard")
    /*
    $.each(userWidgetSettings, function(widget, settings){
        var widgetId = widget.replace(/\s/g,"");
        $( "#" + widgetId ).css(settings['styles']);
        $( "#" + widgetId + "-chart" ).css(settings['chartStyles']);
        
        $( "#" + widgetId ).draggable({
            drag: position,
            containment: "parent",
            stop: function( event, ui ) {
                $(this).css("left",parseInt($(this).css("left")) / ($("#custom-dashboard").width() / 100)+"%");
                $(this).css("top",parseInt($(this).css("top")) / ($("#custom-dashboard").height() / 100)+"%");
            }
        });
        
        //$( "#" + widgetId + "-chart" ).empty();
        
        if(widgetTestData[widget].length > 0){
            $( "#" + widgetId + "-chart" ).removeClass("alert alert-success")
            init_chart(widgetId + "-chart", settings["title"], widgetTestData[widget]);
        }
        else{
            $( "#" + widgetId + "-chart" ).addClass("alert alert-success")
            $( "#" + widgetId + "-chart" ).html("No Backlog");
        }
        
        $( "#" + widgetId + " .panel-body").resizable({
            resize: function( event, ui ) {
                //console.log(ui);
                
                var height = ui.size.height - 30;
                var width = ui.size.width - 30;
                var chart = $( "#" + widgetId + "-chart" ).highcharts();
                $( "#" + widgetId + "-chart" ).height(height - 30);
                $( "#" + widgetId + "-chart" ).width(width - 30);
                if(chart != undefined){
                    $( "#" + widgetId + "-chart" ).hide(); 
                    chart.setSize(width, height);
                    $( "#" + widgetId + "-chart" ).show();
                }
            }
        });
        
    });
    */
    //$( "#widget-3 .panel").resizable();
    
}

function applyChanges(){
    var teams_list = {};
    $("#groups_by_opengroup").children().children(":selected").each(function(i,team){
        var groupname = $(this).html();
        console.log($(this).val());
        //teams_list.push({"team" : $(this).attr("team") ,"group": JSON.parse($(this).val().replace(/'/g,'"')), "name" : $(this).html()});
        teams_list[groupname] = {
            "selected_team" : { 
                "team" : $(this).attr("teamname"),
                "group": $(this).val().replace(/'/g,'"'),
                "groupname" : groupname
            },
            "title" : groupname
        };
    });
    console.log(teams_list);
    var csrftoken = "{{ csrf_token }}"
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
            $(".loader").show();
        }
    })

    $.ajax({
        url: '{% url 'hygie_portal:custom_dashboard' %}'+'?local_tz='+local_zone,
        data: JSON.stringify(teams_list),
        type: 'POST',
        //'async': false,
        contentType:'application/json;charset=UTF-8',
        dataType: "json",
        //beforeSend: function(){
         //   $(".loader").show();
       // },
        //complete: function(){
        //    $(".loader").hide();
        //},
        success: function(result) {
            console.log(result);
            /** TODO clear old widgets and generate new widgets **/
            dashboardData = result['data']['dashboard_data'];
            populateWidgets(dashboardData);
            //$(".loader, .overlay").hide();
        },
        error: function(error) {
            console.log(error);
            $(".loader").hide();
        }
    });
    //$(".loader, .overlay").hide();
}

function saveSettings(){
    
    // reset all widget settings
    $.each(userWidgetSettings, function(widget, settings){
        userWidgetSettings[widget]['delete'] = 1;
    });
    // update/add new settings
    $("#custom-dashboard .widget").each(function(){
        var widgetId = $(this).attr("id");
        var selectedTeams = {
            "group" : $(this).attr("groups"),
            "team" : $(this).attr("team"),
            "groupname" : $(this).attr("groupname")
        }
        var position = $(this).position();
        // convert the position css from px to percent
        position['top'] = (position['top'] / $("#custom-dashboard").height() * 100) + "%";
        position['left'] = (position['left'] / $("#custom-dashboard").width() * 100) + "%";
        var title = $(this).find(".panel-heading .widget-title").html();
        var chartStyles = {};
        chartStyles["height"] = $(this).find(".panel-body").height() + "px";
        chartStyles["width"] = $(this).find(".panel-body").width() + "px";
        
        var settings = {
            "widget" : widgetId,
            "dashboard" : "Custom Dashboard 1",
            "title" : title,
            "selected_team" : selectedTeams,
            "chart_size" : chartStyles,
            "widget_pos" : position
        };
        
        userWidgetSettings[$(this).attr("groupname")] = settings;
    });
    console.log(userWidgetSettings);
    
    var csrftoken = "{{ csrf_token }}"
    $.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});
    
    $.ajax({
        url: '{% url 'hygie_portal:save_settings' %}'+'?local_tz='+local_zone,
        data: JSON.stringify(userWidgetSettings),
        type: 'POST',
        //'async': false,
        contentType:'application/json;charset=UTF-8',
        dataType: "json",
        success: function(result) {
            console.log(result);
            swal({
                title: "Success!",
                text: "Setting has been saved.",
                icon: "success",
            });
        },
        error: function(error) {
            console.log(error);
            swal({
                title: "Sorry!",
                text: "There was an error saving the settings. Please try again or contact the administrator.",
                icon: "error",
            }); 
        }
    });
}
</script>
{% endblock %}
