{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}
{% load assets %}
{% assets "css_cmdb" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% assets "css_team" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
<div class="container-fluid xyz">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Discrepancy ({{discrepancy_type}})</h2>
        </div>
    </div>
        <!-- /.col-lg-12 -->
		{% if 'Workstation' in discrepancy_type %}
		  <div class="row">
			<div class="panel panel-primary">
				<div class="panel-heading">
					  <i class="fa fa-bar-chart-o fa-fw"></i> Discrepancy Summary
				</div>
				<div class="panel-body">
					<div class="table-responsive">
						<table width="100%" class="table table-bordered table-hover table-striped" id="discrepancy-summary-table">
							<thead>
								<tr>
									<th></th>
									<th>AD</th>
									<th>LD</th>
									<th>KAV</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>EMEA</td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="emea-ad" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="emea-ld" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="emea-kav" class="summary-wks-details"></a></td>
								</tr>
								<tr>
									<td>AMERICAS</td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="americas-ad" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="americas-ld" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="americas-kav" class="summary-wks-details"></a></td>
								</tr>
								<tr>
									<td>APAC</td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="apac-ad" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="apac-ld" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="apac-kav" class="summary-wks-details"></a></td>
								</tr>
								<tr>
									<td>UNKNOWN</td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="unknown-ad" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="unknown-ld" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="unknown-kav" class="summary-wks-details"></a></td>
								</tr>
								<tr>
									<td>WORLDWIDE</td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="worldwide-ad" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="worldwide-ld" class="summary-wks-details"></a></td>
									<td><a href="#" data-toggle="modal" data-target="#summary-wks-list-modal" id="worldwide-kav" class="summary-wks-details"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
          </div>
		{% endif %}
        <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> Discrepancy
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-hover table-striped" id="discrepancy-table">
                        <thead>
                            <tr>
                                <th>Host</th>
                                <th>IP</th>
                                <th>Indicator AD</th>
                                <th>Indicator LD</th>
                                <th>Indicator KAV</th>
                                <th>Indicator DEIS</th>
                                <th>Exception AD</th>
                                <th>Exception LD</th>
                                <th>Exception KAV</th>
                                <th>Comment</th>
								<th>Last User</th>
                                <th>Ticket</th>           
                                <th>Validation</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
            <br/>
            <br/>
            <br/>
        <div class="row"> 
            <div class="panel panel-info">
                <div class="panel-heading">
                     <i class="fa fa-table fa-fw"></i> Exception 
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                     <div class="table-responsive">
                         <table width="100%" class="table table-bordered table-hover table-striped" id="exception-table">
                             <thead>
                             <tr>
                                <th>Host</th>
                                <th>IP</th>
                                <th>Indicator AD</th>
                                <th>Indicator LD</th>
                                <th>Indicator KAV</th>
                                <th>Indicator DEIS</th>
                                <th>Exception AD</th>
                                <th>Exception LD</th>
                                <th>Exception KAV</th>
                                <!--<th>Date</th>-->
                                <th>History</th>
                                <th>Comment</th>
                                <th>Validation</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                         </table>
                </div>
            </div>

        </div>
		
		<div>
			<!-- Modal -->
			<div class="modal fade" id="summary-wks-list-modal" tabindex="-1" role="dialog" aria-labelledby="summary-wks-modal-label">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="summary-wks-modal-label">Discrepancy Workstation List for <span id="summary-modal-ko"></span> in <span id="summary-modal-zone"></h4>
						</div>
						<div class="modal-body">
							<table id="summary-wks-list">
								<thead>
									<th>Workstations</th>
								</thead>
								<tbody id="summary-wks-list-tbody">
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal -->
		</div>
    </div>
	
	
</div>


{% endblock %}

{% block js %}
{% assets "js_cmdb" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% assets "js_team" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

{% include 'templatefiles/security.html' %}

<script>

var code_list = {
	"EU" : "EMEA",
	"CP" : "EMEA",
	
	"AM" : "AMERICAS",
	"NA" : "AMERICAS",
	"US" : "AMERICAS",
	"LA" : "AMERICAS",
	
	"AP" : "APAC",
	"CN" : "APAC",
	"JP" : "APAC",
};

var countArr = {
	"WORLDWIDE" : {
		"ad" : 0,
		"ld" : 0,
		"kav" : 0
	}
};

var wksList = {
	"WORLDWIDE" : {
		"ad" : [],
		"ld" : [],
		"kav" : []
	}
}

$(document).ready(function() {
    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'});

    // initialize tables
    console.log({{discrepancy_device_list|safe}})
	{% if 'Workstation' in discrepancy_type %}
	gen_summarytable();
	{% endif %}
	
    generate_table('discrepancy', {{discrepancy_device_list|safe}});
    generate_table('exception', {{exceptions_list|safe}});
    
    //gen_datatable('discrepancy');
    //gen_datatable('exception');

    /*
    $('#discrepancy-table').dataTable().yadcf([
        {column_number : 0, filter_type: "text",filter_match_mode: "regex", exclude:true},
        {column_number : 1, filter_type: "text",filter_match_mode: "regex", exclude:true},
        {column_number : 6, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 7, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 8, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 9, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 13, filter_type: "text",filter_match_mode: "regex", exclude:true},
    ]);

    $('#exception-table').dataTable().yadcf([
        {column_number : 0, filter_type: "text", filter_match_mode: "regex", exclude:true},
        {column_number : 1, filter_type: "text",filter_match_mode: "regex", exclude:true},
        {column_number : 6, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 7, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 8, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 9, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 13, filter_type: "text",filter_match_mode: "regex", exclude:true},
    ]);
    */

    // get table data
    var table = $('#discrepancy-table').DataTable();

    // checkbox attribute,Modify a cell's content using jQuery and then invalidate the row held by DataTables

    $('#discrepancy-table tbody').on('click', 'input', function () {
        if (this.checked) {
            this.setAttribute("checked","checked");
        } else {
            this.removeAttribute("checked");
        }
        //table.row($(this).parents('tr')).invalidate().draw( false );
    });


    $(document).on("click", '.ticket_status-btn', function (link) {
    
    var workstation = $(this).attr("id");
    var ad = $("#adstatus_"+workstation)[0].textContent;
    var ld = $("#ldstatus_"+workstation)[0].textContent;
    var kav = $("#kasstatus_"+workstation)[0].textContent;
    console.log(workstation);
    console.log(ad);
    console.log(ld);
    console.log(kav);
    
    var answer = swal({
            title: "Ticket creation has been submitted",
            type: "success",
            showCancelButton: false,
            confirmButtonColor: "#DD6B55",
            closeOnConfirm: true
        },
        function(){
            swal("Submitted!", "This validation has been submitted.", "success");
                 ticketstatus(workstation,ad,ld,kav);
        });
       
	});                                                                   
 
    $('#discrepancy-table tbody').on( 'click', 'button', function () {

        var discrepancy_type = "{{discrepancy_type}}";
        var click_button = $(this).text();
        var row = table.row( $(this).parents('tr') );
        var row_data = row.data();
        var comments = $('#'+row_data[0]).val();
        var checked_ad = $('#'+row_data[0]+'_check_ad').is(":checked");
        var checked_ld = $('#'+row_data[0]+'_check_ld').is(":checked");
        var checked_kas = $('#'+row_data[0]+'_check_kas').is(":checked");
		var updateADSummary = false;
		var updateLDSummary = false;
		var updateKAVSummary = false;
        var comments_in_db = "{{discrepancy_device_list}}";

        //var validation_cond = {data[2]:checked_ad,data[3]:checked_ld,data[4]:checked_kas};
        var validation_ad = false;
        if(row_data[2]=="False"){
            if(checked_ad){
               validation_ad= true; 
			   updateADSummary = true;
            } 
        }else{
            validation_ad= true;
        }
        var validation_ld = false;
        if(row_data[3]=="False"){
            if(checked_ld){
               validation_ld= true; 
			   updateLDSummary = true;
            } 
        }else{
            validation_ld= true;
        }
        var validation_kas = false;
        if(row_data[4]=="False"){
            if(checked_kas){
               validation_kas = true; 
			   updateKAVSummary = true;
            } 
        }else{
            validation_kas= true;
        }
        var validation_deis = true;
        if(row_data[5]=="False"&&discrepancy_type=="Server"){
            validation_deis = false;
        }

        if(((checked_ad||checked_ld||checked_kas)||(validation_ad&&validation_ld&&validation_kas))&&comments!=""){
            var answer = swal({
                title: "Submit the validation?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, submit!",
                closeOnConfirm: false
            },
            function(){
                swal("Submitted!", "This validation has been submitted.", "success");
                if(validation_ad&&validation_ld&&validation_kas&&validation_deis){
                    row.remove().draw();
                }
                row_data[5] = row_data[5].replace("label-danger","label-warning");
                row_data[6] = row_data[6].replace("label-danger","label-warning");
                row_data[7] = row_data[7].replace("label-danger","label-warning");
                row_data[13] = row_data[11];
                row_data[14] = row_data[12];
                var d = new Date,
                   dformat = [d.getFullYear(), (d.getMonth()+1).padLeft(), d.getDate().padLeft()].join('-')+' '+ [d.getHours().padLeft(), d.getMinutes().padLeft(), d.getSeconds().padLeft()].join(':');
                
                row_data[11] = dformat;
                row_data[12] = comments + " by " + "{{user.username}}" ;
                //t.row.add(row_data).draw();
                

                // call backend to update or insert exceptions
                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "{% url 'hygie_portal:except_discrepancy' discrepancy_type=discrepancy_type %}",
                    data: JSON.stringify({'data':row_data.slice(0,6),'checks':[checked_ad,checked_ld,checked_kas],'comments':comments, 'tabelid':'discrepancy-table','clickbtn':click_button}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(result) {
                        if(validation_ad&&validation_ld&&validation_kas&&validation_deis){
                            $('#exception-table').DataTable().row.add(result.exception_add_row).invalidate().draw();
							
							//update summary table
							var deviceName = result.exception_add_row[0];
							deviceNameCode = deviceName.substring(2, 4);
							var zone = code_list[deviceNameCode] == undefined ? "UNKNOWN" : code_list[deviceNameCode];
							
							if(updateLDSummary){
								var updatedZoneADCount = parseInt($("#discrepancy-summary-table #"+zone.toLowerCase()+"-ad").html()) - 1;
								$("#discrepancy-summary-table #"+zone.toLowerCase()+"-ad").html(updatedZoneADCount);
								
								var index = $.inArray(deviceName, wksList[zone]["ad"]);
								wksList[zone]["ad"].splice(index, 1);
								
								var updatedWWADCount = parseInt($("#discrepancy-summary-table #worldwide-ad").html()) - 1;
								$("#discrepancy-summary-table #worldwide-ad").html(updatedWWADCount);
								
								var indexWW = $.inArray(deviceName, wksList['WORLDWIDE']["ad"]);
								wksList['WORLDWIDE']["ad"].splice(indexWW, 1);
							}
							if(updateLDSummary){
								var updatedZoneLDCount = parseInt($("#discrepancy-summary-table #"+zone.toLowerCase()+"-ld").html()) - 1;
								$("#discrepancy-summary-table #"+zone.toLowerCase()+"-ld").html(updatedZoneLDCount);
								
								var index = $.inArray(deviceName, wksList[zone]["ld"]);
								wksList[zone]["ld"].splice(index, 1);
								
								var updatedWWLDCount = parseInt($("#discrepancy-summary-table #worldwide-ld").html()) - 1;
								$("#discrepancy-summary-table #worldwide-ld").html(updatedWWLDCount);
								
								var indexWW = $.inArray(deviceName, wksList['WORLDWIDE']["ld"]);
								wksList['WORLDWIDE']["ld"].splice(indexWW, 1);
							}
							if(updateKAVSummary){
								var updatedZoneKAVCount = parseInt($("#discrepancy-summary-table #"+zone.toLowerCase()+"-kav").html()) - 1;
								$("#discrepancy-summary-table #"+zone.toLowerCase()+"-kav").html(updatedZoneKAVCount);
								
								var index = $.inArray(deviceName, wksList[zone]["kav"]);
								wksList[zone]["kav"].splice(index, 1);
								
								var updatedWWKAVCount = parseInt($("#discrepancy-summary-table #worldwide-kav").html()) - 1;
								$("#discrepancy-summary-table #worldwide-kav").html(updatedWWKAVCount);
								
								var indexWW = $.inArray(deviceName, wksList['WORLDWIDE']["kav"]);
								wksList['WORLDWIDE']["kav"].splice(indexWW, 1);
							}
							
                        }
                    }
                })
            });

        }else{
            swal({title:"Error", text:"At least one enabled check boxes should be checked, and comments should not be empty!", type:"error"});
        }
        
        return false;
    } );

    // get exception table data

    // checkbox attribute,Modify a cell's content using jQuery and then invalidate the row held by DataTables

    $('#exception-table tbody').on('click', 'input', function () {
        if($(this).is(':checked')){
            $(this).attr( "checked","checked");
        }else{
            $(this).removeAttr("checked");
        }
        //$('#exception-table').DataTable().row($(this).parents('tr')).invalidate();
    });

    $('#exception-table tbody').on( 'click', 'button', function () {
        var click_button = $(this).text();
        var exception_row = $('#exception-table').DataTable().row($(this).parents('tr'));
        var exception_row_data = exception_row.data();
        var comments = $('#'+exception_row_data[0]).val();
        var checked_ad_exc = $('#'+exception_row_data[0]+'_check_ad_exc').is(":checked");
        var checked_ld_exc = $('#'+exception_row_data[0]+'_check_ld_exc').is(":checked");
        var checked_kas_exc = $('#'+exception_row_data[0]+'_check_kas_exc').is(":checked");

        //var validation_cond = {data[2]:checked_ad,data[3]:checked_ld,data[4]:checked_kas};
        var validation_ad_exc = false;
        if(exception_row_data[2]=="False"){
            if(checked_ad_exc){
               validation_ad_exc= true;
            }
        }else{
            validation_ad_exc= true;
        }
        var validation_ld_exc = false;
        if(exception_row_data[3]=="False"){
            if(checked_ld_exc){
               validation_ld_exc= true;
            }
        }else{
            validation_ld_exc= true;
        }
        var validation_kas_exc = false;
        if(exception_row_data[4]=="False"){
            if(checked_kas_exc){
               validation_kas_exc = true;
            }
        }else{
            validation_kas_exc= true;
        }

        if(!(validation_ad_exc&&validation_ld_exc&&validation_kas_exc) || (checked_ad_exc===false && checked_kas_exc===false && checked_ld_exc===false) && comments!="" || click_button=="Delete"){
            var title = "Submit the validation?";
            var confirmButtonText = "Yes, Submit!";
            if(click_button=="Delete"){
                title = "Delete this exception?";
                confirmButtonText = "Yes, Delete!";
            }
            var answer = swal({
                title: title, 
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: confirmButtonText,
                closeOnConfirm: false
            },
            function(){
                if(click_button=="Validate"){
                    swal("Submitted!", "The validation has been submitted.", "success");
                }else{
                    swal("Deleted!", "This exception has been deleted.", "success");
                }
                exception_row.remove().draw();
                var t = $('#discrepancy-table').DataTable();
                exception_row_data[11] = exception_row_data[13];
                exception_row_data[12] = exception_row_data[14]; 
                //t.row.add(row_data).draw( false );

               // call backend to update or insert exceptions
                var discrepancy_type = "{{discrepancy_type}}";
                var csrftoken = "{{ csrf_token }}";
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "{% url 'hygie_portal:except_discrepancy' discrepancy_type=discrepancy_type %}",
                    data: JSON.stringify({'data':exception_row_data.slice(0,6),'checks':[checked_ad_exc,checked_ld_exc,checked_kas_exc],'comments':comments,'tabelid':'exception-table','clickbtn':click_button}),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(dis_result) {
                        if(click_button=="Validate"){
                            $('#discrepancy-table').DataTable().row.add(dis_result.exception_add_row).invalidate().draw();
                        }
                    }
                })
            });
        }else{
            swal({title:"Error", text:"At least one enabled check box should be unchecked, and comments should not be empty!", type:"error"});
        }
        return false;
    });
    
    $('#discrepancy-summary-table tbody').on( 'click', '.summary-wks-details', function () {
		$("#summary-wks-list-modal #summary-wks-list").DataTable().destroy();
        
		var id = $(this).attr("id").split("-");
		
		$("#summary-wks-list-modal span#summary-modal-zone").html(id[0].toUpperCase());
		$("#summary-wks-list-modal span#summary-modal-ko").html(id[1].toUpperCase());
		
		$("#summary-wks-list-modal #summary-wks-list-tbody").empty();
		
		$.each(wksList[id[0].toUpperCase()][id[1]], function(i, device){
			$("#summary-wks-list-modal #summary-wks-list-tbody").append("<tr><td>" + device + "</td></tr>");
		});
		var title = $("#summary-wks-list-modal span#summary-modal-zone").html() + " - " + $("#summary-wks-list-modal span#summary-modal-ko").html();
		// initialize tables
		$("#summary-wks-list-modal #summary-wks-list").DataTable({
			//orderCellsTop: true,
			dom: 'r<"col-sm-4"l><"col-xs-6 col-sm-4"f><"col-sm-6 col-sm-4 text-right"B><"clearfix">tip',
			buttons: [ {extend: 'excel', title:  title, text: 'Excel',titleAttr: 'Excel', exportOptions: {
				format : {
					header : function (mDataProp, columnIdx) {
						var htmlText = '<span>' + mDataProp + '</span>';
						var jHtmlObject = jQuery(htmlText);
						jHtmlObject.find('div').remove();
						var newHtml = jHtmlObject.text();
						console.log('My header > ' + newHtml);
						return newHtml;
					}
				}
			}
			}]
			
			 
		});
		
	});

});

function generate_table(type, dataSet){

    var tbody_template = Handlebars.compile(document.getElementById(type + "-table-tbody-template").innerHTML);
    
    $.each(dataSet, function(i, row){
        row['adindicator_value'] = (row['adindicator'] === 'True') ? "OK" : "KO";
        row['adindicator_class'] = (row['adindicator'] === 'True') ? "success" : "danger";
        
        row['ldindicator_value'] = (row['ldindicator'] === 'True') ? "OK" : "KO";
        row['ldindicator_class'] = (row['ldindicator'] === 'True') ? "success" : "danger";
        
        row['kasindicator_value'] = (row['kasindicator'] === 'True') ? "OK" : "KO";
        row['kasindicator_class'] = (row['kasindicator'] === 'True') ? "success" : "danger";
        
        row['deisindicator_value'] = (row['deisindicator'] === 'True') ? "OK" : "KO";
        row['deisindicator_class'] = (row['deisindicator'] === 'True') ? "success" : "danger";
        
        if(type==="discrepancy"){
            // to check for i.devicenameticket == i.devicename
            row['devicenameticket_check'] = (row['devicenameticket'] && row['devicenameticket'] == row['devicename']) ? true : false;
        }        
        
        $('#' + type + '-table tbody').append($(tbody_template(row)))
    })
    
    gen_datatable(type)
    
    $('#' + type + '-table').dataTable().yadcf([
        {column_number : 0, filter_type: "text",filter_match_mode: "regex", exclude:true},
        {column_number : 1, filter_type: "text",filter_match_mode: "regex", exclude:true},
        {column_number : 2, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 3, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 4, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 5, data: ["OK", "KO"], filter_default_label: "Select OK/KO"},
        {column_number : 9, filter_type: "text",filter_match_mode: "regex", exclude:true},
    ]);
}

function gen_datatable(table_name){
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
     var file_col = "thead th:not(.noExport)"

    var discrepancy_type = "{{discrepancy_type}}";

    var hide_column = [];

    if(discrepancy_type == "Workstation"){
        hide_column = [1,5]
    }
    var user_role = "{{user.role}}";
    var target;
    if(table_name==="discrepancy" && user_role.indexOf("tsc_manager")===-1){
        target = hide_column.concat([12]);
    }else if(table_name==="exception" && user_role.indexOf("tsc_manager")===-1){
        target = hide_column.concat([11]);
    }else{
        target = hide_column;
    }
    // initialize tables
    $('#'+table_name+'-table').DataTable({
        orderCellsTop: true,
        "order": [[ 0, "asc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {extend: 'excel', title:  'Discrepancy List', text: 'Excel',titleAttr: 'Excel', exportOptions: {columns:file_col,
        format : {
            header : function (mDataProp, columnIdx) {
                var htmlText = '<span>' + mDataProp + '</span>';
                var jHtmlObject = jQuery(htmlText);
                jHtmlObject.find('div').remove();
                var newHtml = jHtmlObject.text();
                return newHtml;
            }
        }
        } }],
        "columnDefs": [{
            "targets":target,
            "visible": false,
            "searchable":false
        }]
    });
}

function showMe(e) {
      $('#nlvcp1202p').value = e.value;
}

function updateText(e){
    var comments = e.value;
    var current_user = "{{user.username}}";
    e.innerHTML = comments + " by " + current_user;
}

Number.prototype.padLeft = function(base,chr){
    var  len = (String(base || 10).length - String(this).length)+1;
    return len > 0? new Array(len).join(chr || '0')+this : this;
}

function stopPropagation(evt) {
    if (evt.stopPropagation !== undefined) {
        evt.stopPropagation();
    } else {
        evt.cancelBubble = true;
    }
}

function gen_summarytable() {
	
	{% for i in discrepancy_device_list %}
		
		var zone = "UNKNOWN";
		var deviceName = '{{i.devicename}}';
		deviceNameCode = deviceName.substring(2, 4);
		if(code_list[deviceNameCode] != undefined){
			zone = code_list[deviceNameCode];
		}
		if(countArr[zone] == undefined){
			countArr[zone] = {
				"ad" : 0,
				"ld" : 0,
				"kav" : 0
			};
		}
		if(wksList[zone] == undefined){
			wksList[zone] = {
				"ad" : [],
				"ld" : [],
				"kav" : []
			};
		}
		
		// AD data	           
		{% if "False" in i.adindicator %}
			countArr[zone]['ad'] += 1;
			countArr["WORLDWIDE"]['ad'] += 1;
			if($.inArray(deviceName, wksList[zone]["ad"]) < 0){
				wksList[zone]["ad"].push(deviceName);
			}
			if($.inArray(deviceName, wksList[zone]["WORLDWIDE"]) < 0){
				wksList["WORLDWIDE"]["ad"].push(deviceName);
			}
		{% endif %}
		
        // LD data	           
		{% if "False" in i.ldindicator %}
			countArr[zone]['ld'] += 1;
			countArr["WORLDWIDE"]['ld'] += 1;
			if($.inArray(deviceName, wksList[zone]["ld"]) < 0){
				wksList[zone]["ld"].push(deviceName);
			}
			if($.inArray(deviceName, wksList[zone]["WORLDWIDE"]) < 0){
				wksList["WORLDWIDE"]["ld"].push(deviceName);
			}
		{% endif %}
		
		// KAV data
		{% if "False" in i.kasindicator %}
			countArr[zone]['kav'] += 1;
			countArr["WORLDWIDE"]['kav'] += 1;
			if($.inArray(deviceName, wksList[zone]["kav"]) < 0){
				wksList[zone]["kav"].push(deviceName);
			}
			if($.inArray(deviceName, wksList[zone]["WORLDWIDE"]) < 0){
				wksList["WORLDWIDE"]["kav"].push(deviceName);
			}
		{% endif %}
		             
    {% endfor %}
	
	$.each(countArr, function(zone, countBreakdown){
		$("#discrepancy-summary-table #"+zone.toLowerCase()+"-ad").html(countBreakdown["ad"]);
		$("#discrepancy-summary-table #"+zone.toLowerCase()+"-ld").html(countBreakdown["ld"]);
		$("#discrepancy-summary-table #"+zone.toLowerCase()+"-kav").html(countBreakdown["kav"]);
	});
	
}

function ticketstatus(workstation, ad, ld, kav) {
	
    var csrftoken = "{{ csrf_token }}";
	
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});

    console.log(workstation);
	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:ticket_status' %}",
		data: JSON.stringify({'workstation':JSON.stringify(workstation), 'ad':JSON.stringify(ad), 'ld':JSON.stringify(ld), 'kav':JSON.stringify(kav)}),
		contentType: 'application/json;charset=UTF-8',
		success: function(result) {
			console.log(result);
		}
	});
    console.log('SEND');
}



</script>

{% endblock %}

