
{% extends "layout.html" %}



{% block css %}
{% load assets %}
{% assets "css_admin" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
{% if user.is_admin %}
<div id="page-content-wrapper">
    <div class="row">
    <div class="col-lg-12">
          <h3 class="page-header">Holidays ICS Upload</h3>
          <div class="well well-sm">Get ICS from : https://www.mozilla.org/en-US/projects/calendar/holidays/</div>
    </div>
    </div>
    <form action="{% url 'hygie_portal:holidays' %}" method=post enctype=multipart/form-data>
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="form-group">
                    <label for="InputFile">ICS File input</label>
                    <input type=file name=file class="form-control">
                </div>
            </div>

            <div class="col-xs-6 col-sm-3">
                <input type=submit value=Upload class="btn btn-primary">
            </div>
        </div>
    </form>

    <div class="row">
    <div class="col-lg-12">
    <h3 class="page-header">Holiday Files</h3>
    <ul>
    {% for d in dir_tree.children %}
        <li>{{d.name}}</li>
    {% endfor %}
    </ul>
    </div>
    </div>


    <div class="row">
    <div class="col-lg-12">
    <h3 class="page-header">Holidays</h3>
        <table width="100%" class="table table-striped table-bordered table-hover" id="members-table">
                        <thead>
                            <tr>
                                <th>UID</th>
                                <th>Summary</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Region</th>
                                <th>Last Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for h in holidays_data %}
                            <tr class="odd gradeX">
                                <td>{{h.uid}}</td>
                                <td>{{h.summary}}</td>
                                <td>{{h.start_date}}</td>
                                <td>{{h.end_date}}</td>
                                <td>{{h.region}}</td>
                                <td>{{h.last_update}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
            </table>

    </div>
    </div>


{% else %}
<div id="page-content-wrapper">
    <div class="row">
    <div class="col-lg-12">

         <div class="alert alert-danger">
          Administrator only page. Please contact TSC Web Application.
         </div>
     </div>
</div>

{% endif %}


{% endblock %}

{% block js %}
  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">
  </script>

{% endblock %}



