{% extends "layout.html" %}
{% load static %}

{% block css %}  
    {% load assets %} 
    {% assets "css_public" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

<style>
//@media (min-width: 768px) {
//  .seven-cols .col-md-1,
//  .seven-cols .col-sm-1,
//  .seven-cols .col-lg-1  {
//    width: 100%;
//  }
//}

//@media (min-width: 992px) {
// .seven-cols .col-md-1,
// .seven-cols .col-sm-1,
//  .seven-cols .col-lg-1 {
//    width: 14.285714285714285714285714285714%;
//  }
//}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
  }
}

.fa-o {
    padding-right: 3px;
}

</style>
{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <!-- Home page for Public Users -->

    <div class="row" id="hygie-home">
        <!--<div id="coach-note" class="col-lg-7 col-md-6">
            <div id="welcome-note"><p>Access your</p><p>favourite</p><p>funtionalities</p><p>here</p></div>
            <div id="welcome-note-arrow"><img src="static/img/note-arrow.png"></div>
        </div>-->
        <div id="welcome-message" class="col-lg-12">
            {% load decode %}
            <p>Hello {{ user.first_name|decode }}! Welcome to Hygie</p> 
            <p><span id="welcome-local-datetime"></span></p>
        </div>
        <div id="welcome-world-clocks" class="col-lg-6">
            <div id="newyork-clock" class="world-clock col-lg-6 col-md-6 col-sm-12">
                <h3>New York</h3>
                <p class="world-time"><span id="welcome-newyork-time"></span></p>
                <p class="world-date"><span id="welcome-newyork-date"></span></p>
                <div class="weather-widget-container">
                    <a class="weatherwidget-io weather-widget" href="https://forecast7.com/en/40d71n74d01/new-york/" data-mode="Current" data-textcolor="#5c5c5c" data-theme="pure" >NEW YORK</a>
                </div>
            </div>
            <div id="paris-clock" class="world-clock col-lg-6 col-md-6 col-sm-12">
                <h3>Paris</h3>
                <p class="world-time"><span id="welcome-paris-time"></span></p>
                <p class="world-date"><span id="welcome-paris-date"></span></p>
                <div class="weather-widget-container">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/48d862d35/paris/" data-mode="Current" data-textcolor="#5c5c5c" data-theme="pure" >PARIS</a>
                </div>
            </div>
            <div id="singapore-clock" class="world-clock col-lg-6 col-md-6 col-sm-12">
                <h3>Singapore</h3>
                <p class="world-time"><span id="welcome-singapore-time"></span></p>
                <p class="world-date"><span id="welcome-singapore-date"></span></p>
                <div class="weather-widget-container">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/1d36103d87/singapore/" data-mode="Current" data-textcolor="#5c5c5c" data-theme="pure" >SINGAPORE</a>
                </div>
            </div>
            <div id="tokyo-clock" class="world-clock col-lg-6 col-md-6 col-sm-12">
                <h3>Tokyo</h3>
                <p class="world-time"><span id="welcome-tokyo-time"></span></p>
                <p class="world-date"><span id="welcome-tokyo-date"></span></p>
                <div class="weather-widget-container">
                    <a class="weatherwidget-io" href="https://forecast7.com/en/35d69139d69/tokyo/" data-mode="Current" data-textcolor="#5c5c5c" data-theme="pure" >TOKYO</a>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
        <div id="welcome-news" class="col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-1 col-sm-10 col-sm-offset-1">
            <div id="home-latest-news"></div>
        </div>
    </div>
    <!-- /.row -->
</div>

{% endblock %}

{% block js %}

{% assets "js_public" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://weatherwidget.io/js/widget.min.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","weatherwidget-io-js");
</script>

<script>
console.log()

$(document).ready(function(){
    
    var content_list = {{content_list|safe}};
    
    $.each(content_list, function(label, data){
        $("#home-latest-news").empty(); 
        $("#home-latest-news").html(data); 
    })
    
    var update = function(){
        $("#welcome-local-datetime").html("Today is " + moment().format('dddd, MMMM Do YYYY, h:mm a'));

        $("#welcome-singapore-time").html(moment().tz("Asia/Singapore").format('h:mm a'));
        $("#welcome-singapore-date").html(moment().tz("Asia/Singapore").format('dddd, MMMM Do, YYYY'));
        
        $("#welcome-paris-time").html(moment().tz("Europe/Paris").format('h:mm a'));
        $("#welcome-paris-date").html(moment().tz("Europe/Paris").format('dddd, MMMM Do, YYYY'));
        
        $("#welcome-newyork-time").html(moment().tz("America/New_York").format('h:mm a'));
        $("#welcome-newyork-date").html(moment().tz("America/New_York").format('dddd, MMMM Do, YYYY'));
        
        $("#welcome-tokyo-time").html(moment().tz("Asia/Tokyo").format('h:mm a'));
        $("#welcome-tokyo-date").html(moment().tz("Asia/Tokyo").format('dddd, MMMM Do, YYYY'));
        
    };
    update();
    setInterval(update, 1000);
    
    $(document).on("toggle", "#menu-toggle-2", function(){
        if($("wrapper").hasClass("toggled-2")){
            $("#coach-note").css("visibility","hidden");
        }
        else{
            $("#coach-note").css("visibility","visible");
        }
    });
    
});
</script>
{% endblock %}
