
{% extends "layout.html" %}

{% block css %}  
    {% load assets %}   
    {% assets "css_home" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

<style>
//@media (min-width: 768px) {
//  .seven-cols .col-md-1,
//  .seven-cols .col-sm-1,
//  .seven-cols .col-lg-1  {
//    width: 100%;
//  }
//}

//@media (min-width: 992px) {
// .seven-cols .col-md-1,
// .seven-cols .col-sm-1,
//  .seven-cols .col-lg-1 {
//    width: 14.285714285714285714285714285714%;
//  }
//}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
  }
}

.fa-o {
    padding-right: 3px;
}

</style>
{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    {% if messages.0 %}
    <div class="row">
      <div class="col-lg-12">
        <div class="alert alert-{{ messages.0.0}}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{messages.0.1}}
        </div><!-- end .alert -->
      </div><!-- end col-md -->
    </div><!-- end row -->
    {% endif %}
    
<!-- insert divs for individual teams in page-content-wrapper -->    
    <ul id="accordion" class="list-unstyled"></ul>

</div>
<!-- /#page-wrapper -->

{% include 'popup_description.html' %}

{% include 'popup_note.html' %}

{% include 'popup_trend.html' %}

{% include 'templatefiles/home.html' %}

{% endblock %}

{% block js %}

{% assets "js_home" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script>

console.log({{backlogs_data|safe}});
console.log({{high_crit_tickets|safe}});
console.log({{team_trends|safe}});


var permission_list = {{my_config.TEAMS|safe}};
var permission_list_keys = Object.keys(permission_list).sort();

var user_state = [];
{% for item in user_state.values %}
user_state.push({{item|safe}});
{% endfor %}
console.log(user_state);

//init templates
var opentickets_table_head_template = Handlebars.compile(document.getElementById("opentickets-table-head-template").innerHTML);
var opentickets_table_body_template = Handlebars.compile(document.getElementById("opentickets-table-body-template").innerHTML);
var opentickets_team_panel_template = Handlebars.compile(document.getElementById("opentickets-team-panel-template").innerHTML);
var donutchart_widget_template = Handlebars.compile(document.getElementById("donutchart-widget-template").innerHTML);

var pdfobj = function ( doc ) {
    doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
};

$(document).ready(function(){
    // table tooltip
    $('[data-toggle="tooltip"]').tooltip();
   
    $(document).on('click', '.team-trend', function(){
        var teamName = $(this).parent()[0].innerText.trim();
        $('#team_trend #modal-team-name').html(teamName);
        
        //ajax call to get the trend data for the subteam clicked
        var teamList = JSON.parse(decodeURIComponent($(this).parent().parent().find(".panel-body a.btn").attr("href").split("/").pop()).trim());
        
        var params = {
            "team_list" : teamList
        };
        var csrftoken = "{{ csrf_token }}";
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:get_team_trends' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(teamList),
            type: 'POST',
            async: false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(result) {
				var trendsDayTableBody = $('#team_trend #trends-table-day tbody');
                var trendsWeekTableBody = $('#team_trend #trends-table-week tbody');
                var trendsMonthTableBody = $('#team_trend #trends-table-month tbody');
				trendsDayTableBody.empty();
                trendsWeekTableBody.empty();
                trendsMonthTableBody.empty();
                var w = 0, m = 0;
                
                $.each(result, function(i, values){
                    //create the first td element: value + trend icon
                    var rowContainer = $('<tr></tr>');
					if(i <= 6){
						var label = "Day D-" + parseInt(i + 1) + " (" + moment().subtract(values['dates'][0], 'days').format("Do MMM YYYY") + ")";
					}
                    else if(i > 6 && i <= 8){
                        var label = "Week W-" + parseInt(w + 1) + " (" + moment().subtract(values['dates'][0], 'days').format("Do MMM YYYY") + '  <span class="date-separator-color">to</span>  ' + moment().subtract(values['dates'][1], 'days').format("Do MMM YYYY") + ")";
						w++;
                    }
                    else{
                        var label = "Month M-" + parseInt(m + 1) + " (" + moment().subtract(values['dates'][0], 'days').format("Do MMM YYYY") + '  <span class="date-separator-color">to</span>  ' + moment().subtract(values['dates'][1], 'days').format("Do MMM YYYY") + ")";
                        m++;
                    }
                    var diffClass = (values['difference'] == 0) ? "" : ((values['difference'] < 0) ? "negative_trend" : "positive_trend");
                    $('<td></td>').html(label).appendTo(rowContainer);
                    $('<td></td>').html(values['incoming']).appendTo(rowContainer);
                    $('<td></td>').html(values['outgoing']).appendTo(rowContainer);
                    $('<td></td>').html(values['difference']).addClass(diffClass).appendTo(rowContainer);
                  
					
                    if(i <= 6){
						rowContainer.appendTo(trendsDayTableBody);
					}
                    else if(i > 6 && i <= 8){
                        rowContainer.appendTo(trendsWeekTableBody);
                    }
                    else{
                        rowContainer.appendTo(trendsMonthTableBody);
                    }
                    
                });
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    
    
    
    /** for each permission,
     *      create a card for each team (combine all proximity data into a nested card)
     *      if high ticket exists
     *          // special case for ams
     *          generate opentickets-table-head-template
     *          foreach row 
     *              generate opentickets-table-body-template
     *          init high table
     *      generate all team donutchart-widget-template
     *      generate individual team donutchart-widget-template
     */
    
    var backlogs_data = {{backlogs_data|safe}};
    var high_tickets = {{high_crit_tickets|safe}};
    var trend_data = {{team_trends|safe}};
    
    //init templates
    var accordion_card_template = Handlebars.compile(document.getElementById("accordion-card-template").innerHTML);
    var accordion_proximity_card_template = Handlebars.compile(document.getElementById("accordion-proximity-card-template").innerHTML);
    
    var wrapper = $("#page-content-wrapper #accordion");
    
    // using user classic dashboard state to populate the dashboard
    $.each(user_state, function(i, details){
    
        var team = details['name'];
        var state = details['state'];
        
        
        // special case for proximity create sub cards
        // create a proxi parent card if doesn't exist
        if(team == "proximity"){
            if(wrapper.find("#proximity_content").length <= 0) {
                var card_settings = {
                    "card_header_id" : "proximity_header",
                    "card_header" : "PROXIMITY",
                    "card_content_id" : "proximity_content",
                    "collapse_card_class" : state ? '' : 'collapsed',
                    "show_card_class" : state ? 'in' : '',
                    "card_arrow" : state ? 'top' : 'bottom',
                    "card_state" : state ? 'true' : 'false'
                };
                $(accordion_proximity_card_template(card_settings)).appendTo(wrapper);
                
                //init arrow change for collapse
                $("#proximity_content").on('show.bs.collapse', function(e){
                    e.stopPropagation();
                    $('#proximity_header span.glyphicon:first').removeClass('glyphicon-triangle-bottom');
                    $('#proximity_header span.glyphicon:first').addClass('glyphicon-triangle-top');
                });
                
                $("#proximity_content").on('hide.bs.collapse', function(e){
                    e.stopPropagation();
                    $('#proximity_header span.glyphicon:first').removeClass('glyphicon-triangle-top');
                    $('#proximity_header span.glyphicon:first').addClass('glyphicon-triangle-bottom');
                });
            }
            return;
        }
        
        // create accordion cards for each team
        var card_settings = {
            "card_header_id" : team + "_header",
            "card_header" : team.toUpperCase().split("_").join(" "),
            "card_content_id" : team + "_content",
            "collapse_card_class" : state ? '' : 'collapsed',
            "show_card_class" : state ? 'in' : '',
            "card_arrow" : state ? 'top' : 'bottom',
            "card_state" : state ? 'true' : 'false'
        };
        
        if(team.split("_")[0] == "proxi"){
            wrapper.find("#proximity_content .card-body:first").append($(accordion_card_template(card_settings)));
        }
        else{
            wrapper.append($(accordion_card_template(card_settings)));
        }
        
        //init arrow change for collapse
        $("#" + team + "_content").on('show.bs.collapse', function(e){
            e.stopPropagation();
            $(this).parent().find('#' + team + '_header span.glyphicon:first').removeClass('glyphicon-triangle-bottom');
            $(this).parent().find('#' + team + '_header span.glyphicon:first').addClass('glyphicon-triangle-top');
        });
        
        $("#" + team + "_content").on('hide.bs.collapse', function(e){
            e.stopPropagation();
            $(this).parent().find('#' + team + '_header span.glyphicon:first').removeClass('glyphicon-triangle-top');
            $(this).parent().find('#' + team + '_header span.glyphicon:first').addClass('glyphicon-triangle-bottom');
        });
        
        if(!(team in backlogs_data) && team != 'proximity') return;
        
        
        
        populateGroupData(team, high_tickets[team], backlogs_data[team], trend_data[team]);
        
    });
    
    
    // SORTABLE LIST
    sortable('#accordion', {
        forcePlaceholderSize: true,
        placeholderClass: 'mb1 bg-navy border border-yellow',
        hoverClass: 'bg-maroon yellow'
    })
    sortable('#proximity_content .card-body', {
        forcePlaceholderSize: true,
        placeholderClass: 'mb1 bg-navy border border-yellow',
        hoverClass: 'bg-maroon yellow'
    })
});

$(document).on('click', '.card-header', function(){
    console.log($(this));
    
    if($(this).find('.btn').attr('aria-expanded') == 'false'){
        // clear the card-body except loader div
        $(this).parent().find('.card-body .row').not('.card-loader').remove();
        return;
    }
    
    var group = $(this).attr("id").split('_header')[0];
    
    if(group == 'proximity') return;
    
    $('#' + group + '_content .card-body .card-loader .loader').show();
    var params = {
        'group' : $(this).attr("id").split('_header')[0]
    }
    
    var csrftoken = "{{ csrf_token }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

    $.ajax({
        url: '{% url 'hygie_portal:classic_dashboard_load_group' %}'+'?local_tz='+local_zone,
        data: JSON.stringify(params),
        type: 'POST',
        async: true,
        contentType:'application/json;charset=UTF-8',
        dataType: "json",
        success: function(result) {
            console.log(result);
            populateGroupData(group, result['high_crit_tickets'][group], result['data'][group], result['team_trends'][group])
            $('#' + group + '_content .card-body .card-loader .loader').hide();
        },
        error: function(error) {
            console.log(error);
        }
    });
    
});

function populateGroupData(team, highTicketData, backlogData, trendData){

    
    
    var card_element = $("#page-content-wrapper #accordion #" + team + "_content .card-body:first");
    
    // generate high tickets table if data exists
    if(highTicketData != undefined && highTicketData.length > 0){
        //generate high tickets panel
        var panel_settings = {
            'panel_color' : 'warning',
            'panel_header' : team.toUpperCase().split("_").join(" ") + ' Critical/High in Progress',
            'panel_icon' : 'fa-warning'
        };
        var panel_element = $(opentickets_team_panel_template(panel_settings));
        
        //generate high tickets table
        var table_header_settings = {
            'team_name' : team,
            'showTeam' : (team == "ams") ? true : false,
            'showGroup' : true
        };
        var hightickets_table_html = opentickets_table_head_template(table_header_settings);
        panel_element.find(".panel-body .col-lg-12").append(hightickets_table_html);
        
        var table_body_element = panel_element.find("tbody");
        //populate data in table
        $.each(highTicketData, function(i, row){
            row['showTeam'] = (team == "ams") ? true : false;
            row['showGroup'] = true;
            var row_element = opentickets_table_body_template(row);
            table_body_element.append(row_element);
        });
        
        panel_element.appendTo(card_element);
        
        // generate dataTable
        
        //var columnTakenBy = (team == "ams") ? 11 : 10;
        //var columnTitle = (team == "ams") ? 13 : 12;
        //var columnsToExport = (team == "ams") ? [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14] : [0,1,2,3,4,5,6,7,8,9,10,11,12,13];
        //var columnsHidden = (team == "ams") ? [14] : [13];
        
        var columnTakenBy = (team == "ams") ? 12 : 11;
        var columnTitle = (team == "ams") ? 14 : 13;
        var columnsToExport = (team == "ams") ? [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15] : [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14];
        var columnsHidden = (team == "ams") ? [15] : [14];
        
        $('#table-' + team).DataTable({
            "order": [[ 4, "asc" ]],
            dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
            buttons: [ {
                extend: 'excel', 
                title:  team.toUpperCase().split("_").join(" ") + ' Critical/High Tickets', 
                text: 'Excel',
                titleAttr: 'Excel', 
                exportOptions : {
                    format : {
                        body: function ( data, row, column, node ) {
                            if(column === 0 && $(data).hasClass("team-ticket-dropdown")){
                                return $(data).find("input").val();
                            }
                            if(column === 1){
                                if(data === '-'){return ''}
                                return $(data)[0].innerText;
                            }
                            if(column === columnTakenBy){
                                var d = data.replace(/\./g, '');
                                if($(d).hasClass("fa-exclamation-triangle")){
                                    return "";
                                }
                            }
                            if(column === columnTitle){
                                return $(data).attr("data-original-title").slice(0,30000);
                            }
                            if(team == "ams" && column === 12){
                                return data.replace(/&amp;/g, '&');
                            }
                            return data;
                        }
                    },
                    columns: columnsToExport
                }
            }],
            columnDefs: [
              { type: 'time-elapsed-dhms', targets: [6,7] },
              { visible: false, searchable: false, targets: columnsHidden}
            ]
        });
        
    }
    
     // generate team chart
    // generate chart template
    {% if request.session.view == 'sla' %}
    var chartType = "doughnut";
    {% else %}
    var chartType = "column";
    {% endif %}
    
    // populate all team chart
    var allTeamContainer = $("<div></div>").addClass("row");
    var total_donut_settings = {};
    total_donut_settings['empty'] = (backlogData['all'].length > 0) ? false : true;
    total_donut_settings['panel_column_class'] = "col-lg-12";
    total_donut_settings['team_name'] = "all-"+team;
    total_donut_settings['panel_header'] = 'All ' + team.toUpperCase().split("_").join(" ") + ' Teams';
    total_donut_settings['panel_icon'] = 'fa-bar-chart-o';
    total_donut_settings['url'] = "/tickets/open/team/all_" + team
    total_donut_settings['panel_color'] = 'default';
    
    var total_team_donut_element = $(donutchart_widget_template(total_donut_settings));
    total_team_donut_element.appendTo(allTeamContainer)
    allTeamContainer.find(".panel-heading .team-trend").remove();
    allTeamContainer.appendTo(card_element);
    
    // populate data
    if(!total_donut_settings['empty']){
        var total_tickets = 0;
        $.each(backlogData['all'], function(k,v){
            total_tickets += v['y'];
        });
        var chartTitle = (total_tickets > 1) ? total_tickets + " Tickets" : total_tickets + " Ticket";
        $("#all-" + team + "-donut-chart").CanvasJSChart({ 
            title: { 
                text: chartTitle
            }, 
            data: [ 
                { 
                    type: chartType, 
                    indexLabel: "{label}: {y}",
                    indexLabelPlacement: "inside",
                    toolTipContent: "{label}: {y}",
                    dataPoints: backlogData['all']
                } 
            ],
            animationEnabled: true,
        });
    }
    
    // populate subteam charts
    var subteamTeamContainer = $("<div></div>").addClass("row").attr("id",team + "-subteam-row");
    subteamTeamContainer.appendTo(card_element);
    subteamTeamRowContainer = $("#" + team + "-subteam-row");
    
    var subteamlist = permission_list[team.toUpperCase()];
    
    $.each(subteamlist, function(i, subteam){
        if(subteam['team'].length <= 0) return;
        var subteam_name = subteam['grp_name'];
        var total_donut_settings = {};
        total_donut_settings['empty'] = (backlogData[subteam['grp_name']].length > 0) ? false : true;
        total_donut_settings['panel_column_class'] = "col-lg-2 col-md-3 col-sm-4 col-xs-6";
        total_donut_settings['team_name'] = subteam['grp_name'];
        total_donut_settings['panel_header'] = subteam['name'];
        total_donut_settings['panel_icon'] = subteam['icon'];
        total_donut_settings['url'] = "/tickets/open/team/" + JSON.stringify(subteam['team']);
        total_donut_settings['panel_color'] = 'default';
        
        var assign_value = 0;
        $.each(subteam['team'], function(i,v){
            assign_value += trendData[v];
        })
        total_donut_settings['trend_class'] = (assign_value == 0) ? "team-trend-neutral" : ((assign_value < 0) ? "team-trend-negative" : "team-trend-positive");
        
        var total_team_donut_element = $(donutchart_widget_template(total_donut_settings));
        total_team_donut_element.appendTo(subteamTeamRowContainer)
        
        // populate data
        if(!total_donut_settings['empty']){
            var total_tickets = 0;
            $.each(backlogData[subteam['grp_name']], function(k,v){
                total_tickets += v['y'];
            });
            var chartTitle = (total_tickets > 1) ? total_tickets + " Tickets" : total_tickets + " Ticket";
            $("#" + subteam['grp_name'] + "-donut-chart").CanvasJSChart({ 
                title: { 
                    text: chartTitle
                }, 
                data: [ 
                    { 
                        type: chartType, 
                        indexLabel: "{label}: {y}",
                        indexLabelPlacement: "inside",
                        toolTipContent: "{label}: {y}",
                        dataPoints: backlogData[subteam['grp_name']]
                    } 
                ],
                animationEnabled: true,
            });
        }
        
    });
    
}

function assignToMe(assignURL){
    if(assignURL == undefined || assignURL == '') return;
    var answer = swal({
        title: "Assign this ticket to yourself?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, Assign!",
        closeOnConfirm: false
    },
    function(){
        myWindow = window.open(assignURL, "myWindow");   // Opens a new window
        if(myWindow){
            setTimeout(function(){ 
                myWindow.close();
                swal("Success!", "This ticket is now assigned to you.", "success");
                window.location.reload();
            }, 3000);
        }
        else{
            swal("Error", "There was an error. Please contact the TSC Team or go to ContactIS directly to assign the ticket to yourself.", "error");
        }   
    });
}

//Sorting with time elapsed dhms for clumn Exp For/Time Remainning and Duration@Group
jQuery.fn.dataTable.ext.type.order['time-elapsed-dhms-pre'] = function(data) {

    var day_res=0;
    var hour_res=0;
    var minute_res=0;
    var second_res=0;
    if(data.indexOf('day,') !==-1){
      data_arr = data.split("day,");
      day_res = data_arr[0].trim();
      time_res = data_arr[1].trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim();
      second_res = time_res[2].trim();
    }else if(data.indexOf('days,') !==-1){
      data_arr = data.split("days,");
      day_res = data_arr[0].trim();
      time_res = data_arr[1].trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim()
      second_res = time_res[2].trim();
    }else{
      time_res = data.trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim();
      second_res = time_res[2].trim();
    }
    var multipliers = {
        s: 1,
        m: 60,
        h: 3600,
        d: 86400
    };

    calculate_res = parseFloat(day_res) * multipliers["d"]+parseFloat(hour_res) * multipliers["h"]+parseFloat(minute_res) * multipliers["m"]+parseFloat(second_res) * multipliers["s"];
    //console.log(calculate_res);
    return parseFloat(day_res) * multipliers["d"]+parseFloat(hour_res) * multipliers["h"]+parseFloat(minute_res) * multipliers["m"]+parseFloat(second_res) * multipliers["s"];
};



// table onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     //console.log($(this).attr("id"));
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});


// onclick notes
$(document).on("click", ".click_notes", function () {
     document.getElementById("notes_time_line").innerHTML = "";
     
	 /*var ticket_sla = $(this).attr("value").split("||");
     var ticket_no = ticket_sla[0];
     $(".modal-header #modal-ticket-no").text( ticket_no );
     var sla_date= ticket_sla[1];
     console.log(sla_date)*/
	 
	 var ticket_no = $(this).attr("ticket-number");
     var sla_date= $(this).attr("due-date");
	 var ticket_seq = $(this).attr("seq");
     
     $(".modal-header #modal-ticket-no").text( ticket_no );

     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no,
		   'ticket_seq': ticket_seq,
           'isclosed': 'None'
        };
        var csrftoken = "{{ csrf_token }}";
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                });

        var timeline_array=null;
        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    async: false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        //console.log(JSON.stringify(data[0]));
                        timeline_array=data[0];
                        $('#notes-table').dataTable().fnDestroy();
                        $('#notes-table').DataTable({
                            data: data[1],
                            columns: [
                               { title: "Date" },
                               { title: "From User" },
                               { title: "Action" },
                               { title: "Description" }
                            ]
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });

    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            var row_data = [];
            var len = notes.length;
            var end_time = new Date();
            var sla_time = new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)));
            if(sla_time-end_time>0){
                end_time = sla_time;
            }
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            console.log(time_delta)
            var row_reopened = 0;
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=0;
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==11){
                        row_reopened = row_num;
                        row_data.push(['\0','Reopened',new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                    }else if(notes[i][3]!=4){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
                row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }
            console.log(row_data);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);

            var ht = 100;
            if(row_data.length == 2)
                ht = 135;
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;
            var options = {};
            if(7<time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: {
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                };
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            };
            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
                var container = document.getElementById("notes_time_line");
                var chart = new google.visualization.Timeline(container);
                setTimeout(function(){
                    chart.draw(dataTable, options);
                    mark_line("notes_time_line",'SLA');
                    google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                        if(obj.row == 0){
                            $('.google-visualization-tooltip').css('display', 'none');
                        }
                        mark_line('notes_time_line','SLA');
                    })
                    google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                        mark_line('notes_time_line','SLA');
                    })
                    mark_line("notes_time_line",'Reopened');
                    google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                        if(obj.row == row_reopened){
                            $('.google-visualization-tooltip').css('display', 'none');
                        }
                        mark_line('notes_time_line','Reopened');
                    })
                    google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                        mark_line('notes_time_line','Reopened');
                    })
                },1);
        });
    }

});
function mark_line(div, contain){

//get the height of the timeline div
  var height;
  $('#' + div + ' rect').each(function(index){
    var x = parseFloat($(this).attr('x'));
    var y = parseFloat($(this).attr('y'));

    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
  })

  var nowWord = $('#' + div + ' text:contains('+contain+')');
  if(contain=='SLA'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
  }
  if(contain=='Reopened'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '1px').attr('y', '0');
  }
}

//$(window).on('beforeunload',function(event){
window.onbeforeunload = onExit;

function onExit(){
    // save user state
    user_state = []
    $('.card-header').each(function(i, element){
        var name = $(element).attr('id').split('_header')[0];
        var state = ($(element).find('.btn').attr('aria-expanded') == "true") ? 1 : 0;
        user_state.push({'name' : name, 'state' : state});
    })
    
    console.log(user_state);
    
    var params = {
        'user_state' : user_state
    }
    
    var csrftoken = "{{ csrf_token }}";
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });

    $.ajax({
        url: '{% url 'hygie_portal:classic_dashboard_state_save' %}'+'?local_tz='+local_zone,
        data: JSON.stringify(params),
        type: 'POST',
        async: false,
        contentType:'application/json;charset=UTF-8',
        dataType: "json",
        success: function(result) {
            console.log(result);
        },
        error: function(error) {
            console.log(error);
        }
    });
    
    
}
</script>


{% endblock %}


