{% extends "layout.html" %}

{% block css %}  
    {% load assets %}
    {% assets "css_public" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}


{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="row" id="oneretail-map">
        <iframe src="{{ url }}"></iframe>
    </div>
</div>

{% endblock %}

{% block js %}

{% assets "js_public" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


{% endblock %}
