{% extends "layout.html" %}

{% block css %}

{% load assets %}
{% assets "css_security" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper" style="height:100vh;">
    <div class="row">
        <h3 class="page-header text-center"> KASPERSKY ANTI-VIRUS DEFINITION UPDATE {% if security_type == 'Kaspersky_SRV' %}Server{% else %}Workstation{% endif %}</h3>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;">
                            <i class="fa fa-table fa-fw"></i> Americas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="americas-wks" style="margin-bottom: 2px;">
                                        <thead>
                                            <tr>
                                            <th style="padding: 5px;">Total</th>
                                            <th style="padding: 5px;">Not Updated > 7 days</th>
                                            <th style="padding: 5px;">Trend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">{{security_microsoft_patch_wks_list.0}}</td>
                                            <td style="padding: 5px;"><a hrref="#" data-toggle="modal" data-target="#security_details" class="click_details" value="Americas">{{security_microsoft_patch_wks_list.1}}</a></td>
                                            {% if security_microsoft_patch_wks_list.8 == 1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-down" style="color:#40bf40;font-size: 18px;"></i></td>
                                            {% elif security_microsoft_patch_wks_list.8 == -1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-up" style="color:#DC143C;font-size: 18px;"></i></td>
                                            {% else %}
                                            <td style="padding: 5px;"><i class="fa fa-arrows-h" style="color:#FFCC00;font-size: 18px;"></i></td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-sm-12 (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;">
                            <i class="fa fa-table fa-fw"></i> EMEA
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="emea-wks" style="margin-bottom: 2px;">
                                        <thead>
                                            <tr>
                                            <th style="padding: 5px;">Total</th>
                                            <th style="padding: 5px;">Not Updated > 7 days</th>
                                            <th style="padding: 5px;">Trend</th>
                                            <!--<th>Detail</th>-->
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">{{security_microsoft_patch_wks_list.2}}</td>
                                            <td style="padding: 5px;"><a hrref="#" data-toggle="modal" data-target="#security_details" class="click_details" value="EMEA">{{security_microsoft_patch_wks_list.3}}</a></td>
                                            {% if security_microsoft_patch_wks_list.9 == 1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-down" style="color:#40bf40;font-size: 18px;"></i></td>
                                            {% elif security_microsoft_patch_wks_list.9 == 1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-up" style="color:#DC143C;font-size: 18px;"></i></td>
                                            {% else %}
                                            <td style="padding: 5px;"><i class="fa fa-arrows-h" style="color:#FFCC00;font-size: 18px;"></i></td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-sm-12 (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;">
                            <i class="fa fa-table fa-fw"></i> Asia
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="asia-wks" style="margin-bottom: 2px;">
                                        <thead>
                                            <tr>
                                            <th style="padding: 5px;">Total</th>
                                            <th style="padding: 5px;">Not Updated > 7 days</th>
                                            <th style="padding: 5px;">Trend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">{{ security_microsoft_patch_wks_list.4 }}</td>
                                            <td style="padding: 5px;"><a hrref="#" data-toggle="modal" data-target="#security_details" class="click_details" value="Asia">{{security_microsoft_patch_wks_list.5}}</a></td>
                                            {% if security_microsoft_patch_wks_list.10 == 1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-down" style="color:#40bf40;font-size: 18px;"></i></td>
                                            {% elif security_microsoft_patch_wks_list.10 == -1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-up" style="color:#DC143C;font-size: 18px;"></i></td>
                                            {% else %}
                                            <td style="padding: 5px;"><i class="fa fa-arrows-h" style="color:#FFCC00;font-size: 18px;"></i></td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-sm-12 (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
            <div id="world-map-statics" style="height:62vh;"></div>
            
                <div class="col-lg-4 security-note">
                   <div class="panel panel-warning" style="margin-bottom: 1px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;">
                            <i class="fa fa-exclamation-circle fa-fw"></i> Notes
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 1px;min-height: 70px;">
                            {% if security_type == "Kaspersky_WKS" %}
                            <p>The number of workstations having the antivirus database updated in less than 7 days</p>
                            <p>Workstations either in discrepancies or in exclusions are not counted in "Total"</p>
                            {% else %}
                            <p>The number of servers having the antivirus database updated in less than 7 days. The exceptions are that All Windows 2000 servers are not counted as they have a non-supported version of Kaspersky and OBS servers as they are installed with Sophos</p>
                            <p>Following servers are excluded from "Total"
                                <ul>
                                    <li>Windows 2000 OS servers (not supported by KAV)</li>
                                    <li>CHIC OBS managed servers (using Sophos AV)</li>
                                    <li>Servers that are either in discrepancies or in exclusions</li>
                                </ul>
                            </p>
                            {% endif %}
                        </div>
                   </div>

                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info" style="margin-bottom: 5px;">
                        <div class="panel-heading" style="padding: 5px 8px 5px 8px;">
                            <i class="fa fa-table fa-fw"></i> Worldwide
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" style="padding: 2px;">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped" id="worldwide-wks" style="margin-bottom: 2px;">
                                        <thead>
                                            <tr>
                                            <th style="padding: 5px;">Total</th>
                                            <th style="padding: 5px;">Not Updated > 7 days</th>
                                            <th style="padding: 5px;">Trend</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td style="padding: 5px;">{{security_microsoft_patch_wks_list.6}}</td>
                                            <td style="padding: 5px;"><a hrref="#" data-toggle="modal" data-target="#security_details" class="click_details" value="Worldwide">{{security_microsoft_patch_wks_list.7}}</a></td>
                                            {% if security_microsoft_patch_wks_list.11 == 1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-down" style="color:#40bf40;font-size: 18px;"></i></td>
                                            {% elif security_microsoft_patch_wks_list.11 == -1 %}
                                            <td style="padding: 5px;"><i class="fa fa-arrow-circle-up" style="color:#DC143C;font-size: 18px;"></i></td>
                                            {% else %}
                                            <td style="padding: 5px;"><i class="fa fa-arrows-h" style="color:#FFCC00;font-size: 18px;"></i></td>
                                            {% endif %}
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.col-sm-12 (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <div class="col-lg-4"></div>
        </div>
    </div>
</div>

{% include 'popup_kaspersky.html' %}

{% endblock %}

{% block js %}

{% assets "js_security" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">
 /**
 * Create a map
 */

var totalWKSAmericas = parseInt('{{security_microsoft_patch_wks_list.0}}');
var patchRequiredWKSAmericas = parseInt('{{security_microsoft_patch_wks_list.1}}');
var patchedWKSAmericas = totalWKSAmericas - patchRequiredWKSAmericas;
var totalWKSEurope = parseInt('{{security_microsoft_patch_wks_list.2}}');
var patchRequiredWKSEurope = parseInt('{{security_microsoft_patch_wks_list.3}}');
var patchedWKSEurope = totalWKSEurope - patchRequiredWKSEurope;
var totalWKSAsia = parseInt('{{security_microsoft_patch_wks_list.4}}');
var patchRequiredWKSAsia = parseInt('{{security_microsoft_patch_wks_list.5}}');
var patchedWKSAsia = totalWKSAsia - patchRequiredWKSAsia;
var totalWKSWorldwide = totalWKSAmericas + totalWKSEurope + totalWKSAsia;
var patchRequiredWKSWorldwide = patchRequiredWKSAmericas + patchRequiredWKSEurope + patchRequiredWKSAsia;
var patchedWKSWorldwide = totalWKSWorldwide - patchRequiredWKSWorldwide;
var isFirefox = typeof InstallTrigger !== 'undefined';

var security_type = "{{security_type}}";

var security_type_flag;

if(security_type=="Kaspersky_SRV"){
    security_type_flag = "Server";
}else{
    security_type_flag = "WKS";
}

var map = AmCharts.makeChart("world-map-statics", {
  "type": "map",
  "theme": "light",
  "projection": "winkel3",

  /**
   * Data Provider
   * The images contains pie chart information
   * The handler for `positionChanged` event will take care
   * of creating external elements, position them and create
   * Pie chart instances in them
   */
  "dataProvider": {
    "map": "worldHigh",
    "images": [{
      "title": "",
      "latitude": 39.563353,
      "longitude": -99.316406,
      "width": 250,
      "height": 250,
      "pie": {
        "type": "pie",
        "allLabels": [{
            "text": "AMERICAS",
            "align": "center",
            "bold": true,
            "y": 120
        }],
        "pullOutRadius": 0,
        "labelRadius": 0,
		"radius": "20%",
        "dataProvider": [{
          "category": "Patched "+security_type_flag,
          "value": patchedWKSAmericas
        }, {
          "category": "Patch Required "+security_type_flag,
          "value": patchRequiredWKSAmericas
        }],
        "labelText": "[[percents]]%",
        "valueField": "value",
        "titleField": "category"
      }
    }, {
      "title": "",
      "latitude": 50.896104,
      "longitude": 19.160156,
      "width": 250,
      "height": 250,
      "pie": {
        "type": "pie",
        "allLabels": [{
            "text": "EMEA",
            "align": "center",
            "bold": true,
            "y": 120
        }],
        "pullOutRadius": 0,
        "labelRadius": 0,
		"radius": "20%",
        "dataProvider": [{
          "category": "Patched "+security_type_flag,
          "value": patchedWKSEurope
        }, {
          "category": "Patch Required "+security_type_flag,
          "value": patchRequiredWKSEurope
        }],
        "labelText": "[[percents]]%",
        "valueField": "value",
        "titleField": "category"
      }
    }, {
      "title": "",
      "latitude": 23.5498,
      "longitude":131.1338,
      "width": 250,
      "height": 250,
      "pie": {
        "type": "pie",
        "allLabels": [{
            "text": "ASIA",
            "align": "center",
            "bold": true,
            "y": 120
        }],
        "pullOutRadius": 0,
        "labelRadius": 0,
		"radius": "20%",
        "dataProvider": [{
          "category": "Patched "+security_type_flag,
          "value": patchedWKSAsia
        }, {
          "category": "Patch Required "+security_type_flag,
          "value": patchRequiredWKSAsia
        }],
        "labelText": "[[percents]]%",
        "valueField": "value",
        "titleField": "category"
      }
    }, {
      "title": "",
      "latitude": -36.4796,
      "longitude":-23.7416,
      "width": 250,
      "height": 250,
      "pie": {
        "type": "pie",
        "allLabels": [{
            "text": "WORLDWIDE",
            "align": "center",
            "bold": true,
            "y": 120
        }],
        "pullOutRadius": 0,
        "labelRadius": 0,		
		"radius": "30%",
        "dataProvider": [{
          "category": "Patched "+security_type_flag,
          "value": patchedWKSWorldwide
        }, {
          "category": "Patch Required "+security_type_flag,
          "value": patchRequiredWKSWorldwide
        }],
        "labelText": "[[percents]]%",
        "valueField": "value",
        "titleField": "category"
      }
    }]
  },
    "zoomControl": {
		"zoomControlEnabled": false,
        "panControlEnabled": false,
        "maxZoomLevel":1,
	},
    "zoomOnDoubleClick":false,
  /**
   * Add event to execute when the map is zoomed/moved
   * It also is executed when the map first loads
   */
  "listeners": [{
    "event": "positionChanged",
    "method": updateCustomMarkers
  }]
});

/**
 * Creates and positions custom markers (pie charts)
 */
function updateCustomMarkers(event) {
  // get map object
  var map = event.chart;

  // go through all of the images
  
    for (var x = 0; x < 4; x++) {

      // get MapImage object
      var image = map.dataProvider.images[x];

      // Is it a Pie?
      if (image.pie === undefined) {
        continue;
      }

      // create id
      if (image.id === undefined) {
        image.id = "amcharts_pie_" + x;
      }
      // Add theme
      if ("undefined" == typeof image.pie.theme) {
        image.pie.theme = map.theme;
      }

      // check if it has corresponding HTML element
      if ("undefined" == typeof image.externalElement) {
        image.externalElement = createCustomMarker(image);
      }
      if(document.getElementById(image.id).style.width=="0px"){
        document.getElementById(image.id).style.width="220px";
        document.getElementById(image.id).style.height="220px";
      }
      // reposition the element accoridng to coordinates
      var xy = map.coordinatesToStageXY(image.longitude, image.latitude);
      image.externalElement.style.top = xy.y + "px";
      image.externalElement.style.left = xy.x + "px";
      image.externalElement.style.marginTop = Math.round(image.height / -2) + "px";
      image.externalElement.style.marginLeft = Math.round(image.width / -2) + "px";
    }
  
    for (var x = 4; x < map.dataProvider.images.length; x++) {
      var image = map.dataProvider.images[x];        
      hideAreaImage(image);
    }
}

/**
 * Creates a custom map marker - a div for container and a
 * pie chart in it
 */
function createCustomMarker(image) {

  // Create chart container
  var holder = document.createElement("div");
  holder.id = image.id;
  holder.title = image.title;
  holder.style.position = "absolute";
  holder.style.width = image.width + "px";
  holder.style.height = image.height + "px";

  // Append the chart container to the map container
  image.chart.chartDiv.appendChild(holder);

  // Create a pie chart
  var chart = AmCharts.makeChart(image.id, image.pie);

  return holder;
}

function hideAreaImage(image) {
    // Create chart container
    if(image.id !=undefined){
        var holder = document.getElementById(image.id);
        holder.style.width=0;
        holder.style.height=0;
        return holder;
    }
}

//get details for to be updated wks
// onclick details
$(document).on("click", ".click_details", function () {    
    $('#details-table').dataTable().fnClearTable();
    $('#details-table').dataTable().fnDraw();
    $('#details-table').dataTable().fnDestroy();
    var region = $(this).attr("value");
    $(".modal-header #modal-ticket-no").text(region);

    data = {
       'csrf_token': '{{ csrf_token }}',
       'csrftoken': '{{ csrf_token }}',
       'region': region
    }
    var csrftoken = "{{ csrf_token }}"
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    })

    {% with security_type=security_type %}
    $.ajax({
        url: '{% url 'hygie_portal:security_details' security_type=security_type %}'+'?local_tz='+local_zone,
        data: JSON.stringify(data, null, '\t'),
        type: 'POST',
        'async': false,
        contentType:'application/json;charset=UTF-8',
        dataType: "json",
        success: function(data) {
            datatable_details=data['security_details'];
            $('#details-table').DataTable({
                data: data['security_details'],
                columns: [
                   { title: "HostName" },
                   { title: "Version" },
                   { title: "Virus Defintion Date" },
                   { title: "Group Name" },
                ],
                dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"row table-fix"t>i<"legend">p',
                buttons: [
                    {extend: 'excel', title: 'Security Details', text: 'Excel', titleAttr: 'Excel'},
                    //'pdfHtml5'
                ],
            });
        },
        error: function(error) {
            console.log(error);
        }
    });
    {% endwith %}
});


</script>

{% endblock %}

