
{% extends "layout.html" %}



{% block css %}
{% load assets %}
{% assets "css_admin" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
{% if user.is_admin %}
<div id="page-content-wrapper">
    <div class="row">
    <div class="col-lg-12">
          <h3 class="page-header">Members</h3>
    </div>
    </div>

    <div class="row">
    <div class="col-lg-12">
    <div class="table-responsive">
        <table width="100%" class="table table-striped table-bordered table-hover" id="members-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Lastname</th>
                                <th>Created</th>
                                <th>Admin</th>
                                <th>Last Update</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% load decode %}
                            {% for m in members %}
                            <tr class="odd gradeX">
                                <td>{{m.id}}</td>
                                <td>{{m.username}}</td>
                                <td>{{m.email|decode}}</td>
                                <td>{{m.first_name|decode}}</td>
                                <td>{{m.last_name|decode}}</td>
                                <td>{{m.date_joined|date:"Y-m-d h:i:s"}}</td>
                                <td>{{m.is_admin|yesno:"True,False"}}</td>
                                <td>{{m.last_login|date:"Y-m-d h:i:s"}}</td>
                                <td>{{m.role}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
            </table> 
    </div>
    </div>
    </div>
</div>
{% else %}
<div id="page-content-wrapper">
    <div class="row">
    <div class="col-lg-12">

         <div class="alert alert-danger">
          Administrator only page. Please contact TSC Web Application.
         </div>
     </div>
</div>

{% endif %}


{% endblock %}

{% block js %}
  {% assets "js_admin" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}

  <script type="text/javascript">
  $(document).ready(function() {


    var m_table = $('#members-table').DataTable({
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"row table-fix"t>i<"legend"><"text-center"p>',
        buttons: ['excel'],
    });
  });
  </script>

{% endblock %}



