{% extends "layout.html" %}


{% block css %}

{% load assets %}
{% assets "css_search" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>
.open_ticket_row {
    background-color: #e6ecff !important;
}
.close_ticket_row {
    background-color: #ccd9ff !important;
}
.legend {
    padding: 5px;
    color: #909090;
    float: left;
}

</style>

{% endblock %}

{% block content %}
<div id="page-content-wrapper" style="height:100vh;">

    <div class="row">
    <div class="col-lg-12">
          <h3 class="page-header text-center">Patch Search Detail Results</h3>
    </div>
    <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
    <div class="col-lg-12">
    <div style="margin-top:10px"></div>
    <div class="table-responsive">
         <table width="100%" class="table table-striped table-bordered table-hover" id="patch-search-detail-table">
             <thead>
                     <tr>
                        <th>DeviceName</th>
                        <th>LoginName</th>
                        <th>Computer_Type</th>
                        <th>ComputerLocation</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>SerialNum</th>
                        <th>Memory_Bytes</th>
                        <th>Processor_Type</th>
                        <th>OSType</th>
                        <th>IP_Address</th>
                        <th>LastBootUpTime</th>
                        <th>Last Vulnerability Scan Date</th>
                        <th>Last Scan Date</th>
                        <th>Last Security Scan Date</th>
                        <th>Last Policy Scan Date</th>
                        <th>Last Update Inventory Server</th>
                        <th>Last Logon Date Record</th>
                        <th>Creation Date</th>
                     </tr>
             </thead>
             <tbody>
             {% for pdsr in patch_detail_search_result %}
                     <tr class="odd gradeX">
                             <td>{{pdsr.0}}</td>
                             <td>{{pdsr.1}}</td>
                             <td>{{pdsr.2}}</td>
                             <td>{{pdsr.3}}</td>
                             <td>{{pdsr.4}}</td>
                             <td>{{pdsr.5}}</td>
                             <td>{{pdsr.6}}</td>
                             <td>{{pdsr.7}}</td>
                             <td>{{pdsr.8}}</td>
                             <td>{{pdsr.9}}</td>
                             <td>{{pdsr.10}}</td>
                             <td>{{pdsr.11}}</td>
                             <td>{{pdsr.12}}</td>
                             <td>{{pdsr.13}}</td>
                             <td>{{pdsr.14}}</td>
                             <td>{{pdsr.15}}</td>
                             <td>{{pdsr.16}}</td>
                             <td>{{pdsr.17}}</td>
                             <td>{{pdsr.18}}</td>
                     </tr>
             {% endfor %}
             </tbody>
         </table>
    </div>
    <!-- /.table-responsive -->

    </div>
    </div>
    <!-- /.row -->


</div>

{% if ticket %}

    {% include 'popup_description.html' %}

    {% include 'popup_resolution.html' %}

    {% include 'popup_note.html' %}

{% endif %}

{% endblock %}

{% block js %}


{% assets "js_search" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script type="text/javascript">

$(document).ready(function() {


    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'});


    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
    var file_col = "thead th:not(.noExport)"

    var filterName = "{{filterName}}";
    var c_table = $('#patch-search-detail-table').DataTable({
        "order": [[ 0, "asc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"row table-fix"t>i<"legend">p',
        buttons: [{extend: 'excel', title:  'Patch Search Details', text: 'Excel',titleAttr: 'Excel'}],
        columnDefs : [
            { targets : [0],
                render : function(data) {
                    return '<a href="{% url 'hygie_portal:patch_device_info' security_type=security_type %}'+'?DeviceName='+data+'&filterName='+filterName+'" target_blank>'+data+'</a>'
                } 
            }
       ]

    });

//    $('.legend').append("<table><tr><td class='open_ticket_row legend'>open</td><td class='close_ticket_row legend'>closed</td></tr></table>")


    // ticket search click
    $(document).on("click", ".ticket_click", function () {
        c_table
        .column( 0 )
        .search( $(this).text() )
        .draw();
    });

    // ticket search click
    $(document).on("click", ".refresh_click", function () {
        c_table
        .search( '' )
        .columns().search( '' )
        .draw();
    });

} );

{% if ticket %}

// onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});

// onclick resolution
$(document).on("click", ".click_resolution", function () {
     var resolution = $(this).text();
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-resolution").html( resolution );
});

// onclick notes
$(document).on("click", ".click_notes", function () {
     var timeline_array = null;
     $('#notes-table').dataTable().fnDestroy();
     var ticket_sla_close = $(this).attr("value").split("||");
     var ticket_no = ticket_sla_close[0];
     var sla_date= ticket_sla_close[1];
     var close_date= ticket_sla_close[2];
     $(".modal-header #modal-ticket-no").text( ticket_no );

     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no
           'isclosed': 'None'
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    'async': false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        //console.log(data);
                        timeline_array = data[0];
                        $('#notes-table').DataTable({
                            data: data[1],
                            columns: [
                               { title: "Date" },
                               { title: "Action" },
                               { title: "Note" },
                               { title: "Staff" }
                            ]
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            var row_data = [];
            var len = notes.length;
            var end_time = new Date();
            if(close_date != "None"){
                end_time = new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19)));
            }
            var sla_time = new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)));
            if(sla_time-end_time>0){
                end_time = sla_time;
            } 
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            var row_reopened = [];
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=1;
                var reopen_num = 0;
                var reopen_row_str = "Reopened";
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==4){
                        row_num--;
                    }else if(notes[i][3]==11){
                        reopen_num++;
                        row_reopened.push(row_num);
                        if(reopen_num>1){
                            reopen_row_str = reopen_row_str + "+";
                        }
                        row_data.push(['\0',reopen_row_str,new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                    }else if(notes[i][3]!=4){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
                if(notes[len-1][3]!='4'){
                    row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
                }
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                if(notes[len-1][3]!='4'){
                    row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
                }
            }
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);
            var ht = 100;
            if(row_data.length == 2)
                ht = 135; 
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;

            var options = {};
            if(7<=time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: {
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                };
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            }
            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
                var container = document.getElementById("notes_time_line");
                var chart = new google.visualization.Timeline(container);
                setTimeout(function(){
                    chart.draw(dataTable, options);
                    mark_line("notes_time_line",'SLA');
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(obj.row == 0){
                    $('.google-visualization-tooltip').css('display', 'none');
                    mark_line('notes_time_line','SLA');
                  }
                  mark_line('notes_time_line','SLA');
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  mark_line('notes_time_line','SLA');
                })
                var str_reopened="Reopened";
                for(i=0;i<row_reopened.length;i++){
                    mark_line("notes_time_line",str_reopened);
                    str_reopened=str_reopened+"+";
                }
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(row_reopened.indexOf(obj.row)!=-1){
                    $('.google-visualization-tooltip').css('display', 'none');
                  }
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                       mark_line('notes_time_line', str_reopened);
                       str_reopened=str_reopened+"+";
                  }
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                      mark_line('notes_time_line',str_reopened);
                      str_reopened=str_reopened+"+";
                  }
                })
                },1);
        });
    }

});

function mark_line(div, contain){

//get the height of the timeline div
  var height;
  $('#' + div + ' rect').each(function(index){
    var x = parseFloat($(this).attr('x'));
    var y = parseFloat($(this).attr('y'));

    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
  })

  var nowWord = $('#' + div + ' text:contains('+contain+')');
  if(contain=='SLA'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
  }
  if(contain.startsWith('Reopened')){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '1px').attr('y', '0');
  }
}
{% endif %}

</script>

{% endblock %}


