{% extends "layout.html" %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

{% load assets %}
{% assets "css_patch_management" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper" class="tab-pane fade in active">
    <div class="row">
			<div class="col-lg-12">
				<h4 class="center-header">Patch Campaign Management</h4>
			</div>
		</div>
    <div class="row">
        <div id="patch-management-filters" class="col-lg-12">
            Select a campaign from the List 
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="campaign-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="button-value">Campaign</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" name="campaign_list" aria-labelledby="campaign-list">
                    {% for campaign in campaign_list %}
                    <li><a href="#">{{campaign}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <button type="submit" class="btn btn-default btn-primary" id="patch-management-edit" disabled>Edit</button>
            <button type="submit" class="btn btn-default btn-primary" id="patch-management-add">Add New Campaign</button>
        </div>
    </div>
    <div class="row">
        <div id="patch-management" class="col-lg-12">
            <div id="mandatory-fields" class="row">
                <div class="col-lg-3">
                    <label>*Campaign Name</label>
                    <input type="text" id="patch-management-campaignname" name="campaign_name" class="form-control" value="" />
                </div>
                <div class="col-lg-3">
                    <label>*Patch Release Date</label>
                    <input type="text" id="patch-management-patchrelease" name="patch_release_date" class="form-control" value="" data-bind="daterangepicker: dateRange"/>
                </div>
                <div class="col-lg-3">
                    <label>*Campaign Start Date</label>
                    <input type="text" id="patch-management-campaignstart" name="campaign_start_date" class="form-control" value="" data-bind="daterangepicker: dateRange" onchange="updateTargetEndDate(this.value)"/>
                </div>
                <div class="col-lg-3">
                    <label>*Campaign Target End Date</label>
                    <input type="text" id="patch-management-campaignend" name="campaign_target_end_date" class="form-control" value=""  readonly/>
                </div>
                <div class="col-lg-12">
                	<p><i>* These fields are mandatory</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" id="wks-patchlist">
                        <div class="panel-heading">
                            Patch List for Workstations
                            <div class="btn-group" role="group" aria-label="table-raw-switch" type="wks">
                                <button type="button" class="btn btn-default btn-xs active" mode="table">Table</button>
                                <button type="button" class="btn btn-default btn-xs" mode="raw">Raw</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-mode list-mode-table">
                                <table id="patch-management-wks-list" class="table">
                                    <thead>
                                        <tr>
                                            <td>Ivanti LD Patch Name</td>
                                            <td>MS Patch Name</td>
                                            <td>Active</td>
                                            <td>Comments</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="tag-center">
                                    <button type="submit" class="btn btn-default patch-management-add-patch" device="wks">Add Patch</button>
                                </div>
                            </div>
                            <div class="list-mode list-mode-raw">
                                <p>Note: Each patch is to be added on a new line. The format of each patch entry is the following: IvantiPatchName,MSPatchName,Status(0 for inactive and 1 for active),Comments</p>
                                <p>E.g. PatchName,PatchName,1,</p>
                                <textarea name="wks-patchlist-raw" class="form-control" value="" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default" id="srv-patchlist">
                        <div class="panel-heading">
                            Patch List for Servers
                            <div class="btn-group" role="group" aria-label="table-raw-switch" type="srv">
                                <button type="button" class="btn btn-default btn-xs active" mode="table">Table</button>
                                <button type="button" class="btn btn-default btn-xs" mode="raw">Raw</button>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="list-mode list-mode-table">
                                <table id="patch-management-srv-list" class="table">
                                    <thead>
                                        <tr>
                                            <td>Ivanti LD Patch Name</td>
                                            <td>MS Patch Name</td>
                                            <td>Active</td>
                                            <td>Comments</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <div class="tag-center">
                                    <button type="submit" class="btn btn-default patch-management-add-patch" device="srv">Add Patch</button>
                                </div>
                            </div>
                            <div class="list-mode list-mode-raw">
                                <p>Note: Each patch is to be added on a new line. The format of each patch entry is the following: IvantiPatchName,MSPatchName,Status(0 for inactive and 1 for active),Comments</p>
                                <p>E.g. PatchName,PatchName,1,</p>
                                <textarea name="srv-patchlist-raw" class="form-control" value="" rows="5"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 tag-center">
                    <button type="submit" class="btn btn-default btn-primary" id="patch-management-cancel" onclick="cancelForm()">Cancel</button>
                    <button type="submit" class="btn btn-default btn-primary" id="patch-management-save" onclick="savePatchData()">Save</button>
                    <button type="submit" class="btn btn-default btn-primary" id="patch-management-delete" onclick="deletePatch()">Delete</button>
                </div>
            </div>
        </div> 
    </div>
</div>

{% verbatim %}
<script id="patch-row-template" type="text/x-handlebars-template">
    <tr>
        <td><input name="ld-patch-name" type="text" class="form-control" value="{{ld_patch_name}}"></td>
        <td><input name="ms-patch-name" type="text" class="form-control" value="{{ms_patch_name}}"></td>
        <td class="tag-center"><input name="patch-status" type="checkbox" {{status}}></td>
        <td><input name="comments" type="text" class="form-control" value="{{comments}}"></td>
        <td><i class="fa fa-times removePatchRow"></i></td>
    </tr>
</script>
{% endverbatim %}

{% endblock %}


{% block js %}

{% assets "js_patch_management" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">

$(document).ready(function() {

    //init datepickers
    $("#patch-management-patchrelease").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        endDate : 'now',
        todayHighlight: true
    });
    
    $("#patch-management-campaignstart").datepicker({
        format: 'yyyy-mm-dd',
        autoclose: true,
        endDate : 'now',
        todayHighlight: true
    });

    // update the dropdown value on change of the option
    $(document).on('click', ".dropdown-menu li a", function(){
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").text($(this).text());
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").val($(this).text());
        
        var campaignCheck = $("#campaign-list .button-value").html() != "Campaign";
        
        if(campaignCheck){
            $("#patch-management-filters #patch-management-edit").removeAttr("disabled");
        }
        else{
            $("#patch-management-filters #patch-management-edit").attr("disabled", "disabled");
        }
        
    });
    
    $(".patch-management-add-patch").on("click", function(){
        var device = $(this).attr("device");
        var table = $("#patch-management-" + device + "-list tbody");
        
        var template = "";
        template += '<td><input name="ld-patch-name" type="text" class="form-control" value=""></td>';
        template += '<td><input name="ms-patch-name" type="text" class="form-control" value=""></td>';
        template += '<td class="tag-center"><input name="patch-status" type="checkbox" value=""></td>';
        template += '<td><input name="comments" type="text" class="form-control" value=""></td>';
        //template += '<td><textarea name="comments" type="text" class="form-control" value=""></textarea></td>';
        template += '<td><i class="fa fa-times removePatchRow"></i></td>';   
        table.append('<tr>' + template + '</tr>'); 
        
    });
    
    $(document).on("click", ".removePatchRow", function(){
        $(this).closest("tr").remove();
    });
    
    $("#patch-management-add").on("click", function(){
        // clear the form
        $("#campaign-list .button-value").html("Campaign");
        $("#patch-management-campaignname").val("");
        $("#patch-management-patchrelease").val("");
        $("#patch-management-campaignstart").val("");
        $("#patch-management-campaignend").val("");
        $("#patch-management-wks-list tbody").empty();
        $("#patch-management-srv-list tbody").empty();
		$("#patch-management .list-mode-raw textarea").val("");
        
        // add default rows in table
        $( ".patch-management-add-patch" ).trigger( "click" );
        
        //show form div
        $("#patch-management").show();
        
        //hide delete button
        $("#patch-management-delete").hide();
    });
    
    // ajax call to retrieve the data for the selected patch and device-list
    $("#patch-management-edit").on('click', function(){
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'campaign_name': $("#campaign-list .button-value").html()
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:patch_management' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                // populate data in table
                populatePatchData(data['data']);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    
    $(".btn-group > .btn").click(function(){
        $(this).parent().find(".btn").removeClass("active");
        $(this).addClass("active");
        var type = $(this).parent().attr("type");
        var mode = $(this).html().toLowerCase();
        
        //convert the data based on mode
        if(mode == "raw"){
            //mode is raw
            $("#" + type + "-patchlist .panel-body .list-mode-raw textarea").val("");
            var data =  [];
            var table = document.getElementById("patch-management-" + type + "-list");
            $.each(table.rows, function(k,row){
                //ignore table header and blank row
                if (k == 0 || row.cells[0].firstChild.value == "") return;
                data.push(row.cells[0].firstChild.value + "," + row.cells[1].firstChild.value + "," + ($(row.cells[2].firstChild).prop("checked") ? 1 : 0) + "," + row.cells[3].firstChild.value);
            })
            data = data.join("\n");
            console.log(data);
            $("#" + type + "-patchlist .panel-body .list-mode-raw textarea").val(data);
        }
        else{
            //mode is table
            $("#patch-management-" + type + "-list tbody").empty();
            var data =  $("#" + type + "-patchlist .panel-body .list-mode-raw textarea").val();
            var table = document.getElementById("patch-management-" + type + "-list");
            //use template to populate patch list for wks and srv tables
            var source   = document.getElementById("patch-row-template").innerHTML;
            var template = Handlebars.compile(source);
            data = data.split("\n");
            
            $.each(data, function(i, patch){
                if(patch == "" || patch[0] == "") return;
                patch = validateRawData(patch);
                var details = {
                    "ld_patch_name" : patch[0],
                    "ms_patch_name" : patch[1],
                    "status" : (parseInt(patch[2]) ? "checked" : ""),
                    "comments" : patch[3]
                }
                var html = template(details);
                $("#patch-management-" + type + "-list tbody").append(html);
            });
        }
        
        $("#" + type + "-patchlist .panel-body .list-mode").hide();
        $("#" + type + "-patchlist .panel-body .list-mode-" + mode).show();
    });
    
});

function cancelForm(){
    //clear form
    $("#campaign-list .button-value").html("Campaign");
    $("#patch-management-campaignname").val("");
    $("#patch-management-patchrelease").val("");
    $("#patch-management-campaignstart").val("");
    $("#patch-management-campaignend").val("");
    $("#patch-management-wks-list tbody").empty();
    $("#patch-management-srv-list tbody").empty();
	$("#patch-management .list-mode-raw textarea").val("");
    
    //hide form div
    $("#patch-management").hide();
}

function validateForm(){
    var campaignCheck = $("#campaign-list .button-value").html() != "Campaign";
    return campaignCheck;
}

function validateRawData(row){
	row = $.trim(row);
	row = row.split(",");
	
	if(row.length < 3){
		return row[0] = "";
	}
	
	row[2] = (parseInt(row[2]) === 0) ? 0 : 1;
	row[3] = (row[3] == undefined) ? "" : row.slice(3).join(",");
		
	return row;
	
}

function updateTargetEndDate(value){
    // calculate 20 business days from start date
    var duration = 27;
    var dueDate = moment(value,"YYYY-MM-DD").add(duration, 'd').format('YYYY-MM-DD');
    $('#patch-management-campaignend').val(dueDate);
}


function populatePatchData(data){
    //populate fields
    //var campaign_name = $("#campaign-list .button-value").html();
    $("#patch-management-campaignname").val(data['campaign_name']);
    $("#patch-management-patchrelease").val(moment(data['patch_release_date']).format("YYYY-MM-DD"));
    $("#patch-management-campaignstart").val(moment(data['campaign_startdate']).format("YYYY-MM-DD"));
    $("#patch-management-campaignend").val(moment(data['campaign_target_enddate']).format("YYYY-MM-DD"));
    
    $("#patch-management-wks-list tbody").empty();
    $("#patch-management-srv-list tbody").empty();
	$("#patch-management .list-mode-raw textarea").val("");
	
	$("#patch-management .panel-heading .btn-group button").removeClass("active");
	$("#patch-management .panel-heading .btn-group").each(function(i, grp){
		$(grp).find("button").first().addClass("active");
	});
	$("#patch-management .list-mode-raw").hide();
	$("#patch-management .list-mode-table").show();
    
    //use template to populate patch list for wks and srv tables
    var source   = document.getElementById("patch-row-template").innerHTML;
    var template = Handlebars.compile(source);
    
    $.each(JSON.parse(data['wks_patch_list']), function(name, details){
        details['ld_patch_name'] = name;
        details['status'] = details['status'] ? "checked" : "";
        var html = template(details);
        
        $("#patch-management-wks-list tbody").append(html);
    });
    
    $.each(JSON.parse(data['srv_patch_list']), function(name, details){
        details['ld_patch_name'] = name;
        details['status'] = details['status'] ? "checked" : "";
        var html = template(details);
        
        $("#patch-management-srv-list tbody").append(html);
    });
    
    //show form div and delete option
    $("#patch-management").show();
    $("#patch-management-delete").show();
}

function savePatchData(){
    var answer = swal({
            title: "Save this Campaign Patch?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Save!",
            closeOnConfirm: false
    },
    function(){
    	var wksMode = $("#wks-patchlist .panel-heading .btn-group button.active").attr("mode");
    	var srvMode = $("#srv-patchlist .panel-heading .btn-group button.active").attr("mode");
    	
    	var savedData = {
	    	"campaignName" : $("#patch-management-campaignname").val(),
	        "patchReleaseDate" : $("#patch-management-patchrelease").val(),
	        "campaignStartDate" : $("#patch-management-campaignstart").val(),
	        "campaignTargetEndDate" : $("#patch-management-campaignend").val(),
	        "srvPatchList" : {},
	        "wksPatchList" : {}
    	};
    	
    	// wks save
    	if(wksMode == "table"){
    		// table save
            var wksTable = document.getElementById("patch-management-wks-list");
            $.each(wksTable.rows, function(k,row){
                //ignore table header and blank row
                if (k == 0 || row.cells[0].firstChild.value == "") return;
                savedData["wksPatchList"][row.cells[0].firstChild.value] = {
                    "ms_patch_name" : row.cells[1].firstChild.value,
                    "status" : $(row.cells[2].firstChild).prop("checked") ? 1 : 0,
                    "comments" : row.cells[3].firstChild.value
                }
            })
    	}
    	else{
    		// raw save
            var data =  $("#wks-patchlist .panel-body .list-mode-raw textarea").val();
			data = data.split("\n");
            
            $.each(data, function(i, patch){
                if(patch == "" || patch[0] == "") return;
                patch = validateRawData(patch);
                savedData["wksPatchList"][patch[0]] = {
                    "ms_patch_name" : patch[1],
                    "status" : parseInt(patch[2]),
                    "comments" : patch[3]
                }
            });
    	}
    	
    	// srv save
    	if(srvMode == "table"){
    		var srvTable = document.getElementById("patch-management-srv-list");
            $.each(srvTable.rows, function(k,row){
                //ignore table header and blank row
                if (k == 0 || row.cells[0].firstChild.value == "") return;
                savedData["srvPatchList"][row.cells[0].firstChild.value] = {
                    "ms_patch_name" : row.cells[1].firstChild.value,
                    "status" : $(row.cells[2].firstChild).prop("checked") ? 1 : 0,
                    "comments" : row.cells[3].firstChild.value
                }
            })
    	}
    	else{
    		var data =  $("#srv-patchlist .panel-body .list-mode-raw textarea").val();
			data = data.split("\n");
            
            $.each(data, function(i, patch){
                if(patch == "" || patch[0] == "") return;
            	patch = validateRawData(patch);
                savedData["srvPatchList"][patch[0]] = {
                    "ms_patch_name" : patch[1],
                    "status" : parseInt(patch[2]),
                    "comments" : patch[3]
                }
            });
    	}
    	
       
        console.log(savedData);
        
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'updated_data': savedData
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:patch_save' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                swal("Saved!", "The campaign entry has been saved.", "success");
                // update campaign list dropdown
                $("#patch-management-filters ul.dropdown-menu").empty();
                $.each(data['campaign_list'], function(i, campaign){
                    $("#patch-management-filters ul.dropdown-menu").append('<li><a href="#">' + campaign + '</a></li>');
                });
                
                $("#campaign-list .button-value").html(savedData["campaignName"]);
                $("#campaign-list .button-value").val(savedData["campaignName"]);
                $("#patch-management-filters #patch-management-edit").removeAttr("disabled");
                $("#patch-management-delete").show();
            },
            error: function(error) {
            	swal("Error!", "There was an error in saving the campaign", "error");
                console.log(error);
            }
        });
    });

    
}

function deletePatch(){
    var answer = swal({
            title: "Delete this Campaign Patch?",
            text: "Please note that the deletion is permanent and cannot be reverted.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Delete!",
            closeOnConfirm: false
    },
    function(){
        var data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'campaign_name': $("#patch-management-campaignname").val()
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:patch_delete' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                swal("Deleted!", "The patch campaign entry has been deleted.", "success");
                // update campaign list dropdown
                $("#patch-management-filters ul.dropdown-menu").empty();
                $.each(data['campaign_list'], function(i, campaign){
                    $("#patch-management-filters ul.dropdown-menu").append('<li><a href="#">' + campaign + '</a></li>');
                });
                
                $("#campaign-list .button-value").html("Campaign");
                $("#patch-management-filters #patch-management-edit").attr("disabled","disabled");
                $("#patch-management").hide();
            },
            error: function(error) {
                swal("Error", "There was an error. Please contact the TSC Team.", "error");
                console.log(error);
            }
        });
    });
    
}

</script>


{% endblock %}
