{% extends "layout.html" %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

{% load assets %}
{% assets "css_patch_followup" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper" style="height:100vh;" class="tab-pane fade in active">
    <div class="row">
			<div class="col-lg-12">
				<h4 class="center-header">Patch Campaign Follow Up</h4>
			</div>
		</div>
    <div class="row">
        <div id="patch-followup-filters" class="col-lg-12">
            Select a campaign from the List 
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="campaign-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="button-value">Campaign</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" name="campaign_list" aria-labelledby="campaign-list">
                    {% for campaign in campaign_list %}
                    <li><a href="#">{{campaign}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <button type="submit" class="btn btn-default btn-primary" id="patch-followup-search" onclick="validateForm()" disabled>Search</button>
        </div>
    </div>
    <div class="row">
        <div id="wks-patch-followup" class="col-lg-12">
            <div class="panel panel-info" style="margin-top:10px">
                <div class="panel-heading">
                      <i class="fa fa-bar-chart-o fa-fw"></i> Workstation Search Result 
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <table class="table table-bordered table-hover table-striped" id="wks-patch-followup-search-result" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Zone</th>
                                        <th>Ongoing</th>
                                        <th>Completed</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div id="wks-patch-followup-chart" style="width:100%;"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
    <div class="row">
        <div id="srv-patch-followup" class="col-lg-12">
            <div class="panel panel-info" style="margin-top:10px">
                <div class="panel-heading">
                      <i class="fa fa-bar-chart-o fa-fw"></i> Server Search Result 
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <table class="table table-bordered table-hover table-striped" id="srv-patch-followup-search-result" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Domain</th>
                                        <th>Ongoing</th>
                                        <th>Completed</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div id="srv-patch-followup-chart" style="width:100%;"></div>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</div>



{% endblock %}


{% block js %}

{% load assets %}
{% assets "js_patch_followup" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script type="text/javascript">

$(document).ready(function() {

    // update the dropdown value on change of the option
    $(".dropdown-menu li a").on('click', function(){
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").text($(this).text());
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").val($(this).text());
        
        var campaignCheck = $("#campaign-list .button-value").html() != "Campaign";
        
        if(campaignCheck){
            $("#patch-followup-filters #patch-followup-search").removeAttr("disabled");
        }
        else{
            $("#patch-followup-filters #patch-followup-search").attr("disabled", "disabled");
        }
        
    });
    
    // ajax call to retrieve the data for the selected patch and device-list
    $("#patch-followup-search").on('click', function(){
        
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'campaign_name': $("#campaign-list .button-value").html()
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:patch_followup' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                // populate data in table
                populateSearchResult('wks',data["wks_patch_search_static_result"], data["wks_patch_list"]);
                populateSearchResult('srv',data["srv_patch_search_static_result"], data["srv_patch_list"]);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });

});

function validateForm(){
    var campaignCheck = $("#campaign-list .button-value").html() != "Campaign";
        
    return campaignCheck;
}

function populateSearchResult(device_type, data, patch_list){

    // clear data table and chart
    $('#' + device_type + '-patch-followup-search-result').dataTable().fnClearTable();
    $('#' + device_type + '-patch-followup-search-result').dataTable().fnDraw();
    $('#' + device_type + '-patch-followup-search-result').dataTable().fnDestroy();
    $('#' + device_type + '-patch-followup-chart').empty();
    
    var tableBody = $("#" + device_type + "-patch-followup-search-result tbody");
    
    
    var patchList = (patch_list == undefined || patch_list == "") ? "None" : patch_list;
    
    var targetList = "None";
    if('target_list' in data){
        targetList = (data.target_list == "") ? "None" : data.target_list;
    }
    
    
    var chartData = {
        "ongoing" : {
            type: "bar",
            showInLegend: true,
            legendText: "Ongoing",
            color:"#EC5657",
            dataPoints: []
        },
        "completed" : {
            type: "bar",
            showInLegend: true,
            legendText: "Completed",
            color:"#3CB371",
            dataPoints: []
        }
    };
    
    var security_type = (device_type == "wks") ? "Workstation" : "Server";
    var header = (device_type == "wks") ? "Zone" : "Domain";
    
    //var indexList = (device_type == "wks") ? {'AS' : 0,'EU' : 1,'AM' : 2,'Total' : 3} : {'non-PRD' : 0,'PRD' : 1,'Total' : 2};
    var indexList = (device_type == "wks") ? ['Total','AS','EU','AM'] : ['Total','non-PRD','PRD'];
        
    $.each(indexList, function(key, index){
        row = data[index];
        // populate table row data
        var rowData = $("<tr></tr>");
        rowData.append($("<td></td>").append(row[header]));

        rowData.append($("<td></td>").append($('<a></a>').attr("href", 'patch_detail_search/'+security_type+'?Zone=' + row[header] + '&Logic=KO&filterName='+$("#campaign-list .button-value").html()+'&patchList='+patchList+'&targetList='+targetList).html(row["Ongoing"])));
        rowData.append($("<td></td>").append($('<a></a>').attr("href", '/patch_detail_search/'+security_type+'?Zone=' + row[header] + '&Logic=OK&filterName='+$("#campaign-list .button-value").html()+'&patchList='+patchList+'&targetList='+targetList).html(row["Completed"])));
        rowData.append($("<td></td>").append($('<a></a>').attr("href", '/patch_detail_search/'+security_type+'?Zone=' + row[header] + '&Logic=Total&filterName='+$("#campaign-list .button-value").html()+'&patchList='+patchList+'&targetList='+targetList).html(row["Total"])));

        tableBody.prepend(rowData);
        
        if(row[header] == "Total") return;
        //populate chart data
        chartData["ongoing"]["dataPoints"][key - 1] = { y: row["Ongoing"], label: row[header]};
        chartData["completed"]["dataPoints"][key - 1] = { y: row["Completed"], label: row[header]};
        
        
    });
    
    // init dataTable
    $("#" + device_type + "-patch-followup-search-result").DataTable({
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"row table-fix"t>i<"legend">p',
        ordering: false,
        buttons: [
           {extend: 'excel', title: security_type + ' Patches Result', text: 'Excel', titleAttr: 'Excel'},
        ],
    });
    
    // init chart
    var chartTitle = "MS Patch Campaign '" + $("#campaign-list .button-value").html()  + "' for " + security_type
    var chart = new CanvasJS.Chart(device_type + "-patch-followup-chart",{
        height: 270,
        title:{
            text: chartTitle
        },
        data: Object.values(chartData) 
    });
    
    chart.render();
    
    // remove chart credit label
    $(".canvasjs-chart-credit").remove();
    
    // display search div
    $('#' + device_type + '-patch-followup').show();
    
}

</script>


{% endblock %}
