{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}
    {% load assets %}
    {% assets "css_team" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
<style>
#notes-table thead {
    background-color: #d9edf7;
}
</style>
{% endblock %}
{% block content %}
<div id="page-content-wrapper">
<div class="container-fluid xyz">
    {% if messages %}
    <div class="row">
      <div class="">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
         {{message}}
        </div><!-- end .alert -->
        {% endfor %}
      </div><!-- end col-md -->
    </div><!-- end row -->
    {% endif %}
            
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Device Name: {{ device_name }}</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    {% if patch_device_info_result.ld_device_info|length > 0 %}
    <div class="row">
        <div class="panel panel-primary ">
            <div class="panel-heading">
                Landesk Device Info
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                 <table width="100%" class="table table-bordered table-hover table-striped" id="ldi-table">
                        <thead>
                            <tr>
                                <th>DeviceName</th>
                                <th>LoginName</th>
                                <th>Computer_Type</th>
                                <th>ComputerLocation</th>
                                <th>Manufacturer</th>
                                <th>Model</th>
                                <th>SerialNum</th>
                                <th>Memory_Bytes</th>
                                <th>Processor_Type</th>
                                <th>OSType</th>
                                <th>IP_Address</th>
                                <th>LastBootUpTime</th>
                                <th>Last Vulnerability Scan Date</th>
                                <th>Last Scan Date</th>
                                <th>Last Security Scan Date</th>
                                <th>Last Policy Scan Date</th>
                                <th>Last Update Inventory Server</th>
                                <th>Last Logon Date</th>
                                <th>Record Creation Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ldi in patch_device_info_result.ld_device_info %}
                            <tr class="odd gradeX">
                                <td>{{ldi.0}}</td>
                                <td>{{ldi.1}}</td>
                                <td>{{ldi.2}}</td>
                                <td>{{ldi.3}}</td>
                                <td>{{ldi.4}}</td>
                                <td>{{ldi.5}}</td>
                                <td>{{ldi.6}}</td>
                                <td>{{ldi.7}}</td>
                                <td>{{ldi.8}}</td>
                                <td>{{ldi.9}}</td>
                                <td>{{ldi.10}}</td>
                                <td>{{ldi.11}}</td>
                                <td>{{ldi.12}}</td>
                                <td>{{ldi.13}}</td>
                                <td>{{ldi.14}}</td>
                                <td>{{ldi.15}}</td>
                                <td>{{ldi.16}}</td>
                                <td>{{ldi.17}}</td>
                                <td>{{ldi.18}}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                 </table>
            </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    {% endif %}

    {% if patch_device_info_result.ld_device_patch_info|length > 0 %}
    <div class="row">
        <div class="panel panel-red">
            <div class="panel-heading">
                Landesk Missing Patch List
            </div>
             <div class="panel-body">
             <div class="table-responsive">
                 <table width="100%" class="table table-striped table-bordered table-hover" id="ldpi-table">
                        <thead>
                            <tr>
                                <th>DeviceName</th>
                                <th>Last Vulnerability Scan Date</th>
                                <th>Vul_ID</th>
                                <th>Patch</th>
                                <th>Reason</th>
                                <th>Expected</th>
                                <th>Found</th>
                                <th>Patch_Install_Status</th>
                                <th>NumInstallTries</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ldpi in patch_device_info_result.ld_device_patch_info %}
                            <tr class="odd gradeX row_unassigned">
                                <td>{{ldpi.0}}</td>
                                <td>{{ldpi.1}}</td>
                                <td>{{ldpi.2}}</td>
                                <td>{{ldpi.3}}</td>
                                <td>{{ldpi.4}}</td>
                                <td>{{ldpi.5}}</td>
                                <td>{{ldpi.6}}</td>
                                <td>{{ldpi.7}}</td>
                                <td>{{ldpi.8}}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                 </table>
             </div>
             </div>
        </div>
    </div>
    <!-- /.row -->
    {% endif %}


    {% if patch_device_info_result.ld_device_patch_not_installed|length > 0 %}
    <div class="row">
        <div class="panel panel-yellow">
            <div class="panel-heading">
               Landesk Vulnerability Ongoing Installation
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                 <table width="100%" class="table table-striped table-bordered table-hover" id="ldpni-table">
                        <thead>
                            <tr>
                                <th>DeviceName</th>
                                <th>Vul_ID</th>
                                <th>Patch</th>
                                <th>Reason</th>
                                <th>Expected</th>
                                <th>Found</th>
                                <th>Patch Install Date</th>
                                <th>Patch Install Status</th>
                                <th>Patch Status Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ldpni in patch_device_info_result.ld_device_patch_not_installed %}
                            <tr class="odd gradeX">
                                <td>{{ldpni.0}}</td>
                                <td>{{ldpni.1}}</td>
                                <td>{{ldpni.2}}</td>
                                <td>{{ldpni.3}}</td>
                                <td>{{ldpni.4}}</td>
                                <td>{{ldpni.5}}</td>
                                <td>{{ldpni.6}}</td>
                                <td>{{ldpni.7}}</td>
                                <td>{{ldpni.8}}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                 </table>
             </div>
             </div>
        </div>
    </div>
    <!-- /.row -->
    {% endif %}
    
    {% if patch_device_info_result.ld_device_patch_not_scanned|length > 0 %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
               Landesk Vulnerability not scanned yet
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                 <table width="100%" class="table table-striped table-bordered table-hover" id="ldpns-table">
                        <thead>
                            <tr>
                                <th>DeviceName</th>
                                <th>Last Vulnerability Scan Date</th>
                                <th>Vul_ID</th>
                                <th>PublishDate</th>
                                <th>TiTle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for idpns in patch_device_info_result.ld_device_patch_not_scanned %}
                            <tr class="odd gradeX">
                                <td>{{idpns.0}}</td>
                                <td>{{idpns.1}}</td>
                                <td>{{idpns.2}}</td>
                                <td>{{idpns.3}}</td>
                                <td>{{idpns.4}}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                 </table>
             </div>
             </div>
        </div>
    </div>
    <!-- /.row -->
    {% endif %}
    
    {% if patch_device_info_result.ld_device_patch_history|length > 0 %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
               Landesk Patch History
            </div>
            <div class="panel-body">
            <div class="table-responsive">
                 <table width="100%" class="table table-striped table-bordered table-hover" id="ldph-table">
                        <thead>
                            <tr>
                                <th>DeviceName</th>
                                <th>Event_Time</th>
                                <th>Patch</th>
                                <th>Message</th>
                                <th>ActionCode</th>
                                <th>Vul_ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ldph in patch_device_info_result.ld_device_patch_history %}
                            <tr class="odd gradeX">
                                <td>{{ldph.0}}</td>
                                <td>{{ldph.1}}</td>
                                <td>{{ldph.2}}</td>
                                <td>{{ldph.3}}</td>
                                <td>{{ldph.4}}</td>
                                <td>{{ldph.5}}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                 </table>
             </div>
             </div>
        </div>
    </div>
    <!-- /.row -->
    {% endif %}
    
    
</div>
</div>
<!-- /#page-wrapper -->

{% endblock %}
{% block js %}

{% assets "js_team" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>
$(document).ready(function(){
    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'}); 

    // initialize tables
    
    {% if patch_device_info_result.ld_device_info|length > 0 %}    
    gen_datatable('ldi-table');
    {% endif %}

    {% if patch_device_info_result.ld_device_patch_info|length > 0 %}
    gen_datatable('ldpi-table');
    {% endif %}
    
    {% if patch_device_info_result.ld_device_patch_not_installed|length > 0 %}
    gen_datatable('ldpni-table');
    {% endif %}

    {% if patch_device_info_result.ld_device_patch_not_scanned|length > 0 %}
    gen_datatable('ldpns-table');
    {% endif %}
    
    {% if patch_device_info_result.ld_device_patch_history|length > 0 %}
    gen_datatable('ldph-table');
    {% endif %}

});

function gen_datatable(table_name){
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
     var file_col = "thead th:not(.noExport)"

    // initialize tables
    $('#'+table_name).DataTable({
        "order": [[ 2, "asc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {extend: 'excel', title:  'Patch Device Info', text: 'Excel',titleAttr: 'Excel', exportOptions: {columns:file_col} }]
    });

}





</script>
{% endblock %}




