<!-- Modal Popup for Notes -->
<div id="security_details" class="modal fade" role="dialog">
    <div class="modal-dialog detail-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Not Updated > 7 days {{security_type}} - <span id="modal-ticket-no"></span></h4>
            </div>
            <div class="modal-body modal-body-note">
                <div id="visualization_wrap"> 
                <div id="notes_time_line"></div>
                </div>
                <table width="100%" class="table table-bordered table-hover table-striped table-inverse" id="details-table">
                     <thead>
                     <tr>
                         <th>HostName</th>
                         <th>Version</th>
                         <th>Virus Defintion Date</th>
                         <th>Group Name</th>
                     </tr>
                     </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
