{% extends "layout.html" %}


{% block content %}


<div id="page-content-wrapper">
    <div class="row">
    <div class="col-lg-12">
          <h3 class="page-header">Profile</h3>
    </div>
    <div class="col-md-4">

     <table class="table">
     <tr>
        {% load decode %}
        <td>Username</td><td>{{ user.username }}</td></tr><tr> 
        <td>First Name</td><td>{{ user.first_name|decode }}</td></tr><tr>
        <td>Last Name</td><td>{{ user.last_name|decode }}</td></tr><tr>
        <td>Email</td><td>{{ user.email|decode }}</td></tr><tr>
        <td>Admin</td><td>{{ user.is_admin }}</td><tr>
        <td>Role</td><td>{{ user.role }}</td>
     </tr>
     </table>

    </div>
    </div><!-- row-->

    <div class="row">
    <div class="col-lg-12">
    <h3 class="page-header">My Open Tickets</h3>
    {% if tickets|length > 0 %}
    <table class="table table-bordered table-hover table-striped" id="high-crit-table">
      <thead>
      <tr>
          <th>Ticket#</th>
          <th>Criticality</th>
          <th>Type</th>
          <th>Open Date</th>
          <th>Due Date</th>
          <th>Time Remaining/<br>Expired</th>
          <th>Open By</th>
          <th>Group</th>
          <th>Taken By</th>
          <th>Category</th>
          <th>Description</th>
          <th class="noExport"></th>
      </tr>
      </thead>
      <tbody>
      {% for t in tickets %}
      <tr>
          <td>{{ t.3 }}</td>
          <td>{{ t.1 }}</td>
          <td>{{ t.11}}</td>
          <td>{{ t.0 }}</td>
          <td>{{ t.2 }}</td>
          <td>{{ t.15 }}</td>
          <td>{{ t.5 }}</td>
          <td>{{ t.6 }}</td>
          <td>{{ t.7 }}</td>
          <td>{{ t.8 }}</td>
          <td>
             <div class="tdfield" data-toggle="tooltip" title="{{t.4}}">
             <a hrref="#" data-toggle="modal" data-target="#ticket_description" id="{{t.3}}" class="click_description">{{t.4}}</a></div></td>
          <td>
             <button type="button" data-toggle="modal" data-target="#ticket_notes" class="fa fa-file-o fa-btn btn btn-info btn-sm click_notes" value="{{t.3}}"></button>
          </td>
          </tr>
      {% endfor %}
       </tbody>
  </table>
  {% else %}
  No Tickets
  {% endif %}

    </div>
    </div><!-- row-->



</div>

{% include 'popup_description.html' %}

{% include 'popup_note.html' %}

{% endblock %}
