{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_quality" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
<div class="container-fluid xyz">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">Incident Management - RCA</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> SLA
                </div>
                <div class="panel-body">
                    <div id="rca-sla-chart" class="rca-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Groups
                </div>
                <div class="panel-body">
                    <div id="rca-group-chart" class="rca-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.col-lg-12 -->
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> RCA Opened 
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-hover table-striped" id="open-rca-table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div> 
                {% if 'qual_' in user.role %}
                <button id="addRow" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#rcaRowModal">
                  <span class="glyphicon glyphicon-plus"></span> Add New Row 
                </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                  <i class="fa fa-bar-chart-o fa-fw"></i> RCA Closed 
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table width="100%" class="table table-bordered table-hover table-striped" id="closed-rca-table">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    {% include 'popup_quality_rca.html' %}
    {% include 'templatefiles/quality.html' %}
    <!-- Word Export Template -->
    {% include 'rca_report_wordexport_template.html' %}
    
  </div>
</div>


{% endblock %}

{% block js %}

{% assets "js_quality" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>

var rcaList = {{rca_list}};
  
console.log(rcaList);

var rcaIdCount = 0;
var rcaIdDate = moment().format('DDMMYYYY');

var rca_table_head_template = Handlebars.compile(document.getElementById("rca-table-head-template").innerHTML);
var rca_table_body_template = Handlebars.compile(document.getElementById("rca-table-body-template").innerHTML);

var selected_row;
var selected_table;
var is_new_rca = false;

$(document).ready(function() {
    
    var open_table_body = $('#open-rca-table tbody');
    var close_table_body = $('#closed-rca-table tbody');
    
    $('#open-rca-table thead').append($(rca_table_head_template({})));
    $('#closed-rca-table thead').append($(rca_table_head_template({})));

    $.each(rcaList, function(rcaId, rcaData){
        var id = rcaId.split('_');
        if(id[1] == rcaIdDate){
            rcaIdCount = (rcaIdCount > parseInt(id[2])) ? rcaIdCount : parseInt(id[2]);
        }
        var content = JSON.parse(rcaData['content'])
        content['due_date_sla_class'] = content['in_sla'] ? 'cell_text_font_insla' : 'cell_text_font_oosla';
        if(rcaData['status'] == "Sent"){
            $(rca_table_body_template(content)).appendTo(close_table_body);
        }
        else{
            $(rca_table_body_template(content)).appendTo(open_table_body);
        }
        
        
    });
    
    
    var date = new Date();
    
    //listeners for RCA row modal
    $('#rcaRowModal').on('shown.bs.modal', function(event){
        if($(this).find('#rcaId').val() != ""){
            is_new_rca = false;
            $('#rcaRowModal #delete').show();
            return;
        } 
        var count = rcaIdCount + 1;
        var countStr = (count < 10) ? '0' + count : count;
        $('#rcaRowModal #rcaId').val('RCA_' + rcaIdDate + '_' + countStr);
        $('#rcaRowModal #delete').hide();
        $('#rcaRowModal #save').addClass('disabled');
        is_new_rca = true;
    });
    
   
    $('#rcaRowModal').on('show.bs.modal', function (event) {
        $("#rca-form")[0].reset();
        $("#rca-form #rcaId").val("");
        $("#rca-form #problemId").val("N/A");
        displayRCAEndDate("Initiated");
        
        var modal = $(this);
        
        // if data exists, set the data in the form
        var a_btn = $(event.relatedTarget);
        if(a_btn.text().trim().toLowerCase() == "add new row"){
            modal.find('.modal-title').text('Add new row for RCA');
            return
        }
        
        var rcaData = JSON.parse(rcaList[a_btn.text()]['content']);
        console.log(rcaData);
        // disable save function on closed table
        if(rcaData['rca_status'] == "Sent"){
            selected_table = "closed-rca-table";
            $('#rcaRowModal button#edit').attr("disabled","disabled");
            $('#rcaRowModal button#edit').css("display", "none");
        }
        else{
            selected_table = "open-rca-table";
            $('#rcaRowModal button#edit').removeAttr("disabled");
            $('#rcaRowModal button#edit').removeAttr("style");
        }
        
        var table = $('#'+selected_table).DataTable();
        selected_row = table.row(a_btn.parents('tr'));
      
       
      
        modal.find('.modal-title').text('Edit row data for ' + a_btn.text());
        modal.find('.modal-body #rcaId').val(rcaData['rcaId']);
        modal.find('.modal-body #week').val(rcaData['week']);
        modal.find('.modal-body #zone').val(rcaData['zone']);
        modal.find('.modal-body #outageTitle').val(rcaData['outageTitle']);
        modal.find('.modal-body #rcaStatus').val(rcaData['rcaStatus']);
        modal.find('.modal-body #startDate').val(rcaData['startDate']);
        if(rcaData['endDate'] == undefined){
            modal.find('.modal-body #endDate').val("");
        }
        else{
            modal.find('.modal-body #endDate').data("DateTimePicker").date(rcaData['endDate']);
        }
        modal.find('.modal-body #dueDate').val(rcaData['dueDate']);
        modal.find('.modal-body #incidentStartDate').data("DateTimePicker").date(rcaData['incidentStartDate']);
        modal.find('.modal-body #incidentEndDate').data("DateTimePicker").date(rcaData['incidentEndDate']);
        modal.find('.modal-body #incidentDuration').val(rcaData['incidentDuration']);
        modal.find('.modal-body #rcaOwner').val(rcaData['rcaOwner']);
        modal.find('.modal-body #problemId').val(rcaData['problemId']);
        modal.find('.modal-body #im').val(rcaData['im']);
        modal.find('.modal-body #group').val(rcaData['group']);
        modal.find('.modal-body #comments').val(rcaData['comments']);
        displayEditRCAEndDate(rcaData['rcaStatus']);
      
        {% if 'qual_' not in user.role %}
        modal.find('.form-control').attr("readonly",'readonly');
        {% endif %}
        
        
    });
    
    $('#rcaRowModal #endDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        maxDate: moment().format('YYYY-MM-DD HH:mm'),
        stepping: 5,
        sideBySide: true
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation(); 
    });
    
    $("#rcaRowModal #incidentStartDate").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        maxDate: moment().format('YYYY-MM-DD HH:mm'),
        stepping: 5,
        sideBySide: true
        
    }).on({
        'show.bs.modal': function(event){
            // prevent datepicker from firing bootstrap modal "show.bs.modal"
            event.stopPropagation();
        },
        'dp.change': function(event){
            $("#rcaRowModal #incidentEndDate").data("DateTimePicker").minDate(moment(event.date.valueOf()).format('YYYY-MM-DD HH:mm'));
            calculateNewModalDuration();
        }
    });
    
    $("#rcaRowModal #incidentEndDate").datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        //autoclose: true,
        maxDate: moment().format('YYYY-MM-DD HH:mm'),
        stepping: 5,
        sideBySide: true
    }).on({
        'show.bs.modal': function(event){
            // prevent datepicker from firing bootstrap modal "show.bs.modal"
            event.stopPropagation();
        },
        'dp.change': function(event){
            $("#rcaRowModal #incidentStartDate").data("DateTimePicker").maxDate(moment(event.date.valueOf()).format('YYYY-MM-DD HH:mm'));
            calculateNewModalDuration();
        }
    });
    
    $('#rcaRowModal #openDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        stepping: 5,
        sideBySide: true
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation();
    });
    
    $('#rcaRowModal #nextTargetDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        stepping: 5,
        sideBySide: true
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation();
    });
    
    $('#rcaRowModal #lastUpdateDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        stepping: 5,
        sideBySide: true
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation();
    });
    

    
    //listeners for RCA report modal
    $('#rcaReportModal .rcaReportActionTargetDate').datetimepicker({
        format: 'YYYY-MM-DD HH:mm',
        stepping: 5,
        sideBySide: true
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation();
    });



    $('#rcaReportModal').on('show.bs.modal', function (event) {
      //reset form data
      $("#rca-report-form")[0].reset();
      $("#rca-report-action-table tbody").empty();
      $('#rca-report-word-export #actionTable tbody').empty();
      

      var a_btn = $(event.relatedTarget);
      var rca_id = a_btn.attr('id');
      console.log(rca_id);
      var modal = $(this);
      
      var table = a_btn.closest('table').DataTable();
      
      
      var data = table.row(a_btn.parents('tr')).data();
      console.log(data);
      
      rca_report = JSON.parse(rcaList[rca_id]['report']);
      rca_content = JSON.parse(rcaList[rca_id]['content']);
      
      if(rca_report['actions'] == undefined){
        rca_report['actions'] = {}
      }
      console.log(rca_report);
      
      modal.find('.modal-body #ticketNumber').val((rca_report['ticketNumber'] == undefined ? "" : rca_report['ticketNumber']));
      modal.find('.modal-body #rcaId').val(rca_id);
      modal.find('.modal-body #problemId').val(rca_content['problemId']);
      modal.find('.modal-body #startDate').val(rca_content['incidentStartDate']);
      modal.find('.modal-body #endDate').val(rca_content['incidentEndDate']);
      modal.find('.modal-body #preparedBy').val(rca_content['im']);
      modal.find('.modal-body #contributor').val((rca_report['contributor'] == undefined ? "" : rca_report['contributor']));
      modal.find('.modal-body #problemDescription').val((rca_report['problemDescription'] == undefined ? "" : rca_report['problemDescription']));
      modal.find('.modal-body #businessImpact').val((rca_report['businessImpact'] == undefined ? "" : rca_report['businessImpact']));
      modal.find('.modal-body #rootCause').val((rca_report['rootCause'] == undefined ? "" : rca_report['rootCause']));
      modal.find('.modal-body #problemDetection').val((rca_report['problemDetection'] == undefined ? "" : rca_report['problemDetection']));
      modal.find('.modal-body #serviceRestoration').val((rca_report['serviceRestoration'] == undefined ? "" : rca_report['serviceRestoration']));  
      modal.find('.modal-body #preventiveAction').val((rca_report['preventiveAction'] == undefined ? "" : rca_report['preventiveAction']));
      
      $.each(rca_report['actions'], function(i, value){
          console.log(i + " : " + value);
         
          if(document.getElementById('actions-'+i+'-actionContent') == null){
              addNewActionsRow(value);
          } 
          //modal.find('.modal-body #actions-'+i+'-actionNum').val(i);
          //modal.find('.modal-body #actions-'+i+'-actionNum').attr('value',i);
          //['action', 'owner', 'target_date', 'completed']
          
          modal.find('.modal-body #actions-'+i+'-actionContent').val(value['action'] == undefined ? "" : value['action']);
          //modal.find('.modal-body #actions-'+i+'-actionContent').attr('value',value[0]);
          modal.find('.modal-body #actions-'+i+'-actionContent').addClass("form-control");
          modal.find('.modal-body #actions-'+i+'-actionOwner').val(value['owner'] == undefined ? "" : value['owner']);
          //modal.find('.modal-body #actions-'+i+'-actionOwner').attr('value',value[1]);
          modal.find('.modal-body #actions-'+i+'-actionOwner').addClass("form-control");
          if(value['targetDate'] == undefined){
            modal.find('.modal-body #actions-'+i+'-actionTargetDate').val("");
          }
          else{
            
            modal.find('.modal-body #actions-'+i+'-actionTargetDate').data("DateTimePicker").date(value['targetDate']);
          }
          
          //modal.find('.modal-body #actions-'+i+'-actionTargetDate').attr('value',value[2]);
          modal.find('.modal-body #actions-'+i+'-actionTargetDate').addClass("form-control");
          
          if(value['completed'] != undefined && value['completed'] == "true"){
            modal.find('.modal-body #actions-'+i+'-actionTargetDate').attr('disabled','disabled');
            modal.find('.modal-body #actions-'+i+'-actionTargetCheckbox').attr('checked','checked');
          }
          
      });
      
     
      
      /*
      if(rca_report==""){
          modal.find('.modal-body #ticketNumber').val("");
          modal.find('.modal-body #rcaId').val(rca_id);
          modal.find('.modal-body #reportStartDate').val(data[8]);
          modal.find('.modal-body #reportEndDate').val(data[9]);
          modal.find('.modal-body #problemId').val(data[12]);
          modal.find('.modal-body #preparedBy').val(data[13]);
          modal.find('.modal-body #contributors').val("");
      }else{
          modal.find('.modal-body #ticketNumber').val(rca_report[0]);
          $(".modal-body #ticketNumber").attr("value",rca_report[0]);
          modal.find('.modal-body #rcaId').val(rca_report[1]);
          $(".modal-body #rcaId").attr("value",rca_report[1]);
          modal.find('.modal-body #problemId').val(rca_report[2]);
          $(".modal-body #problemId").attr("value",rca_report[2]);
          modal.find('.modal-body #reportStartDate').val(rca_report[3]);
          $(".modal-body #reportStartDate").attr("value",rca_report[3]);
          modal.find('.modal-body #reportEndDate').val(rca_report[4]);
          $(".modal-body #reportEndDate").attr("value",rca_report[4]);
          modal.find('.modal-body #preparedBy').val(rca_report[5]);
          $(".modal-body #preparedBy").attr("value",rca_report[5]);
          modal.find('.modal-body #contributors').val(rca_report[6]);
          $(".modal-body #contributors").attr("value",rca_report[6]);
          modal.find('.modal-body #description').val(rca_report[7]);
          $(".modal-body #description").attr("value",rca_report[7]);
          modal.find('.modal-body #impact').val(rca_report[8]);
          $(".modal-body #impact").attr("value",rca_report[8]);
          modal.find('.modal-body #rootcause').val(rca_report[9]);
          $(".modal-body #rootcause").attr("value",rca_report[9]);
          modal.find('.modal-body #detection').val(rca_report[10]);
          $(".modal-body #detection").attr("value",rca_report[10]);
          modal.find('.modal-body #restore').val(rca_report[11]);                  
          $(".modal-body #restore").attr("value",rca_report[11]);
          modal.find('.modal-body #preventiveAction').val(rca_report[12]);
          $(".modal-body #preventiveAction").attr("value",rca_report[12]);
          $.each(rca_report[13], function(i, value){
              console.log(i + " : " + value);
             
              if(document.getElementById('actions-'+i+'-actionContent') == null){
                  addNewActionsRow(value);
              } 
              //modal.find('.modal-body #actions-'+i+'-actionNum').val(i);
              //modal.find('.modal-body #actions-'+i+'-actionNum').attr('value',i);
              modal.find('.modal-body #actions-'+i+'-actionContent').val(value[0]);
              modal.find('.modal-body #actions-'+i+'-actionContent').attr('value',value[0]);
              modal.find('.modal-body #actions-'+i+'-actionContent').addClass("form-control");
              modal.find('.modal-body #actions-'+i+'-actionOwner').val(value[1]);
              modal.find('.modal-body #actions-'+i+'-actionOwner').attr('value',value[1]);
              modal.find('.modal-body #actions-'+i+'-actionOwner').addClass("form-control");
              if(value[2] == ""){
                modal.find('.modal-body #actions-'+i+'-actionTargetDate').val(value[2]);
              }
              else{
                modal.find('.modal-body #actions-'+i+'-actionTargetDate').data("DateTimePicker").date(value[2]);
              }
              
              modal.find('.modal-body #actions-'+i+'-actionTargetDate').attr('value',value[2]);
              modal.find('.modal-body #actions-'+i+'-actionTargetDate').addClass("form-control");
              
              if(value[3] == "true"){
                modal.find('.modal-body #actions-'+i+'-actionTargetDate').attr('disabled','disabled');
                modal.find('.modal-body #actions-'+i+'-actionTargetCheckbox').attr('checked','checked');
              }
              
          });
          
          
          
        
      }
      */
      {% if 'qual_' not in user.role %}
      //make readonly if user has no access to edit
      modal.find("textarea").attr("readonly", "readonly");
      modal.find("input").attr("readonly", "readonly");
      {% endif %}
    });

    // RCA Report Action - Row Handlers
    $(document).on("click", "#rcaReportAddNewAction", function(){
        addNewActionsRow({'action':"",'completed': false, 'targetDate':'', 'owner': ''});
    });

    $(document).on("click", ".removeActionRow", function(){
        var rowId = $(this).attr("rowId");
        var table = document.getElementById("rca-report-action-table");
        $("#rca-report-action-table #actions-" + rowId + "-actionContent").parents("tr").remove();

        // update serial numbers of actions
        $("#rca-report-action-table tbody").find("tr").each(function(row, rowVal){
            $(this).find("td").each(function(col, colVal){
                 if(col == 0){
                     $(this).html(parseInt(row) + 1);
                     return;
                 }
                 if(col == 5){
                    $(this).children().first().attr("rowId", row);
                    return;   
                 }
                 var id = $(this).children().first().attr("id").split("-");
                 id[1] = row;
                 $(this).children().first().attr("id", id.join("-"));

                 var name = $(this).children().first().attr("name").split("-");
                 name[1] = row;
                 $(this).children().first().attr("name", name.join("-"));

                 console.log("col :: " + col);
                 console.log($(this).children().first().attr("id"));
            });

        });
    });

    $(document).on("click", "#save", function () {
        var csrftoken = "{{ csrf_token }}";
        var content = {};
        var report = {
            'actions' : []
        };
        var beforeTableId = is_new_rca ? "" : selected_table;
        
        var mode = $(this).attr('mode');
        
        if(mode == 'rca-content'){
            $.map($('#rca-form').serializeArray(), function(n, i){content[n['name']] = n['value'];})
            report = (rcaList[content['rcaId']] == undefined) ? report : JSON.parse(rcaList[content['rcaId']]['report']);
            
            var contentCheck = validateContent();
            if(!contentCheck){
                return false;
            }
        
        }
        else{
            $.map($('#rca-report-form').serializeArray(), function(n, i){report[n['name']] = n['value'];})
            $('#rca-report-form').find('.rcaReportActionTargetDate:disabled').each(function(index, value){  
                report[$(value).attr('id')] = $(value).val()
            });
            content = JSON.parse(rcaList[report['rcaId']]['content']);
        }
        
        var data = {
            'rcaid' : content['rcaId'],
            'content' : JSON.stringify(content),
            'report' : JSON.stringify(report),
            'status' : content['rcaStatus'],
            'mode' : mode
        };
        
        
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
        $.ajax({
                url: '{% url 'hygie_portal:save_rca' %}',
                data: JSON.stringify(data),
                type: 'POST',
                contentType:'application/json;charset=UTF-8',
                async: false,
                success: function(response) {
                    $('#rcaRowModal').modal('hide');
                    $('#rcaReportModal').modal('hide');
                    if(response['status'] == 'ERROR' && response['message'] != undefined){
                        return;
                    }
                    if(response['status'] == "OK"){
                        if(mode == 'rca-content'){
                            var afterTableId = response['new_row']['rcaStatus'] == "Sent" ? 'closed-rca-table' : 'open-rca-table';
                            var afterTable, beforeTable, selectedTd;
                            
                            beforeTable = $('#' + beforeTableId).DataTable();
                            afterTable = $('#' + afterTableId).DataTable();
                            
                            // if existing rca and in same table, edit existing rca
                            if(!is_new_rca && beforeTableId == afterTableId){
                                selected_row.data(response['new_row_list']).draw();
                            }
                            else{
                                // if existing rca and different table remove from old table
                                if(!is_new_rca){
                                    beforeTable.row($('#'+response['new_row']['rcaId']+'-edit').parents('tr')).remove().draw();
                                }
                                
                                afterTable.row.add(response['new_row_list']).draw();
                                
                            }
                            
                            var dueDateColumn = response['new_row']['rcaStatus'] == "Sent" ? 7 : 6;
                            var selectedTd = $('#'+response['new_row']['rcaId']+'-edit').parents('tr').find("td:eq(" + dueDateColumn +")");
                            if (response['in_sla_check']){
                                selectedTd.addClass("cell_text_font_insla");
                            }else{
                                selectedTd.addClass("cell_text_font_oosla");
                            }
                        }
                       
                    
                    }
                    
                    rcaList = response['rca_list']
                    
                    // update graphs
                    gen_rca_sla_graph(response["rca_sla_chart"]);
                    gen_rca_group_graph(response["rca_group_chart"]);
                    
                    
                },
                error: function(error) {
                    console.log(error);
                }
        });
    });

    $(document).on("click", "#editRCAReport", function () {
        var csrftoken = "{{ csrf_token }}";
        
		var disabledActionDate = [];
        //console.log($('#edit-rcareport-quality-form').find('.rcaReportActionTargetDate:disabled'));
		
		$('#edit-rcareport-quality-form').find('.rcaReportActionTargetDate:disabled').each(function(index, value){
			disabledActionDate.push(index);
			$(value).removeAttr('disabled');
		});
		
		var dataToSend = $('#edit-rcareport-quality-form').serialize();
		dataToSend += "&actionsCount=" + $('#edit-rcareport-quality-form').find('.rcaReportActionTargetDate').length;
		
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
        $.ajax({
                url: '{% url 'hygie_portal:edit_rcareport_quality' %}',
                data: dataToSend,
                type: 'POST',
                async: false,
                success: function(response) {
                    $('#editRCAReportModal').modal('hide');
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
        });
		
		$('#edit-rcareport-quality-form').find('.rcaReportActionTargetDate').each(function(index, value){
			if($.inArray(index, disabledActionDate) > 0){
				$('#edit-rcareport-quality-form').find('#actions-' + index + '-actionTargetDate').attr('disabled','disabled');
			}
		});
    });
    
    // word export
    $(document).on("click", "#rcaReportWordExport", function () {
		
		var disabledActionDate = [];
		
		$('#rca-report-form').find('.rcaReportActionTargetDate:disabled').each(function(index, value){
			disabledActionDate.push(index);
			$(value).removeAttr('disabled');
		});
		
        var tableContent = $('#rca-report-form').serializeArray();
		
		$('#rca-report-form').find('.rcaReportActionTargetDate').each(function(index, value){
			if($.inArray(index, disabledActionDate) >= 0){
				$('#rca-report-form').find('#actions-' + index + '-actionTargetDate').attr('disabled','disabled');
			}
		});
		
		var actionsTable = [];
        $.each(tableContent, function(index, field){
			if(field["name"] == "csrf_token"){
				return true;
			}
			console.log(field["name"] + " : " + field["value"]);
			var fieldName = field["name"].split("-");
			if(fieldName[0] == "actions"){
				if(actionsTable[fieldName[1]] == "undefined" || actionsTable[fieldName[1]] == null){
                    var actionNum = parseInt(fieldName[1]) + 1;
                    actionsTable[fieldName[1]] = '<td style="border: 1px solid; border-collapse: collapse; text-align: left;">' + actionNum  + '</td>'; 
                }
				var fieldVal = (fieldName[2] == "actionTargetCheckbox") ? "yes" : field["value"];
				actionsTable[fieldName[1]] += '<td style="border: 1px solid; border-collapse: collapse; text-align: left;">' + fieldVal + '</td>';
			}
			else{
				$('#rca-report-word-export #' + fieldName[0]).html(field["value"]);
			}
            if(fieldName[0] == "rcaId"){
                $('#rca-report-word-export #incidentTitle').html($("#"+field["value"]).html());
            }
        });
		
		$.each(actionsTable, function(i, actionData){
			var actionRow = '<tr>' + actionData + '</tr>';
			$('#rca-report-word-export #action #actionTable tbody').append(actionRow);
		});
		console.log(actionsTable);

        $('#rca-report-word-export').wordExport($('#rca-report-word-export #rcaId').html());
    });

    $(document).on("click", "#delete", function () {
        var rcaId = $('#rca-form #rcaId').val();
        var data = {
            'rcaid' : rcaId
        }
        
        var answer = swal({
                title: "Delete this RCA Entry?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Delete!",
                closeOnConfirm: false
        },
        function(){
            //swal("Deleted!", "This RCA entry has been deleted.", "success");
            var csrftoken = "{{ csrf_token }}";
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                }
            });
            $.ajax({
                url: '{% url 'hygie_portal:delete_rca' %}',
                data: JSON.stringify(data),
                type: 'POST',
                contentType:'application/json;charset=UTF-8',
                async: false,
                success: function(response) {
                    swal("Deleted!", "This RCA entry has been deleted.", "success");
                    $('#rcaRowModal').modal('hide');
                    
                    $('#'+selected_table).DataTable().row($('#'+rcaId+'-edit').parents('tr')).remove().draw();
                    
                    rca_list = response['rca_list'];
                    
                    if(response["rca_sla_chart"] != null || response["rca_sla_chart"] != "undefined"){
                        gen_rca_sla_graph(response["rca_sla_chart"])
                    }
                    if(response["rca_group_chart"] != null || response["rca_group_chart"] != "undefined"){
                        gen_rca_group_graph(response["rca_group_chart"])
                    }
                },
                error: function(error) {
                    swal("Error", "There was an error. Please contact the TSC Team.", "error");
                    console.log(error);
                }
            });
        });

    });
	
	$(document).on('click', '.actionsTableCheckbox', function(){
		if($(this).is(':checked')){
			//disable target date input
			 $(this).parents("tr").find(".rcaReportActionTargetDate").attr("disabled", "disabled");
		}
		else{
			$(this).parents("tr").find(".rcaReportActionTargetDate").removeAttr("disabled");
		}
	});

    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'});

    // initialize tables
    gen_datatable('open-rca-table');
    gen_datatable('closed-rca-table');

    gen_rca_sla_graph();
    gen_rca_group_graph();
});

function getRCAReport(val){
    console.log(val)
}

function gen_datatable(table_name){
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
    var targets = (table_name == 'open-rca-table') ? [6,8,9,10] : [8,9,10];
    var ordered_row = [[ 1, "desc" ], [8, "desc"]];
    // initialize tables
    $('#'+table_name).DataTable({
        orderCellsTop: true,
        "order": ordered_row,
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {extend: 'excel', title:  'RCA', text: 'Excel',titleAttr: 'Excel', exportOptions: {
        format : {
            header : function (mDataProp, columnIdx) {
                var htmlText = '<span>' + mDataProp + '</span>';
                var jHtmlObject = jQuery(htmlText);
                jHtmlObject.find('div').remove();
                var newHtml = jHtmlObject.text();
                console.log('My header > ' + newHtml);
                return newHtml;
            }
        }
        } }],
        "columnDefs": [
            {"visible": false, "targets": targets}
        ],
        columns : [
            {'name' : 'rca_id'},
            {'name' : 'week'},
            {'name' : 'zone'},
            {'name' : 'outage_title'},
            {'name' : 'rca_status'},
            {'name' : 'start_date'},
            {'name' : 'end_date' },
            {'name' : 'due_date' },
            {'name' : 'incident_start_date' },
            {'name' : 'incident_end_date' },
            {'name' : 'incident_duration' },
            {'name' : 'rca_owner' },
            {'name' : 'problem_id' },
            {'name' : 'im' },
            {'name' : 'group'},
            {'name' : 'comments'},
        ]
    });
}

function showMe(e) {
      $('#nlvcp1202p').value = e.value;
}

function updateText(e){
    var comments = e.value;
    var current_user = "{{user.username}}";
    e.innerHTML = comments + " by " + current_user;
}

Number.prototype.padLeft = function(base,chr){
    var  len = (String(base || 10).length - String(this).length)+1;
    return len > 0? new Array(len).join(chr || '0')+this : this;
}

function stopPropagation(evt) {
    if (evt.stopPropagation !== undefined) {
        evt.stopPropagation();
    } else {
        evt.cancelBubble = true;
    }
}

function updateDueDate(value){
    var duration = 10;
    var weekOfDay = moment(value,"YYYY-MM-DD HH:mm").weekday();
    console.log(weekOfDay);
    if(weekOfDay>2 && weekOfDay<6){
        duration = 12;
    }else if(weekOfDay==6){
        duration = 11;
    }
    console.log(duration);
    var dueDate = moment(value,"YYYY-MM-DD HH:mm").add(duration, 'd').format('YYYY-MM-DD HH:mm');
    $('#rcaRowModal #dueDate').val(dueDate);
}

function calculateDuration(){
    var incidentStartDate = $('#rcaRowModal #incidentStartDate').val();
    var incidentEndDate = $('#rcaRowModal #incidentEndDate').val();
    var days = moment(incidentEndDate,"YYYY-MM-DD HH:mm").diff(moment(incidentStartDate,"YYYY-MM-DD HH:mm"),'days');
    var ms = moment(incidentEndDate,"YYYY-MM-DD HH:mm").diff(moment(incidentStartDate,"YYYY-MM-DD HH:mm"));
    var d = moment.duration(ms);
    $('#rcaRowModal #incidentDuration').val(days+' days, '+d.hours()+':'+d.minutes()+':00');
    $('#rcaRowModal #startDate').val(incidentEndDate);//update RCA Start date as Incident end date
    updateDueDate(incidentEndDate);
    updateEditModalWeek(incidentStartDate);
}

function updateNewModalDueDate(value){
    var duration = 10;
    var weekOfDay = moment(value,"YYYY-MM-DD HH:mm").weekday();
    console.log(weekOfDay);
    if(weekOfDay>2 && weekOfDay<6){
        duration = 12;
    }else if(weekOfDay==6){
        duration = 11;
    }
    var dueDate = moment(value,"YYYY-MM-DD HH:mm").add(duration, 'd').format('YYYY-MM-DD HH:mm');
    $('#rcaRowModal #dueDate').val(dueDate);
}

function calculateNewModalDuration(){
    var incidentStartDate = $('#rcaRowModal #incidentStartDate').val();
    var incidentEndDate = $('#rcaRowModal #incidentEndDate').val();
    
    if(incidentStartDate == "" || incidentEndDate == "") { return false; }
    
    var days = moment(incidentEndDate,"YYYY-MM-DD HH:mm").diff(moment(incidentStartDate,"YYYY-MM-DD HH:mm"),'days');
    var ms = moment(incidentEndDate,"YYYY-MM-DD HH:mm").diff(moment(incidentStartDate,"YYYY-MM-DD HH:mm"));
    var d = moment.duration(ms);
    if(days == 0){
        value = d.hours()+' h '+d.minutes()+' min';
    }
    else if(days == 1){
        value = days+' day, '+d.hours()+' h '+d.minutes()+' min'; 
    }
    else{
        value = days+' days, '+d.hours()+' h '+d.minutes()+' min';
    }
    $('#rcaRowModal #incidentDuration').val(value);
    $('#rcaRowModal #startDate').val(incidentEndDate); //update RCA Start date as Incident end date
    updateNewModalDueDate(incidentEndDate);
    updateNewModalWeek(incidentStartDate);
}

$("a.word-export").click(function(event) {
    $("#rca-report-form").wordExport();
});

function displayRCAEndDate(value){
    if(value=="Sent"){
        $("#rcaRowModal #ifEndDate").removeClass("invisible");
        $("#rcaRowModal #endDate").attr("required","required");
		$("#rcaRowModal #endDate").data("DateTimePicker").minDate($("#rcaRowModal #startDate").val());
    } else {
        $("#rcaRowModal #ifEndDate").addClass("invisible");
        $("#rcaRowModal #endDate").removeAttr( "required" );
    }
}

function displayEditRCAEndDate(value){
    if(value=="Sent"){
        $("#rcaRowModal #showEndDate").removeClass("invisible");
        $("#rcaRowModal #endDate").attr("required","required");
    } else {
        $("#rcaRowModal #showEndDate").addClass("invisible");
        $("#rcaRowModal #endDate").removeAttr( "required" );
    }
}

function updateNewModalWeek(timestamp){
    var momentOfTimestamp = moment(timestamp, "YYYY-MM-DD HH:mm");
    var weekOfYear = momentOfTimestamp.year() + "-"+ momentOfTimestamp.isoWeek().toString();
    $('#rcaRowModal #week').val(weekOfYear); 
}

function updateEditModalWeek(timestamp){
    var momentOfTimestamp = moment(timestamp, "YYYY-MM-DD HH:mm");
    var weekOfYear = momentOfTimestamp.year() + "-"+ momentOfTimestamp.isoWeek().toString();
    $('#rcaRowModal #week').val(weekOfYear); 
}

// RCA Report Edit - Actions Row Handler Functions
function addNewActionsRow(rowValues){   
    //var table = document.getElementById("edit-rca-action-table").getElementsByTagName('tbody');
    var currentRowCount = $("#rca-report-action-table tbody tr").length;
    //var currentRowCount = table.rows.length;
    var table = $("#rca-report-action-table tbody");
    var template = "";
    var currentIndex = parseInt(currentRowCount) + 1;
    template += '<td>' + currentIndex + '</td>';
    template += '<td><textarea id="actions-' + currentRowCount + '-actionContent" name="actions-' + currentRowCount + '-actionContent" value="' + rowValues['action'] + '"></textarea></td>';
    template += '<td><input id="actions-' + currentRowCount + '-actionOwner" name="actions-' + currentRowCount + '-actionOwner" type="text" value="' + rowValues['owner'] + '"></td>';
    
	if(rowValues['completed'] == undefined || !rowValues['completed']){
		template += '<td><input class="rcaReportActionTargetDate" id="actions-' + currentRowCount + '-actionTargetDate" name="actions-' + currentRowCount + '-actionTargetDate" type="text" value="' + rowValues['targetDate'] + '"></td>';
		template += '<td><input class="actionsTableCheckbox" id="actions-' + currentRowCount + '-actionTargetCheckbox" name="actions-' + currentRowCount + '-actionTargetCheckbox" type="checkbox"></td>';
	}
	else{
		template += '<td><input class="rcaReportActionTargetDate" id="actions-' + currentRowCount + '-actionTargetDate" name="actions-' + currentRowCount + '-actionTargetDate" type="text" value="' + rowValues['targetDate'] + '" disabled></td>';
		template += '<td><input class="actionsTableCheckbox" id="actions-' + currentRowCount + '-actionTargetCheckbox" name="actions-' + currentRowCount + '-actionTargetCheckbox" type="checkbox" checked></td>';
		
	}
	
    template += '<td><i class="fa fa-times removeActionRow" rowId="' + currentRowCount + '"></i></td>';   
    table.append('<tr>' + template + '</tr>'); 
/*
    var row = table.insertRow(-1);
    row.insertCell(0).innerHTML = currentRowCount + 1;
    row.insertCell(1).innerHTML = '<textarea id="actions-' + currentRowCount + '-actionContent" name="actions-' + currentRowCount + '-actionContent" value="' + rowValues[1] + '"></textarea>';
    row.insertCell(3).innerHTML = '<input class="rcaReportActionTargetDate" id="actions-' + currentRowCount + '-actionTargetDate" name="actions-' + currentRowCount + '-actionTargetDate" type="text" value="' + rowValues[3] + '">';
    row.insertCell(2).innerHTML = '<input id="actions-' + currentRowCount + '-actionOwner" name="actions-' + currentRowCount + '-actionOwner" type="text" value="' + rowValues[2] + '">';
    row.insertCell(4).innerHTML = '<i class="fa fa-times removeActionRow" rowId="' + currentRowCount + '"></i>';
*/
    $('#rcaReportModal #actions-' + currentRowCount + '-actionTargetDate').datetimepicker({
        format: 'YYYY-MM-DD'
    }).on('show.bs.modal', function(event) {
      // prevent datepicker from firing bootstrap modal "show.bs.modal"
      event.stopPropagation();
    });
    
}

function gen_rca_sla_graph(rca_sla_data){
    if(rca_sla_data == null || rca_sla_data == "undefined"){
        rca_sla_data = {{rca_sla_chart|safe}};
    }
    
    var total_incidents = 0;
    $.each(rca_sla_data, function(key, val){
        total_incidents += parseInt(val['y']);
        if(val['y'] == 0){
            val['label'] = '';
        }
    });

    if(total_incidents == 0){
        $("#rca-sla-chart").html('NO RCA');
    }
    else{
        $("#rca-sla-chart").CanvasJSChart({
                axisY:{ title:"RCA" },
                axisX: { labelAngle: -30,
                    interval: 1 },
                data: [
                {
                    type: "doughnut",
                    radius: "100%",
                    dataPoints: rca_sla_data,
                    toolTipContent: "{label}: {y} Incidents"
                }
                ],
                animationEnabled: true,
        }); 

        $(".canvasjs-chart-credit").css("display", "none");
    }
}

function gen_rca_group_graph(rca_group_data){
    if(rca_group_data == null || rca_group_data == "undefined"){
        rca_group_data = {{rca_group_chart|safe}};
    }
    var total_incidents = 0;
    
    $.each(rca_group_data, function(key, val){
        total_incidents += parseInt(val['y']);
    });
    
    if(total_incidents == 0){
        $("#rca-group-chart").html('NO RCA');
    }
    else{
        $("#rca-group-chart").CanvasJSChart({
                axisY:{ 
                    title:"RCA", 
                    gridThickness: 0
                },
                data: [
                {
                    type: "column",
                    dataPoints: rca_group_data,
                    toolTipContent: "{label}: {y} RCA"
                }
                ],
                animationEnabled: true,
        });

        $(".canvasjs-chart-credit").css("display", "none");
    }
}

function validateContent(){
    var isValidContent = true;
    var validationFields = {{my_config.QUALITY_RCA_MANDATORY_FIELDS|safe}};
    $.each(validationFields, function(i, field){
        console.log($('#rca-form #' + field).val());
        isValidContent = isValidContent && ($('#rca-form #' + field).val() != "")
    })
    return isValidContent;
}

</script>

{% endblock %}

