{% extends "layout.html" %}

{% block css %} 
        {% load assets %}
    {% assets "css_query_management" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

<style>

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
  }
  .five-cols .col-md-1,
  .five-cols .col-sm-1,
  .five-cols .col-lg-1 {
    width: 20%;
  }
}

.fa-o {
    padding-right: 3px;
}

.ace_editor {
    border: 1px solid lightgray;
    margin: auto;
    height: 200px;
    width: 100%;
}
.scrollmargin {
    height: 80px;
    text-align: center;
}

</style>
{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="row">
			<div class="col-lg-12">
				<h4 class="center-header">Query Management</h4>
			</div>
		</div>
    <div class="row">
        <div id="query-management-filters" class="col-lg-12">
            Select a query from the List 
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="query-list" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="button-value">Choose Query</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" name="query_list" aria-labelledby="query-list">
                    {% load list_sort %}
                    {% for query in query_list|list_sort %}
                    <li><a href="#">{{query}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <button type="submit" class="btn btn-default btn-primary" id="query-management-edit" disabled>Edit</button>
            <button type="submit" class="btn btn-default btn-primary" id="query-management-add">Add New Query</button>
        </div>
    </div>
    <div class="row">
        <div id="query-management" class="col-lg-12">
            <div id="mandatory-fields" class="row">
                <div class="col-lg-12 hidden">
                    <input type="text" id="query-id" name="query_id" class="form-control" value="" />
                </div>
                <div class="col-lg-12">
                    <label>*Title</label>
                    <input type="text" id="query-title" name="query_title" class="form-control" value="" />
                </div>
                <div class="col-lg-12">
                    <label>Description</label>
                    <input type="text" id="query-description" name="query_description" class="form-control" value="" />
                </div>
                <div class="col-lg-12">
                    <label>Query</label>
                    <div type="text" id="query-text" name="query_text" class="form-control" rows="10" value="" ></div>
                </div>
                <div class="col-lg-12">
                    <label>Last User</label>
                    <input type="text" id="query-lastuser" name="query_lastuser" class="form-control" value="" readonly/>
                </div>
                <div class="col-lg-12">
                    <label>Last Modified</label>
                    <input type="text" id="query-lastupdated" name="query_lastupdated" class="form-control" value="" readonly/>
                </div>
                <div class="col-lg-12">
                    <label>Allowed Access</label>
                    <select name="query_allowedaccess" id="query-allowedaccess" multiple="multiple">
                        {% for permission, label in my_config.AD_GROUPS_LABEL_MAPPING.items|dictsort:0 %}
                        <option value="{{ permission }}" >{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-12">
                	<p><i>* These fields are mandatory</i></p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 tag-center">
                    <button type="submit" class="btn btn-default btn-primary" id="query-management-cancel" onclick="cancelForm()">Cancel</button>
                    <button type="submit" class="btn btn-default btn-primary" id="query-management-save" onclick="saveQueryData()">Save</button>
                    <button type="submit" class="btn btn-default btn-primary" id="query-management-delete" onclick="deleteQuery()">Delete</button>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}

{% block js %}

{% assets "js_query_management" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}


<script>

var queryTextEditor = ace.edit("query-text", {
    mode: "ace/mode/sql",
    autoScrollEditorIntoView: true,
    maxLines: 30,
    minLines: 10,
    printMargin: false
});
    
$(document).ready(function(){

    
    //init multiselect for allowed access
    $('#query-allowedaccess').multiselect({
	    columns: 2,
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
		enableFiltering: true,
		enableCaseInsensitiveFiltering: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Permissions',
        buttonWidth: '200px',
        maxHeight: 500,
        width: 500,
        buttonContainer:'<div id="query-allowedaccess" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#query-allowedaccess .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#query-allowedaccess .caret-container').click();
        }
			
    });

    // update the dropdown value on change of the option
    $(document).on('click', ".dropdown-menu li a", function(){
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").text($(this).text());
        $(this).parent().parent().siblings(".btn:first-child").children(".button-value").val($(this).text());
        
        var queryCheck = $("#query-list .button-value").html() != "Choose Query";
        
        if(queryCheck){
            $("#query-management-filters #query-management-edit").removeAttr("disabled");
        }
        else{
            $("#query-management-filters #query-management-edit").attr("disabled", "disabled");
        }
    });
    
    $("#query-management-add").on("click", function(){
        // clear the form
        $("#query-list .button-value").html("Choose Query");
        $("#query-title").val("");
        $("#query-description").val("");
        $("#query-lastuser").val("");
        $("#query-lastupdated").val("");
        $("#query-allowedaccess").multiselect('clearSelection');
		//$("textarea#query-text").val("");
        queryTextEditor.setValue("");
        
        //show form div
        $("#query-management").show();
        
        //hide delete button
        $("#query-management-delete").hide();
    });
    
    // ajax call to retrieve the data for the selected patch and device-list
    $("#query-management-edit").on('click', function(){
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'query_title': $("#query-list .button-value").html()
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:query_edit' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                // populate data in table
                populateQueryData(data['query_details']);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
    
});

function populateQueryData(data){
    //populate fields
    $("#query-id").val(data['id']);
    $("#query-list .button-value").val(data['title']);
    $("#query-title").val(data['title']);
    $("#query-description").val(data['description']);
    $("#query-lastuser").val(data['lastuser']);
    $("#query-lastupdated").val(moment.tz(data['lastupdated'], "Europe/Paris").tz(moment.tz.guess()).format("YYYY-MM-DD HH:mm:ss"));
    $("#query-allowedaccess").multiselect('select', data['allowedaccess'].split('|'));
    //$("#query-text").html();
    queryTextEditor.setValue(data['querytext']);
    queryTextEditor.clearSelection();
    
    
    
    //show form div and delete option
    $("#query-management").show();
    $("#query-management-delete").show();
}

function saveQueryData(){
	
    var answer = swal({
            title: "Save this Query?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Save!",
            closeOnConfirm: false
    },
    function(){
    	
    	
    	var savedData = {
            "id" : $("#query-id").val(),
	    	"title" : $("#query-title").val(),
	        "description" : $("#query-description").val(),
	        //"querytext" : $("textarea#query-text").val(),
	        "querytext" : queryTextEditor.getValue(),
	        "lastuser" : '{{user.username}}',
	        "allowedaccess" : $("#query-allowedaccess").val().join("|")
    	};
    	
       
        console.log(savedData);
        
        data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'query_settings': savedData
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:query_save' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                if(data['status'] == 'ERROR'){ swal(data['status'], "There are restricted words present in the query (" + data['restricted_words'].join(", ") + "). Please contact the TSC Dev Team for further questions.", "error"); }
                else if(data['status'] == 'FAIL'){ swal(data['status'], "There was an error saving the query.", "error");}
                else{
                	swal(data['status'], "Query has been saved", "success");
                    // update query list dropdown
                    $("#query-management-filters ul.dropdown-menu").empty();
                    $.each(data['query_list'], function(i, query){
                        $("#query-management-filters ul.dropdown-menu").append('<li><a href="#">' + query + '</a></li>');
                    });
                    
                    $("#query-list .button-value").html(savedData["title"]);
                    $("#query-list .button-value").val(savedData["title"]);
                    $("#query-management-filters #query-management-edit").removeAttr("disabled");
                    $("#query-management-delete").show();
                }
            },
            error: function(error) {
            	swal("Error!", "There was an error in saving the query", "error");
                console.log(error);
            }
        });
    });

}

function deleteQuery(){
    var answer = swal({
            title: "Delete this query?",
            text: "Please note that the deletion is permanent and cannot be reverted.",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, Delete!",
            closeOnConfirm: false
    },
    function(){
    
        var data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'query_title': $("#query-title").val()
        }
        
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        $.ajax({
            url: '{% url 'hygie_portal:query_delete' %}'+'?local_tz='+local_zone,
            data: JSON.stringify(data, null, '\t'),
            type: 'POST',
            'async': false,
            contentType:'application/json;charset=UTF-8',
            dataType: "json",
            success: function(data) {
                console.log(data);
                swal("Deleted!", "The query has been deleted.", "success");
                // update campaign list dropdown
                $("#query-management-filters ul.dropdown-menu").empty();
                $.each(data['query_list'], function(i, query){
                    $("#query-management-filters ul.dropdown-menu").append('<li><a href="#">' + query + '</a></li>');
                });
                
                $("#query-list .button-value").html("Choose Query");
                $("#query-management-filters #query-management-edit").attr("disabled","disabled");
                $("#query-management").hide();
            },
            error: function(error) {
                swal("Error", "There was an error. Please contact the TSC Dev Team.", "error");
                console.log(error);
            }
        });
    });
    
}


function cancelForm(){
    //clear form
    $("#query-list .button-value").html("Choose Query");
    $("#query-title").val("");
    $("#query-description").val("");
    $("#query-lastuser").val("");
    $("#query-lastupdated").val("");
    queryTextEditor.setValue("");
    $("#query-allowedaccess").multiselect('clearSelection');
    
    //hide form div
    $("#query-management").hide();
    $("#query-management-filters #query-management-edit").attr("disabled","disabled");
}

</script>
{% endblock %}
