{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_reporting_esurvey" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="row">
            <div class="col-lg-9">
                <!-- tabs -->
                <ul class="nav nav-tabs" role="tablist" id="esurvey-tabs"> 
              
                    <li class="active"><a href="#satisfaction_rate" group="country" aria-controls="satisfaction_rate" data-toggle="tab" aria-expanded="false">Satisfaction by User's Country</a></li>
                    <li class=""><a href="#satisfaction_by_zone" group="zone" aria-controls="satisfaction_by_zone" data-toggle="tab" aria-expanded="true">Satisfaction by Service Desk</a></li>
                    <li class=""><a href="#satisfaction_by_supportgroup" group="supportgroup" aria-controls="satisfaction_by_supportgroup" data-toggle="tab" aria-expanded="true">Satisfaction by Closing Support Group</a></li>
					
                </ul> 
            </div>
            <div class="col-lg-3">
                <!-- date range selection -->
                <div id="esurvey-date-selector">
                    <label>Select Date Range:</label>
                    <input id="esurvey-daterangepicker" data-bind="daterangepicker: dateRange, daterangepickerFormat: 'YYYY-MM-DD'" readonly/>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-lg-12">
				<h4 id="selected-date-range-label">Selected Date Range: <span id="selected-date-range-content"></span></h4>
			</div>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="satisfaction_rate">
				<div class="row">
					<div class="col-lg-12 country-main-container">
					<!-- world map content for satisfaction rate -->
						<div class="col-lg-4 country-graph-container" id="satisfaction-rate-americas-container">
							<div class="country-graph-header">AMERICAS <span id="america-percent" class="customtooltip"></span></div>
							<div class="country-graph-content">
								<div class="no-data-div">Sorry, there is no data for this date range &#9785 </div>
								<div class="country-graph" id="satisfaction-rate-americas"></div>
							</div>
							
						</div>
						<div class="col-lg-4 country-graph-container" id="satisfaction-rate-emea-container">
							<div class="country-graph-header">EMEA <span id="emea-percent" class="customtooltip"></div>
							<div class="country-graph-content">
								<div class="no-data-div">Sorry, there is no data for this date range &#9785 </div>
								<div class="country-graph" id="satisfaction-rate-emea"></div>
							</div>
						</div>
						<div class="col-lg-4 country-graph-container" id="satisfaction-rate-apac-container">
							<div class="country-graph-header">APAC <span id="apac-percent" class="customtooltip"></div>
							<div class="country-graph-content">
								<div class="no-data-div">Sorry, there is no data for this date range &#9785 </div>
								<div class="country-graph" id="satisfaction-rate-apac"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="satisfaction_by_zone">
				<div class="row">
					<div class="col-lg-3 col-sm-12">
						<div class="table-responsive" id="satisfaction-zone-table">
							<table class="table table-bordered table-hover table-striped" id="satisfaction-zone-answer-table">
                                <thead><tr>
                                <th 
                                class="tdfield" colspan="2" data-toggle="tooltip" title="Percentage of Surveys answered versus the total tickets closed on this date range.">Answer Rate
                                </th>
                                </tr>
                                </thead>
								<tbody></tbody>
							</table>
							<!-- <table class="table table-bordered table-hover table-striped" id="satisfaction-zone-satisfied-table"> -->
								<!-- <thead><tr><th colspan="2">Satisfaction Rate</th></tr></thead> -->
								<!-- <tbody></tbody> -->
							<!-- </table> -->
						</div>
					</div>
					<div class="col-lg-9 col-sm-12">
					<!-- world map content for satisfaction rate -->
						<div class="no-data-div-zone">Sorry, there is no data for this date range &#9785 </div>
						<div id="satisfaction-rate-zone-worldmap"></div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="satisfaction_by_supportgroup">
            <div class="row">
                <div class="col-lg-12">
                
                    <div id="supportgroup-container">
						<div class="no-data-div-supportgroup">Sorry, there is no data for this date range &#9785 </div>
						<div id="accordion" role="tablist"></div>
					</div>
                </div>
            </div>
        </div>
		</div>
	</div>
</div>

{% include 'popup_esurvey_details.html' %}

{% endblock %}

{% block js %}

{% assets "js_reporting_esurvey" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<template id="closegroup-accordian-card">
	<div class="card">
		<div class="card-header" role="tab" id="__HEADER_ID__">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" href="#__CONTENT_ID__" role="button" aria-expanded="false" aria-controls="__CONTENT_ID__">__CARD_HEADER__</a>
			</h5>
		</div>

		<div id="__CONTENT_ID__" class="collapse" role="tabpanel" aria-labelledby="__HEADER_ID__" data-parent="#accordion">
			<div class="card-body"></div>
		</div>
	</div>
</template>



<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
var isFirefox = typeof InstallTrigger !== 'undefined';

var satisfaction_group_by = "{{satisfaction_group_by}}";

var graph_data = "{{graph_data|safe}}".replace(/u'/g,"'");
graph_data = graph_data.replace(/True/g, 'true');
graph_data = $.parseJSON(graph_data.replace(/'/g, '"'));

var map, mapAmerica, mapEmea, mapApac, countryBreakdownSettings = null;

gen_chart_data(graph_data);

$(document).ready(function() {

    var current_tab;
	
	$('#esurvey-tabs a').click(function (link) {
		satisfaction_group_by = $(link.currentTarget).attr("group");
		var dateRange = $("#esurvey-daterangepicker").val().split(" - ");
		getESurveyDataSummary(dateRange[0], dateRange[1]);
	});
	
	console.log(moment().startOf('month') + " to " + moment().endOf('month'));
	
	
    
    $("#esurvey-daterangepicker").daterangepicker({
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        minDate: [moment().subtract(59, 'days'), 'inclusive'],
        maxDate: [moment(), 'inclusive'],
		prev_month: moment().subtract(1, 'month'),
        periods: ['day'],
        orientation: 'left',
		//forceUpdate: true,
        ranges:{
            'Today' : [moment(), moment()],
            'Yesterday' : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
			'Past Week' : [moment().utc().subtract(7, 'days').startOf('week').add(1, 'days'), moment().utc().subtract(7, 'days').endOf('week').add(1, 'days')],
			'Last 30 days' : [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
			'Past Month' : [(moment().utc().subtract(1, 'month').startOf('month')), (moment().utc().subtract(1, 'month').endOf('month'))],
			'Current Month' : [moment().utc().startOf('month'), moment().utc().endOf('month')],
            'Custom Range' : 'custom'
        },
        callback: function(startDate, endDate, range){
            var title = startDate.format('YYYY-MM-DD') + ' - ' + endDate.format('YYYY-MM-DD');
            $(this).val(title);
			if(endDate.diff(startDate, 'days') === 1){
				$("#selected-date-range-label #selected-date-range-content").html(startDate.format('LL'));
			}
			else{
				$("#selected-date-range-label #selected-date-range-content").html(startDate.format('LL') + ' to ' + endDate.format('LL'));
			}
			getESurveyDataSummary(startDate.format('YYYY-MM-DD'), endDate.format('YYYY-MM-DD'));
        }
    });
	
	//$("#esurvey-daterangepicker").val(moment().subtract(1, 'days').format('YYYY-MM-DD') + ' - ' +  moment().format('YYYY-MM-DD'));
    $("#esurvey-daterangepicker").val('2018-12-01' + ' - ' + '2018-12-31');
	$("#selected-date-range-label #selected-date-range-content").html(moment().subtract(1, 'days').format('LL'));

    
    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'});
	
	
	$('#esurvey-details-modal').on('shown.bs.modal', function (e) {
		$.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
	});

    // initialize tables
    gen_datatable();
});


function gen_chart_data(chart_data){
	// clear charts
	$(".country-main-container .country-graph").empty();
	$("#satisfaction-rate-zone-worldmap").empty();
	$("#supportgroup-container #accordion").empty();
	$("#satisfaction-zone-answer-table tbody").empty();
	$("#satisfaction-zone-satisfied-table tbody").empty();
	
	if(satisfaction_group_by == 'country'){
	
		if(chart_data["NA"] == undefined){
			$("#satisfaction_rate #satisfaction-rate-americas-container .no-data-div").show();
		}
		else{
			$("#satisfaction_rate #satisfaction-rate-americas-container .no-data-div").hide();
		}
		
		if(chart_data["EMEA"] == undefined){
			$("#satisfaction_rate #satisfaction-rate-emea-container .no-data-div").show();
		}
		else{
			$("#satisfaction_rate #satisfaction-rate-emea-container .no-data-div").hide();
		}
		
		if(chart_data["APAC"] == undefined){
			$("#satisfaction_rate #satisfaction-rate-apac-container .no-data-div").show();
		}
		else{
			$("#satisfaction_rate #satisfaction-rate-apac-container .no-data-div").hide();
		}
		
		/*AmCharts.addInitHandler(function(chart) {
			// set base values
			var categoryWidth = 50;
			var containerHeight = 500;

			// calculate bottom margin based on number of data points
			var chartHeight = categoryWidth * chart.dataProvider.length;
			var marginBottom = containerHeight - chartHeight;

			// set the bottom margin
			if (0 < marginBottom) {
				//chart.autoMargins = false;
				chart.valueAxes[0].ignoreAxisWidth = true;
				chart.marginBottom = marginBottom;
			}
		  
		}, ['serial']);*/
		AmCharts.addInitHandler( function ( chart ) {
		  // set base values
		  var categoryWidth = 60;
			
		  // calculate bottom margin based on number of data points
		  var chartHeight = categoryWidth * chart.dataProvider.length;
		  
		  // set the value
		  chart.div.style.height = chartHeight + 'px';
		  
		}, ['serial']);
		$.each(chart_data, function(zone, countryList){
		
			if(zone == "stats"){
				
				$.each(countryList, function(country, dataSet){
					// country is zone in this case
					var satisfiedCount = 0;
					var unsatisfiedCount = 0;
					var veryunsatisfiedCount = 0;
					var totalCount = 0;
					
					$.each(dataSet, function(i, categoryData){
						if(categoryData[0].toLowerCase() == "very satisfied" || categoryData[0].toLowerCase() == "satisfied"){
							satisfiedCount += categoryData[1];
						}
						else if(categoryData[0].toLowerCase() == "unsatisfied"){
							unsatisfiedCount += categoryData[1];
						}
						else{
							veryunsatisfiedCount += categoryData[1];
						}
						totalCount += categoryData[1];
					});
					// generate the span tooltip 
					// add the text for span (satisfied %)
					if(totalCount == 0){
						return
					}
					
					var satisfiedPercent = 0.0;
					var unsatisfiedPercent = 0.0;
					var veryunsatisfiedPercent = 0.0;
					
					satisfiedPercent = (satisfiedCount == 0) ? 0 : ((satisfiedCount * 100) / totalCount).toFixed(2);
					unsatisfiedPercent = (unsatisfiedCount == 0) ? 0 : ((unsatisfiedCount * 100) / totalCount).toFixed(2);
					veryunsatisfiedPercent = (veryunsatisfiedCount == 0) ? 0 : ((veryunsatisfiedCount * 100) / totalCount).toFixed(2);
					
					$("#" + country + "-percent").html(satisfiedPercent + "%");
					$("#" + country + "-percent").append('<span class="customtooltiptext"><p>Satisfied: ' + satisfiedPercent + '%</p><p>Unsatisfied: ' + unsatisfiedPercent + '%</p><p>Very Unsatisfied: ' + veryunsatisfiedPercent + '%</p></span>')
					
				});
				return
			}
			
			var dataProviderData = [];
			$.each(countryList, function(country, details){
				var dataSet = {};
				dataSet["country"] = country;
				dataSet["code"] = details.code;
				
				if(details.satisfied != undefined){
					dataSet["satisfied"] = details.satisfied;
				}
//				else{
//					dataSet["satisfied"] =  0;
//				}
				if(details.unsatisfied != undefined){
					dataSet["unsatisfied"] = details.unsatisfied;
				}
//				else{
//					dataSet["unsatisfied"] =  0;
//				}
				if(details.veryunsatisfied != undefined){
					dataSet["veryunsatisfied"] = details.veryunsatisfied;
				}
//				else{
//					dataSet["veryunsatisfied"] =  0;
//				}
				
				dataProviderData.push(dataSet);
			});
			
//			countryBreakdownSettings = {
//				"type": "serial",
//				"theme": "light",
//				"valueAxes": [{
//					//"stackType": "100%",
//					"axisAlpha": 0,
//					"gridAlpha": 0,
//					"labelsEnabled": false
//				}],
//				"dataProvider" : dataProviderData,
//				"graphs" : [
//					{
//						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
//						"fillAlphas": 1,
//						"labelText": "[[value]]",
//						"lineAlpha": 0.3,
//						"title": "Satisfied",
//						"type": "column",
//						"fillColors": "#84b761",
//						"valueField": "satisfied",
//						"alphaField": "Satisfied",
//						"fixedColumnWidth": 12,
//						"showAllValueLabels" : true,
//						"labelPosition" : "right",
//						"labelFunction": function(item, label) {
//							return label == "0" ? "" : label;
//						}
//					},
//					{
//						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
//						"fillAlphas": 1,
//						"labelText": "[[value]]",
//						"lineAlpha": 0.3,
//						"title": "Unsatisfied",
//						"type": "column",
//						"fillColors": "#ff8738",
//						"valueField": "unsatisfied",
//						"alphaField": "Unsatisfied",
//						"fixedColumnWidth": 12,
//						"showAllValueLabels" : true,
//						"labelPosition" : "right",
//						"labelFunction": function(item, label) {
//							return label == "0" ? "" : label;
//						}
//					},
//					{
//						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
//						"fillAlphas": 1,
//						"labelText": "[[value]]",
//						"lineAlpha": 0.3,
//						"title": "Very Unsatisfied",
//						"type": "column",
//						"fillColors": "#cc0000",
//						"valueField": "veryunsatisfied",
//						"alphaField": "Very unsatisfied",
//						"fixedColumnWidth": 12,
//						"showAllValueLabels" : true,
//						"labelPosition" : "right",
//						"labelFunction": function(item, label) {
//							return label == "0" ? "" : label;
//						}
//					}
//				],
//				"categoryField": "country",
//				"rotate": true,
//				"addClassNames" : true,
//				"columnSpacing" : 0.2,
//				"categoryAxis": {
//					"gridPosition": "start",
//					"axisAlpha": 0,
//					"gridAlpha": 0,
//					"position": "left"
//				},
//				"listeners": [{
//					"event": "clickGraphItem",
//					"method": function(event) {
//						var dateRange = $("#esurvey-daterangepicker").val().split(" - ");
//						$("#esurvey-details-modal #esurvey-modal-country").html(event.item.category);
//						$("#esurvey-details-modal #esurvey-modal-satisfactionlevel").html(event.graph.alphaField);
//						getESurveyDataDetails(event.item.dataContext.code, event.graph.alphaField, dateRange[0], dateRange[1]);
//					}
//				}]
//			};
			
			countryBreakdownSettings = {
				"type": "serial",
				"theme": "light",
				"valueAxes": [{
					"stackType": "100%",
					"axisAlpha": 0,
					"gridAlpha": 0,
					"labelsEnabled": false
				}],
				"dataProvider" : dataProviderData,
				"graphs" : [
					{
						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
						"fillAlphas": 1,
						"labelText": "[[value]]",
						"lineAlpha": 0.3,
						"title": "Satisfied",
						"type": "column",
						"fillColors": "#84b761",
						"valueField": "satisfied",
						"alphaField": "Satisfied",
						"fixedColumnWidth": 20,
						"showAllValueLabels" : true,
						"labelPosition" : "inside"
					},
					{
						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
						"fillAlphas": 1,
						"labelText": "[[value]]",
						"lineAlpha": 0.3,
						"title": "Unsatisfied",
						"type": "column",
						"fillColors": "#ff8738",
						"valueField": "unsatisfied",
						"alphaField": "Unsatisfied",
						"fixedColumnWidth": 20,
						"showAllValueLabels" : true,
						"labelPosition" : "middle"
					},
					{
						"balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
						"fillAlphas": 1,
						"labelText": "[[value]]",
						"lineAlpha": 0.3,
						"title": "Very Unsatisfied",
						"type": "column",
						"fillColors": "#cc0000",
						"valueField": "veryunsatisfied",
						"alphaField": "Very unsatisfied",
						"fixedColumnWidth": 20,
						"showAllValueLabels" : true,
						"labelPosition" : "right"
					}
				],
				"categoryField": "country",
				"rotate": true,
				"addClassNames" : true,
				"categoryAxis": {
					"gridPosition": "start",
					"axisAlpha": 0,
					"gridAlpha": 0,
					"position": "left"
				},
				"listeners": [{
					"event": "clickGraphItem",
					"method": function(event) {
						var dateRange = $("#esurvey-daterangepicker").val().split(" - ");
						$("#esurvey-details-modal #esurvey-modal-country").html(event.item.category);
						$("#esurvey-details-modal #esurvey-modal-satisfactionlevel").html(event.graph.alphaField);
						getESurveyDataDetails(event.item.dataContext.code, event.graph.alphaField, dateRange[0], dateRange[1]);
					}
				}]
			};
			
			switch(zone){
				case "NA":
					mapAmerica = AmCharts.makeChart("satisfaction-rate-americas", countryBreakdownSettings);
					break;
				case "EMEA":
					mapEmea = AmCharts.makeChart("satisfaction-rate-emea", countryBreakdownSettings);
					break;
				case "APAC":
					mapApac = AmCharts.makeChart("satisfaction-rate-apac", countryBreakdownSettings);
					break;
				default:
					break;
			}
			
		});
		
	}
	else if(satisfaction_group_by == 'zone'){
	
		if(Object.keys(chart_data["zone_images"]).length === 0){
			$("#satisfaction_by_zone .no-data-div-zone").show();
			$("#satisfaction-zone-table").hide();
			return;
		}
		else{
			$("#satisfaction_by_zone .no-data-div-zone").hide();
			$("#satisfaction-zone-table").show();
		}
		
		$.each(chart_data["satisfaction_rate_zone_table"], function(zone, value){
			$("#satisfaction-zone-satisfied-table tbody").append("<tr><td>" + zone + "</td><td>" + value.toFixed(2) + "%</td></tr>");
		});
		$.each(chart_data["answer_rate_zone_table"], function(zone, value){
			$("#satisfaction-zone-answer-table tbody").append("<tr><td>" + zone + "</td><td>" + value.toFixed(2) + "%</td></tr>");
		});
	
		$.each(chart_data["zone_images"], function(i, image){
			chart_data["zone_images"][i].pie.listeners = [{
				"event": "clickSlice",
				"method": function(event) {
					var dateRange = $("#esurvey-daterangepicker").val().split(" - ");
					$("#esurvey-details-modal #esurvey-modal-country").html(event.chart.allLabels[0].text);
					$("#esurvey-details-modal #esurvey-modal-satisfactionlevel").html(event.dataItem.title);
					getESurveyDataDetails(event.chart.allLabels[0].text, event.dataItem.title, dateRange[0], dateRange[1]);
				}
			}];
		});
		var zoneMapSettings = {
			"type" : "map",
			"theme" : "light",
			"projection" : "winkel3",
			"dataProvider" : {
				"map" : "worldHigh",
				"areas": chart_data["areas"],
				"images": $.merge(chart_data["zone_images"],chart_data["country_images"])
			},
			"zoomControl" : {
				"zoomControlEnabled" : false,
				"homeButtonEnabled" : false
			},
			"imageSettings":{
				"selectable" : true
			},
			"dragMap": false,
			"labelRadiusField" : "labelRadius",
			"listeners": [{
				"event": "positionChanged",
				"method": updateCustomMarkers
			}]
		};
		map = AmCharts.makeChart("satisfaction-rate-zone-worldmap", zoneMapSettings);
		
		
	}
	else{
		
		if(chart_data == null || chart_data == undefined || chart_data.length == 0){
			// show no data message
			$("#supportgroup-container .no-data-div-supportgroup").show();
			return;
		}
		
		var closegroupChartSettings = {
			"type": "pie",
			"theme": "light",
			"dataProvider": [],
			"valueField": "value",
			"titleField": "category",
			"labelText" : "[[percents]]%",
			"innerRadius": "60%",
			"pullOutDuration": 0,
			"pullOutRadius": 0,
			"colorField" : "color",
			"listeners": [{
				"event": "clickSlice",
				"method": function(event){
					var dateRange = $("#esurvey-daterangepicker").val().split(" - ");
					$("#esurvey-details-modal #esurvey-modal-country").html(event.dataItem.dataContext.group);
					$("#esurvey-details-modal #esurvey-modal-satisfactionlevel").html(event.dataItem.title);
					getESurveyDataDetails(event.dataItem.dataContext.group, event.dataItem.title, dateRange[0], dateRange[1]);
				}
			}]
		};
		
		var sortedGroupList = Object.keys(chart_data).sort();
		if(sortedGroupList.indexOf("others") != -1){
			sortedGroupList.splice(sortedGroupList.indexOf("others"), 1);
			sortedGroupList.push("others");
		}
		
		$.each(sortedGroupList, function(i, group){
		
			var subgroups = chart_data[group];
            var groupname = group.replace(/\s/g, "");
			
			var appendToDiv = $("#supportgroup-container #accordion");
            //add nested subgroups
            var isProxi = false;
            if(group.split(" ")[0] === "proximity"){
                
				if($("#closegroup-proximity-content").length == 0){
					var template = document.querySelector("#closegroup-accordian-card").cloneNode(true).innerHTML;

					template = template.replace(/__CONTENT_ID__/g, "closegroup-proximity-content");
					template = template.replace(/__HEADER_ID__/g, "closegroup-proximity");
					template = template.replace(/__CARD_HEADER__/g, "PROXIMITY");
					
					$("#supportgroup-container #accordion").append(template);
					
				}
                
				appendToDiv = $("#closegroup-proximity-content .card-body:first");
            }
			
			var template = document.querySelector("#closegroup-accordian-card").cloneNode(true).innerHTML;
		
			template = template.replace(/__CONTENT_ID__/g, "closegroup-" + groupname + "-content");
			template = template.replace(/__HEADER_ID__/g, "closegroup-" + groupname);
			template = template.replace(/__CARD_HEADER__/g, group.toUpperCase());
			
			appendToDiv.append(template);
		
			var subgroupdiv = $("#closegroup-" + groupname + "-content .card-body");
			
			$.each(subgroups, function(subgroup, data){
				var surveyCount = 0;
				$.each(data['chart_data'], function(i, category){
					surveyCount += category['value'];
				}); 
				var surveyHtml = (surveyCount == 1) ? "(" + surveyCount + " survey)" : "(" + surveyCount + " surveys)";
				
				$("<div></div>")
				.attr("id", "subgroup-" + subgroup)
				.attr("group", subgroup)
				.addClass("col-lg-3")
                .addClass("subgroup-container")
				.append(
					$("<div></div>")
					.addClass("subgroup-header")
					.html(data['group_name'])
				)
				.append(
					$("<div></div>")
					.addClass("subgroup-survey-count")
					.html(surveyHtml)
				)
				.append(
					$("<div></div>")
					.addClass("subgroup-chart")
					.attr("id", "subgroup-" + subgroup + "-chart")
				)
				.appendTo(subgroupdiv);
				
				// initialize the graph
				closegroupChartSettings['dataProvider'] = data['chart_data'];
				AmCharts.makeChart("subgroup-" + subgroup + "-chart", closegroupChartSettings);
			});
			
		});
		$("#supportgroup-container .no-data-div-supportgroup").hide();
	}
}

function gen_datatable(table_name){
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
    var quality_type = "{{quality_type}}";
    var targets = [];
    if(quality_type=="rca"){
        //targets = (table_name == 'quality') ? [6,8,9,10,11] : [8,9,10,11];
        targets = (table_name == 'quality') ? [6,8,9,10] : [8,9,10];
        //targets = [];
    }
    var ordered_row;
    if(quality_type==="rca"){
        ordered_row = [[ 0, "asc" ]];
    }else if(quality_type==="problem"){
        ordered_row = [[ 1, "asc" ]];
    }
    // initialize tables
    $('#'+table_name+'-table').DataTable({
        orderCellsTop: true,
        "order": ordered_row,
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {extend: 'excel', title:  'RCA', text: 'Excel',titleAttr: 'Excel', exportOptions: {
        format : {
            header : function (mDataProp, columnIdx) {
                var htmlText = '<span>' + mDataProp + '</span>';
                var jHtmlObject = jQuery(htmlText);
                jHtmlObject.find('div').remove();
                var newHtml = jHtmlObject.text();
                console.log('My header > ' + newHtml);
                return newHtml;
            }
        }
        } }],
        "columnDefs": [{
            "visible": false, "targets": targets
        }]
    });
}

function stopPropagation(evt) {
    if (evt.stopPropagation !== undefined) {
        evt.stopPropagation();
    } else {
        evt.cancelBubble = true;
    }
}

/**
 * Creates and positions custom markers (pie charts)
 */
function updateCustomMarkers(event) {
  // get map object
  var map = event.chart;

  // go through all of the images
  for (var x = 0; x < map.dataProvider.images.length; x++) {

    // get MapImage object
    var image = map.dataProvider.images[x];
	
    // Is it a Pie?
    if (image.pie === undefined) {
      continue;
    }

    // create id
    if (image.id === undefined) {
      image.id = "amcharts_pie_" + x;
    }
    // Add theme
    if ("undefined" == typeof image.pie.theme) {
      image.pie.theme = map.theme;
    }
	
    // check if it has corresponding HTML element
    if ("undefined" == typeof image.externalElement) {
      image.externalElement = createCustomMarker(image);
    }

    // reposition the element accoridng to coordinates
    var xy = map.coordinatesToStageXY(image.longitude, image.latitude);
    image.externalElement.style.top = xy.y + "px";
    image.externalElement.style.left = xy.x + "px";
    image.externalElement.style.marginTop = Math.round(image.height / -2) + "px";
    image.externalElement.style.marginLeft = Math.round(image.width / -2) + "px";
	
	console.log(image);
  }
}

/**
 * Creates a custom map marker - a div for container and a
 * pie chart in it
 */
function createCustomMarker(image) {

	// Create chart container
	var holder = document.createElement("div");
	holder.id = image.id;
	holder.title = image.title;
	holder.style.position = "absolute";
	holder.style.width = image.width + "px";
	holder.style.height = image.height + "px";

	// Append the chart container to the map container
	image.chart.chartDiv.appendChild(holder);

	// Create a pie chart
	var chart = AmCharts.makeChart(image.id, image.pie);

	return holder;
}

function getESurveyDataSummary(startDate, endDate) {
	var csrftoken = "{{ csrf_token }}";
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});

	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:reporting_esurvey' %}",
		data: JSON.stringify({'startDate':startDate,'endDate':endDate,'satisfactionGroupBy':satisfaction_group_by}),
		contentType: 'application/json;charset=UTF-8',
		success: function(esurvey_result) {
			gen_chart_data(esurvey_result['graph_data']);
		}
	});
}


function getESurveyDataDetails(modeParam, satisfactionLevel, startDate, endDate){
	
	var details_table = $("#esurvey-details-modal #esurvey-details-modal-table");
	details_table.DataTable().destroy();
	details_table.find("tbody").empty();
	var csrftoken = "{{ csrf_token }}";
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});
	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:get_esurvey_details' %}",
		data: JSON.stringify({'mode':satisfaction_group_by, 'modeParam':modeParam, 'satisfactionLevel':satisfactionLevel, 'startDate':startDate,'endDate':endDate}),
		contentType: 'application/json;charset=UTF-8',
		success: function(esurvey_result) {
			console.log(esurvey_result);
			
			$.each(esurvey_result['details_list'], function(index, row){
				var row_html = "";
				$.each(row, function(k, row_val){
					row_val = (k == 2 && row_val == "NA") ? "AMERICAS" : row_val;
					row_html += '<td align="center">' + row_val + "</td>";
				});
				details_table.find("tbody").append('<tr>' + row_html + "</tr>");
			});
			
			var title = $("#esurvey-details-modal #esurvey-modal-country").html() + " : " + $("#esurvey-details-modal #esurvey-modal-satisfactionlevel").html() + " ( " + $("#esurvey-daterangepicker").val() + " )";
			
			var dataTableOptions = {
				//orderCellsTop: true,
				scrollX: true,
				dom: 'r<"col-sm-4"l><"col-xs-6 col-sm-4"f><"col-sm-6 col-sm-4 text-right"B><"clearfix">tip',
				buttons: [ {extend: 'excel', title:  title, text: 'Excel',titleAttr: 'Excel', exportOptions: {
						format : {
							header : function (mDataProp, columnIdx) {
								var htmlText = '<span>' + mDataProp + '</span>';
								var jHtmlObject = jQuery(htmlText);
								jHtmlObject.find('div').remove();
								var newHtml = jHtmlObject.text();
								console.log('My header > ' + newHtml);
								return newHtml;
							}
						}
					}
				}]
			};
			
			if(satisfactionLevel == "Satisfied"){
				dataTableOptions["columnDefs"] = [{
					"visible": false, 
					"targets": [9,10,11,12,13]
				}];
			}
			
			$("#esurvey-details-modal #esurvey-details-modal-table").DataTable(dataTableOptions);
			$("#esurvey-details-modal").modal();
		}
	});
}

</script>

{% endblock %}

