{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_reporting_integration_view" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        <div class="row">
			<div class="col-lg-12" id="integration-view-header">
				<h3>INTEGRATION VIEW</h3>
			</div>
			<div class="col-lg-12" id="integration-view-stats">
                <div class="col-lg-4">
					<h4>BACKLOG COUNT: <span id="backlog_count"></span></h4>
				</div>
				<div class="col-lg-4">
					<h4>OPENED YESTERDAY COUNT: <span id="opened_yesterday_count"></span></h4>
				</div>
				<div class="col-lg-4">
					<h4>CLOSED YESTERDAY COUNT: <span id="closed_yesterday_count"></span></h4>
				</div>
            </div>
            <div class="col-lg-12">
                <!-- tabs -->
                <ul class="nav nav-tabs" role="tablist" id="reporting-integration-view-tabs"> 
              
                    <li class="{% if view_mode == 'backlog' %}active{% endif %}"><a href="#integration_backlog" group="backlog" aria-controls="integration_backlog" data-toggle="tab" aria-expanded="false">Backlog</a></li>
                    <li class="{% if view_mode == 'opened_yesterday' %}active{% endif %}"><a href="#integration_opened_yesterday" group="opened_yesterday" aria-controls="integration_opened_yesterday" data-toggle="tab" aria-expanded="true">Opened Yesterday</a></li>
                    <li class="{% if view_mode == 'closed_yesterday' %}active{% endif %}"><a href="#integration_closed_yesterday" group="closed_yesterday" aria-controls="integration_closed_yesterday" data-toggle="tab" aria-expanded="true">Closed Yesterday</a></li>
					
                </ul> 
            </div>
        </div>
		
		<div class="tab-content" id="integration-view-content">
			<div role="tabpanel" class="tab-pane {% if view_mode == 'backlog' %}active{% endif %}" id="integration_backlog">
				<div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="backlog-table">
                                <thead>
                                    <tr>
                                        <th>Ticket#</th>
                                        <th>PrbId</th>
                                        <th>Criticality</th>
                                        <th>Open Date</th>
                                        <th>Due Date</th>
                                        <th>Category</th>
                                        <th>Opened Group</th>
                                        <th>Assigned To</th>
                                        <th>Assigned Group</th>
                                        <th>Description</th>
                                        <th class="noExport">Notes</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {% if view_mode == 'opened_yesterday' %}active{% endif %}" id="integration_opened_yesterday">
				<div class="row">
					<div class="col-lg-12">
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="opened_yesterday-table">
                                <thead>
									<th>Ticket#</th>
									<th>PrbId</th>
									<th>Criticality</th>
									<th>Status</th>
									<th>Open Date</th>
									<th>Due Date</th>
									<th>Closed Date</th>
									<th>Category</th>
									<th>Opened Group</th>
									<th>Assigned To/Closed By</th>
									<th>Assigned/Closed Group</th>
									<th>Description</th>
									<th>Resolution</th>
									<th class="noExport">Notes</th>
								</thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane {% if view_mode == 'closed_yesterday' %}active{% endif %}" id="integration_closed_yesterday">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="closed_yesterday-table">
                                <thead>
									<th>Ticket#</th>
									<th>PrbId</th>
									<th>Criticality</th>
									<th>Open Date</th>
									<th>Due Date</th>
									<th>Closed Date</th>
									<th>Category</th>
									<th>Opened Group</th>
									<th>Closed By</th>
									<th>Closed Group</th>
									<th>Description</th>
									<th>Resolution</th>
									<th class="noExport">Notes</th>
								</thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

{% include 'templatefiles/reporting.html' %}

{% include 'popup_description.html' %}

{% include 'popup_resolution.html' %}

{% include 'popup_note.html' %}

{% endblock %}

{% block js %}



{% assets "js_reporting_integration_view" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}



<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
var isFirefox = typeof InstallTrigger !== 'undefined';
var view_mode = "{{view_mode}}";

$(document).ready(function() {

    $('#reporting-integration-view-tabs a').click(function (link) {
		view_mode = $(link.currentTarget).attr("group");
        //getIntegrationData();
        window.location = '{{ request.scheme }}' + '://' + '{{request.get_host}}' + '/reporting/integration_view/' + view_mode + '?local_tz=Asia/Singapore';
		//window.location = 'http://10.55.3.29:8000/reporting/integration_view/' + view_mode + '?local_tz=Asia/Singapore';
	});
    
    console.log({{data|safe}})
    
	$.each({{stats|safe}}, function(stat_id, count){
		$('#integration-view-stats span#' + stat_id).html(count);
	})
    
    gen_datatable({{data|safe}})
});




function gen_datatable(data){

	if(view_mode == 'backlog'){
		var table_tbody_template = Handlebars.compile(document.getElementById("integration-view-backlog-table-tbody-template").innerHTML);
	}
	else{
		var table_tbody_template = Handlebars.compile(document.getElementById("integration-view-yesterday-table-tbody-template").innerHTML);
	}
    
	$.each(data, function(i, row){
		if(view_mode == 'opened_yesterday'){
			row['opened_yesterday'] = true;
		}
		row['status'] = (row['status'] == 'O') ? 'Open' : ((row['status'] == 'C') ? 'Closed' : row['status'])
        $('#' + view_mode + '-table tbody').append($(table_tbody_template(row)))
    })
	
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };
	
	var order_col,assigned_group_col;
	
	switch(view_mode){
		case 'backlog':
			order_col = 4
			assigned_group_col = 8
			break;
		case 'opened_yesterday':
			order_col = 5
			assigned_group_col = 10
			break;
		case 'closed_yesterday':
			order_col = 5
			assigned_group_col = 9
			break;
		default:
			order_col = 4
			assigned_group_col = 8
			break;
	}
    //var order_col = (view_mode == 'backlog') ? 4 : 5;
	//var assigned_group_col = (view_mode == 'backlog') ? 8 : 10;
    
    // initialize tables
    $('#'+view_mode+'-table').DataTable({
        orderCellsTop: true,
        "order": [[ order_col, "desc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [{
			extend: 'excel', 
			title:  view_mode.split('-').join(' '), 
			text: 'Excel',
			titleAttr: 'Excel', 
			exportOptions: {
				columns : ':not(.noExport)',
				format : {
					header : function (mDataProp, columnIdx) {
						var htmlText = '<span>' + mDataProp + '</span>';
						var jHtmlObject = jQuery(htmlText);
						jHtmlObject.find('div').remove();
						var newHtml = jHtmlObject.text();
						console.log('My header > ' + newHtml);
						return newHtml;
					},
					body: function ( data, row, column, node ) {
					
						if(column === 1 && data != '-'){
							return $(data).html();
						}
						//backlog
						if(view_mode == 'backlog' && column === 9){
							return $(data).attr("data-original-title").slice(0,30000);
						}
						
						//open ytd
						if(view_mode == 'opened_yesterday' && (column === 12 || column === 13)){
							return $(data).attr("data-original-title").slice(0,30000);
						}
						
						//close ytd
						if(view_mode == 'closed_yesterday' && (column === 10 || column === 11)){
							return $(data).attr("data-original-title").slice(0,30000);
						}
						
						return data;
					}
				}
			} 
		}]
    });
    
    $('#'+view_mode+'-table').dataTable().yadcf([
        {column_number : assigned_group_col, filter_type: "multi_select", select_type: "chosen"},
    ]);
}

// onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});

// onclick resolution
$(document).on("click", ".click_resolution", function () {
     var resolution = $(this).text();
console.log(resolution);
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-resolution").html( resolution );
});

// onclick notes
$(document).on("click", ".click_notes", function () {
     var timeline_array = null;
     $('#notes-table').dataTable().fnDestroy();
     var ticket_sla = $(this).attr("value").split("||");
     var ticket_no = ticket_sla[0];
     var sla_date= ticket_sla[1];
     var ticket_seq = $(this).attr("seq")
     $(".modal-header #modal-ticket-no").text( ticket_no );
     var isClosed = ($(this).closest('tr').find('td:nth-child(6)').html() == 'None') ? 'None' : 'True';
     
     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no,
           'ticket_seq' : ticket_seq,
           'isclosed': isClosed
           
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    'async': false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        //console.log(data);
                        timeline_array = data[0];
                        $('#notes-table').DataTable({
                            data: data[1],
                            columns: [
                               { title: "Date" },
                               { title: "From User" },
                               { title: "Action" },
                               { title: "Description" }
                            ]
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    
    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            var row_data = [];
            var len = notes.length;
            console.log(notes);
            var end_time = new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19)));
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            var row_reopened = [];
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=1;
                var reopen_num = 0;
                var reopen_row_str = "Reopened";
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==4){
                        row_num--;
                    }else if(notes[i][3]==11){
                        reopen_num++;
                        row_reopened.push(row_num);
                        if(reopen_num>1){
                            reopen_row_str = reopen_row_str + "+";
                        }
                        row_data.push(['\0',reopen_row_str,new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                        //row_data.push(['Tickets Timeline', notes[i][1],new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19)))]);
                           
                    }else if(notes[i][3]!=4 && notes[i][3]!="HD_CLOSE"){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
				row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
			}
            //console.log(row_data);
            //console.log(row_reopened);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);
            var ht = 100;
            if(row_data.length == 2)
                ht = 135;
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;
            var options = {};
            if(7<time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: {
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                };
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            }

            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
                var container = document.getElementById("notes_time_line");
                var chart = new google.visualization.Timeline(container);
                setTimeout(function(){
                    chart.draw(dataTable, options);
                    mark_line("notes_time_line",'SLA');
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(obj.row == 0){
                    $('.google-visualization-tooltip').css('display', 'none');
                    mark_line('notes_time_line','SLA');
                  }
                  mark_line('notes_time_line','SLA');
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  mark_line('notes_time_line','SLA');
                })
                var str_reopened="Reopened"; 
                for(i=0;i<row_reopened.length;i++){
                    mark_line("notes_time_line",str_reopened);
                    str_reopened=str_reopened+"+";
                }
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(row_reopened.indexOf(obj.row)!=-1){
                    $('.google-visualization-tooltip').css('display', 'none');
                  }
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                       mark_line('notes_time_line', str_reopened);
                       str_reopened=str_reopened+"+";
                  }
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                      mark_line('notes_time_line',str_reopened);
                      str_reopened=str_reopened+"+";
                  }
                })
                },1);
        });
    }

});

function mark_line(div, contain){

//get the height of the timeline div
  var height;
  $('#' + div + ' rect').each(function(index){
    var x = parseFloat($(this).attr('x'));
    var y = parseFloat($(this).attr('y'));

    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
  })

  var nowWord = $('#' + div + ' text:contains('+contain+')');
  if(contain=='SLA'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
  }
  if(contain.startsWith('Reopened')){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '2px').attr('y', '0');
  }
}

function getIntegrationData(mode, start_yesterday, end_yesterday) {
	var csrftoken = "{{ csrf_token }}";
    
    var data = {
        'start_yesterday' : start_yesterday,
        'end_yesterday' : end_yesterday,
        'mode' : mode,
        'local_tz' : moment.tz.guess()
    }
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});

	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:reporting_integration_view' view_mode='" + mode + "' %}",
		data: JSON.stringify(data),
		contentType: 'application/json;charset=UTF-8',
		success: function(response) {
			view_mode = response['view_mode'];
			gen_datatable(response['data']);
		}
	});
}


</script>

{% endblock %}

