{% extends "layout.html" %}


{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_reporting_ticket_analysis" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div id="ticket-analysis" class="container-fluid xyz">
		<div class="row">
			<div class="col-lg-12" id="ticket-analysis-header">
				<h3>TICKET ANALYSIS</h3>
			</div>
		</div>
        <div class="row">
			<ul class="nav nav-tabs" role="tablist" id="ticket-analysis-tabs"> 
				<li id="ticket-analysis-escalation-tab"><a href="#ticket-analysis-escalation" ticket-analysis-type="escalation" aria-controls="ticket-analysis-escalation" data-toggle="tab" aria-expanded="false">Escalation</a></li>
				<li id="ticket-analysis-reopen-tab"><a href="#ticket-analysis-reopen" ticket-analysis-type="reopen" aria-controls="ticket-analysis-reopen" data-toggle="tab" aria-expanded="false">Reopen</a></li>
				<li id="ticket-analysis-bouncing-tab"><a href="#ticket-analysis-bouncing" ticket-analysis-type="bouncing" aria-controls="ticket-analysis-bouncing" data-toggle="tab" aria-expanded="false">Bouncing</a></li>
                <li id="ticket-analysis-callback-tab"><a href="#ticket-analysis-callback" ticket-analysis-type="callback" aria-controls="ticket-analysis-callback" data-toggle="tab" aria-expanded="false">Callback</a></li>
			</ul> 
		</div>
	    <div class="tab-content">
			<div role="tabpanel" class="tab-pane" id="ticket-analysis-escalation">
				<div class="row">
					<div class="col-lg-12 escalation-main-container">	
						<div class="row" id="escalation-filters">
						    <div class="filter-block col-lg-12">
							    <form method="POST" action="{% url 'hygie_portal:reporting_ticket_analysis' ticket_analysis_type='escalation' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
							    {% csrf_token %}  
									<!-- date range selection -->
									<div class="form-group col-lg-3" id="ticket-analysis-escalation-date-selector">
										<label>Date Range*</label>
										{% if form %}
										<input type="text" id="ticket-analysis-escalation-daterangepicker" name="search_date" class="form-control" value="01/01/2019 - 31/01/2019" data-bind="daterangepicker: dateRange" readonly/>
										{% else %}
										<input type="text" id="ticket-analysis-escalation-daterangepicker" name="search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
										{% endif %}
									</div>
									
									<div class="form-group col-lg-3">
										<label>Source Group</label>
										<select name="groups_by_sourcegroup" id="groups_by_escalation_filter_group1" class="ticket-analysis-filter-class1" multiple="multiple">
											<!--  <option value="">None</option>-->
                                        {% load replace %}
										{% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
											<optgroup label="{{ group|replace }}">
											{% for t in grouplist %}
											{% if t.team|length != 0 %}
												<option value="{{ t.id }}" {% if t.id in source_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
											{% endif %}
											{% endfor %}
											</optgroup>
										{% endfor %}
										</select>
									</div>
									
									<div class="form-group col-lg-3">
										<label>Target Group</label>
										<select name="groups_by_targetgroup" id="groups_by_escalation_filter_group2" class="ticket-analysis-filter-class2" multiple="multiple">
																<!-- <option value="">None</option>-->
										{% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
											<optgroup label="{{ group|replace }}">
											{% for t in grouplist %}
											{% if t.team|length != 0 %}
												<option value="{{ t.id }}" {% if t.id in target_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
											{% endif %}
											{% endfor %}
											</optgroup>
										{% endfor %}
										</select>
									</div>
												
									<div class="form-group col-lg-3">
                                        <button type="submit" class="btn btn-primary" id="submit" disabled>Search</button>
										<button type="button" class="btn btn-primary clear-filter" disabled>Clear Filters</button>
									</div> 
                                    
								            
							    </form>
                            </div>
						</div>
						<div class="row" id="escalation-content">
							{% if ticket_analysis_type == 'escalation' and src_or_trg and ticket_analysis_data.teams_data|length > 0 %}
							<div class="col-lg-12">
							    <div id="ticket-analysis-total-tickets">Total Tickets : {{ticket_analysis_data.teams_data|length}}</div>
							</div>
						    <div class="col-lg-12">
						        {% if source_selected_grp and target_selected_grp %}
						        <div id="escalation-count-header">
						              <div class="ticket-analysis-tooltip">Escalation Percentage: {{ticket_analysis_data.escalation_count}}%
						                  <span class="ticket-analysis-tooltip-text">No. of tickets transferred / No. of tickets 'IN' during the date range</span>
						              </div>
						        </div>
						        {% else %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> Groups
                                    </div>
                                    <div class="panel-body">
                                        <div id="escalation-group-chart"></div>
                                    </div>
                                </div>
                                {% endif%}
                            </div>
                            <div class="col-lg-12">
                                <div class="table-responsive">
	                                <table id="escalation-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
	                                    <thead></thead>
	                                    <tbody></tbody>
	                                </table>
                                </div>
                            </div>
	                        {% elif src_or_trg and ticket_analysis_data.teams_data|length == 0 %}
	                         <div class="col-lg-12 ticket-analysis-nodata">
	                            NO DATA
	                         </div>
	                        {% endif %}
                        </div>
                    </div>          
				</div>
			</div>
			
		    <div role="tabpanel" class="tab-pane" id="ticket-analysis-reopen">
				<div class="row">
					<div class="col-lg-12 reopen-main-container">
						<div class="row" id="reopen-filters">
						    <div class="filter-block col-lg-12">
						        <form method="POST" action="{% url 'hygie_portal:reporting_ticket_analysis' ticket_analysis_type='reopen' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
                                     {% csrf_token %}  

                                       <!-- date range selection -->
                                       <div class="form-group col-lg-3" id="ticket-analysis-reopen-date-selector">
                                           <label>Date Range by reopen date*</label>
                                           {% if form.data.search_date != None %}
                                           <input type="text" id="ticket-analysis-reopen-daterangepicker" name="search_date" class="form-control" value="{{form.data.search_date}}" data-bind="daterangepicker: dateRange" readonly/>
                                           {% else %}
                                           <input type="text" id="ticket-analysis-reopen-daterangepicker" name="search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
                                           {% endif %}
                                       </div>
                                       
                                       <div class="form-group col-lg-3">
                                           <label>Reopen Group</label>
                                           <select name="groups_by_sourcegroup" id="groups_by_reopen_filter_group1" class="ticket-analysis-filter-class1" multiple="multiple">
                                           {% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                                               <optgroup label="{{ group|replace }}">
                                               {% for t in grouplist %}
                                               {% if t.team|length != 0 %}
                                                   <option value="{{ t.id }}" {% if t.id in source_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
                                               {% endif %}
                                               {% endfor %}
                                               </optgroup>
                                           {% endfor %}
                                           </select>
                                       </div>
                                       
                                       <div class="form-group col-lg-3">
                                           <label>Closed Group</label>
                                           <select name="groups_by_targetgroup" id="groups_by_reopen_filter_group2" class="ticket-analysis-filter-class2" multiple="multiple">
                                           {% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                                               <optgroup label="{{ group|replace }}">
                                               {% for t in grouplist %}
                                               {% if t.team|length != 0 %}
                                                   <option value="{{ t.id }}" {% if t.id in target_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
                                               {% endif %}
                                               {% endfor %}
                                               </optgroup>
                                           {% endfor %}
                                           </select>
                                       </div>
        
                                       <div class="form-group col-lg-3">
                                           <button type="submit" class="btn btn-primary" id="submit" disabled>Search</button>
                                           <button type="button" class="btn btn-primary clear-filter" disabled>Clear Filters</button>
                                       </div>
                                   
                                </form>    
                            </div>          
                               
                        </div>
						<div class="row" id="reopen-content">
							{% if src_or_trg and ticket_analysis_data.teams_data.reopened_once|length == 0 and ticket_analysis_data.teams_data.reopened_thrice|length == 0 and ticket_analysis_data.teams_data.reopened_five|length == 0 %}
                            <div class="col-lg-12 ticket-analysis-nodata">
                                NO DATA
                            </div>
                            {% elif source_selected_grp or target_selected_grp %}
                            <div class="col-lg-12">
                            {% load add %}
                                <div id="ticket-analysis-total-tickets">Total Tickets : {{ticket_analysis_data.teams_data.reopened_once|length|add:ticket_analysis_data.teams_data.reopened_thrice|length|add:ticket_analysis_data.teams_data.reopened_five|length}}</div>
                            </div>
                            {% endif %}
                        </div>
					</div>
				</div>
			</div>
			
			<div role="tabpanel" class="tab-pane" id="ticket-analysis-bouncing">
				 <div class="row">
					<div class="col-lg-12 bouncing-main-container">
						<div class="row"  id="bouncing-filters" >
						    <div class="filter-block col-lg-12">
							    <form method="POST" action="{% url 'hygie_portal:reporting_ticket_analysis' ticket_analysis_type='bouncing' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
                                       {% csrf_token %}  
 
                                     <!-- date range selection -->
                                    <div class="form-group col-lg-4" id="ticket-analysis-bouncing-date-selector">
                                        <label>Date Range*</label>
                                        {% if form.data.search_date != None %}
                                        <input type="text" id="ticket-analysis-bouncing-daterangepicker" name="search_date" class="form-control" value="{{form.data.search_date}}" data-bind="daterangepicker: dateRange" readonly/>
                                        {% else %}
                                        <input type="text" id="ticket-analysis-bouncing-daterangepicker" name="search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
                                        {% endif %}
                                    </div>
                                     
                                    <div class="form-group col-lg-4">
                                        <label>Bouncing Group</label>
                                        <select name="groups_by_sourcegroup" id="groups_by_bouncing_filter_group1" class="ticket-analysis-filter-class1">
                                            <option value="" {% if source_selected_grp|length == 0 %}selected="selected"{% endif %}>None</option>
                                        {% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                                            <optgroup label="{{ group|replace }}">
                                            {% for t in grouplist %}
                                            {% if t.team|length != 0 %}
                                                <option value="{{ t.id }}" {% if t.id in source_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        </select>
                                    </div>
                     
                                    <div class="form-group col-lg-4">
                                        <button type="submit" class="btn btn-primary" id="submit" disabled>Search</button>
                                        <button type="button" class="btn btn-primary clear-filter" disabled>Clear Filters</button>
                                    </div>             
                                </form>
                            </div>
                        </div>
                        <div class="row" id="bouncing-content">
                            {% if ticket_analysis_type == 'bouncing' and source_selected_grp and ticket_analysis_data.teams_data|length > 0 %}
                            <div class="col-lg-12">
                                <div id="ticket-analysis-total-tickets">Total Tickets : {{ticket_analysis_data.teams_data|length}}</div>
                            </div>
                            <div class="col-lg-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-bar-chart-o fa-fw"></i> Tickets
                                    </div>
                                    <div class="panel-body">
                                        <div id="bouncing-group-chart"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table id="bouncing-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                 </div>
                            </div>
                            {% elif ticket_analysis_type == 'bouncing' and source_selected_grp and ticket_analysis_data.teams_data|length == 0 %}
                            <div class="col-lg-12 ticket-analysis-nodata">
                                <p>NO DATA</p>
                            </div>
                            {% endif%}
                        </div>
				    </div>
			    </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="ticket-analysis-callback">
				 <div class="row">
					<div class="col-lg-12 callback-main-container">
						<div class="row"  id="callback-filters" >
						    <div class="filter-block col-lg-12">
							    <form method="POST" action="{% url 'hygie_portal:reporting_ticket_analysis' ticket_analysis_type='callback' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
                                       {% csrf_token %}  
 
                                    <!-- date range selection -->
                                    <div class="form-group col-lg-3" id="ticket-analysis-callback-date-selector">
                                        <label>Date Range by callback date*</label>
                                        {% if form.data.search_date != None %}
                                        <input type="text" id="ticket-analysis-callback-daterangepicker" name="search_date" class="form-control" value="{{form.data.search_date}}" data-bind="daterangepicker: dateRange" readonly/>
                                        {% else %}
                                        <input type="text" id="ticket-analysis-callback-daterangepicker" name="search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
                                        {% endif %}
                                    </div>
                                       
                                    <div class="form-group col-lg-3">
                                        <label>Callback Group</label>
                                        <select name="groups_by_sourcegroup" id="groups_by_callback_filter_group1" class="ticket-analysis-filter-class1" multiple="multiple">
                                            {% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                                                <optgroup label="{{ group|replace }}">
                                                {% for t in grouplist %}
                                                {% if t.team|length != 0 %}
                                                    <option value="{{ t.id }}" {% if t.id in source_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                                       
                                    <div class="form-group col-lg-3">
                                        <label>Assigned Group</label>
                                        <select name="groups_by_targetgroup" id="groups_by_callback_filter_group2" class="ticket-analysis-filter-class2" multiple="multiple">
                                            {% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                                                <optgroup label="{{ group|replace }}">
                                                {% for t in grouplist %}
                                                {% if t.team|length != 0 %}
                                                    <option value="{{ t.id }}" {% if t.id in target_selected_grp %}selected="selected"{% endif %}>{{ t.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                                </optgroup>
                                            {% endfor %}
                                        </select>
                                    </div>
                     
                                    <div class="form-group col-lg-3">
                                        <button type="submit" class="btn btn-primary" id="submit" disabled>Search</button>
                                        <button type="button" class="btn btn-primary clear-filter" disabled>Clear Filters</button>
                                    </div>      
                                    <div class="form-group col-lg-12 callback-msg">
                                        No data available for the callback group before February 28th 2019
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row" id="callback-content">
                            {% if src_or_trg and ticket_analysis_data.teams_data.callback_once|length == 0 and ticket_analysis_data.teams_data.callback_thrice|length == 0 and ticket_analysis_data.teams_data.callback_five|length == 0 %}
                            <div class="col-lg-12 ticket-analysis-nodata">
                                NO DATA
                            </div>
                            {% elif source_selected_grp or target_selected_grp %}
                            <div class="col-lg-12">
                                <div id="ticket-analysis-total-tickets">Total Tickets : {{ticket_analysis_data.total_tickets}}</div>
                            </div>
                            {% if target_selected_grp %}
                            <div class="col-lg-12">
                                <div id="callback-ratio-header">
						            <div class="ticket-analysis-tooltip">Callback Ratio: {{ticket_analysis_data.callback_ratio}}%
                                        <span class="ticket-analysis-tooltip-text">Ratio of No. of tickets with callback to No. of tickets closed by assigned groups selected</span>
						            </div>
						        </div>
                            </div>
                            {% endif %}
                            {% endif %}
                            
                            
                        </div>
				    </div>
			    </div>
            </div>
        </div>		
    </div> 
</div>

{% include 'templatefiles/ticket_analysis.html' %}

{% include 'popup_description.html' %}

{% include 'popup_note.html' %}

 {% endblock %}
 
 {% block js %}

{% assets "js_reporting_ticket_analysis" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
           
<script type="text/javascript">

var pdfobj = function ( doc ) {
    doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
};

var ticket_analysis_type = "{{ticket_analysis_type}}";
var ticket_analysis_data = {{ticket_analysis_data|safe}};

var total_ticket_closed_count = "{{ticket_analysis_data.callback_ratio}}";

var tableTitleMapping = {
    "reopen" : {
        "reopened_five" : "Reopened >= 5",
        "reopened_thrice" : "3 <= Reopened < 5",
        "reopened_once" : "1 <= Reopened < 3",
    },
    "callback" : {
        "callback_five" : "Callback >= 5",
        "callback_thrice" : "3 <= Callback < 5",
        "callback_once" : "1 <= Callback < 3",
    },
};

$(document).ready(function(){

    setTimezone();
    

    // init trend tooltip
	$('span.glyphicon-info-sign[data-toggle=tooltip]').tooltip();
	
	$('#ticket-analysis-tabs a').click(function (link) {
		ticket_analysis_type = $(link.currentTarget).attr("ticket-analysis-type");
		$("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-daterangepicker").val('');
		$("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group1").multiselect('deselectAll', false);
		$("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group1").multiselect('destroy');
		
		$("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group2").multiselect('deselectAll', false);
        $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group2").multiselect('destroy');
        
        $("#groups_by_bouncing_filter_group1").find(":selected").removeAttr("selected");
		// init the filters
        initFilters();
        enableClearFilterButton();
        setTimezone();
		$("#" + ticket_analysis_type + "-content").empty();
    });
	
	$(document).on('click', '.clear-filter', function () { 
		ticket_analysis_type = $('#ticket-analysis-tabs .active').text().toLowerCase();
        $("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-daterangepicker").val('');
        //$("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-daterangepicker").trigger('change');
        $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group1").multiselect('clearSelection');
        $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group2").multiselect('clearSelection');
        
        $("#groups_by_bouncing_filter_group1 option:selected").removeAttr("selected") 
        $('#groups_by_bouncing_filter_group1').multiselect('refresh')
        
        $("#" + ticket_analysis_type + "-content").empty();
        enableClearFilterButton();
        enableSearchButton();
    });
	
	$("#ticket-analysis-" + ticket_analysis_type + "-tab").addClass("active");
	$("#ticket-analysis-" + ticket_analysis_type + "-tab a").attr("aria-expanded","true");
	$("#ticket-analysis-" + ticket_analysis_type).addClass("active");
	
	initFilters();

	var ticket_analysis_data = {{ticket_analysis_data|safe}};
    
    if(ticket_analysis_type == "escalation" || ticket_analysis_type == "bouncing"){
        if(ticket_analysis_data['chart_breakdown'] != undefined && Object.keys(ticket_analysis_data['chart_breakdown']).length > 0){
            gen_group_graph(ticket_analysis_data['chart_breakdown']);
        }
        if(ticket_analysis_data['teams_data'] != undefined && Object.keys(ticket_analysis_data['teams_data']).length > 0){
            gen_datatable(ticket_analysis_type,ticket_analysis_data['teams_data']);
        }
    }
    
    if((ticket_analysis_type == "reopen" || ticket_analysis_type == "callback") && ticket_analysis_data['teams_data'] != undefined){
        
        var table_template = Handlebars.compile(document.getElementById("ticket-analysis-breakdown-table-template").innerHTML);
        var merged_table_template = Handlebars.compile(document.getElementById("ticket-analysis-merged-table-template").innerHTML);
        
        // generate merged table
        $("#" + ticket_analysis_type + "-content").append($(merged_table_template({'ticket_analysis_type' : ticket_analysis_type})));
        
		$.each(tableTitleMapping[ticket_analysis_type], function(table_id,table_title){
            
			if(ticket_analysis_data['teams_data'][table_id] == undefined || ticket_analysis_data['teams_data'][table_id].length == 0){
		        return;
			}
			var team_data_length = ticket_analysis_data['teams_data'][table_id].length;
            var tableSettings = {
                "table_title" : table_title,
                "table_id" : table_id, 
                "team_data_length" : team_data_length
            };
            
            // generate breakdown template
			$("#" + ticket_analysis_type + "-content").append($(table_template(tableSettings)));
            gen_datatable(table_id,ticket_analysis_data['teams_data'][table_id]);
			
		});
        
        var file_col = "#" + ticket_analysis_type + "-merged-table thead th:not(.noExport)";
        
        // init merged datatable
        $("#" + ticket_analysis_type + "-merged-table").DataTable({
            "order": [[ 10, "desc" ]],
            dom: 'B',
            buttons: [ {
                extend: 'excel', 
                title: 'All ' + ticket_analysis_type.toUpperCase() + ' Tickets', 
                text: 'Export All ' + ticket_analysis_type.toUpperCase() + ' Tickets to Excel',
                titleAttr: 'Excel', 
                exportOptions: {
                    columns:file_col,
                    format: {
                        body: function ( data, row, column, node ) {
                            if(column === 8){
                                return $(data).attr("title").replace(/&amp;/g, '&').substring(0,30000);
                            }
                            return data;
                        }
                    }
                } 
            }],
            columnDefs: [
              { type: 'time-elapsed-dhms', targets: [5,6] },
              { width: '120px', targets: [0] }
            ]
        });
        
    }
	/*
	if (ticket_analysis_type == "escalation" && ticket_analysis_data['teams_breakdown'] != undefined && Object.keys(ticket_analysis_data['teams_breakdown']).length > 0){
	    gen_group_graph(ticket_analysis_data['teams_breakdown']);
	}
	
	if (ticket_analysis_type == "bouncing" && ticket_analysis_data['ticket_breakdown'] != undefined && Object.keys(ticket_analysis_data['ticket_breakdown']).length > 0){
        gen_group_graph(ticket_analysis_data['ticket_breakdown']);
    }
	
	if (ticket_analysis_type != "reopen" && ticket_analysis_data['teams_data'] != undefined && Object.keys(ticket_analysis_data['teams_data']).length > 0){
		gen_datatable(ticket_analysis_type,ticket_analysis_data['teams_data']);
	}
	
	//if (ticket_analysis_type == "bouncing" && ticket_analysis_data['teams_data'] != undefined && Object.keys(ticket_analysis_data['teams_data']).length > 0){
	//	gen_datatable(ticket_analysis_type,ticket_analysis_data['teams_data']);
    //}
	
	if (ticket_analysis_type == "reopen" && ticket_analysis_data['teams_data'] != undefined){
		var reopen_table_template = Handlebars.compile(document.getElementById("ticket-analysis-reopen-table-template").innerHTML);
		
		$.each(reopenTableTitleMapping, function(table_id,table_title){
			if(ticket_analysis_data['teams_data'][table_id] == undefined || ticket_analysis_data['teams_data'][table_id].length == 0){
		        return;
			}
			var reopen_team_data_length = ticket_analysis_data['teams_data'][table_id].length
            var tableSettings = {
                    "table_title" : table_title,
                    "table_id" : table_id, 
                    "reopen_team_data_length" : reopen_team_data_length
            };
			$("#reopen-content").append($(reopen_table_template(tableSettings)));
            gen_datatable(table_id,ticket_analysis_data['teams_data'][table_id]);
			
		});
		
    }
	*/
	enableSearchButton();
	enableClearFilterButton();

	
});

function setTimezone(){
    //set local_tz on form
    $('#ticket-analysis-' + ticket_analysis_type + ' #filter-form').each(function(i, form){
        var formAction = $(this).attr('action');
        if (formAction.indexOf("local_tz") <= 0){
            $(this).attr('action', formAction + "?local_tz="+local_zone);
        }
    });
}


function initFilters(){
	$("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-daterangepicker").daterangepicker({
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        //minDate: [moment().subtract(100, 'days'), 'inclusive'],
        maxDate: [moment(), 'inclusive'],
        prev_month: moment().subtract(1, 'month'),
        periods: ['day'],
        orientation: 'right',
        ranges:{
            'Today' : [moment(), moment()],
            'Yesterday' : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
			'Past Week' : [moment().utc().subtract(7, 'days').startOf('week').add(1, 'days'), moment().utc().subtract(7, 'days').endOf('week').add(1, 'days')],
			'Last 30 days' : [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
			'Past Month' : [(moment().utc().subtract(1, 'month').startOf('month')), (moment().utc().subtract(1, 'month').endOf('month'))],
			'Current Month' : [moment().utc().startOf('month'), moment().utc().endOf('month')],
            'Custom Range' : 'custom'
        },
        locale: { cancelButtonTitle: 'Clear' },
        callback: function(startDate, endDate, range){
            var title = startDate.format('DD/MM/YYYY') + ' - ' + endDate.format('DD/MM/YYYY');
            $(this).val(title);
            enableSearchButton();
            enableClearFilterButton();
        }
    });
	
	$("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-daterangepicker").data('daterangepicker').cancelChanges = function(){
        $("#ticket-analysis-" + ticket_analysis_type + " #ticket-analysis-" + ticket_analysis_type + "-date-selector").val('');
        this.close();
        enableSearchButton();
        enableClearFilterButton();
    };
	
	$("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group1").multiselect({
	        enableClickableOptGroups: true,
	        enableCollapsibleOptGroups: true,
	        nonSelectedText: 'Choose Groups',
	        buttonWidth: '200px',
	        maxHeight: 500,
	        buttonContainer:'<div id="groups_by_multi_select_' + ticket_analysis_type + '_filter_group1" class="btn-group"></div>',
	        onDropdownShown: function() {
	            $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_multi_select_" + ticket_analysis_type + "_filter_group1 .caret-container").click();
	        },
	        onDropdownHidden: function() {
	            $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_multi_select_" + ticket_analysis_type + "_filter_group1 .caret-container").click();
	            enableSearchButton();
	            enableClearFilterButton();
	        }
	    });
	
	if (ticket_analysis_type != "bouncing"){
		$("#ticket-analysis-" + ticket_analysis_type + " #groups_by_" + ticket_analysis_type + "_filter_group2").multiselect({
	        enableClickableOptGroups: true,
	        enableCollapsibleOptGroups: true,
	        nonSelectedText: 'Choose Groups',
	        buttonWidth: '200px',
	        maxHeight: 500,
	        buttonContainer:'<div id="groups_by_multi_select_' + ticket_analysis_type + '_filter_group2" class="btn-group"></div>',
	        onDropdownShown: function() {
	            $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_multi_select_" + ticket_analysis_type + "_filter_group2 .caret-container").click();
	        },
	        onDropdownHidden: function() {
	            $("#ticket-analysis-" + ticket_analysis_type + " #groups_by_multi_select_" + ticket_analysis_type + "_filter_group2 .caret-container").click();
	            enableSearchButton();
	            enableClearFilterButton();
	        }
	    });
	}
}


function validateForm(){
	
	console.log(ticket_analysis_type);
    
    var validDate = ($("#ticket-analysis-" + ticket_analysis_type + "-daterangepicker").val() != "");
    
    switch(ticket_analysis_type){
        case "escalation":
            var validFilters = ($("#groups_by_multi_select_escalation_filter_group1 .active").length > 0 || $("#groups_by_multi_select_escalation_filter_group2 .active").length > 0);
            break;
            
        case "reopen":
            var validFilters = ($("#groups_by_multi_select_reopen_filter_group1 .active").length > 0 || $("#groups_by_multi_select_reopen_filter_group2 .active").length > 0);
            break;
            
        case "bouncing":
            var validFilters = $("#groups_by_multi_select_bouncing_filter_group1 .active").length > 0 && $("#groups_by_multi_select_bouncing_filter_group1 .active input").val() != ""; 
            break;
            
        case "callback":
            var validFilters = ($("#groups_by_multi_select_callback_filter_group1 .active").length > 0 || $("#groups_by_multi_select_callback_filter_group2 .active").length > 0); 
            break;
            
        default:
            var validFilters = false;
            break;
    }

    return (validDate && validFilters);
}

function enableSearchButton(){
    var isValid = validateForm();
    if(!isValid){
        $("#ticket-analysis .tab-pane.active #submit").attr("disabled","disabled");
    }
    else{
    	$("#ticket-analysis .tab-pane.active #submit").removeAttr("disabled");
    }
}

function validateFormClearFilters(){
	
    var validFilters = ($("#ticket-analysis-" + ticket_analysis_type + "-daterangepicker").val() != "" || $("#groups_by_multi_select_" + ticket_analysis_type + "_filter_group1 .active").length > 0 || $("#groups_by_multi_select_" + ticket_analysis_type + "_filter_group2 .active").length > 0);

    return validFilters;
}

function enableClearFilterButton(){
    var isValid = validateFormClearFilters();
    if(!isValid){
    	$("#ticket-analysis .tab-pane.active .clear-filter").attr("disabled","disabled");
    }
    else{
    	$("#ticket-analysis .tab-pane.active .clear-filter").removeAttr("disabled");
    }
}

function gen_group_graph(teams_breakdown){
	
	if(Object.keys(teams_breakdown).length <= 0){
        $("#" + ticket_analysis_type + "-group-chart").html('NO DATA');
        return;
    }
	
	var total_tickets_count = [];
	
    $.each(teams_breakdown, function(key, val){
    	var total_count = {};
        total_count['y'] = parseInt(val);
        total_count['label'] = key.split("_").join(" ");
        total_tickets_count.push(total_count);
        
    });
    
    console.log(total_tickets_count);

    $("#" + ticket_analysis_type + "-group-chart").CanvasJSChart({
            axisY:{ title:"" },
            axisX: { labelAngle: -30,
                interval: 1 },
            data: [
            {
                type: "doughnut",
                radius: "100%",
                dataPoints: total_tickets_count,
                toolTipContent: "{label}: {y}"
            }
            ],
            animationEnabled: true,
    }); 

    $(".canvasjs-chart-credit").css("display", "none");
    
}

function gen_datatable(table_id, table_details){
	//init templates
    var thead_template = Handlebars.compile(document.getElementById("ticket-analysis-table-thead-template").innerHTML);
    var tbody_template = Handlebars.compile(document.getElementById("ticket-analysis-table-tbody-template").innerHTML);
    
    var table = $("#" + table_id + "-table");
    var mergedTable = $("#" + ticket_analysis_type + "-merged-table");
    
    // add table header
    //var headerSettings = (ticket_analysis_type == "reopen") ? {'not_reopen' : false} : {'not_reopen' : true};
    var headerSettings = {};
    if (ticket_analysis_type == "escalation"){
        headerSettings['show_to_group'] = true;
        headerSettings['show_from_group'] = true;
    }
    
    if (ticket_analysis_type == "reopen" || ticket_analysis_type == "escalation" || ticket_analysis_type == "callback"){
        headerSettings['show_counter'] = true;
    }
    
    if ((ticket_analysis_type == "reopen" || ticket_analysis_type == "callback") && mergedTable.find("thead tr").length < 1){
        mergedTable.find("thead").append($(thead_template(headerSettings)));
    }
    
    table.find("thead").append($(thead_template(headerSettings)));
    
    // add table body
    $.each(table_details, function(i, row){
        if (ticket_analysis_type == "reopen" || ticket_analysis_type == "callback"){
            mergedTable.find("tbody").append($(tbody_template(row)));
        }
    	table.find("tbody").append($(tbody_template(row)));
    });
    
    
    switch(ticket_analysis_type){
        case 'reopen':
            var descriptionCol = 8;
            var orderCol = 9;
            break;
        case 'callback':
            var descriptionCol = 8;
            var orderCol = 9;
            break;
        case 'escalation':
            var descriptionCol = 10;
            var orderCol = 11;
            break;
        default:
            var descriptionCol = 8;
            var orderCol = 3;
            break;
    }
    
    var file_col = "#" + table_id + "-table thead th:not(.noExport)";
    
    // init datatable
    table.DataTable({
        "order": [[ orderCol, "desc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {
            extend: 'excel', 
            title:  ticket_analysis_type.toUpperCase() + ' Tickets', 
            text: 'Excel',
            titleAttr: 'Excel', 
            exportOptions: {
                columns:file_col,
                format: {
                    body: function ( data, row, column, node ) {
                        if(column === descriptionCol){
                            return $(data).attr("title").replace(/&amp;/g, '&').substring(0,30000);
                        }
                        return data;
                    }
                }
            } 
        }],
        columnDefs: [
          { type: 'time-elapsed-dhms', targets: [5,6] },
          { width: '120px', targets: [0] }
        ]
    });
}

function gen_bouncing_group_graph(tickets_breakdown){
    
    if(Object.keys(tickets_breakdown).length <= 0){
        $("#bouncing-group-chart").html('NO DATA');
        return;
    }
    
    var tickets_chart = [];
    
    $.each(tickets_breakdown, function(key, val){
        var total_count = {};
        total_count['y'] = parseInt(val);
        total_count['label'] = key.split("_").join(" ");
        tickets_chart.push(total_count);
        
    });
    
    console.log(tickets_chart);

    $("#bouncing-group-chart").CanvasJSChart({
            axisY:{ title:"" },
            axisX: { labelAngle: -30,
                interval: 1 },
            data: [
            {
                type: "doughnut",
                radius: "100%",
                dataPoints: tickets_chart,
                toolTipContent: "{label}: {y}"
            }
            ],
            animationEnabled: true,
    }); 

    $(".canvasjs-chart-credit").css("display", "none");
    
}


//table onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     //console.log($(this).attr("id"));
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});

//onclick notes
$(document).on("click", ".click_notes", function () {
     var timeline_array = null;
     $('#notes-table').dataTable().fnDestroy();
     var ticket_sla = $(this).attr("value").split("||");
     var ticket_no = ticket_sla[0];
     var sla_date= ticket_sla[1];
     var ticket_seq = $(this).attr("seq");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     var isClosed = ($(this).closest('tr').find('td:nth-child(6)').html() == 'None') ? 'None' : 'True';
     
     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no,
           'ticket_seq' : ticket_seq,
           'isclosed': isClosed
           
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    'async': false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(data) {
                        //console.log(data);
                        timeline_array = data[0];
                        $('#notes-table').DataTable({
                            data: data[1],
                            columns: [
                               { title: "Date" },
                               { title: "From User" },
                               { title: "Action" },
                               { title: "Description" }
                            ]
                        });
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    
    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            var row_data = [];
            var len = notes.length;
            console.log(notes);
            var end_time = new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19)));
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            var row_reopened = [];
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=1;
                var reopen_num = 0;
                var reopen_row_str = "Reopened";
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==4){
                        row_num--;
                    }else if(notes[i][3]==11){
                        reopen_num++;
                        row_reopened.push(row_num);
                        if(reopen_num>1){
                            reopen_row_str = reopen_row_str + "+";
                        }
                        row_data.push(['\0',reopen_row_str,new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                        //row_data.push(['Tickets Timeline', notes[i][1],new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19)))]);
                           
                    }else if(notes[i][3]!=4 && notes[i][3]!="HD_CLOSE"){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
            }
            //console.log(row_data);
            //console.log(row_reopened);
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);
            var ht = 100;
            if(row_data.length == 2)
                ht = 135;
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;
            var options = {};
            if(7<time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: {
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                };
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            }

            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
                var container = document.getElementById("notes_time_line");
                var chart = new google.visualization.Timeline(container);
                setTimeout(function(){
                    chart.draw(dataTable, options);
                    mark_line("notes_time_line",'SLA');
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(obj.row == 0){
                    $('.google-visualization-tooltip').css('display', 'none');
                    mark_line('notes_time_line','SLA');
                  }
                  mark_line('notes_time_line','SLA');
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  mark_line('notes_time_line','SLA');
                })
                var str_reopened="Reopened"; 
                for(i=0;i<row_reopened.length;i++){
                    mark_line("notes_time_line",str_reopened);
                    str_reopened=str_reopened+"+";
                }
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(row_reopened.indexOf(obj.row)!=-1){
                    $('.google-visualization-tooltip').css('display', 'none');
                  }
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                       mark_line('notes_time_line', str_reopened);
                       str_reopened=str_reopened+"+";
                  }
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                      mark_line('notes_time_line',str_reopened);
                      str_reopened=str_reopened+"+";
                  }
                })
                },1);
        });
    }

});

function mark_line(div, contain){

	//get the height of the timeline div
	  var height;
	  $('#' + div + ' rect').each(function(index){
	    var x = parseFloat($(this).attr('x'));
	    var y = parseFloat($(this).attr('y'));

	    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
	  })

	  var nowWord = $('#' + div + ' text:contains('+contain+')');
	  if(contain=='SLA'){
	    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
	  }
	  if(contain=='Reopened'){
	    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '1px').attr('y', '0');
	  }
	}

</script>
{% endblock %}  
                                    
                