{% extends "layout.html" %}

{% block css %}  
{% load assets %}   
{% assets "css_reporting_ticket_stats" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}


{% endblock %}

{% block content %}

<div id="page-content-wrapper">
    <div class="row">
        <div class="col-lg-12" id="reporting-ticket-stats-filters">
			<form method="POST" action="{% url 'hygie_portal:reporting_ticket_stats' %}" class="form-inline" id="filter-form" onsubmit="return validateForm()">
				{% csrf_token %}
				<div class="filter-block col-lg-12">
					<!-- date range selection -->
					<div class="form-group col-lg-3" id="ticket-status-date-selector">
						<div id="ticket-status-date-selector">
							<label>Date Range </label>
							{% if form %}
							<input type="text" id="ticket-status-daterangepicker" name="search_date" class="form-control" value="01/12/2018 - 31/12/2018" data-bind="daterangepicker: dateRange" readonly/>
							{% else %}
							<input type="text" id="ticket-status-daterangepicker" name="search_date" class="form-control" data-bind="daterangepicker: dateRange" readonly/>
							{% endif %}
						</div>
					</div>
					<div class="form-group col-lg-3">
						<label>Select Group(s)</label>
						<select name="ticket_stats_group" id="ticket_stats_group" multiple="multiple">
						{% for group, grouplist in my_config.TEAMS_DEMO.items|dictsort:0 %}
                            {% load replace %}
							<optgroup label="{{ group|replace }}">
							{% for t in grouplist %}
							{% if t.team|length != 0 %}
								<option value="{{ t.id }}" {% if t.id in ticket_stats_selected_grp %}selected{% endif %}>{{ t.name }}</option>
							{% endif %}
							{% endfor %}
							</optgroup>
						{% endfor %}
						</select>
					</div>
					<div class="form-group col-lg-3">
						<div class="form-check">
							<input type="checkbox" class="form-transfer-ticket" id="check-transfer-ticket" name="transfer_ticket_check" {% if transfer_ticket_check %}checked{% endif %}>
							<label class="form-check-label" for="transfertickets">Include Transfer Tickets</label>
							<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>This check only applies to OUT tickets section.</p><p>If ticked, result will include closed and forwarded tickets.</p></p>If not it will only include tickets closed by the selected groups.</p>"></span>
						</div>
					</div>
					<div class="form-group col-lg-3">
                        <button type="submit" class="btn btn-primary" id="submit" disabled>Search</button>
                        <button type="button" class="btn btn-primary clear-filter" disabled>Clear Filters</button>
					</div>
				</div>
			</form>      
		</div>
    </div>
	<div class="row">
        <div class="col-lg-12" id="reporting-ticket-stats-content">
            <div class="col-lg-12" id="nodata-content">
				<div class="center-header">NO DATA</div>
			</div>
			<div class="col-lg-12 panel panel-default" id="incoming-content">
				<div id="incoming-stats" class="col-lg-2 stats-chart"></div>
				<div id="incoming-stats-day-chart" class="col-lg-5 stats-chart"></div>
				<div id="incoming-stats-hour-chart" class="col-lg-5 stats-chart"></div>
			</div>
			<div class="col-lg-12 panel panel-default" id="outgoing-content">
				<div id="outgoing-stats" class="col-lg-2 stats-chart"></div>
				<div id="outgoing-stats-day-chart" class="col-lg-5 stats-chart"></div>
				<div id="outgoing-stats-hour-chart" class="col-lg-5 stats-chart"></div>
			</div>
		</div>
    </div>
</div>

{% endblock %}

{% block js %}

{% assets "js_reporting_ticket_stats" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

{% verbatim %}
<script id="stats-template" type="text/x-handlebars-template">
	<div>
		<p>Total Tickets</p>
		<h3>{{total_tickets}}</h3>
	</div>
	<div>
		<p>Weekly Average</p>
		<h3>{{weekly_average}}</h3>
	</div>
	<div>
		<p>Daily Average</p>
		<h3>{{daily_average}}</h3>
	</div>
	<div>
		<p>Busiest Date</p>
		<h3>{{busiest_date}}</h3>
	</div>
	<div>
		<p>Busiest 2 Hour Period</p>
		<h3>{{busiest_hour}}</h3>
	</div>
</script>
{% endverbatim %}

<script type="text/javascript">

var statsData = {{stats_data|safe}};
var colorList = ['#7cb5ec', '#90ed7d', '#f7a35c', '#f15c80'];

$(document).ready(function(){

	// init transfer checkbox tooltip
	$('span.glyphicon-info-sign[data-toggle=tooltip]').tooltip();
	
	//initialize daterangepicker
    $("#ticket-status-daterangepicker").daterangepicker({
        startDate: moment().subtract(1, 'days'),
        endDate: moment(),
        //minDate: [moment().subtract(120, 'days'), 'inclusive'],
        maxDate: [moment(), 'inclusive'],
		prev_month: moment().subtract(1, 'month'),
        periods: ['day'],
        orientation: 'right',
        ranges:{
			'Today' : [moment(), moment()],
            'Yesterday' : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
			'Last 7 Days' : [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
			'Past Week' : [moment().utc().subtract(7, 'days').startOf('week').add(1, 'days'), moment().utc().subtract(7, 'days').endOf('week').add(1, 'days')],
			'Last 30 days' : [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
			'Past Month' : [(moment().utc().subtract(1, 'month').startOf('month')), (moment().utc().subtract(1, 'month').endOf('month'))],
			'Current Month' : [moment().utc().startOf('month'), moment().utc().endOf('month')],
            'Custom Range' : 'custom'
        },
        locale: { cancelButtonTitle: 'Clear' },
        callback: function(startDate, endDate, range){
		    var title = startDate.format('DD/MM/YYYY') + ' - ' + endDate.format('DD/MM/YYYY');
            $(this).val(title);
            //$(this).val('01-12-2018' + ' - ' + '31-12-2018');
            enableSearchButton();
            enableClearFilterButton();
        }
    });
    
    $("#ticket-status-daterangepicker").data('daterangepicker').cancelChanges = function(){
        $("#ticket-status-daterangepicker").val('');
        this.close();
        enableSearchButton();
        enableClearFilterButton();
    };
	
	$('#ticket_stats_group').multiselect({
        enableClickableOptGroups: true,
        enableCollapsibleOptGroups: true,
        //includeSelectAllOption: true,
        nonSelectedText: 'Choose Groups',
        buttonWidth: '200px',
        maxHeight: 500,
        buttonContainer:'<div id="ticket_stats_group" class="btn-group"></div>',
        onDropdownShown: function() {
            $('#ticket_stats_group .caret-container').click();
        },
        onDropdownHidden: function() {
            $('#ticket_stats_group .caret-container').click();
            enableSearchButton();
            enableClearFilterButton();
        }
    });
	
	enableSearchButton();
	enableClearFilterButton();
	
	$(document).on('click', '.clear-filter', function () { 
		$("#ticket-status-daterangepicker").val('');
		$("#ticket_stats_group").multiselect('clearSelection');
        
        $("#reporting-ticket-stats-content").empty();
        enableClearFilterButton();
        enableSearchButton();
    });
    
    // no data for search
    if(statsData['outgoing_total_count'] <= 0 && statsData['outgoing_total_count'] <= 0){
        $("#reporting-ticket-stats-content #nodata-content").show();
        return;
    }
    
	//init template for stats
	var stats_template =  Handlebars.compile(document.getElementById("stats-template").innerHTML);
    
	
	if(statsData['incoming_total_count'] > 0){
		//init charts
		var busiest_date = initCharts(Object.values(statsData['incoming_stats_day']), statsData['incoming_stats_day_drilldown'], statsData['incoming_day_avg_count'], 'incoming-stats-day-chart', 'Tickets IN by Day', colorList[0]);
		var busiest_hour = initCharts(Object.values(statsData['incoming_stats_hour']), statsData['incoming_stats_hour_drilldown'], statsData['incoming_hour_avg_count'], 'incoming-stats-hour-chart', 'Tickets IN by 2-Hour Period', colorList[1]);
		
		//init stats
		var settings = {
			'busiest_date' : busiest_date,
			'busiest_hour' : busiest_hour,
			'total_tickets' : statsData['incoming_total_count'],
			'daily_average' : statsData['incoming_hour_avg_count'],
			'weekly_average' : statsData['incoming_day_avg_count']
		}
		
		$("#incoming-stats").append($(stats_template(settings)));
		$("#incoming-content").show();
	}
	
	if(statsData['outgoing_total_count'] > 0){
		//init charts
		var busiest_date = initCharts(Object.values(statsData['outgoing_stats_day']), statsData['outgoing_stats_day_drilldown'], statsData['outgoing_day_avg_count'], 'outgoing-stats-day-chart', 'Tickets OUT by Day', colorList[2]);
		var busiest_hour = initCharts(Object.values(statsData['outgoing_stats_hour']), statsData['outgoing_stats_hour_drilldown'], statsData['outgoing_hour_avg_count'], 'outgoing-stats-hour-chart', 'Tickets OUT by 2-Hour Period', colorList[3]);
		
		//init stats
		var settings = {
			'busiest_date' : busiest_date,
			'busiest_hour' : busiest_hour,
			'total_tickets' : statsData['outgoing_total_count'],
			'daily_average' : statsData['outgoing_hour_avg_count'],
			'weekly_average' : statsData['outgoing_day_avg_count']
		}
		
		$("#outgoing-stats").append($(stats_template(settings)));
		$("#outgoing-content").show();
	}
	
});

// send timezone when submitting form
$('#filter-form').on('submit', function() {
    var formAction = $('#filter-form').attr('action');
    if (formAction.indexOf("local_tz") <= 0){
       $('#filter-form').attr('action', formAction + "?local_tz="+local_zone);
    }
});

function validateForm(){
    
    var validDate = ($("#ticket-status-daterangepicker").val() != "");
   
    var validFilters = ($("#ticket_stats_group").children().children(":selected").length > 0) ? true : false;
   
    return (validDate && validFilters);
}

function enableSearchButton(){
    var isValid = validateForm();
    if(!isValid){
        $("#submit").attr("disabled","disabled");
    }
    else{
        $("#submit").removeAttr("disabled");
    }
}

function validateFormClearFilters(){
    
    var validFilters = ($("#ticket-status-daterangepicker").val() != "" || $("#ticket_stats_group").children().children(":selected").length > 0);

    return validFilters;
}

function enableClearFilterButton(){
    var isValid = validateFormClearFilters();
    if(!isValid){
        $("#reporting-ticket-stats-filters .clear-filter").attr("disabled","disabled");
    }
    else{
        $("#reporting-ticket-stats-filters .clear-filter").removeAttr("disabled");
    }
}

function resetForm(){
    console.log("reset form");
    $("#filter-form").reset()
}

// Start out with a darkened base color (negative brighten), and end
// up with a much brighter color
function getColors(color){
	var colorList = [],
        i;

    for (i = 0; i < 20; i += 1) {
        colorList.push(Highcharts.Color(color).brighten((i - 8) / 12).get());
    }
	return colorList;
}

function initCharts(data, drilldownData, averageVal, chartId, chartTitle, chartColor){
	var drilldownDataFormatted = [];
	var maxCount = 0, maxVal = '', maxCategory = '';
	var chartColorList = getColors(chartColor);
	
	$.each(drilldownData, function(day, details){
		dayDrillDown = [];
		$.each(details, function(date, count){
			dayDrillDown.push([date,count]);
			if(count > maxCount){
				maxVal = date;
				maxCategory = day;
				maxCount = count;
			}
		});
		
		drilldownDataFormatted.push({
			"name": day,
			"id": day,
			"data": dayDrillDown
		});
	});
	
	
	var chartSettings = {
		chart: {
			type: 'column'
		},
		xAxis: {
			type: 'category'
		},
		yAxis: {
			title: {
				text: 'Number of Tickets'
			},
			plotLines: [{
				color: '#c4c4c4',
				width: 1,
				value: averageVal,
				label: {
					text: 'Avg: ' + averageVal,
					align: 'right',
					x: 0,
					style: {
						color: '#5c5c5c',
						fontWeight: 'bold'
					}
				}
			}]
		},
		title: {
			text: chartTitle
		},
		credits: {
			enabled: false
		},
		legend: {
			enabled: false
		},
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true,
					format: '{point.y}'
				},
				colors: chartColorList
			}
		},

		tooltip: {
			headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
			pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b> Tickets<br/>'
		},

		series: [
			{
				name: "Day",
				colorByPoint: true,
				data: data
			}
		],
		drilldown: {
			drillUpButton: {
				relativeTo: 'spacingBox',
				position: {
					y: 0,
					x: 0
				},
				theme: {
					fill: 'white',
					'stroke-width': 1,
					stroke: 'silver',
					r: 5,
					states: {
						hover: {
							fill: '#D3D3D3'
						},
						select: {
							stroke: '#039',
							fill: '#D3D3D3'
						}
					}
				}
			},
			series: drilldownDataFormatted
		}
	}
	
	Highcharts.chart(chartId, chartSettings);
	
	//return  maxVal + ' (' + maxCategory + '): ' + maxCount + ' Tickets';
	maxVal = moment(maxVal).format('DD-MM-YYYY');
	maxCategory = (chartId.includes('hour')) ? maxCategory.split(" - ").map(function(e) {return e + "h"}).join(" - ") : maxCategory;
	
	return  maxVal + ' (' + maxCategory + ')';
}

</script>

{% endblock %}
