{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

{% load assets %}
{% assets "css_reporting_tsccalendar" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>

#nest-calendar-current-week {
  	width: 100%;
}				

#nest-calendar-current-week .fc-content .fc-title{
  	font-size: 0.9em;
  	text-align: center;
}				

#nest-calendar {
	color: #5c5c5c;
} 

#nestcalendar-header h3 {
	display: inline-block;
}

#nestcalendar-header {
	text-align: center;
    padding: 2%;
	padding-top: 0%;
}

#nestcalendar-info {
	//padding: 1% 20% 2% 20%;
	padding: 1% 0;
}

#nestcalendar-legend {
	margin-bottom: 5%;
}

#nestcalendar-legend .nest-calendar-legend { 
	list-style: none; 
}

#nestcalendar-legend .nest-calendar-legend li { 
	float: left; 
	margin-right: 10px;
}

#nestcalendar-legend .nest-calendar-legend span { 
	float: left; 
	width: 15px; 
	height: 15px; 
	margin: 2px; 
}

#nestcalendar-legend #nestcalendar-legend-validatedchanges.nest-calendar-legend span { 
	border: 2px solid #666666; 
}

#nestcalendar-legend .nest-calendar-legend .l1nestmonitoring { background-color: #a0efe6; }
#nestcalendar-legend .nest-calendar-legend .l2nestops { background-color: #f4b342; }

#nest-calendar-current-week .fc-event {
	border-width: 2px;
}

#nest-calendar-current-week th.fc-axis.fc-widget-header {
	text-align: center;
}

</style>

{% endblock %}


{% block content %}
<div id="page-content-wrapper">
    <div id="nest-calendar" class="container-fluid xyz">
		<div class="row">
			<div class="col-lg-12">
				<div id="nestcalendar-header">
					<h3>NEST CALENDAR </h3>
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>This page can help you to schedule your change(s) related to NEST.</p><p>With those export, you will find each changes already planned for next week for each Technology lead by NEST.</p><p>Each empty range can be used to raise a new change.</p><p>N.B : Before raising your change, check carefully if your range is available.</p>"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="nestcalendar-legend">
				<ul id="nestcalendar-legend-validatedchanges" class="nest-calendar-legend col-lg-6">
					<p>Validated Changes</p>
				    <li><span class="l2nestops"></span> L2 NEST Ops</li>
				    <li><span class="l1nestmonitoring"></span> L1 NEST Monitoring</li>
				</ul>	
				<ul id="nestcalendar-legend-allchanges" class="nest-calendar-legend col-lg-6">
					<p>Waiting for Validation</p>
				    <li><span class="l2nestops"></span> L2 NEST Ops</li>
				    <li><span class="l1nestmonitoring"></span> L1 NEST Monitoring</li>
				</ul>	
			</div>
		</div>
		<div class="row">
			<div id="nest-calendar-current-week"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% assets "js_reporting_tsccalendar" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}



<script>
var isFirefox = typeof InstallTrigger !== 'undefined';

var validatedData = [];
var nonValidatedData = [];

var currentCalendarMode = null;
var currentCalendarTeam = null;

// default setting
var currentMode = "VALIDATED_CHANGES"
var currentTeam = "ALL"
var currentDate = null;

// in hours
var minSlotDuration = 1;
var maxSlotDuration = 2;

var groupMapping = {{my_config.NEST_CALENDAR_GROUP_MAPPING|safe}};
var statusMapping = {{my_config.CALENDAR_STATUS_MAPPING|safe}};

$(document).ready(function() {
	
	// init header tooltip
	$('#nestcalendar-header span[data-toggle=tooltip]').tooltip();
	
	validatedData = formatData({{validated|safe}});
	nonValidatedData = formatData({{non_validated|safe}});
	
	init_fullcalendar();
	
});

function init_fullcalendar(){
	currentDate = $('#nest-calendar-current-week').fullCalendar('getDate');
	
	if(!(currentDate instanceof moment)){
		currentDate = moment().format("YYYY-MM-DD");
	}
	
	$('#nest-calendar-current-week').fullCalendar('destroy');
	$('#nest-calendar-current-week .fc-left .fc-button-group').first().removeClass("fc-state-active");
	
	var	teamdata = [];
	
	if(currentMode == "ALL_CHANGES"){
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(validatedData)).concat([].concat.apply([], Object.values(nonValidatedData)));
		}
		else{
			teamdata = [].concat.apply([], validatedData[currentTeam]).concat([].concat.apply([], nonValidatedData[currentTeam]));
		}
	}
	else if(currentMode == "WAITING_VALIDATION"){
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(nonValidatedData));
		}
		else{
			teamdata = [].concat.apply([], nonValidatedData[currentTeam]);
		}
	}
	else{
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(validatedData));
		}
		else{
			teamdata = [].concat.apply([], validatedData[currentTeam]);
		}
	}
	 
	var headerCenterSetting = "AllChanges,WaitingValidation,ValidatedChanges All,L2NESTOps,L1NESTMonitoring ";
	
	$('#nest-calendar-current-week').fullCalendar({
        "defaultView": "agendaWeek",
		"header": {
			"left" : headerCenterSetting,
		 	"center": "",
		    "right": "agendaWeek,agendaDay,today prev title next"
		},
		"customButtons": {
      		AllChanges: {
        		text: 'All Changes',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "ALL_CHANGES";
          			init_fullcalendar();
        		}
      		},
      		WaitingValidation: {
        		text: 'Waiting for Validation',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "WAITING_VALIDATION";
          			init_fullcalendar();
        		}
      		},
      		ValidatedChanges: {
        		text: 'Validated Changes',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "VALIDATED_CHANGES";
          			init_fullcalendar();
        		}
      		},
      		All: {
        		text: 'All',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "ALL";
          			init_fullcalendar();
        		}
      		},
      		L2NESTOps: {
        		text: 'L2 NEST Ops',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L2_NEST_SUPPORT";
          			init_fullcalendar();
        		}
      		},
      		L1NESTMonitoring: {
        		text: 'L1 NEST Monitoring',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L1_NEST_MONITORING";
          			init_fullcalendar();
        		}
      		}
    	},
		"allDaySlot": false,
		"slotEventOverlap": false,
		"slotDuration": "00:30",
		"slotLabelInterval": "01:00",
		"slotLabelFormat" : "X",
		"minTime": "00:00:00",
		"maxTime": "24:00:00",
		"firstDay": 1,
		"displayEventTime" : false,
		"nowIndicator": true,
		"now" : moment().tz('Europe/Paris'),
		"timezone" : "Europe/Paris",
		"eventTextColor" : "#000",
		"groupByResource": true,
		"eventRender": function(eventObj, $el) {
      		$el.popover({
        		title: "CHANGE#" + eventObj.changeid,
        		content: eventObj.popupdata,
        		html: true,
        		trigger: 'hover',
        		placement: 'top',
        		container: 'body'
      		});
    	},
    	"eventAfterAllRender": function(view) {
    		//update the calendar axis
			$('#nest-calendar-current-week').find('th.fc-axis.fc-widget-header').html("Paris / SG");
      		$('#nest-calendar-current-week td.fc-axis.fc-time.fc-widget-content').each(function(k, row){
				if($(row).find('span').length > 0){
					var currentTime = parseInt($(row).find('span').html());
					var parisTime = $(row).parent("tr").attr("data-time");
					var singaporeTime = moment.tz(moment().tz('Europe/Paris').format('YYYY-MM-DD') + "T" + parisTime, 'Europe/Paris').tz('Asia/Singapore').format('hh a');
					var newTime = parisTime.split(":")[0] + "h / " + singaporeTime;
					$(row).find('span').html(newTime);
				}
			});
			// set container height to auto
			$("#nest-calendar-current-week .fc-time-grid-container").height('auto');
    	},
		"events": teamdata
	});
	
	
	if(currentCalendarMode == null){
		currentCalendarMode = $('#nest-calendar-current-week .fc-ValidatedChanges-button');
	}
	if(currentCalendarTeam == null){
		currentCalendarTeam = $('#nest-calendar-current-week .fc-All-button');
	}
	
	
	
	//switch to current date
	$('#nest-calendar-current-week').fullCalendar('gotoDate', currentDate);
	
	$('#nest-calendar-current-week').find("." + currentCalendarMode[0].className.split(" ")[0]).addClass('fc-state-active');
	$('#nest-calendar-current-week').find("." + currentCalendarTeam[0].className.split(" ")[0]).addClass('fc-state-active');
	
}

function formatData(data){
	var formattedData = {}
	
	$.each(data, function(i, event){
		
		var e = {};
		var group = (groupMapping[event['group']] == undefined) ? event['group'] : groupMapping[event['group']]['name'];
		e['changeid'] = event['changeid'];
		e['status'] = statusMapping[event['status']];
		
		//e['popupdata'] = isAdmin ? "[" + e['status'] + "] CHANGE#" + event['changeid'] + " <br>Team: " + group + " (" + event['duration'].substr(0,5) + ") WO#" + event['workorderid'] : "[" + e['status'] + "] CHANGE#" + event['changeid'] + " " + group + " WO#" + event['workorderid'];
		e['popupdata'] = "<b>Status:</b> " + e['status'] +
			"<br><b>Team:</b> " + group +
			"<br><b>Duration:</b> (" + event['duration'].substr(0,5) + ")" +
			"<br><b>WO#:</b> " + event['workorderid'] + 
			"<br><b>Urgent Justification:</b> " + 
			"<br>" + event['urgentjustification'];
		
		e['title'] = "[" + event['changeid'] + "] WO#" + event['workorderid'];
		
		e['start'] = moment(event['startdate'], "YYYY-MM-DDTHH:mm:ss");
		var duration = event['duration'].split(":");
		
		var addDuration = {hours:'0',minutes:'0',seconds:'0'};
		//duration logic: min 1 hour slot, max 2 hour slot
		if(duration[0] > maxSlotDuration){
			addDuration['hours'] = maxSlotDuration;
		}
		else if(duration[0] < minSlotDuration){
			addDuration['hours'] = minSlotDuration;
		}
		else{
			addDuration = {hours:duration[0],minutes:duration[1],seconds:duration[2]};
		}
		
		e['end'] = moment(e['start']).add(addDuration).format("YYYY-MM-DDTHH:mm:ss");
		var color = (groupMapping[event['group']] == undefined) ? '#dedede' : groupMapping[event['group']]['color'];
		e['color'] = color;
		
		if(e['status'] == 'AUTH'){
			e['borderColor'] = '#666666'
		}
		
		if(formattedData[event['group']] == undefined){
			formattedData[event['group']] = [];
		}
		formattedData[event['group']].push(e);
		
	});
	
	return formattedData;
}


</script>

{% endblock %}

