{% extends "layout.html" %}
{% load static %}

{% block head_js %}
{% endblock %}

{% block css %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% load assets %}
{% assets "css_reporting_topten" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
		<div class="row">
			<div class="col-lg-12">
				<div id="topten-header" >TOP CATEGORY</div>
			</div>
<!--			<div class="col-sm-12 col-lg-2 col-lg-offset-5">
				<input id="topten-current-month" class="form-control" readonly>
			</div> -->
			<div class="col-lg-9">
					<!-- tabs -->
					<ul class="nav nav-tabs" role="tablist" id="topten-tabs"> 
						
						<li class="active"><a href="#worldwide_topten" tableId="topten-table-worldwide" zone="worldwide" aria-controls="worldwide_topten" data-toggle="tab" aria-expanded="false">WORLDWIDE</a></li>
						<li class=""><a href="#emea_topten" tableId="topten-table-emea" zone="corp" aria-controls="emea_topten" data-toggle="tab" aria-expanded="true">EMEA</a></li>
						<li class=""><a href="#americas_topten" tableId="topten-table-americas" zone="americas" aria-controls="americas_topten" data-toggle="tab" aria-expanded="true">AMERICAS</a></li>
						<li class=""><a href="#apac_topten" tableId="topten-table-apac" zone="asia" aria-controls="apac_topten" data-toggle="tab" aria-expanded="true">APAC</a></li>
						
					</ul> 
			</div>
            <div class="col-lg-3">
                <!-- date range selection -->
                <input id="topten-current-month" class="form-control" readonly>
            </div>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="worldwide_topten">
				<div class="row">
						<div class="col-lg-12">
							<table id="topten-table-worldwide" class="table table-striped table-bordered topten-table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Category</th>
										<th>Previous</th>
										<th>Current</th>
										
                                        <th>Trend <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>Calculation on the trends are based on the following rules.</p><p>1. For any category, if the ratio of tickets for the current month is greater than the previous month by at least 0.5%, the trend is negative.</p><p>2. If the ratio of tickets for the current month is lesser than the previous month by at least 0.5%, the trend is positive.</p><p>3. All other cases are considered neutral trend.</p>"></span></th>
										<th>Reason(s)</th>
										<th>Action(s)</th>
										<th>Owner(s)</th>
										<th>Save</th>
									</tr>
								</thead>
								<tbody>
								
								</tbody>
							</table>
						</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="emea_topten">
				<div class="row">
						<div class="col-lg-12">
							<table id="topten-table-emea" class="table table-striped table-bordered topten-table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Category</th>
										<th>Previous</th>
										<th>Current</th>
                                        <th>Trend <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>Calculation on the trends are based on the following rules.</p><p>1. For any category, if the ratio of tickets for the current month is greater than the previous month by at least 0.5%, the trend is negative.</p><p>2. If the ratio of tickets for the current month is lesser than the previous month by at least 0.5%, the trend is positive.</p><p>3. All other cases are considered neutral trend.</p>"></span></th>
										<th>Reason(s)</th>
										<th>Action(s)</th>
										<th>Owner(s)</th>
										<th>Save</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
				</div>		
			</div>
			<div role="tabpanel" class="tab-pane" id="americas_topten">
				<div class="row">
						<div class="col-lg-12">
							<table id="topten-table-americas" class="table table-striped table-bordered topten-table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Category</th>
										<th>Previous</th>
										<th>Current</th>
										
                                        <th>Trend <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>Calculation on the trends are based on the following rules.</p><p>1. For any category, if the ratio of tickets for the current month is greater than the previous month by at least 0.5%, the trend is negative.</p><p>2. If the ratio of tickets for the current month is lesser than the previous month by at least 0.5%, the trend is positive.</p><p>3. All other cases are considered neutral trend.</p>"></span></th>
										<th>Reason(s)</th>
										<th>Action(s)</th>
										<th>Owner(s)</th>
										<th>Save</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="apac_topten">
				<div class="row">
						<div class="col-lg-12">
							<table id="topten-table-apac" class="table table-striped table-bordered topten-table" cellspacing="0" width="100%">
								<thead>
									<tr>
										<th>#</th>
										<th>Category</th>
										<th>Previous</th>
										<th>Current</th>
										
                                        <th>Trend <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>Calculation on the trends are based on the following rules.</p><p>1. For any category, if the ratio of tickets for the current month is greater than the previous month by at least 0.5%, the trend is negative.</p><p>2. If the ratio of tickets for the current month is lesser than the previous month by at least 0.5%, the trend is positive.</p><p>3. All other cases are considered neutral trend.</p>"></span></th>
										<th>Reason(s)</th>
										<th>Action(s)</th>
										<th>Owner(s)</th>
										<th>Save</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% assets "js_reporting_topten" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script>
var isFirefox = typeof InstallTrigger !== 'undefined';

var data = {{data|safe}};

{% if 'topten_adm' in request.user.role %}
var isEditable = true;
var disableSave = false;
{% else %}
var isEditable = false;
var disableSave = true;
{% endif %}


gen_datatable(data);

$(document).ready(function() {

	// init trend tooltip
	$('span.glyphicon-info-sign[data-toggle=tooltip]').tooltip();
	
	$('#topten-tabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		var zone = $(e.target).attr("zone");
		var date = $("#topten-current-month").data('datepicker').getFormattedDate('yyyymmdd');
		var currentTable = $("#topten-tabs li.active a").attr("tableId");
		$('#' + currentTable).DataTable().destroy();
		$('#' + currentTable + ' tbody tr').remove(); 
		getTopten(zone,date);
	});
	
	$("#topten-current-month").datepicker( {
		autoclose: true,
		format: "M yyyy",
		viewMode: "months", 
		minViewMode: "months",
		position: "center",
		endDate: moment().format('MM-YYYY'),
		
	});
	$("#topten-current-month").datepicker('setDate',moment().format('MM-YYYY'));

	$('#topten-current-month').datepicker()
	  .on('changeMonth', function(ev) {
		// Destroy dataTable
		var currentTable = $("#topten-tabs li.active a").attr("tableId");
		$('#' + currentTable).DataTable().destroy();
		$('#' + currentTable + ' tbody tr').remove(); 
		var date = moment(ev.date).format("YYYYMMDD");
		var zone = $("#topten-tabs li.active a").attr("zone").toUpperCase();
		
		
		/**
		 * TODO if month is more than 2 months old, disable save button and make textarea/textfield readonly
		 * https://datatables.net/examples/api/show_hide.html
		 */
		var selectedMonth = moment(ev.date).format("MM-YYYY");
		var compareTo = moment().subtract(2, "month").format('YYYYMMDD');
        if(isEditable){
            disableSave = !moment(date).isAfter(compareTo);
        }
		getTopten(zone, date);
	});
	  
	$(document).on("click", '.save-topten-btn', function (link) {
		var buttonId = $(this).attr("id");
		var reason = $("#topten-reason-"+buttonId).val();
		var action = $("#topten-action-"+buttonId).val();
		var owner = $("#topten-owner-"+buttonId).val();
		saveTopten(reason,action,owner,buttonId);
		
	});
	


});

//Save the data
function saveTopten(reason, action, owner, buttonId) {
	var csrftoken = "{{ csrf_token }}";
	
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});

	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:save_topten' %}",
		data: JSON.stringify({'reason':JSON.stringify(reason), 'action':JSON.stringify(action), 'owner':JSON.stringify(owner), 'id':buttonId}),
		contentType: 'application/json;charset=UTF-8',
		success: function(result) {
			console.log(result);
		}
	});
}




// Get the data

function getTopten(zone, date) {
	var csrftoken = "{{ csrf_token }}";
	
	$.ajaxSetup({
		beforeSend: function(xhr, settings) {
			if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken)
			}
		}
	});

	$.ajax({
		type: "POST",
		url: "{% url 'hygie_portal:reporting_topten' %}",
		data: JSON.stringify({'zone':zone, 'month':date}),
		contentType: 'application/json;charset=UTF-8',
		success: function(result) {
			gen_datatable(result["data"]);
		}
	});
}

function show_image(src, width, height, alt) {
    var img = document.createElement("img");
    img.src = src;
    img.width = width;
    img.height = height;
    img.alt = alt;

    // This next line will just add it to the <body> tag
    document.body.appendChild(img);
}

function gen_datatable(data){
	// populate data
	var currentTab = $("#topten-tabs li.active a").attr("tableid");
	var table = $("#" + currentTab);
	
	$.each(data, function(i,value){
	
		var template = "";
		var currentIndex = parseInt(i) + 1;
		template += '<td style="vertical-align: middle">' + currentIndex + '</td>';
		template += '<td style="vertical-align: middle">' + value[0] + '</td>';
		var currentMonth = (value[1] == 0) ? 0 : ((value[6] == 0) ? value[1] : value[1] + "<br>(" + (value[1] / value[6] * 100).toFixed(2) + "%)");
		
		var prevMonth = (value[2] == 0) ? 0 : ((value[6] == 0) ? value[2] : value[2] + "<br>(" + (value[2] / value[8] * 100).toFixed(2) + "%)");
		template += '<td style="vertical-align: middle">' + prevMonth + '</td>';
		template += '<td style="vertical-align: middle;font-weight: bold;">' + currentMonth + '</td>';
		
        var percentagemonth = (value[1] / value[6] * 100).toFixed(2)
        var percentpastmonth = (value[2] / value[8] * 100).toFixed(2)
        
        if ( percentagemonth - percentpastmonth > -0.5 &&  percentagemonth - percentpastmonth < 0.5 ){
            template += '<td style="vertical-align: middle">' + '<center><img level="orange" src="{% static 'img/orange.png' %}"></center>' + '</td>';
        }
        else if ( percentagemonth - percentpastmonth > 0  ){
            template += '<td style="vertical-align: middle">' + '<center><img level="red" src="{% static 'img/red.png' %}"></center>' + '</td>';
        }
        else{
            template += '<td style="vertical-align: middle">' + '<center><img level="green" src="{% static 'img/green.png' %}"></center>' + '</td>';
        }
        
        template += '<td><textarea rows="3" cols="20" id="topten-reason-' + value[7] + '" class="form-control">' + value[3] + '</textarea></td>';
		template += '<td><textarea rows="3" cols="20" id="topten-action-' + value[7] + '" class="form-control">' + value[4] + '</textarea></td>';
		template += '<td style="vertical-align: middle"><input type="text" name="topten-owner-' + value[7] + '" id="topten-owner-' + value[7] + '" class="form-control" value="' + value[5] + '"></td>';
		template += '<td style="vertical-align: middle"><button type="button" class="btn btn-info save-topten-btn" id="' + value[7] + '">Save</button></td>';
		 
		table.append('<tr>' + template + '</tr>'); 
	});
	if(disableSave){
		table.find('textarea').attr("disabled","disabled");
		table.find('input').attr("disabled","disabled");
	}
    // initialize tables
    table.DataTable({
        orderCellsTop: true,
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {extend: 'excel', title:  'Top 10 - ' + $("#topten-tabs li.active a").html(), text: 'Excel',titleAttr: 'Excel', exportOptions: {
			format : {
				header : function (mDataProp, columnIdx) {
					var htmlText = '<span>' + mDataProp + '</span>';
					var jHtmlObject = jQuery(htmlText);
					jHtmlObject.find('div').remove();
					var newHtml = jHtmlObject.text();
					console.log('My header > ' + newHtml);
					return newHtml;
				},
				body: function ( data, row, column, node ) {
                    if(column === 2 || column === 3){
                        data = data.replace("<br>"," ");
                    }
                    else if(column == 4){
                        data = $(data).find("img").attr("level");
                    }
                    else if(column === 5 || column === 6 || column === 7){
                        data = $("#"+$(data).attr("id")).val();
                    }
                    return data;
                    //return (column === 5 || column === 6 || column === 7) ? $("#"+$(data).attr("id")).val() : data;
                }
			},
			columns: [0,1,2,3,4,5,6,7]
        } }],
		columnDefs : [
			{"targets": [8], "visible" : !disableSave}
		]
    });
}



</script>

{% endblock %}

