{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}

{% load assets %}
{% assets "css_reporting_tsccalendar" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}

<style>

#tsc-calendar-current-week {
  	width: 100%;
}				

#tsc-calendar-current-week .fc-content .fc-title{
  	font-size: 0.9em;
  	text-align: center;
}				

#tsc-calendar {
	color: #5c5c5c;
} 

#tsccalendar-header h3 {
	display: inline-block;
}

#tsccalendar-header {
	text-align: center;
    padding: 2%;
	padding-top: 0%;
}

#tsccalendar-info {
	//padding: 1% 20% 2% 20%;
	padding: 1% 0;
}

#tsccalendar-legend {
	margin-bottom: 5%;
}

#tsccalendar-legend .tsc-calendar-legend { 
	list-style: none; 
}

#tsccalendar-legend .tsc-calendar-legend li { 
	float: left; 
	margin-right: 10px;
}

#tsccalendar-legend .tsc-calendar-legend span { 
	float: left; 
	width: 15px; 
	height: 15px; 
	margin: 2px; 
}

#tsccalendar-legend #tsccalendar-legend-validatedchanges.tsc-calendar-legend span { 
	border: 2px solid #666666; 
}

#tsccalendar-legend .tsc-calendar-legend .as400 { background-color: #ffa5b3; }
#tsccalendar-legend .tsc-calendar-legend .bidb { background-color: #a0efe6; }
#tsccalendar-legend .tsc-calendar-legend .dev { background-color: #c0a0ef; }
#tsccalendar-legend .tsc-calendar-legend .middleware { background-color: #cdff91; }
#tsccalendar-legend .tsc-calendar-legend .webapps { background-color: #f9ffa5; }
#tsccalendar-legend .tsc-calendar-legend .windows { background-color: #8fbefc; }
#tsccalendar-legend .tsc-calendar-legend .unix { background-color: #f4b342; }

#tsc-calendar-current-week .fc-event {
	border-width: 2px;
}

#tsc-calendar-current-week th.fc-axis.fc-widget-header {
	text-align: center;
}

</style>

{% endblock %}


{% block content %}
<div id="page-content-wrapper">
    <div id="tsc-calendar" class="container-fluid xyz">
		<div class="row">
			<div class="col-lg-12">
				<div id="tsccalendar-header">
					<h3>TSC CALENDAR </h3>
					<span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>This page can help you to schedule your change(s) related to TSC.</p><p>With those export, you will find each changes already planned for next week for each Technology lead by the TSC.</p><p>Each empty range can be used to raise a new change. Of course, you will receive a notification by TSC Manager in order to confirm your range.</p><p>N.B : Before raising your change, check carefully if your range is available.</p>"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="tsccalendar-legend">
				<ul id="tsccalendar-legend-validatedchanges" class="tsc-calendar-legend col-lg-6">
					<p>Validated Changes</p>
				    <li><span class="as400"></span> AS400</li>
				    <li><span class="bidb"></span> BI/DB</li>
				    <li><span class="dev"></span> Dev</li>
				    <li><span class="middleware"></span> Middleware</li>
				    <li><span class="webapps"></span> WebApps</li>
				    <li><span class="windows"></span> Windows</li>
				    <li><span class="unix"></span> Unix</li>
				</ul>	
				<ul id="tsccalendar-legend-allchanges" class="tsc-calendar-legend col-lg-6">
					<p>Waiting for Validation</p>
				    <li><span class="as400"></span> AS400</li>
				    <li><span class="bidb"></span> BI/DB</li>
				    <li><span class="dev"></span> Dev</li>
				    <li><span class="middleware"></span> Middleware</li>
				    <li><span class="webapps"></span> WebApps</li>
				    <li><span class="windows"></span> Windows</li>
				    <li><span class="unix"></span> Unix</li>
				</ul>	
			</div>
		</div>
		<div class="row">
			<div id="tsc-calendar-current-week"></div>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% assets "js_reporting_tsccalendar" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}



<script>
var isFirefox = typeof InstallTrigger !== 'undefined';

var validatedData = [];
var nonValidatedData = [];

var currentCalendarMode = null;
var currentCalendarTeam = null;

// default setting
var currentMode = "VALIDATED_CHANGES"
var currentTeam = "ALL"
var currentDate = null;

// in hours
var minSlotDuration = 1;
var maxSlotDuration = 2;

/*
var groupMapping = {
	"WW_TM_L3_TSC_WINDOWS_SAFE_SCOL" : {
		"name" : "Windows",
		"color" : "#8fbefc"
	},
	"WW_TM_L3_TSC_UNIX" : {
		"name" : "Unix",
		"color" : "#f4b342"
	},
	"WW_TM_L3_TSC_WEB_APPLIS" : {
		"name" : "WebApps",
		"color" : "#f9ffa5"
	},
	"WW_TM_L3_TSC_BI_DATABASE" : {
		"name" : "BI/Database",
		"color" : "#a0efe6"
	},
	"WW_TM_L3_TSC_AS400" : {
		"name" : "AS400",
		"color" : "#ffa5b3"
	},
	"WW_TM_L3_TSC_MIDDLEWARE" : {
		"name" : "Middleware",
		"color" : "#cdff91"
	},
	"WW_TM_L1_SOC" : {
		"name" : "SOC",
		"color" : "#c9c9c9"
	},
	"WW_TM_L3_TSC_DEV" : {
		"name" : "Dev",
		"color" : "#c0a0ef"
	},
};

var statusMapping = {
	'5' : 'AUTH',
	'1025' : 'ASM',
	'1026' : 'CAB',
	'1027' : 'CMA',
	'1028' : 'DIR'
};
*/

var groupMapping = {'WW_TM_L3_TSC_AS400': {'color': '#ffa5b3', 'name': 'AS400'}, 'WW_TM_L3_TSC_DEV': {'color': '#c0a0ef', 'name': 'Dev'}, 'WW_TM_L3_TSC_WINDOWS_SAFE_SCOL': {'color': '#8fbefc', 'name': 'Windows'}, 'WW_TM_L3_TSC_BI_DATABASE': {'color': '#a0efe6', 'name': 'BI/Database'}, 'WW_TM_L3_TSC_MIDDLEWARE': {'color': '#cdff91', 'name': 'Middleware'}, 'WW_TM_L3_TSC_UNIX': {'color': '#f4b342', 'name': 'Unix'}, 'WW_TM_L1_SOC': {'color': '#c9c9c9', 'name': 'SOC'}, 'WW_TM_L3_TSC_WEB_APPLIS': {'color': '#f9ffa5', 'name': 'WebApps'}};

var statusMapping = {'1025': 'ASM', '1027': 'CMA', '1026': 'CAB', '5': 'AUTH', '1028': 'DIR'};

{% if 'tsc_manager' in current_user.role %}
var isAdmin = true;
{% else %}
var isAdmin = false;
{% endif %}


$(document).ready(function() {
	
	// init header tooltip
	$('#tsccalendar-header span[data-toggle=tooltip]').tooltip();
	
	validatedData = formatData([
      {
        "changeid": 35947,
        "duration": "12:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate":  moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232046
      },
      {
        "changeid": 35947,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232048
      },
      {
        "changeid": 36040,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 15/01 04:00 \r\n\r\n***SAL 10/01",
        "workorderid": 232258
      },
      {
        "changeid": 36062,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').format('YYYY-MM-DD') + "4T14:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 14/01 02:00 \n***SAL 10/01",
        "workorderid": 232290
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232447
      },
      {
        "changeid": 36160,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 06:00 \r\n",
        "workorderid": 232510
      },
      {
        "changeid": 35519,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(2, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 08/01\r\nTSC validation missing : OK\r\n\r\n***SAL 05/12\r\nTo be validated by DRO\r\n***TSC 05/12 - OK for 10/12 06:00",
        "workorderid": 231427
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232049
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232050
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232448
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232449
      },
      {
        "changeid": 36164,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T17:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 17/01 05:00 \r\n",
        "workorderid": 232507
      },
      {
        "changeid": 36035,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n\r\n***TSC 10/01 - OK for 24/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n***SAL 10/01",
        "workorderid": 232219
      },
      {
        "changeid": 36092,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 14/01 - OK for 15/01 04:00 \r\n",
        "workorderid": 232373
      },
      {
        "changeid": 36134,
        "duration": "08:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232444
      },
      {
        "changeid": 36176,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 17/01 05:00",
        "workorderid": 232541
      },
      {
        "changeid": 35896,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 5,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending",
        "workorderid": 232232
      },
      {
        "changeid": 36106,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 06:00 \r\n\r\n***SAL 15/01\r\nTSC validation missing",
        "workorderid": 232390
      },
      {
        "changeid": 36121,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T11:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 21/01 11:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232411
      },
      {
        "changeid": 36134,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232446
      },
      {
        "changeid": 36056,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T05:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 22/01 05:00 \r\n",
        "workorderid": 232532
      },
      {
        "changeid": 36056,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 22/01 05:00 \r\n",
        "workorderid": 232533
      },
      {
        "changeid": 36145,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_WEB_APPLIS",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T09:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 24/01 09:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232471
      },
      {
        "changeid": 36180,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 09:00 \r\n\r\n***TSC 17/01 - No change oin Friday",
        "workorderid": 232553
      },
      {
        "changeid": 36175,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T12:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 12:00 \r\n",
        "workorderid": 232581
      },
      {
        "changeid": 36175,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate":moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T12:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 12:00 \r\n",
        "workorderid": 232584
      },
      {
        "changeid": 36033,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232211
      },
      {
        "changeid": 36180,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T09:15:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 09:00 \r\n\r\n***TSC 17/01 - No change oin Friday",
        "workorderid": 232552
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232052
      },
      {
        "changeid": 35955,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 08/01",
        "workorderid": 232072
      },
      {
        "changeid": 36035,
        "duration": "24:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n\r\n***TSC 10/01 - OK for 24/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n***SAL 10/01",
        "workorderid": 232220
      },
      {
        "changeid": 36043,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 04:30 \n***SAL 10/01",
        "workorderid": 232259
      },
      {
        "changeid": 36159,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T09:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 23/01 09:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232502
      },
      {
        "changeid": 36035,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n\r\n***TSC 10/01 - OK for 24/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n***SAL 10/01",
        "workorderid": 232216
      },
      {
        "changeid": 36035,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n\r\n***TSC 10/01 - OK for 24/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n***SAL 10/01",
        "workorderid": 232217
      },
      {
        "changeid": 36017,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').format('YYYY-MM-DD') + "T15:00:00",
        "status": 5,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 08/01\r\nTSC validation missing : OK",
        "workorderid": 232208
      },
      {
        "changeid": 36142,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WEB_APPLIS",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T12:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 12:00 \r\n",
        "workorderid": 232464
      },
      {
        "changeid": 35947,
        "duration": "08:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232045
      },
      {
        "changeid": 35519,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 08/01\r\nTSC validation missing : OK\r\n\r\n***SAL 05/12\r\nTo be validated by DRO\r\n***TSC 05/12 - OK for 10/12 06:00",
        "workorderid": 231426
      },
      {
        "changeid": 36125,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T19:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\nTSC validation missing : OK\r\n\r\n***TSC 15/01 - OK for 16/01 10:00 \r\n***SAL 15/01",
        "workorderid": 232426
      },
      {
        "changeid": 36151,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T17:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 17/01 05:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232490
      },
      {
        "changeid": 36160,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 06:00 \r\n",
        "workorderid": 232511
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232053
      },
      {
        "changeid": 35984,
        "duration": "24:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T08:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 08/01 - OK for 09/01 08:00 \n***SAL 08/01",
        "workorderid": 232138
      },
      {
        "changeid": 36033,
        "duration": "24:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232213
      },
      {
        "changeid": 36089,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 24/01 09:30 \r\n\r\n***SAL 15/01\r\nTSC validation missing",
        "workorderid": 232356
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232450
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232452
      },
      {
        "changeid": 36035,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n\r\n***TSC 10/01 - OK for 24/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n***SAL 10/01",
        "workorderid": 232218
      },
      {
        "changeid": 36134,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(11, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232445
      },
      {
        "changeid": 35547,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T14:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 10/01\r\n\r\n***SLB 10/01\r\nScheduled on 22/01\r\nTSC ressources confirmed by Farid\r\n\r\n***SAL 08/01\r\nIs it scheduled jan 15th or Jan 22nd ?\r\nTSC validation missing\r\n\r\n***SAL 27/12\r\nWait for GO / No GO\r\n\r\n***SAL 29/11\r\nPostponed to January : please update date\r\n\r\n\r\n***SAL 22/11\r\nP2V Scheduled Dec 11th during Go/No Go meeting / Dec 6th in this change\r\n\r\n***TSC 22/11 - OK for 06/12 02:00 ",
        "workorderid": 231052
      },
      {
        "changeid": 35519,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(2, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 08/01\r\nTSC validation missing : OK\r\n\r\n***SAL 05/12\r\nTo be validated by DRO\r\n***TSC 05/12 - OK for 10/12 06:00",
        "workorderid": 231428
      },
      {
        "changeid": 35519,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(2, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 08/01\r\nTSC validation missing : OK\r\n\r\n***SAL 05/12\r\nTo be validated by DRO\r\n***TSC 05/12 - OK for 10/12 06:00",
        "workorderid": 231429
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232051
      },
      {
        "changeid": 36033,
        "duration": "24:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232214
      },
      {
        "changeid": 35895,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 5,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending",
        "workorderid": 232236
      },
      {
        "changeid": 36086,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\nPRP validation pending\r\n***TSC 15/01 - OK for 24/01 09:30 \r\n",
        "workorderid": 232349
      },
      {
        "changeid": 36112,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 22/01 10:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232405
      },
      {
        "changeid": 36145,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T09:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 24/01 09:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232468
      },
      {
        "changeid": 36164,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 17/01 05:00 \r\n",
        "workorderid": 232508
      },
      {
        "changeid": 36033,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232209
      },
      {
        "changeid": 36033,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232210
      },
      {
        "changeid": 36180,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T09:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 09:00 \r\n\r\n***TSC 17/01 - No change oin Friday",
        "workorderid": 232551
      },
      {
        "changeid": 36165,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T03:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 03:00 \r\n",
        "workorderid": 232512
      },
      {
        "changeid": 35947,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232054
      },
      {
        "changeid": 36118,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 24/01 10:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232408
      },
      {
        "changeid": 36056,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 22/01 05:00 \r\n",
        "workorderid": 232536
      },
      {
        "changeid": 36174,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T08:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 08:00 \r\n",
        "workorderid": 232539
      },
      {
        "changeid": 36193,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 23/01 10:00\r\n",
        "workorderid": 232587
      },
      {
        "changeid": 36033,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 23/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 10/01",
        "workorderid": 232212
      },
      {
        "changeid": 36050,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(2, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 16/01 10:00 \r\n\r\n***SAL 10/01",
        "workorderid": 232274
      },
      {
        "changeid": 36065,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').format('YYYY-MM-DD') + "T04:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 14/01 04:00 \r\n***SAL 10/01\r\nSecurity approval added",
        "workorderid": 232299
      },
      {
        "changeid": 35947,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(2, 'd').format('YY-MM-DD') + "T03:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 10/01 - OK for 15/01 02:00 \n***SAL 08/01",
        "workorderid": 232047
      },
      {
        "changeid": 36085,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T14:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 15/01 - OK for 15/01 02:00 \n***SAL 15/01\r\nTSC validation missing",
        "workorderid": 232348
      },
      {
        "changeid": 36134,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232451
      },
      {
        "changeid": 36056,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 22/01 05:00 \r\n",
        "workorderid": 232535
      },
      {
        "changeid": 36201,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T08:00:00",
        "status": 5,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232613
      },
      {
        "changeid": 36159,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T09:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 23/01 09:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232501
      },
      {
        "changeid": 36092,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WEB_APPLIS",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 14/01 - OK for 15/01 04:00 \r\n",
        "workorderid": 232360
      },
      {
        "changeid": 36134,
        "duration": "08:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(9, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 23/01 02:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232443
      },
      {
        "changeid": 36175,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T12:30:00",
        "status": 5,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 21/01 12:00 \r\n",
        "workorderid": 232586
      }
    ]);
    
	nonValidatedData = formatData([
      {
        "changeid": 35948,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 22/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 08/01",
        "workorderid": 232057
      },
      {
        "changeid": 36198,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232607
      },
      {
        "changeid": 36198,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232610
      },
      {
        "changeid": 36202,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232616
      },
      {
        "changeid": 36202,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232617
      },
      {
        "changeid": 35854,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').format('YY-MM-DD') + "T06:00:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 10/01\r\n***TSC 08/01 - OK for 14/01 06:00 \r\n\r\n***IT SUPPORT FACTORY 08/01 - mail sent with all the information \r\n***TSC 27/12 - we need all spec of the VM and IP\r\n***TSC 27/12 - \r\n***SAL 20/12",
        "workorderid": 231838
      },
      {
        "changeid": 36181,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_AS400",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T00:00:00",
        "status": 1028,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 23/01 12:00 \r\n",
        "workorderid": 232554
      },
      {
        "changeid": 35770,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(1, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\nTSC validation required again as date changed\r\n\r\n***TSC 12/12 - OK for 13/12 04:00 \r\n***SAL 12/12\r\nto be validated by CPL",
        "workorderid": 231583
      },
      {
        "changeid": 35769,
        "duration": "03:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(15, 'd').format('YY-MM-DD') + "T00:01:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\nWait fot next GO/No GO\r\n\r\n***SAL 08/01\r\nNO GO project\r\nTSC validation missing\r\n\r\n***SAL 12/12\r\nNO GO project : to postpone\r\n\r\n***TSC 12/12 - OK for 13/12 09:00",
        "workorderid": 231580
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232241
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232247
      },
      {
        "changeid": 36198,
        "duration": "00:30:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T16:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232612
      },
      {
        "changeid": 36177,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(14, 'd').format('YY-MM-DD') + "T12:30:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\nWait for PRD infra setup\r\n***TSC 17/01 - OK for 28/01 12:00 \r\n\r\n***TSC 17/01 - LVWWW0006P does not exist\r\n***LES: server name is LVWWWIN0006P - correction made in CR & WOs",
        "workorderid": 232544
      },
      {
        "changeid": 35948,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 22/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 08/01",
        "workorderid": 232058
      },
      {
        "changeid": 36196,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_UNIX",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T09:45:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 17/01 - OK for 23/01 09:30 ",
        "workorderid": 232595
      },
      {
        "changeid": 35948,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 22/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 08/01",
        "workorderid": 232055
      },
      {
        "changeid": 35948,
        "duration": "24:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 22/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 08/01",
        "workorderid": 232059
      },
      {
        "changeid": 36168,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(22, 'd').format('YY-MM-DD') + "T05:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 17/01 - OK for 05/02 05:00 \n",
        "workorderid": 232517
      },
      {
        "changeid": 35738,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_AS400",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T10:30:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 17/01\r\nDate exceeded : please postpone\r\nNeed Berluti validation (CTO and BS manager)\r\n\r\n\r\n***SAL 08/01\r\nNeed Berluti validation (CTO and BS manager)\r\n\r\n***SAL 27/12",
        "workorderid": 231488
      },
      {
        "changeid": 35948,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T02:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 15/01\r\n***TSC 10/01 - OK for 22/01 02:00 \r\n***TSC 10/01 - OK Windows\r\n\r\n***SAL 08/01",
        "workorderid": 232056
      },
      {
        "changeid": 36168,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(23, 'd').format('YY-MM-DD') + "T05:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 17/01 - OK for 05/02 05:00 \n",
        "workorderid": 232524
      },
      {
        "changeid": 35653,
        "duration": "01:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(15, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 1026,
        "tscvalidation": "NO",
        "urgentjustification": "***SAL 17/01\r\nWhat is the reason ? what will be changed ?\r\n***TSC 15/01 - No we cant, Citrix PRD is not connected with Citrix PRP\r\n",
        "workorderid": 232427
      },
      {
        "changeid": 36198,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T16:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232611
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_MG_L9_TSC_OPERATION",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232246
      },
      {
        "changeid": 35906,
        "duration": "02:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').format('YY-MM-DD') + "T16:00:00",
        "status": 1025,
        "tscvalidation": "NO",
        "urgentjustification": "***SAL 08/01\r\n***TSC 08/01 - Planned date before CAB. Please reschedule.\r\n\r\n***TSC 03/01 - DC not yet installed, users data not yet synchronized\r\n***CSA 03/01 - TSC to validate",
        "workorderid": 231956
      },
      {
        "changeid": 35894,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(10, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending",
        "workorderid": 232239
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232242
      },
      {
        "changeid": 35053,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T06:00:00",
        "status": 1027,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\nCheck installation procedure for Vms creation\r\n***TSC 17/01 - OK for 21/01 06:00 \r\n\r\n***SBE : please provide the exact need and who will be using the servers ",
        "workorderid": 232487
      },
      {
        "changeid": 36198,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232604
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232248
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232243
      },
      {
        "changeid": 35893,
        "duration": "96:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(3, 'd').format('YY-MM-DD') + "T16:00:00",
        "status": 1026,
        "tscvalidation": "No",
        "urgentjustification": "***SAL 10/01\r\nPRP validation pending -> KHY Jan/16 validation done for AUTOBOT and Zabbix",
        "workorderid": 232245
      },
      {
        "changeid": 36202,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_BI_DATABASE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T09:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232618
      },
      {
        "changeid": 36127,
        "duration": "04:00:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T13:30:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\nPRP validation pending : wait for monday\r\n***TSC 15/01 - OK for 22/01 01:30 \r\n\r\n***SAL 15/01\r\nPRP validation pending",
        "workorderid": 232422
      },
      {
        "changeid": 36198,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL",
        "startdate": moment().startOf('isoWeek').add(7, 'd').format('YY-MM-DD') + "T18:30:00",
        "status": 1025,
        "tscvalidation": "No",
        "urgentjustification": null,
        "workorderid": 232614
      },
      {
        "changeid": 36111,
        "duration": "00:15:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(8, 'd').format('YY-MM-DD') + "T10:00:00",
        "status": 1026,
        "tscvalidation": "Yes",
        "urgentjustification": "***SAL 17/01\r\n***TSC 15/01 - OK for 22/01 10:00 \r\n\r\n***SAL 15/01",
        "workorderid": 232402
      },
      {
        "changeid": 36168,
        "duration": "08:00:00",
        "group": "WW_TM_L3_TSC_MIDDLEWARE",
        "startdate": moment().startOf('isoWeek').add(23, 'd').format('YY-MM-DD') + "T05:00:00",
        "status": 1025,
        "tscvalidation": "Yes",
        "urgentjustification": "***TSC 17/01 - OK for 05/02 05:00 \n",
        "workorderid": 232520
      }
    ]);
	
	init_fullcalendar();
	
});

function init_fullcalendar(){
	currentDate = $('#tsc-calendar-current-week').fullCalendar('getDate');
	
	if(!(currentDate instanceof moment)){
		currentDate = moment().format("YYYY-MM-DD");
	}
	
	$('#tsc-calendar-current-week').fullCalendar('destroy');
	$('#tsc-calendar-current-week .fc-left .fc-button-group').first().removeClass("fc-state-active");
	
	var	teamdata = [];
	
	if(currentMode == "ALL_CHANGES"){
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(validatedData)).concat([].concat.apply([], Object.values(nonValidatedData)));
		}
		else{
			teamdata = [].concat.apply([], validatedData[currentTeam]).concat([].concat.apply([], nonValidatedData[currentTeam]));
		}
	}
	else if(currentMode == "WAITING_VALIDATION"){
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(nonValidatedData));
		}
		else{
			teamdata = [].concat.apply([], nonValidatedData[currentTeam]);
		}
	}
	else{
		if(currentTeam == "ALL"){
			teamdata = [].concat.apply([], Object.values(validatedData));
		}
		else{
			teamdata = [].concat.apply([], validatedData[currentTeam]);
		}
	}
	 
	//var headerCenterSetting = isAdmin ? "AllChanges,ValidatedChanges All,AS400,BIDB,Dev,Middleware,WebApps,Windows,Unix agendaWeek,agendaDay" : "ValidatedChanges All,AS400,BIDB,Dev,Middleware,WebApps,Windows,Unix agendaWeek,agendaDay";
	var headerCenterSetting = "AllChanges,WaitingValidation,ValidatedChanges All,AS400,BIDB,Dev,Middleware,WebApps,Windows,Unix ";
	
	$('#tsc-calendar-current-week').fullCalendar({
        "defaultView": "agendaWeek",
		"header": {
			"left" : headerCenterSetting,
		 	"center": "",
		    "right": "agendaWeek,agendaDay,today prev title next"
		},
		"customButtons": {
      		AllChanges: {
        		text: 'All Changes',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "ALL_CHANGES";
          			init_fullcalendar();
        		}
      		},
      		WaitingValidation: {
        		text: 'Waiting for Validation',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "WAITING_VALIDATION";
          			init_fullcalendar();
        		}
      		},
      		ValidatedChanges: {
        		text: 'Validated Changes',
        		click: function() {
        			currentCalendarMode = $(this);
        			currentMode = "VALIDATED_CHANGES";
          			init_fullcalendar();
        		}
      		},
      		All: {
        		text: 'All',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "ALL";
          			init_fullcalendar();
        		}
      		},
      		AS400: {
        		text: 'AS400',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_AS400";
          			init_fullcalendar();
        		}
      		},
      		BIDB: {
        		text: 'BI/DB',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_BI_DATABASE";
          			init_fullcalendar();
        		}
      		},
      		Dev: {
        		text: 'Dev',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_DEV";
          			init_fullcalendar();
        		}
      		},
      		Middleware: {
        		text: 'Middleware',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_MIDDLEWARE";
          			init_fullcalendar();
        		}
      		},
      		WebApps: {
        		text: 'WebApps',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_WEB_APPLIS";
          			init_fullcalendar();
        		}
      		},
      		Windows: {
        		text: 'Windows',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_WINDOWS_SAFE_SCOL";
          			init_fullcalendar();
        		}
      		},
      		Unix: {
        		text: 'Unix',
        		click: function() {
        			currentCalendarTeam = $(this);
        			currentTeam = "WW_TM_L3_TSC_UNIX";
          			init_fullcalendar();
        		}
      		}
    	},
		"allDaySlot": false,
		"slotEventOverlap": false,
		"slotDuration": "00:30",
		"slotLabelInterval": "01:00",
		"slotLabelFormat" : "X",
		"minTime": "00:00:00",
		"maxTime": "24:00:00",
		"firstDay": 1,
		"displayEventTime" : false,
		"nowIndicator": true,
		"now" : moment().tz('Europe/Paris'),
		"timezone" : "Europe/Paris",
		"eventTextColor" : "#000",
		"groupByResource": true,
		"eventRender": function(eventObj, $el) {
      		$el.popover({
        		title: "CHANGE#" + eventObj.changeid,
        		content: eventObj.popupdata,
        		html: true,
        		trigger: 'hover',
        		placement: 'top',
        		container: 'body'
      		});
    	},
    	"eventAfterAllRender": function(view) {
    		//update the calendar axis
			$('#tsc-calendar-current-week').find('th.fc-axis.fc-widget-header').html("Paris / SG");
      		$('#tsc-calendar-current-week td.fc-axis.fc-time.fc-widget-content').each(function(k, row){
				if($(row).find('span').length > 0){
					var currentTime = parseInt($(row).find('span').html());
					var parisTime = $(row).parent("tr").attr("data-time");
					var singaporeTime = moment.tz(moment().tz('Europe/Paris').format('YYYY-MM-DD') + "T" + parisTime, 'Europe/Paris').tz('Asia/Singapore').format('hh a');
					var newTime = parisTime.split(":")[0] + "h / " + singaporeTime;
					$(row).find('span').html(newTime);
				}
			});
			// set container height to auto
			$("#tsc-calendar-current-week .fc-time-grid-container").height('auto');
    	},
		"events": teamdata
	});
	
	
	if(currentCalendarMode == null){
		currentCalendarMode = $('#tsc-calendar-current-week .fc-ValidatedChanges-button');
	}
	if(currentCalendarTeam == null){
		currentCalendarTeam = $('#tsc-calendar-current-week .fc-All-button');
	}
	
	
	
	//switch to current date
	$('#tsc-calendar-current-week').fullCalendar('gotoDate', currentDate);
	
	$('#tsc-calendar-current-week').find("." + currentCalendarMode[0].className.split(" ")[0]).addClass('fc-state-active');
	$('#tsc-calendar-current-week').find("." + currentCalendarTeam[0].className.split(" ")[0]).addClass('fc-state-active');
	
}

function formatData(data){
	var formattedData = {}
	
	$.each(data, function(i, event){
		
		var e = {};
		var group = (groupMapping[event['group']] == undefined) ? event['group'] : groupMapping[event['group']]['name'];
		e['changeid'] = event['changeid'];
		e['status'] = statusMapping[event['status']];
		
		//e['popupdata'] = isAdmin ? "[" + e['status'] + "] CHANGE#" + event['changeid'] + " <br>Team: " + group + " (" + event['duration'].substr(0,5) + ") WO#" + event['workorderid'] : "[" + e['status'] + "] CHANGE#" + event['changeid'] + " " + group + " WO#" + event['workorderid'];
		e['popupdata'] = "<b>Status:</b> " + e['status'] +
			"<br><b>Team:</b> " + group +
			"<br><b>Duration:</b> (" + event['duration'].substr(0,5) + ")" +
			"<br><b>WO#:</b> " + event['workorderid'] + 
			"<br><b>TSC Validation:</b> " + event['tscvalidation'] + 
			"<br><b>Urgent Justification:</b> " + 
			"<br>" + event['urgentjustification'];
		
		e['title'] = "[" + event['changeid'] + "] WO#" + event['workorderid'];
		
		if(event['tscvalidation'].toLowerCase() == 'yes'){
			e['title'] += " *";
		}
		
		e['start'] = moment(event['startdate'], "YYYY-MM-DDTHH:mm:ss");
		var duration = event['duration'].split(":");
		
		var addDuration = {hours:'0',minutes:'0',seconds:'0'};
		//duration logic: min 1 hour slot, max 2 hour slot
		if(duration[0] > maxSlotDuration){
			addDuration['hours'] = maxSlotDuration;
		}
		else if(duration[0] < minSlotDuration){
			addDuration['hours'] = minSlotDuration;
		}
		else{
			addDuration = {hours:duration[0],minutes:duration[1],seconds:duration[2]};
		}
		
		e['end'] = moment(e['start']).add(addDuration).format("YYYY-MM-DDTHH:mm:ss");
		var color = (groupMapping[event['group']] == undefined) ? '#dedede' : groupMapping[event['group']]['color'];
		e['color'] = color;
		
		if(e['status'] == 'AUTH'){
			e['borderColor'] = '#666666'
		}
		
		if(formattedData[event['group']] == undefined){
			formattedData[event['group']] = [];
		}
		formattedData[event['group']].push(e);
		
	});
	
	return formattedData;
}


</script>

{% endblock %}

