{% extends "layout.html" %}

{% block head_js %}
{% endblock %}

{% block css %}
    {% load assets %}
    {% assets "css_team" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
<style>
#notes-table thead {
    background-color: #d9edf7;
}
</style>
{% endblock %}
{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid xyz">
        {% if messages %}
        <div class="row">
            <div class="">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                    {{message}}
                </div><!-- end .alert -->
                {% endfor %}
            </div><!-- end col-md -->
        </div><!-- end row -->
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><span id="team-name-header"></span></h2>
                
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    
</div>
<!-- /#page-wrapper -->



{% include 'popup_description.html' %}

{% include 'popup_note.html' %}

{% include 'templatefiles/home.html' %}

</div>

{% endblock %}
{% block js %}

{% assets "js_team" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
<script>

$(document).ready(function(){
    // description tooltip
    $('[data-toggle="tooltip"]').tooltip({'container':'body'}); 
    
    var pdfobj = function ( doc ) {
        doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };
    
    var high_crit_tickets = {{high_crit_tickets|safe}};
    var team_backlogs_list = {{team_backlogs_list|safe}};
    var team_backlogs_count = {{team_backlogs_count.all|safe}};
    
    //init templates
    var opentickets_team_panel_template = Handlebars.compile(document.getElementById("opentickets-team-panel-template").innerHTML);
    var opentickets_table_head_template = Handlebars.compile(document.getElementById("opentickets-table-head-template").innerHTML);
    var opentickets_table_body_template = Handlebars.compile(document.getElementById("opentickets-table-body-template").innerHTML); 
    var donutchart_widget_template = Handlebars.compile(document.getElementById("team-donutchart-widget-template").innerHTML);
    
    var wrapper = $("#page-content-wrapper .container-fluid");
    var showTeam = (team_backlogs_list["GRP"].split("_")[0] == "AMS" || "{{team_name}}" == "CP HQ") ? true : false;
    
    
    if("{{team_name}}" == "All"){
        var requestParams = "{{team|safe}}";
        var requestTeamName = requestParams.split("_ds")[0].split("_").join(" ").toUpperCase();
        var teamName = requestTeamName;
    }
    else{
        //var teamName = ("{{team_name}}" == "All") ? "{{team_name}} " + team_backlogs_list["GRP"] : "{{team_name}}";
        var teamName = "{{team_name}}";
    }
    
    {% if team_name == 'IEC' %}
    $("#team-name-header").html("Team: Integration Excellence Center");
    {% else %}
    $("#team-name-header").html("Team: " + teamName);
    {% endif %}
    var tableList = {};
    
    
    
    // generate high tickets table if there is any
    if(high_crit_tickets.length > 0){
        var high_crit_panel_settings = {
            'panel_color' : 'warning',
            'panel_header' : 'Critical/High Tickets',
            'panel_icon' : ''
        };
        var high_crit_chart_panel = $(opentickets_team_panel_template(high_crit_panel_settings));
        
        //add table and data
        
        var table_header_settings = {
            'team_name' : "high",
            'showGroup' : true,
            'showUpdated' : true,
            'showTeam' : showTeam
        };
        var high_crit_table_html = opentickets_table_head_template(table_header_settings);
        high_crit_chart_panel.find(".panel-body .col-lg-12").append(high_crit_table_html);
        
        var table_body_element = high_crit_chart_panel.find("tbody");
        //populate data in table
        $.each(high_crit_tickets, function(i, row){
            row['showGroup'] = true;
            row['showUpdated'] = true;
            row['showTeam'] = showTeam;
            var row_element = opentickets_table_body_template(row);
            table_body_element.append(row_element);
        });
        
        high_crit_chart_panel.appendTo(wrapper);
        tableList['high'] = teamName + " " + high_crit_panel_settings['panel_header'];
        
    }
    
    // generate chart panel with hidden merged table OR No backlogs message
    {% if request.session.view == 'sla' %}
    var chartType = "doughnut";
    {% else %}
    var chartType = "column";
    {% endif %}

    var allTeamContainer = $("<div></div>").addClass("row");
    var total_donut_settings = {};
    total_donut_settings['empty'] = (team_backlogs_count.length > 0) ? false : true;
    total_donut_settings['panel_column_class'] = "col-lg-12";
    total_donut_settings['panel_header'] = '{{team_name}}';
    total_donut_settings['panel_icon'] = 'fa-bar-chart-o';
    total_donut_settings['panel_color'] = 'primary';
    
    var total_team_donut_element = $(donutchart_widget_template(total_donut_settings));
    total_team_donut_element.appendTo(allTeamContainer)
    allTeamContainer.appendTo(wrapper);
    
    // if backlog exists
    if(!total_donut_settings['empty']){
    
        // populate data
        var total_tickets = {{total_ticket}};
        /*$.each(team_backlogs_count, function(k,v){
            total_tickets += v['y'];
        });*/
        var chartTitle = (total_tickets > 1) ? total_tickets + " Tickets" : total_tickets + " Ticket";
        $("#team-donut-chart").CanvasJSChart({ 
            title: { 
                text: chartTitle
            }, 
            data: [ 
                { 
                    type: chartType, 
                    indexLabel: "{label}: {y}",
                    indexLabelPlacement: "inside",
                    toolTipContent: "{label}: {y}",
                    dataPoints: team_backlogs_count
                } 
            ],
            animationEnabled: true,
        });
        
        //generate merged table
        var mergedtickets_table_head_template = Handlebars.compile(document.getElementById("team-merged-table-thead-template").innerHTML);
        var mergedtickets_table_body_template = Handlebars.compile(document.getElementById("team-merged-table-tbody-template").innerHTML);
        
        var mergedtickets_table_header_settings = {
            'mode' : ('{{request.session.view}}' == 'sla') ? 'SLA' : 'Criticality',
        };
        $(mergedtickets_table_head_template(mergedtickets_table_header_settings)).appendTo($("#merged-table thead"));
        
        // generate oosla/high tickets
        var high_oosla_data = team_backlogs_list['oosla'] || team_backlogs_list['HIGH'];
        if(high_oosla_data.length > 0){
            var high_oosla_panel_settings = {
                'panel_color' : 'red',
                'panel_header' : ('{{request.session.view}}' == 'sla') ? 'Out of SLA' : 'Critical/High Tickets',
                'panel_icon' : ''
            };

            var high_oosla_chart_panel = $(opentickets_team_panel_template(high_oosla_panel_settings));
            
            //add table and data
            var table_header_settings = {
                'team_name' : "red",
                'showUpdated' : true,
                'showTeam' : showTeam
            };
            var high_oosla_table_html = opentickets_table_head_template(table_header_settings);
            high_oosla_chart_panel.find(".panel-body .col-lg-12").append(high_oosla_table_html);
            
            var table_body_element = high_oosla_chart_panel.find("tbody");
            //populate data in table
            $.each(high_oosla_data, function(i, row){
                row['showUpdated'] = true;
                row['showTeam'] = showTeam;
                var row_element = opentickets_table_body_template(row);
                table_body_element.append(row_element);
                // add to merged table
                row['mode'] = ('{{request.session.view}}' == 'sla') ? 'OOSLA' : 'HIGH';
                $("#merged-table tbody").append(mergedtickets_table_body_template(row));
            });
            
            high_oosla_chart_panel.appendTo(wrapper);
            tableList['red'] = teamName + " " + high_oosla_panel_settings['panel_header'];
        }
        
        // generate soosla/medium tickets
        var medium_soosla_data = team_backlogs_list['soosla'] || team_backlogs_list['MEDIUM'];
        if(medium_soosla_data.length > 0){
            var medium_soosla_panel_settings = {
                'panel_color' : 'yellow',
                'panel_header' : ('{{request.session.view}}' == 'sla') ? 'Soon Out of SLA' : 'Medium Tickets',
                'panel_icon' : ''
            };

            var medium_soosla_chart_panel = $(opentickets_team_panel_template(medium_soosla_panel_settings));
            
            //add table and data
            var table_header_settings = {
                'team_name' : "yellow",
                'showUpdated' : true,
                'showTeam' : showTeam
            };
            var medium_soosla_table_html = opentickets_table_head_template(table_header_settings);
            medium_soosla_chart_panel.find(".panel-body .col-lg-12").append(medium_soosla_table_html);
            
            var table_body_element = medium_soosla_chart_panel.find("tbody");
            //populate data in table
            $.each(medium_soosla_data, function(i, row){
                row['showUpdated'] = true;
                row['showTeam'] = showTeam;
                var row_element = opentickets_table_body_template(row);
                table_body_element.append(row_element);
                row['mode'] = ('{{request.session.view}}' == 'sla') ? 'SOOSLA' : 'MEDIUM';
                $("#merged-table tbody").append(mergedtickets_table_body_template(row));
            });
            
            medium_soosla_chart_panel.appendTo(wrapper);
            tableList['yellow'] = teamName + " " + medium_soosla_panel_settings['panel_header'];
        }
        
        // generate insla/low tickets
        var low_insla_data = team_backlogs_list['isla'] || team_backlogs_list['LOW'];
        if(low_insla_data.length > 0){
            var low_insla_panel_settings = {
                'panel_color' : 'green',
                'panel_header' : ('{{request.session.view}}' == 'sla') ? 'In SLA' : 'Low Tickets',
                'panel_icon' : ''
            };

            var low_insla_chart_panel = $(opentickets_team_panel_template(low_insla_panel_settings));
            
            //add table and data
            var table_header_settings = {
                'team_name' : "green",
                'showUpdated' : true,
                'showTeam' : showTeam
            };
            var low_insla_table_html = opentickets_table_head_template(table_header_settings);
            low_insla_chart_panel.find(".panel-body .col-lg-12").append(low_insla_table_html);
            
            var table_body_element = low_insla_chart_panel.find("tbody");
            //populate data in table
            $.each(low_insla_data, function(i, row){
                row['showUpdated'] = true;
                row['showTeam'] = showTeam;
                var row_element = opentickets_table_body_template(row);
                table_body_element.append(row_element);
                row['mode'] = ('{{request.session.view}}' == 'sla') ? 'ISLA' : 'LOW';
                $("#merged-table tbody").append(mergedtickets_table_body_template(row));
            });
            
            low_insla_chart_panel.appendTo(wrapper);
            tableList['green'] = teamName + " " + low_insla_panel_settings['panel_header'];
        }
        
        // generate 3rd party/planned tickets
        var thirdparty_planned_data = team_backlogs_list['3party'] || team_backlogs_list['PLANNED'];
        if(thirdparty_planned_data.length > 0){
            var thirdparty_planned_panel_settings = {
                'panel_color' : 'info',
                'panel_header' : ('{{request.session.view}}' == 'sla') ? 'With Third Party' : 'Planned Tickets',
                'panel_icon' : ''
            };
            var thirdparty_planned_chart_panel = $(opentickets_team_panel_template(thirdparty_planned_panel_settings));
            
            //add table and data
            var table_header_settings = {
                'team_name' : "blue",
                'showUpdated' : true,
                'showTeam' : showTeam
            };
            var thirdparty_planned_table_html = opentickets_table_head_template(table_header_settings);
            thirdparty_planned_chart_panel.find(".panel-body .col-lg-12").append(thirdparty_planned_table_html);
            
            var table_body_element = thirdparty_planned_chart_panel.find("tbody");
            //populate data in table
            $.each(thirdparty_planned_data, function(i, row){
                row['showUpdated'] = true;
                row['showTeam'] = showTeam;
                var row_element = opentickets_table_body_template(row);
                table_body_element.append(row_element);
                row['mode'] = ('{{request.session.view}}' == 'sla') ? '3rd Party' : 'PLANNED';
                $("#merged-table tbody").append(mergedtickets_table_body_template(row));
            });
            
            thirdparty_planned_chart_panel.appendTo(wrapper);
            tableList['blue'] = teamName + " " + thirdparty_planned_panel_settings['panel_header'];
        }
        
        
        // initialize tables
        
        var file_col = "#merged-table thead th:not(.noExport)";
        var table_length = $('#merged-table thead th:not(.noExport)').length;
        var takenByCol = (table_length == 17) ? 12 : ((table_length == 16) ? 11 : 10);
        var descriptionCol = (table_length == 17) ? 14 : ((table_length == 16) ? 13 : 12);
        var hiddenTargets = (table_length == 17) ? [16] : ((table_length == 16) ? [15] : [14]);
        

        
        $('#merged-table').DataTable({
            "order": [[ 5, "asc" ]],
            dom: 'B',
            buttons: [ {
                extend: 'excel', 
                title:  teamName + " Tickets", 
                text: 'Export All to Excel',
                titleAttr: 'Excel', 
                exportOptions: {
                    columns:file_col,
                    format: {
                        body: function ( data, row, column, node ) {
                            if(column === 1 && $(data).hasClass("team-ticket-dropdown")){
                                return $(data).find("input").val();
                            }
                            if(column === takenByCol){
                                var d = data.replace(/\./g, '');
                                if($(d).hasClass("fa-exclamation-triangle")){
                                    return "";
                                }
                            }
                            if(column === descriptionCol){
                                //return $(data).attr("data-original-title");
								return data.replace(/&amp;/g, '&').slice(0,30000);
                            }
                            if(column === descriptionCol-1){
                                return data.replace(/&amp;/g, '&');
                            }
                            return data;
                        }
                    }
                } 
            }],
            columnDefs: [
              { type: 'time-elapsed-dhms', targets: [6,7] },
              { width: '120px', targets: [0] }
            ]
        });
        
        $.each(tableList, function(tableId, exportTitle){
        
            var table_length = $('#table-'+ tableId +' thead th:not(.noExport)').length;
            //var takenByCol = (table_length == 16) ? 11 : ((table_length == 15) ? 10 : 9);
            //var descriptionCol = (table_length == 16) ? 13 : ((table_length == 15) ? 12 : 11);
            //var hiddenTargets = (table_length == 16) ? [15] : ((table_length == 15) ? [14] : [13]);
            
            var takenByCol = (table_length == 17) ? 12 : ((table_length == 16) ? 11 : 10);
            var descriptionCol = (table_length == 17) ? 14 : ((table_length == 16) ? 13 : 12);
            var hiddenTargets = (table_length == 17) ? [16] : ((table_length == 16) ? [15] : [14]);
            
            
            var file_col = [];
            for(var i = 0; i < table_length; i++){
                file_col.push(i);
            }
            
            $('#table-'+tableId).DataTable({
                "order": [[ 4, "asc" ]],
                dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
                buttons: [ {
                    extend: 'excel', 
                    title:  exportTitle + ' Tickets', 
                    text: 'Excel',
                    titleAttr: 'Excel', 
                    exportOptions: {
                        columns:file_col,
                        format: {
                            body: function ( data, row, column, node ) {
                                if(column === 0 && $(data).hasClass("team-ticket-dropdown")){
                                    return $(data).find("input").val();
                                }
                                if(column === 1){
                                    if(data === '-'){return ''}
                                    return $(data)[0].innerText;
                                }
                                if(column === takenByCol){
                                    var d = data.replace(/\./g, '');
                                    if($(d).hasClass("fa-exclamation-triangle")){
                                        return "";
                                    }
                                }
                                if(column === descriptionCol){
                                    //return $(data).attr("data-original-title");
                                    return $(data)[0].textContent.trim().slice(0,30000);
                                }
                                if(column === descriptionCol-1){
                                    return data.replace(/&amp;/g, '&');
                                }
                                return data;
                                //return (column === 0 && $(data).hasClass("team-ticket-dropdown")) ? $(data).find("input").val() : data;
                            }
                        }
                    } 
                }],
                columnDefs: [
                  { type: 'time-elapsed-dhms', targets: [6,7] },
                  { width: '120px', targets: [0] },
                  { visible: false, searchable: false, targets: hiddenTargets}
                ]
            });
        });
    
    }
  

});

function assignToMe(assignURL){
    if(assignURL == undefined || assignURL == '') return;
    var answer = swal({
        title: "Assign this ticket to yourself?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, Assign!",
        closeOnConfirm: false
    },
    function(){
    
        myWindow = window.open(assignURL, "myWindow");   // Opens a new window
        if(myWindow){
            setTimeout(function(){ 
                myWindow.close();
                swal("Success!", "This ticket is now assigned to you.", "success");
                window.location.reload();
            }, 3000);
        }
        else{
            swal("Error", "There was an error. Please contact the TSC Team or go to ContactIS directly to assign the ticket to yourself.", "error");
        }
        
    });
}

function gen_mergetable(){
    var mergedTable = $("#merged-table");
    if($("#oosla-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#oosla-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("SLA");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#oosla-table").find("tbody tr").clone();
        var newBodyColumn = $('<td>').html("OOSLA");
        $.each(body, function(i,v){
            $('<td>').html("OOSLA").prependTo(body[i]);
        });
        //mergedTable.find("tbody").append($("#oosla-table").find("tbody tr").clone());
        mergedTable.find("tbody").append(body);
    }
    
    if($("#soosla-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#soosla-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("SLA");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        
        var body = $("#soosla-table").find("tbody tr").clone();
        var newBodyColumn = '<td>SOOSLA</td>';
        $.each(body, function(i,v){
            $('<td>').html("SOOSLA").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#isla-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#isla-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("SLA");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#isla-table").find("tbody tr").clone();
        var newBodyColumn = $('<td></td>').html("ISLA");
        $.each(body, function(i,v){
            $('<td>').html("ISLA").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#3party-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#3party-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("SLA");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#3party-table").find("tbody tr").clone();
        var newBodyColumn = $('<td></td>').html("3rd Party");
        $.each(body, function(i,v){
            $('<td>').html("3rd Party").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#HIGH-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#HIGH-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("Criticality");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#HIGH-table").find("tbody tr").clone();
        var newBodyColumn = $('<td>').html("HIGH");
        $.each(body, function(i,v){
            $('<td>').html("HIGH").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#MEDIUM-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#MEDIUM-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("Criticality");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#MEDIUM-table").find("tbody tr").clone();
        var newBodyColumn = $('<td>').html("MEDIUM");
        $.each(body, function(i,v){
            $('<td>').html("MEDIUM").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#LOW-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#LOW-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("Criticality");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#LOW-table").find("tbody tr").clone();
        var newBodyColumn = $('<td>').html("LOW");
        $.each(body, function(i,v){
            $('<td>').html("LOW").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    if($("#PLANNED-table").length > 0){
        if(mergedTable.find("thead tr").length == 0){
            var header = $("#PLANNED-table").find("thead tr").clone();
            var newHeaderColumn = $('<th></th>').html("Criticality");
            header.prepend(newHeaderColumn);
            mergedTable.find("thead").append(header);
        }
        var body = $("#PLANNED-table").find("tbody tr").clone();
        var newBodyColumn = $('<td>').html("PLANNED");
        $.each(body, function(i,v){
            $('<td>').html("PLANNED").prependTo(body[i]);
        });
        mergedTable.find("tbody").append(body);
    }
    
    var file_col = "#merged-table thead th:not(.noExport)";
    var table_length = $('#merged-table thead th:not(.noExport)').length;
    var takenByCol = (table_length == 17) ? 12 : ((table_length == 16) ? 11 : 10);
    var descriptionCol = (table_length == 17) ? 14 : ((table_length == 16) ? 13 : 12);
    var hiddenTargets = (table_length == 17) ? [16] : ((table_length == 16) ? [15] : [14]);
    
    $('#merged-table').DataTable({
        "order": [[ 4, "asc" ]],
        dom: 'B',
        buttons: [ {
            extend: 'excel', 
            title:  '{{ team_name }} Tickets', 
            text: 'Export All to Excel',
            titleAttr: 'Excel', 
            exportOptions: {
                columns:file_col,
                format: {
                    body: function ( data, row, column, node ) {
                        if(column === 1 && $(data).hasClass("team-ticket-dropdown")){
                            return $(data).find("input").val();
                        }
                        if(column === takenByCol){
                            var d = data.replace(/\./g, '');
                            if($(d).hasClass("fa-exclamation-triangle")){
                                return "";
                            }
                        }
                        if(column === descriptionCol){
                            return $(data).attr("data-original-title");
                        }
						if(column === descriptionCol-1){
							return data.replace(/&amp;/g, '&');
						}
                        return data;
                    }
                }
            } 
        }],
        columnDefs: [
          { type: 'time-elapsed-dhms', targets: [5,6] },
          { width: '120px', targets: [0] }
        ]
    });
}

function gen_datatable(table_name){
    var pdfobj = function ( doc ) {
         doc.defaultStyle = { fontSize: 8, pageMargins: [ 5, 5, 5, 5] }
    };

    // excel & pdf export cols
    //var file_col = "thead th:not(.noExport)";

    // initialize tables

    var table_length = $('#'+table_name+'-table thead th:not(.noExport)').length;
    var takenByCol = (table_length == 16) ? 11 : ((table_length == 15) ? 10 : 9);
    var descriptionCol = (table_length == 16) ? 13 : ((table_length == 15) ? 12 : 11);
    var hiddenTargets = (table_length == 16) ? [15] : ((table_length == 15) ? [14] : [13]);
    //var file_col = (table_length == 16) ? [14,15] : ((table_length == 15) ? [13,14] : [12,13]);
    
    
    var file_col = [];
    for(var i = 0; i < table_length; i++){
        file_col.push(i);
    }
    
  
    $('#'+table_name+'-table').DataTable({
        "order": [[ 4, "asc" ]],
        dom: 'r<"col-sm-6"l><"col-xs-6 col-sm-3"f><"col-sm-6 col-sm-3 text-right"B><"clearfix">tip',
        buttons: [ {
			extend: 'excel', 
			title:  table_name.toUpperCase() + ' Tickets', 
			text: 'Excel',
			titleAttr: 'Excel', 
			exportOptions: {
				columns:file_col,
                format: {
                    body: function ( data, row, column, node ) {
                        if(column === 0 && $(data).hasClass("team-ticket-dropdown")){
                            return $(data).find("input").val();
                        }
                        if(column === takenByCol){
                            var d = data.replace(/\./g, '');
                            if($(d).hasClass("fa-exclamation-triangle")){
                                return "";
                            }
                        }
                        if(column === descriptionCol){
                            return $(data).attr("data-original-title");
                        }
						if(column === descriptionCol-1){
							return data.replace(/&amp;/g, '&');
						}
                        return data;
                        //return (column === 0 && $(data).hasClass("team-ticket-dropdown")) ? $(data).find("input").val() : data;
                    }
                }
            } 
		}],
        columnDefs: [
          { type: 'time-elapsed-dhms', targets: [5,6] },
          { width: '120px', targets: [0] },
          { visible: false, searchable: false, targets: hiddenTargets}
        ]
    });

   // $("button.team-ticket-dropdown-btn").css({"padding-left":"0px", "padding-right":"0px"});

}
//Sorting with time elapsed dhms for column Exp For/Time Remainning and Duration@Group
jQuery.fn.dataTable.ext.type.order['time-elapsed-dhms-pre'] = function(data) {
    
    var day_res=0;
    var hour_res=0;
    var minute_res=0;
    var second_res=0;
    if(data.indexOf('day,') !==-1){
      data_arr = data.split("day,");
      day_res = data_arr[0].trim();
      time_res = data_arr[1].trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim();
      second_res = time_res[2].trim();
    }else if(data.indexOf('days,') !==-1){
      data_arr = data.split("days,");
      day_res = data_arr[0].trim();
      time_res = data_arr[1].trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim()
      second_res = time_res[2].trim();
    }else{
      time_res = data.trim().split(":");
      hour_res = time_res[0].trim();
      minute_res = time_res[1].trim();
      second_res = time_res[2].trim();
      console.log(hour_res);
    }
    var multipliers = {
        s: 1,
        m: 60,
        h: 3600,
        d: 86400
    };

    calculate_res = parseFloat(day_res) * multipliers["d"]+parseFloat(hour_res) * multipliers["h"]+parseFloat(minute_res) * multipliers["m"]+parseFloat(second_res) * multipliers["s"];
    console.log(calculate_res);
    return parseFloat(day_res) * multipliers["d"]+parseFloat(hour_res) * multipliers["h"]+parseFloat(minute_res) * multipliers["m"]+parseFloat(second_res) * multipliers["s"];
};


function gen_datapoints(backlogs_data){
    var d_list = [];
    backlogs_data.forEach( function (arrayItem)
    {
        for (var k in arrayItem){
            if (arrayItem.hasOwnProperty(k)) {
                var team_obj = arrayItem[k];
                var criticality = k;
                var d_obj = {};
                var dp_list = [];
                var dp_obj = {};

                switch(criticality) {
                    case 'HIGH':
                        d_obj['order'] = 4;
                        break;
                    case 'MEDIUM':
                        d_obj['order'] = 3;
                        break;
                    case 'LOW':
                        d_obj['order'] = 2;
                        break;
                    case 'PLANNED':
                        d_obj['order'] = 1;
                        break;
                }

                d_obj['type'] = "stackedColumn";
                d_obj['toolTipContent'] = "{name}: {y} Tickets";
                d_obj['name'] = criticality;

                for (var v in team_obj){
                    dp_list.push(team_obj[v]);
                }
//                dp_list.sort(function(a,b) {return (a.label > b.label) ? 1 : ((b.label > a.label) ? -1 : 0);} );
                d_obj['dataPoints'] = dp_list;
                d_list.push(d_obj)
            }
        }
        });
//console.log(d_list);
    d_list.sort(function(a,b) {return parseFloat(a.order) - parseFloat(b.order);} );    
//console.log(d_list);
    return d_list
}

// onclick description
$(document).on("click", ".click_description", function () {
     var description = $(this).text();
     var ticket_no = $(this).attr("id");
     $(".modal-header #modal-ticket-no").text( ticket_no );
     $(".modal-body #modal-description").html( description );
});

// onclick notes
$(document).on("click", ".click_notes", function () {
     
     $('#notes-table').DataTable({
            destroy : true,
     });
        
     document.getElementById("notes_time_line").innerHTML = "";
     //var table = document.getElementById("#notes_table");
     
     //console.log(table);
     
     var timeline_array= null;
    
     /* fnDestroy does not work in firefox browser. use fnClearTable to clear contents of the data table */
     $('#notes-table').dataTable().fnClearTable(); 
     $('#notes-table').dataTable().fnDestroy();
     
     var ticket_no = $(this).attr("ticket-number");
     var sla_date= $(this).attr("due-date");
	 var ticket_seq = $(this).attr("seq");
     
     $(".modal-header #modal-ticket-no").text( ticket_no );

     data = {
           'csrf_token': '{{ csrf_token }}',
           'csrftoken': '{{ csrf_token }}',
           'ticket_no': ticket_no,
		   'ticket_seq' : ticket_seq,
           'isclosed': 'None'
        }
        var csrftoken = "{{ csrf_token }}"
        $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken)
                        }
                    }
                })

        $.ajax({
                    url: '{% url 'hygie_portal:tickets_notes_json' %}'+'?local_tz='+local_zone,
                    data: JSON.stringify(data, null, '\t'),
                    type: 'POST',
                    'async': false,
                    contentType:'application/json;charset=UTF-8',
                    dataType: "json",
                    success: function(response) {
                        timeline_array = response[0];
                        $('#notes-table').DataTable({
                            data: response[1],
                            columns: [
                               { title: "Date" },
                               { title: "From User" },
                               { title: "Action" },
                               { title: "Description" }

                            ],
                            destroy: true
                        });
       
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
    if(timeline_array.length==0){
        document.getElementById("notes_time_line").innerHTML = "";
    }else{
        google.charts.load("current", {packages:["timeline"]});
        google.charts.setOnLoadCallback(function(){
            var notes=timeline_array;
            
            // for notes in timeline created by system, ignore the open because by default from and to group is null
            if(notes[0][1] == null && notes[0][2] == null && notes[0][3] == 'HD_OPEN' && notes[1][1] == null){
                notes[0][1] = 'SYSTEM';
                //notes[0][2] = 'SYSTEM';
                notes[1][1] = 'SYSTEM';
            }
            
            var row_data = [];
            var len = notes.length;
            var end_time = new Date();
            var sla_time = new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)));
            if(sla_time-end_time>0){
                end_time = sla_time;
            }
            var start_time = new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19)));
            var time_delta = (end_time - start_time) / 1000 / 60 / 60/ 24;
            var row_reopened = [];
            row_data.push(['\0','SLA',new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19))), new Date(parseInt(sla_date.substring(0,4)),parseInt(sla_date.substring(5,7))-1,parseInt(sla_date.substring(8,10)),parseInt(sla_date.substring(11,13)),parseInt(sla_date.substring(14,16)),parseInt(sla_date.substring(17,19)))]);
            if(len>2){
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                var row_num=0;
                var reopen_num = 0;
                var reopen_row_str = "Reopened";
                for(i=1;i<len-1;i++){
                    row_num++;
                    if(notes[i][3]==11){
                        reopen_num++;
                        row_reopened.push(row_num);
                        if(reopen_num>1){
                            reopen_row_str = reopen_row_str + "+";
                        }
                        row_data.push(['\0',reopen_row_str,new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))),new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19)))]);
                    }else if(notes[i][3]!=4 && notes[i][3]!="HD_CLOSE"){
                        row_data.push([ 'Tickets Timeline', notes[i][2], new Date(parseInt(notes[i][0].substring(0,4)),parseInt(notes[i][0].substring(5,7))-1,parseInt(notes[i][0].substring(8,10)),parseInt(notes[i][0].substring(11,13)),parseInt(notes[i][0].substring(14,16)),parseInt(notes[i][0].substring(17,19))), new Date(parseInt(notes[i+1][0].substring(0,4)),parseInt(notes[i+1][0].substring(5,7))-1,parseInt(notes[i+1][0].substring(8,10)),parseInt(notes[i+1][0].substring(11,13)),parseInt(notes[i+1][0].substring(14,16)),parseInt(notes[i+1][0].substring(17,19))) ]);
                    }
                }
                row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else if(len==1){
                row_data.push([ 'Tickets Timeline', notes[len-1][1], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }else{
                row_data.push([ 'Tickets Timeline', notes[0][1], new Date(parseInt(notes[0][0].substring(0,4)),parseInt(notes[0][0].substring(5,7))-1,parseInt(notes[0][0].substring(8,10)),parseInt(notes[0][0].substring(11,13)),parseInt(notes[0][0].substring(14,16)),parseInt(notes[0][0].substring(17,19))), new Date(parseInt(notes[1][0].substring(0,4)),parseInt(notes[1][0].substring(5,7))-1,parseInt(notes[1][0].substring(8,10)),parseInt(notes[1][0].substring(11,13)),parseInt(notes[1][0].substring(14,16)),parseInt(notes[1][0].substring(17,19))) ]);
                row_data.push([ 'Tickets Timeline', notes[len-1][2], new Date(parseInt(notes[len-1][0].substring(0,4)),parseInt(notes[len-1][0].substring(5,7))-1,parseInt(notes[len-1][0].substring(8,10)),parseInt(notes[len-1][0].substring(11,13)),parseInt(notes[len-1][0].substring(14,16)),parseInt(notes[len-1][0].substring(17,19))), new Date() ]);
            }
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'string', id: 'Label' });
            dataTable.addColumn({ type: 'string', id: 'Name' });
            dataTable.addColumn({ type: 'date', id: 'Start' });
            dataTable.addColumn({ type: 'date', id: 'End' });
            dataTable.addRows(row_data);
            var ht = 100;
            if(row_data.length == 2)
                ht = 135;
            else if(row_data.length == 3)
                ht = 175;
            else if(row_data.length > 8)
                //ht = 220*(Math.sqrt(len/3));
                ht = 47*row_data.length;
            else if(row_data.length > 3)
                ht = 55*row_data.length;

            var options = {};
            if(7<time_delta && time_delta <31 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'E \n MMM d'
                    },
                    explorer: { 
                       axis: 'vertical'
                    }
                //colors: ['#cbb69d'],
                }; 
            }else if(1<time_delta && time_delta <7 ){
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    },
                    hAxis: {
                       format: 'hh a \n MMM d'
                    }
                //colors: ['#cbb69d'],
                };
            }else{
                options = {
                    timeline: { groupByRowLabel: false, showRowLabels: false},
                    width: '100%',
                    height: ht,
                    tooltip: {
                       isHtml: true
                    }
                //colors: ['#cbb69d'],
                };
            }
            dataTable.insertColumn(2, {type: 'string', role: 'tooltip', p: {html: true}});

            var dateFormat = new google.visualization.DateFormat({
                pattern: 'M/d/yy HH:mm:ss'
            });

            for (var i = 0; i < dataTable.getNumberOfRows(); i++) {
                var duration = (dataTable.getValue(i, 4).getTime() - dataTable.getValue(i, 3).getTime()) / 1000;
                var days = parseInt( duration / 3600/24);
                var hours = parseInt( duration / 3600 ) % 24;
                var minutes = parseInt( duration / 60 ) % 60;
                var seconds = Math.round(duration % 60);

                var tooltip = '<div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 1) + '</span></div><div class="ggl-tooltip"><span>' +
                dataTable.getValue(i, 0) + '</span>: ' +
                dateFormat.formatValue(dataTable.getValue(i, 3)) + ' - ' +
                dateFormat.formatValue(dataTable.getValue(i, 4)) + '</div>' +
                '<div class="ggl-tooltip"><span>Duration: </span>' +
                days+'d '+hours + 'h ' + minutes + 'm ' + seconds + 's ';
                dataTable.setValue(i, 2, tooltip);
            }
            var container = document.getElementById("notes_time_line");
            var chart = new google.visualization.Timeline(container);
            setTimeout(function(){
                chart.draw(dataTable, options);
                mark_line("notes_time_line",'SLA');
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(obj.row == 0){
                    $('.google-visualization-tooltip').css('display', 'none');
                    mark_line('notes_time_line','SLA');
                  }
                  mark_line('notes_time_line','SLA');
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  mark_line('notes_time_line','SLA');
                })
                var str_reopened="Reopened";
                for(i=0;i<row_reopened.length;i++){
                    mark_line("notes_time_line",str_reopened);
                    str_reopened=str_reopened+"+";
                }
                google.visualization.events.addListener(chart, 'onmouseover', function(obj){
                  if(row_reopened.indexOf(obj.row)!=-1){
                    $('.google-visualization-tooltip').css('display', 'none');
                  }
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                       mark_line('notes_time_line', str_reopened);
                       str_reopened=str_reopened+"+";
                  }
                })
                google.visualization.events.addListener(chart, 'onmouseout', function(obj){
                  var str_reopened="Reopened";
                  for(i=0;i<row_reopened.length;i++){
                      mark_line('notes_time_line',str_reopened);
                      str_reopened=str_reopened+"+";
                  }
                })
            },1);
        });
    }
    
});

function mark_line(div, contain){

//get the height of the timeline div
  var height;
  $('#' + div + ' rect').each(function(index){
    var x = parseFloat($(this).attr('x'));
    var y = parseFloat($(this).attr('y'));
    
    if(x == 0 && y == 0) {height = parseFloat($(this).attr('height'))}
  })

  var nowWord = $('#' + div + ' text:contains('+contain+')');
  if(contain=='SLA'){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#A6373C').attr('width', '2px').attr('y', '0');
  }
  if(contain.startsWith('Reopened')){
    nowWord.prev().first().attr('height', height + 'px').attr('fill','#000000').attr('width', '1px').attr('y', '0');
  }
}
/* CODE NOT BEING USED BUT CAUSING ERROR ON FRONTEND
 var urlmenu = document.getElementById( 'form1' );
 urlmenu.onchange = function() {
      window.open(  this.options[ this.selectedIndex ].value );
 };
*/

function addProblem(url){
    var ticketwindow = window.open(url);
    /*ticketwindow.document.addEventListener('DOMContentLoaded', function(event){
        alert('test');
        var items = document.getElementsByClassName('actionPanelItem');
        console.log(items);
        /*for(i = 0 ; i < items.length ; i++){
            if(items[i].innerText == 'Add Problem') {
                items[i].click();
                break;
            }
        }
    });
    */
    ticketwindow.onload = function(){
        alert('test');
        var items = document.getElementsByClassName('actionPanelItem');
        console.log(items);
        for(i = 0 ; i < items.length ; i++){
            if(items[i].innerText == 'Add Problem') {
                items[i].click();
                break;
            }
        }
    }
    
}
</script>
{% endblock %}




