
{% extends "layout.html" %}

{% block page_title %}Unauthorized{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="text-center">
        <h1>401</h1>
        <p>You are not authorized to see this page. Please <a href="{{ url_for('public.home', next=request.endpoint, params=request.view_args)}}">log in</a>
        </p>
    </div>
</div>
{% endblock %}

