<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{% block meta_description %}{% endblock %}">
	<meta name="author" content="{% block meta_author %}{% endblock %}">
    <title>{% block page_title %} {{my_config.PAGE_TITLE}} {% endblock %}</title>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'h-icon.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Plaster|Monoton" rel="stylesheet">
    <link href="/static/libs/bootstrap-toggle-master/css/bootstrap-toggle.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
     
    <style>
        .panel-yellow > .panel-heading {
            border-color: {{config.COLOR_SCHEME.MEDIUM}} !important;
            background-color: {{config.COLOR_SCHEME.MEDIUM}} !important;
            color: #000000 !important;
         }
         .panel-green > .panel-heading {
            border-color: {{config.COLOR_SCHEME.LOW}} !important;
            background-color: {{config.COLOR_SCHEME.LOW}} !important;
            color: #000000 !important;
        }
        .panel-info > .panel-heading {
            border-color: {{config.COLOR_SCHEME.PLANNED}} !important;
            background-color: {{config.COLOR_SCHEME.PLANNED}} !important;
        }


    </style>
	<link rel="stylesheet" href="/static/css/cmdb_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
    <script src="/static/js/sweetalert.min.js"></script>

    {% block css %}
	{% load assets %}
    {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="{% block body_class %}{% endblock %}" >
	{% block body %} 
    
    {% include "nav_top.html" %}
    <div class="wrapper">
        {% include "nav_left.html" %}
        
        <div id="content">
            <button type="button" id="leftsidebarCollapse" class="btn navbar-btn">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
       
        {% block content %}	
            
        {% endblock %}
            <a id="back-to-top" href="#" class="btn btn-primary btn-md back-to-top" role="button" title="Back to Top" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a>
        </div>
        <div class="overlay"></div>
    </div>
    
    <!--</div>-->
    <!-- /#wrapper -->
    <!-- Custom Theme JavaScript -->
	<!-- JavaScript at the bottom for fast page loading -->

    {% block js %}
	{% load assets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock %}
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        
    <script type="text/javascript">
    $(document).ready(function(){
    
        //generateNavSideBar();
        
        /** START NEW SIDE BAR **/
        $("#leftsidebar").mCustomScrollbar({
            theme: "minimal"
        });

        // when opening the sidebar
        $('#leftsidebarCollapse').on('click', function () {
            // open sidebar
            $('#leftsidebar').addClass('active');
            // fade in the overlay
            $('.overlay').fadeIn();
            $('#leftsidebar .collapse.in').toggleClass('in');
            $('#leftsidebar a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

       
        // if dismiss or overlay was clicked
        $('#dismiss, .overlay').on('click', function () {
          // hide the sidebar
          $('#leftsidebar').removeClass('active');
          // fade out the overlay
          $('.overlay').fadeOut();
          //clear ticket search form
          $("#ticket_search")[0].reset();
        });
        /** END NEW SIDE BAR **/
        
        /* back to top button */
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        //$('#back-to-top').tooltip('show');
        /* end back to top button */
                
    });
        

    //get local time zone
    function get_time_zone_offset() {
        var current_date = new Date();
        return parseInt(-current_date.getTimezoneOffset() / 60);
    }

    local_zone = moment.tz.guess();
    
    $("a.side_click").each(function(index){
        var _href = $(this).attr("href");
        $(this).attr("href", _href + '?local_tz='+local_zone);
    });


    $('#ticket_search').on('submit', function() {
        var formAction = $('#ticket_search').attr('action');
        if (formAction.indexOf("local_tz") <= 0){
            $('#ticket_search').attr('action', formAction + "?local_tz="+local_zone);
        }
    });


    $(".nav li.disabled a").click(function() {
        return false;
    });
    
    
    </script>
    <script src="/static/libs/bootstrap-toggle-master/js/bootstrap-toggle.js"></script>
	<!-- end scripts -->
	{% endblock %}
</body>

</html>



