<!-- Navigation -->
{% load static %}
<nav class="navbar navbar-default no-margin">

<!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header fixed-brand">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnavbar" id="menu-toggle">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        <!-- <a class="navbar-brand" href="{{ public.home }}" onclick="location.href=this.href+'?local_tz='+local_zone;return false;"><img src="{% static 'img/logo.png' %}"> Hygie </a> -->
        <a class="navbar-brand" href="{% url 'hygie_portal:home' %}" onclick="location.href=this.href+'?local_tz='+local_zone;return false;"> HYGIE </a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="topnavbar">
        <!-- <ul class="nav navbar-nav">
            <li class="active" ><button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> </button></li>
        </ul> -->
        <ul class="nav navbar-nav navbar-right">
            {% load decode %}
            <li><a href="{% url 'hygie_portal:profile' %}">Welcome {{ user.first_name|decode }}!</a></li>
            <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-eye fa-fw"></i>View<span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li {% if request.session.view == "sla" %}class="disabled"{% endif %}><a href="{% url 'hygie_portal:change_view' view_type='sla' %}"><i class="fa fa-bar-chart-o fa-fw"></i>SLA</a></li>
                <li {% if request.session.view == "priority" %}class="disabled"{% endif %}><a href="{% url 'hygie_portal:change_view' view_type='priority' %}"><i class="fa fa-trophy fa-fw"></i>Priority</a></li>
                </ul>
           </li>
           {% if user.is_admin %}
           <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-gear fa-fw"></i>Admin Tools<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'hygie_portal:members' %}"><i class="fa fa-users fa-fw"></i>Members</a></li>
                  <li><a href="{% url 'hygie_portal:holidays' %}"><i class="fa fa-calendar fa-fw"></i>Holidays</a></li>
                </ul>

           </li>
           {% endif %}
           <li><a href="{% url 'hygie_portal:logout' %}"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li> 
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>

