<!-- Navigation Sidebar -->
<nav class="navbar-default sidebar" id="leftsidebar">
    <!-- Close Sidebar Button -->
    <div id="dismiss">
        <i class="glyphicon glyphicon-chevron-left"></i>
    </div>
    
    <ul class="list-unstyled components" id="side-menu">
        <li class="sidebar-search">
            <form method="POST" id="ticket_search" data-toggle="validator" role="form" action="{% url 'hygie_portal:ticket_search' %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group custom-search-form">
                    <input type="text" pattern="^([A-Za-z]?[\d]+[-]?[\d]+[,\s]*)+$" name="ticket_no" value="{{ ticket_no }}" class="form-control" placeholder="Ticket No." required></input>
                    <span class="input-group-btn">
                        <button id="ticket_search_btn" class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <div class="help-block with-errors"></div>
            </div>
            </form>
            <!-- /input-group -->
        </li>
        
        <li>
            <a href="{% url 'hygie_portal:home' %}" class="side_click" ><i class="fa fa-home fa-fw"></i> Home</a>
        </li>
        {% if 'tsc_' in user.role or 'itl4_' in user.role or 'fo_' in user.role or 'proxi_mng' in user.role or 'proxi_us' in user.role or 'proxi_emea' in user.role or 'proxi_gba' in user.role or 'proxi_blt' in user.role or 'proxi_fdt' in user.role or 'ams_' in user.role %}
        <li>
            <a href="#dashboardMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-tachometer fa-fw"></i> Dashboards<span class=""></span></a>
            <ul id="dashboardMenu" class="collapse list-unstyled">
                <li>
                    <a href="{% url 'hygie_portal:dashboard' %}" class="side_click" ><i class="fa fa-tachometer fa-fw"></i> Classic Dashboard</a>
                </li>
            </ul>
        </li>           
        {% endif %}

        {% if 'tsc_' in user.role or 'itl4_' in user.role or 'fo_' in user.role or 'proxi_mng' in user.role or 'proxi_us' in user.role or 'proxi_emea' in user.role or 'proxi_gba' in user.role or 'proxi_blt' in user.role or 'proxi_fdt' in user.role or 'ams_' in user.role or 'network_' in user.role %}    
        <li>
            <a href="#openticketsMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Open Tickets<span class=""></span></a>
            <ul id="openticketsMenu" class="collapse list-unstyled">
            {% if 'tsc_' in user.role %}
                <li>
                    <a href="#tscMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> TSC<span class=""></span></a>
                    <ul id="tscMenu" class="collapse list-unstyled">
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_tsc' %}" class="side_click"><i class="fa fa-group fa-fw"></i>  All Teams</a>
                        </li>
                        {% for t in my_config.TEAMS.TSC %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if 'itl4_' in user.role %}
                <li>
                    <a href="#itl4Menu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> IT L4<span class=""></span></a>
                    <ul id="itl4Menu" class="collapse list-unstyled">
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_itl4' %}" class="side_click"><i class="fa fa-group fa-fw"></i>  All Teams</a>
                        </li>
                        {% for t in my_config.TEAMS.ITL4 %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
			
			{% if 'network_' in user.role %}
                <li>
                    <a href="#networkMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Network<span class=""></span></a>
                    <ul id="networkMenu" class="collapse list-unstyled">
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_network' %}" class="side_click"><i class="fa fa-group fa-fw"></i>  All Teams</a>
                        </li>
                        {% for t in my_config.TEAMS.NETWORK %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team=t.team %}"" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if 'fo_' in user.role %}
                <li>
                    <a href="#foMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Service Desk<span class=""></span></a>
                    <ul id="foMenu" class="collapse list-unstyled">
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_sd' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                        </li>                            
                        {% for t in my_config.TEAMS.SERVICE_DESK|dictsort:"name" %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

            {% if 'proxi_mng' in user.role or 'proxi_us' in user.role or 'proxi_emea' in user.role or 'proxi_gba' in user.role or 'proxi_blt' in user.role or 'proxi_fdt' in user.role %}
                <li>
                    <a href="#proxiMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Proximity<span class=""></span></a>
                    <ul id="proxiMenu" class="collapse list-unstyled">
                        {% if 'proxi_mng' in user.role %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_proximity_ds' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                        </li>
                        {% endif %}
                        {% if 'proxi_mng' in user.role or 'proxi_emea' in user.role%}
                        <li>
                            <a href="#proxiemeaMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Europe<span class=""></span></a>
                            <ul id="proxiemeaMenu" class="collapse list-unstyled">
                                <li>
                                    <a href="{% url 'hygie_portal:team' team='all_emea' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                </li>
                                {% for t in my_config.TEAMS.PROXI_EMEA|dictsort:"name" %}
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'proxi_mng' in user.role or 'proxi_us' in user.role %}
                        <li>
                            <a href="#proxiamericaMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Americas<span class=""></span></a>
                            <ul id="proxiamericaMenu" class="collapse list-unstyled">
                                <li>
                                    <a href="{% url 'hygie_portal:team' team='all_america_ds' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                </li>
                                {% for t in my_config.TEAMS.PROXI_AMERICA|dictsort:"name" %}
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'proxi_mng' in user.role or 'proxi_gba' in user.role %}
                        <li>
                            <a href="#proxiasiaMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Global Asie<span class=""></span></a>
                            <ul id="proxiasiaMenu" class="collapse list-unstyled">
                                <li>
                                    <a href="{% url 'hygie_portal:team' team='all_global_asie_ds' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                </li>
                                {% for t in my_config.TEAMS.PROXI_GLOBAL_ASIE|dictsort:"name" %}
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'proxi_mng' in user.role or 'proxi_blt' in user.role %}
                        <li>
                            <a href="#proxiberlutiMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Berluti<span class=""></span></a>
                            <ul id="proxiberlutiMenu" class="collapse list-unstyled">
                                <li>
                                    <a href="{% url 'hygie_portal:team' team='all_berluti_ds' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                </li>
                                {% for t in my_config.TEAMS.PROXI_BERLUTI|dictsort:"name" %}
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'proxi_mng' in user.role or 'proxi_fdt' in user.role %}
                        <li>
                            <a href="#proxifondationMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> Fondation<span class=""></span></a>
                            <ul id="proxifondationMenu" class="collapse list-unstyled">
                                <li>
                                    <a href="{% url 'hygie_portal:team' team='all_fondation_ds' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                </li>
                                {% for t in my_config.TEAMS.PROXI_FONDATION|dictsort:"name" %}
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}

                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            {% endif %}

            {% if 'ams_' in user.role %}
                <li>
                    <a href="#amsMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> AMS<span class=""></span></a>
                    <ul id="amsMenu" class="collapse list-unstyled">
                        <li>
                            <a href="{% url 'hygie_portal:team' team='all_ams' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                        </li>
                        {% for t in my_config.TEAMS.AMS|dictsort:"grp_name" %}
                        {% if 'CGI' in t.name %}
                            {% if t.name == 'CGI' %}
                            <li>
                                <a href="#amscgiMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> {{ t.name }}<span class=""></span></a>
                                <ul id="amscgiMenu" class="nav nav-third-level">
                                    <li>
                                        <a href="{% url 'hygie_portal:team' team='all_ams_cgi' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <script>
                                document.getElementById("amscgiMenu").innerHTML += `
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                `;
                            </script>
                            {% endif %}
                        {% elif 'valtech' in t.grp_name %}
                            {% if t.name == 'VALTECH' %}
                            <li>
                                <a href="#amsvaltechMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-folder-open fa-fw"></i> {{ t.name }}<span class=""></span></a>
                                <ul id="amsvaltechMenu" class="nav nav-third-level">
                                    <li>
                                        <a href="{% url 'hygie_portal:team' team='all_ams_valtech' %}" class="side_click"><i class="fa fa-sitemap fa-fw"></i>  All Teams</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <script>
                                document.getElementById("amsvaltechMenu").innerHTML += `
                                <li>
                                    <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                                </li>
                                `;
                            </script>
                            {% endif %}
                        {% else %}
                        <li>
                            <a href="{% url 'hygie_portal:team' team=t.team %}" class="side_click"><i class="fa {{ t.icon }} fa-fw"></i>  {{ t.name }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
            </ul>
        </li>
        {% endif %}
            
        {% if 'security_' in user.role %}
            <li>
                <a href="#securityMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-plus-square fa-fw"></i> Security<span class=""></span></a>
                <ul id="securityMenu" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:security' security_type='Workstation' %}" class="side_click"><i class="fa fa-cube fa-fw"></i>  Patch WKS Compliance</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:security' security_type='Server' %}" class="side_click"><i class="fa fa-server fa-fw"></i>  Patch SRV Compliance</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:patch_followup' %}" class="side_click"><i class="fa fa-search-plus fa-fw"></i>  Patch Campaign Follow up</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:patch_management' %}" class="side_click"><i class="fa fa-search-plus fa-fw"></i>  Patch Campaign Management</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:security' security_type='Kaspersky_WKS' %}" class="side_click"><i class="fa fa-shield fa-fw"></i>  Anti-Virus WKS Compliance</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:security' security_type='Kaspersky_SRV' %}" class="side_click"><i class="fa fa-heartbeat fa-fw"></i>  Anti-Virus SRV Compliance</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:discrepancy' discrepancy_type='Workstation' %}" class="side_click"><i class="fa fa-compass fa-fw"></i>  Discrepancy WKS</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:discrepancy' discrepancy_type='Server' %}" class="side_click"><i class="fa fa-bullseye fa-fw"></i>  Discrepancy SRV</a>
                    </li>
					<li>
                        <a href="{% url 'hygie_portal:ostype' server_type='Workstation' %}" class="side_click"><i class="fa fa-cube fa-fw"></i>  Operating System Versions</a>
                    </li>
                </ul>
            </li>
        {% endif %}

        
            <li>
                <a href="#qualMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-check-circle fa-fw"></i> Quality<span class=""></span></a>
                <ul id="qualMenu" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:quality' %}" class="side_click"><i class="fa fa-search fa-fw"></i>  RCA</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#reportingMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-archive fa-fw"></i> Reporting<span class=""></span></a>
                <ul id="reportingMenu" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:reporting_esurvey' %}" class="side_click"><i class="fa fa-comment fa-fw"></i> E-Survey</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:closed_tickets' %}" class="side_click"><i class="fa fa-search fa-fw"></i>  Ticket Search</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:reporting_topten' %}" class="side_click"><i class="fa fa-area-chart fa-fw"></i> Top Category</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:reporting_ticket_analysis' ticket_analysis_type='escalation' %}" class="side_click"><i class="fa fa-line-chart fa-fw"></i> Ticket Analysis</a>
                    </li>
					<li>
                        <a href="{% url 'hygie_portal:reporting_ticket_stats' %}" class="side_click"><i class="fa fa-pie-chart fa-fw"></i> Ticket Statistics</a>
                    </li>
                </ul>
            </li>
			<li>
                <a href="#changeManagement" data-toggle="collapse" aria-expanded="false"><i class="fa fa-tasks fa-fw"></i> Change Management<span class=""></span></a>
                <ul id="changeManagement" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:reporting_tsccalendar' %}" class="side_click"><i class="fa fa-calendar fa-fw"></i> TSC Calendar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#hypervisionMenu" data-toggle="collapse" aria-expanded="false"><i class="fa fa-globe fa-fw"></i> Hyper Vision<span class=""></span></a>
                <ul id="hypervisionMenu" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:hypervision_oneretail' %}" class="side_click"><i class="fa fa-map-marker fa-fw"></i> One Retail</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#controlPlan" data-toggle="collapse" aria-expanded="false"><i class="fa fa-connectdevelop fa-fw"></i> Control Plan<span class=""></span></a>
                <ul id="controlPlan" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:control_plan_global' %}" class="side_click"><i class="fa fa-globe fa-fw"></i> Global View</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:control_plan_domain' %}" class="side_click"><i class="fa fa-list-alt fa-fw"></i> Domain View</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:control_plan_businessflag' %}" class="side_click"><i class="fa fa-flag fa-fw"></i> Business Flag View</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:control_plan_ko' %}" class="side_click"><i class="fa fa-exclamation-triangle fa-fw"></i> KO View</a>
                    </li>
                </ul>
            </li>
            {% if 'tsc_' in user.role or 'itl4_' in user.role or 'fo_' in user.role or 'proxi_mng' in user.role or 'proxi_us' in user.role or 'proxi_emea' in user.role or 'proxi_gba' in user.role or 'proxi_blt' in user.role or 'proxi_fdt' in user.role or 'ams_' in user.role %}
            <li>
                <a href="#adminTools" data-toggle="collapse" aria-expanded="false"><i class="fa fa-cogs fa-fw"></i> Admin Tools<span class=""></span></a>
                <ul id="adminTools" class="collapse list-unstyled">
                    <li>
                        <a href="{% url 'hygie_portal:query_management' %}" class="side_click"><i class="fa fa-wrench fa-fw"></i> Query Manager</a>
                    </li>
                    <li>
                        <a href="{% url 'hygie_portal:content_management' %}" class="side_click"><i class="fa fa-wrench fa-fw"></i> Content Manager</a>
                    </li>
                    
                </ul>
            </li>
            {% endif %}
        </ul>
    
    </nav>
    
<!--</div>-->
<!-- /#sidebar-wrapper -->

