<!-- Modal Popup for Notes -->
<div id="patch_search" class="modal fade" role="dialog">
    <div class="modal-dialog detail-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div style="padding:15px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center" >Patches Search - {{security_type}}</h4>
            </div>
                <div class="modal-body modal-body-note">
                    <form id="search-form-edit" onsubmit="return false">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="filterNameEdit">Filter Name</label>
                        <input type="text" class="form-control" id="filterNameEdit" name="filterName" aria-describedby="filterNameHelp" placeholder="Enter Filter Name" required="required">
                        <small id="filterNameHelp" class="form-text text-muted">Enter the name to define your custom filter.</small>
                      </div>
                      <div class="form-group">
                        <label for="patchReleaseDate">Patch Release Date</label>
                        <input class="form-control" data-date-format="YYYY-MM-DD" data-role="datepicker" id="patchReleaseDateEdit" name="patchReleaseDate" required="required" type="text" value="">
                        <small id="patchDateHelp" class="form-text text-muted">Choose the date when patch lists are released</small>
                      </div>
                      <div class="form-group">
                        <label for="patchListEdit">Patch List</label>
                        <textarea class="form-control" id="patchListEdit" name="patchList" rows="5" aria-describedby="patchListHelp" required="required"></textarea>
                        <small id="patchListHelp" class="form-text text-muted">Enter patch lists for filter.</small>
                      </div>
                      <div class="form-group">
                        <label for="targetListEdit">Target List</label>
                        <textarea class="form-control" id="targetListEdit" name="targetList" rows="5" aria-describedby="targetListHelp"></textarea>
                        <small id="targetListHelp" class="form-text text-muted">Enter target lists for filter.</small>
                      </div>
                      <button type="submit" class="btn btn-primary" id="save-edit">Save</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>

    </div>
</div>
