<!-- Modal Popup for Resolution -->
<div id="ticket_resolution" class="modal fade" role="dialog">
    <div class="modal-dialog resolution-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ticket Resolution - <span id="modal-ticket-no"></span></h4>
            </div>
            <div class="modal-body modal-body-desc">
                <p id="modal-resolution"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

