<!-- Modal Popup for Notes -->
<div id="security_details" class="modal fade" role="dialog">
    <div class="modal-dialog detail-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">To be updated {{security_type}}- <span id="modal-ticket-no"></span> <button class="btn btn-primary" onclick="securityDetails()">Details</button> <button class="btn btn-info" onclick="securitySummary()">Summary</button></h4>
            </div>
            <div class="modal-body modal-body-note">
                <div id="visualization_wrap"> 
                <div id="notes_time_line"></div>
                </div>
                <table width="100%" class="table table-bordered table-hover table-striped table-inverse" id="details-table">
                     <thead>
                     <tr>
                         <th>Device Name</th>
                         <th>Type</th>
                         <th>ComputerLocation</th>
                     </tr>
                     </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
