<!-- Modal Popup for Esurvey -->
<div id="esurvey-details-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="esurvey-modal-country"></span> - <span id="esurvey-modal-satisfactionlevel"></span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover table-striped table-inverse" id="esurvey-details-modal-table">
                    <thead>
						<tr>
							<th>Ticket</th>
							<th>Date</th>
                            <th>User</th>
							<th>Zone</th>
							<th>Country</th>
							<th>Site</th>
                            <th>Description</th>
							<th>Open Group</th>
							<th>Close Group</th>
							<th>Global Satisfaction</th>
							<th>Your interaction with support team</th>
							<th>Technician's understand of your request</th>
							<th>Quality of the technician's response</th>
							<th>Duration of resolution</th>
							<th>Verbatim / Suggestions</th>
						</tr>
                    </thead>
					<tbody>
					</tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
