<!-- Modal RCA -->
<div class="modal fade" id="rcaRowModal" tabindex="-1" role="dialog" aria-labelledby="rcaRowModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="rcaRowModalLabel"></h4>
      </div>
      <div class="modal-body">
        <form id="rca-form" onsubmit="return false" data-toggle="validator" novalidate="true">
          <div class="form-group col-md-4">
            <label for="rcaId">RCA ID</label>
            <input class="form-control" id="rcaId" name="rcaId" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="week">Week</label>
            <input class="form-control" id="week" name="week" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="zone">Zone</label>
            <select class="form-control" id="zone" name="zone" required="required">
            {% for zone in my_config.QUALITY_ZONE_LIST %}
            <option value="{{zone}}">{{zone}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-12">
            <label for="outageTitle">Outage Title</label>
            <textarea class="form-control" id="outageTitle" name="outageTitle" required="required" rows="2"></textarea>
          </div>
          <div class="form-group col-md-4">
            <label for="incidentStartDate">Incident Start Date</label>
            <input class="form-control" id="incidentStartDate" name="incidentStartDate" onchange="calculateDuration()" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="incidentEndDate">Incident End Date</label>
            <input class="form-control" id="incidentEndDate" name="incidentEndDate" onchange="calculateDuration()" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="incidentDuration">Incident Duration</label>
            <input class="form-control" id="incidentDuration" name="incidentDuration" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="rcaStatus">RCA Status</label>
            <select class="form-control" id="rcaStatus" name="rcaStatus" onchange="displayEditRCAEndDate(this.value)" required="required">
            {% for status in my_config.QUALITY_RCA_STATUS_LIST %}
            <option value="{{status}}">{{status}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="startDate">RCA Start Date</label>
            <input class="form-control" id="startDate" name="startDate" onchange="updateDueDate(this.value)" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="dueDate">RCA Due Date</label>
            <input class="form-control" id="dueDate" name="dueDate" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3 invisible" id="showEndDate">
            <label for="endDate">RCA End Date</label>
            <input class="form-control" id="endDate" name="endDate" type="text" value="">
          </div>

          <div class="form-group col-md-3">
            <label for="rcaOwner">RCA Owner</label>
            <input class="form-control" id="rcaOwner" name="rcaOwner" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="problemId">Problem Id</label>
            <input class="form-control" id="problemId" name="problemId" required="required" type="text" value="N/A">
          </div>
          <div class="form-group col-md-3">
            <label for="im" class="form-control-label">IM</label>
            <select class="form-control" id="im" name="im" required="required">
            {% load list_sort %}
            {% for im in my_config.QUALITY_IM_LIST|list_sort %}
            <option value="{{im}}">{{im}}</option>
            {% endfor %}
            </select>
          </div>
          <div class="form-group col-md-3">
            <label for="group" class="form-control-label">Group</label>
            <select class="form-control" id="group" name="group" required="required">
            {% for status in my_config.QUALITY_GROUP_LIST|list_sort %}
            <option value="{{status}}">{{status}}</option>
            {% endfor %}
            </select>
         </div>
          <div class="form-group col-md-12">
            <label for="comments">Comments</label>
            <textarea class="form-control" id="comments" name="comments"></textarea>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% if 'qual_' in user.role %}
          <button type="button" class="btn btn-danger" id="delete">Delete</button>
          <button type="submit" class="btn btn-primary" mode="rca-content" id="save">Save changes</button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<!-- Modal RCA Report-->
<div class="modal fade" id="rcaReportModal" tabindex="-1" role="dialog" aria-labelledby="rcaReportModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="rcaReportModalLabel"> Root Cause Analysis Report </h4>
      </div>
      <div class="modal-body">
        <form id="rca-report-form" onsubmit="return false">
          <div class="form-group col-md-4">
            <label for="ticketNumber"><label for="ticketNumber">Ticket Number</label></label>
            <input class="form-control" id="ticketNumber" name="ticketNumber" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="rcaId"><label for="rcaId">RCA ID</label></label>
            <input class="form-control" id="rcaId" name="rcaId" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-4">
            <label for="problemId"><label for="problemId">Problem ID</label></label>
            <input class="form-control" id="problemId" name="problemId" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="startDate"><label for="startDate">Start Date</label></label>
            <input class="form-control" id="startDate" name="startDate" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="endDate"><label for="endDate">End Date</label></label>
            <input class="form-control" id="endDate" name="endDate" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="preparedBy"><label for="preparedBy">Prepared By</label></label>
            <input class="form-control" id="preparedBy" name="preparedBy" readonly="readonly" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-3">
            <label for="contributor"><label for="contributor">Contributor(s)</label></label>
            <input class="form-control" id="contributor" name="contributor" required="required" type="text" value="">
          </div>
          <div class="form-group col-md-12">
            <label for="problemDescription"><label for="problemDescription">1 Problem Abstract/Event Description</label></label>
            <textarea class="form-control" id="problemDescription" name="problemDescription" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="businessImpact"><label for="businessImpact">2 Business Impact</label></label>
            <textarea class="form-control" id="businessImpact" name="businessImpact" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="rootCause"><label for="rootCause">3 Root Causes</label></label>
            <textarea class="form-control" id="rootCause" name="rootCause" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="problemDetection"><label for="problemDetection">4 Detection of the problem</label></label>
            <textarea class="form-control" id="problemDetection" name="problemDetection" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="serviceRestoration"><label for="serviceRestoration">5 Service restoration</label></label>
            <textarea class="form-control" id="serviceRestoration" name="serviceRestoration" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="preventiveAction"><label for="preventiveAction">6 Preventive Action</label></label>
            <textarea class="form-control" id="preventiveAction" name="preventiveAction" required="required"></textarea>
          </div>
          <div class="form-group col-md-12">
            <label for="action"> 7. Define action items to be taken as a result of outage. Define owner and timeframe. </label>
            <table id="rca-report-action-table" class="table">
                <thead>
                <tr>
                    <th> Action # </th>
                    <th> Action </th>
                    <th> Owner </th>
                    <th> Target Date </th>
					<th> Done </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            
            <div class="col-md-12 text-center">
               <button type="button" class="btn btn-default" id="rcaReportAddNewAction">Add New Action</button>
            </div>
            
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          
          <button type="button" class="btn btn-primary" mode="rca-report" id="save">Save changes</button>
          <button type="button" class="btn btn-info" id="rcaReportWordExport">Export to Word</button>
          
          <!--<a class="word-export" href="javascript:void(0)"> Export as .doc </a>-->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

