<!-- Modal Popup for Control Plan -->
<div id="control-plan-modal" class="modal fade" role="dialog">
    <div class="modal-dialog note-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center"><span id="modal-control-name"></span></h3>
            </div>
            <div class="modal-body">
				
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>