<!-- Modal Popup for Notes -->
<div id="team_trend" class="modal fade" role="dialog">
    <div class="modal-dialog note-modal">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Trends: <span id="modal-team-name"></span></h3>
            </div>
            <div class="modal-body">
            	<h3>Day</h3>
                <table width="80%" class="table" id="trends-table-day">
                     <thead>
                     	<tr>
                     		<th></th>
                     		<th><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" data-toggle="tooltip" title="Incoming Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" data-toggle="tooltip" title="Outgoing Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-sort" aria-hidden="true" data-toggle="tooltip" title="Difference"></span></th>
                     	</tr> 
                    </thead>
                    <tbody></tbody>
                </table>
            	<h3>Week</h3>
                <table width="80%" class="table" id="trends-table-week">
                     <thead>
                     	<tr>
                     		<th></th>
                     		<th><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" data-toggle="tooltip" title="Incoming Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" data-toggle="tooltip" title="Outgoing Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-sort" aria-hidden="true" data-toggle="tooltip" title="Difference"></span></th>
                     	</tr> 
                    </thead>
                    <tbody></tbody>
                </table>
                <h3>Month</h3>
                <table width="80%" class="table" id="trends-table-month">
                     <thead>
                     	<tr>
                     		<th></th>
                     		<th><span class="glyphicon glyphicon-arrow-down" aria-hidden="true" data-toggle="tooltip" title="Incoming Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-arrow-up" aria-hidden="true" data-toggle="tooltip" title="Outgoing Tickets"></span></th>
                     		<th><span class="glyphicon glyphicon-sort" aria-hidden="true" data-toggle="tooltip" title="Difference"></span></th>
                     	</tr> 
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- 
<div id="team_trend" class="modal fade" role="dialog">
    <div class="modal-dialog note-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Trends: <span id="modal-team-name"></span></h4>
            </div>
            <div class="modal-body modal-body-note">
                <table width="100%" class="table table-bordered" id="trends-table">
                     <thead>
                     	<tr>
                     		<th colspan="2"><span id="last_seven_days" ></span></th>
                     		<th colspan="2"><span id="last_to_last_seven_days" ></span></th>
                     	</tr> 
                    </thead>
                    <tbody><tr></tr></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
-->