<div id="rca-report-word-export" style="font-family: Arial, Helvetica, sans-serif;">
    <div style="font-family: Arial, sans-serif;">
    <h2 style="text-align: center;"><u>Root Cause Analysis Report</u></h2>
    <h3 style="text-align: center;"><span id="incidentTitle"></span></h3>
    <p><b>Ticket Number(s):</b> <span id="ticketNumber"></span></p>
    <p><b>RCA ID:</b> <span id="rcaId"></span></p>
    <p><b>Problem ID:</b> <span id="problemId"></span></p>
    <table style="border: 1px solid; padding: 2px 5px; width:100%;">
        <tr>
            <td>
                <p><u><b>Date(s) start:</b></u></p>
                <span style="display:inline-block;" id="startDate"></span>
                <p><u><b>Date(s) end:</b></u></p>
                <span style="display:inline-block;" id="endDate"></span>
            </td>
            <td>
                <p><u><b>Prepared By:</b></u></p>
                <span style="display:inline-block;" id="preparedBy"></span>
                <p><u><b>Contributor(s):</b></u></p>
                <span style="display:inline-block;" id="contributor"></span>
            </td>
        </tr>
    </table>
    <p><b>1. Problem Abstract/Event Description</b></p>
    <span id="problemDescription">lorem ipsum</span>
    <p><b>2. Business Impact</b></p>
    <span id="businessImpact">lorem ipsum</span>
    <p><b>3. Root Causes</b></p>
    <span id="rootCause">lorem ipsum</span>
    <p><b>4. Detection of the problem</b></p>
    <span id="problemDetection">lorem ipsum</span>
    <p><b>5. Service Restoration</b></p>
    <span id="serviceRestoration">lorem ipsum</span>
    <p><b>6. Preventive Action</b></p>
    <span id="preventiveAction">lorem ipsum</span>
    <p><b>7. Define action items to be taken as a result of outage. Define owner and timeframe.</b></p>
    <div id="action">
        <table id="actionTable" style="border: 1px solid; padding: 2px 5px; width:100%; text-align:center; border-collapse: collapse; ">
            <thead>
                <tr style="background-color:#50c878;">
                    <th style="border: 1px solid; border-collapse: collapse;">Action #</th>
                    <th style="border: 1px solid; border-collapse: collapse;">Action</th>
                    <th style="border: 1px solid; border-collapse: collapse;">Owner</th>
                    <th style="border: 1px solid; border-collapse: collapse;">Target Date</th>
                    <th style="border: 1px solid; border-collapse: collapse;">Done</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    </div>
</div>